Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix: restore full CHANGELOG history
  CHANGELOG.md
Due: none

feat: add search input to SimpleFilters component (#486)
  .ai-sessions/.gitkeep
  .claude/settings.json
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  app/components/bali/page_header/component.rb
  app/components/bali/tabs/tab/component.rb
  app/components/bali/tabs/trigger/component.rb
  bin/docker-claude
  bin/docker-dev
  bin/hooks/session-memory-load.sh
  bin/hooks/session-memory-save.sh
  docker/Dockerfile.sandbox
  docker/docker-compose.claude.yml
  docker/entrypoint-sandbox.sh
  docker/init-db.sql
  docker/sandbox-setup.sh
  lib/bali/filter_form/search_configuration.rb
  lib/bali/path_helper.rb
  spec/bali/components/data_table/simple_filters_spec.rb
  spec/bali/components/page_header_spec.rb
  spec/bali/filter_form_spec.rb
  spec/dummy/app/views/movies/edit.html.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/movies/new.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  spec/dummy/app/views/settings/show.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/show.html.erb
  spec/rails_helper.rb
Due: rubocop

fix: submit button spinner preserves width + movies form reference implementation
  app/assets/javascripts/bali/controllers/submit-button-controller.js
  spec/dummy/app/controllers/movies_controller.rb
  spec/dummy/app/models/movie.rb
  spec/dummy/app/views/movies/_form.html.erb
  spec/dummy/app/views/movies/show.html.erb
  spec/dummy/db/migrate/20260222163654_add_fields_to_movies.rb
  spec/dummy/db/schema.rb
Due: rubocop, standard

fix: make submit button spinner visible on disabled state (DaisyUI 5)
  .npmignore
  app/assets/javascripts/bali/controllers/submit-button-controller.js
  app/assets/stylesheets/bali/forms.css
Due: standard

fix: make submit button spinner visible by capturing color before disable
  app/assets/javascripts/bali/controllers/submit-button-controller.js
  spec/dummy/app/helpers/application_helper.rb
Due: rubocop, standard

fix: preserve button primary color during loading spinner state
  app/assets/javascripts/bali/controllers/submit-button-controller.js
  app/assets/stylesheets/bali/forms.css
Due: standard

fix: standardjs lint and add changelog entry for submit button spinner
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/submit-button-controller.js
Due: standard

release: v2.5.0
  CHANGELOG.md
  lib/bali/version.rb
Due: rubocop

chore: update Gemfile.lock for v2.5.0
  Gemfile.lock
Due: none

fix: make submit button spinner visible on disabled state (DaisyUI 5) (#487)
  .npmignore
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/submit-button-controller.js
  app/assets/stylesheets/bali/forms.css
  spec/dummy/app/controllers/movies_controller.rb
  spec/dummy/app/helpers/application_helper.rb
  spec/dummy/app/models/movie.rb
  spec/dummy/app/views/movies/_form.html.erb
  spec/dummy/app/views/movies/show.html.erb
  spec/dummy/db/migrate/20260222163654_add_fields_to_movies.rb
  spec/dummy/db/schema.rb
Due: rubocop, standard

fix: update package.json version to 2.5.0
  package.json
Due: none

fix: allow yarn/npm registries through sandbox proxy
  bin/docker-claude
Due: none

chore: broaden .claude/ gitignore to cover all depths
  .gitignore
Due: none

chore: fix dependabot vulnerabilities (cypress, turbo-rails, resolutions)
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

chore: add security CI, Dependabot config, and update action versions
  .github/dependabot.yml
  .github/workflows/cypress.yml
  .github/workflows/rspec.yml
  .github/workflows/rubocop.yml
  .github/workflows/security.yml
  .github/workflows/standardjs.yml
Due: none

chore: migrate dummy app from Vite to esbuild (jsbundling-rails)
  .github/workflows/cypress.yml
  .github/workflows/rspec.yml
  Gemfile
  Gemfile.lock
  spec/dummy/Procfile.dev
  spec/dummy/app/javascript/application.js
  spec/dummy/app/views/layouts/application.html.erb
  spec/dummy/app/views/layouts/lookbook_costa_norte.html.erb
  spec/dummy/app/views/layouts/lookbook_preview.html.erb
  spec/dummy/app/views/layouts/marketing.html.erb
  spec/dummy/bin/vite
  spec/dummy/config/vite.json
  spec/dummy/esbuild.config.mjs
  spec/dummy/package.json
  spec/dummy/vite.config.mts
  spec/dummy/yarn.lock
Due: standard

chore: clean up migration artifacts
  .gitignore
  spec/requests/block_editor_uploads_spec.rb
  spec/requests/kitchen_sink_spec.rb
Due: rubocop

fix: resolve failing PR checks (StandardJS, Brakeman, changelog)
  CHANGELOG.md
  app/controllers/bali/application_controller.rb
  spec/dummy/esbuild.config.mjs
Due: rubocop

feat: configure SimpleCov collation for parallel Minitest
  test/test_helper.rb
Due: rubocop

fix: revert TargetRubyVersion to 4.0 (Ruby 4.0.1 is installed)
  .rubocop.yml
Due: none

fix: move SimpleCov to boot.rb for accurate lib/ coverage (86.68%)
  .github/workflows/test.yml
  spec/dummy/config/boot.rb
  test/test_helper.rb
Due: rubocop

feat: add coverage PR comment and Actions summary
  .github/workflows/test.yml
Due: none

fix: resolve BlockNote editor errors (duplicate React + font 404s)
  spec/dummy/esbuild.config.mjs
Due: none

chore: scope CI workflows to main branch and PRs
  .github/workflows/cypress.yml
  .github/workflows/rubocop.yml
  .github/workflows/standardjs.yml
Due: none

chore: clean up .rubocop.yml exclusions and quoting
  .rubocop.yml
Due: none

chore: update yarn.lock
  spec/dummy/yarn.lock
Due: none

fix: apply DHH code review fixes across lib, components, and tests
  .gitignore
  app/components/bali/button/component.html.erb
  app/components/bali/button/component.rb
  app/components/bali/card/component.html.erb
  app/components/bali/card/component.rb
  app/components/bali/dropdown/component.html.erb
  app/components/bali/dropdown/component.rb
  lib/bali.rb
  lib/bali/concerns/controllers/device_variants.rb
  lib/bali/engine.rb
  lib/bali/form_builder.rb
  lib/bali/utils.rb
  test/bali/components/tag_test.rb
  test/bali/form_builder/dynamic_fields_test.rb
  test/bali/types/month_value_test.rb
  test/bali/types/time_value_test.rb
  test/test_helper.rb
Due: rubocop

fix: use development database for Cypress CI server
  .github/workflows/cypress.yml
Due: none

Actualizar clude settings
  .claude/settings.json
Due: none

Update CLAUDE.md
  .claude/CLAUDE.md
Due: none

chore: modernize test infrastructure and gemspec
  app/controllers/bali/application_controller.rb
  bali_view_component.gemspec
  spec/dummy/app/helpers/test_helper.rb
  test/bali/form_builder/dynamic_fields_test.rb
  test/support/component_test_helpers.rb
  test/test_helper.rb
Due: rubocop

fix: restore protect_from_forgery for Brakeman compliance
  app/controllers/bali/application_controller.rb
Due: rubocop

fix: address DHH code review findings
  app/components/bali/clipboard/component.html.erb
  app/components/bali/clipboard/component.rb
  app/components/bali/clipboard/success_content/component.rb
  app/controllers/bali/application_controller.rb
  lib/bali/utils.rb
  test/bali/components/clipboard_test.rb
Due: rubocop

chore: remove trailing null bytes in utils.rb
  lib/bali/utils.rb
Due: rubocop

chore: replace lefthook with plain git hooks
  .githooks/pre-commit
  .githooks/pre-push
  lefthook.yml
  package.json
Due: none
