Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

feat(split-view): with_filters — el filtrado del listado tiene lugar, no sistema (#971)
  CHANGELOG.md
  app/components/bali/split_view/index.css
  app/components/bali/split_view/list/component.html.erb
  app/components/bali/split_view/list/component.rb
  cypress/e2e/split-view-list.cy.js
  docs/guides/components.md
  docs/guides/master-detail.md
  spec/dummy/app/controllers/split_views_controller.rb
  spec/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
  spec/dummy/app/views/split_views/show.html.erb
  test/bali/components/split_view_list_test.rb
Due: rubocop, standard

test(i18n): falla si la librería pide una clave bali_view que nadie escribió
  CHANGELOG.md
  test/bali/i18n_usage_test.rb
Due: rubocop

fix(split-view): el scope bali_view.split_view existe, y sin default: (#971)
  app/components/bali/split_view/index.css
  app/components/bali/split_view/list/component.html.erb
  app/components/bali/split_view/list/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/split-view-list.cy.js
  test/bali/components/split_view_list_test.rb
Due: rubocop, standard

test(i18n): sustituye una aserción que no podía fallar por el conjunto entero
  test/bali/i18n_usage_test.rb
Due: rubocop

chore(tren): CHANGELOG re-unificado y el barrido Pagy items:→limit: del dummy
  CHANGELOG.md
  spec/dummy/app/controllers/admin/movies_controller.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
Due: rubocop

release: v3.1.0.beta.8
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(split-view): las pills de filtro son links GET, estilo gc (#977)
  CHANGELOG.md
  app/components/bali/split_view/index.css
  app/components/bali/split_view/list/component.html.erb
  app/components/bali/split_view/list/component.rb
  app/components/bali/split_view/list/filter/component.html.erb
  app/components/bali/split_view/list/filter/component.rb
  app/components/bali/split_view/previews/structured_list.html.erb
  cypress/e2e/split-view-list.cy.js
  docs/guides/components.md
  docs/guides/master-detail.md
  docs/guides/migration-v3-to-v31.md
  spec/dummy/app/controllers/split_views_controller.rb
  spec/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
  spec/dummy/app/views/split_views/show.html.erb
  test/bali/components/split_view_list_test.rb
Due: rubocop, standard

feat(split-view): dos modos de filtrado, y el componente arma las URLs (#977)
  CHANGELOG.md
  app/components/bali/split_view/index.css
  app/components/bali/split_view/list/component.rb
  app/components/bali/split_view/list/filter/component.html.erb
  app/components/bali/split_view/list/filter/component.rb
  app/components/bali/split_view/previews/structured_list.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/split-view-list.cy.js
  docs/guides/components.md
  docs/guides/master-detail.md
  docs/guides/migration-v3-to-v31.md
  spec/dummy/app/controllers/split_views_controller.rb
  spec/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
  spec/dummy/app/views/split_views/show.html.erb
  test/bali/components/split_view_list_test.rb
Due: rubocop, standard

feat(split-view): height: :full — el split llena la pantalla y cada panel scrollea (#979)
  CHANGELOG.md
  app/components/bali/split_view/component.rb
  app/components/bali/split_view/index.css
  app/components/bali/split_view/list/component.html.erb
  cypress/e2e/split-view-full-height.cy.js
  docs/guides/components.md
  docs/guides/master-detail.md
  spec/dummy/app/controllers/split_views_controller.rb
  spec/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
  spec/dummy/app/views/split_views/full.html.erb
  spec/dummy/config/routes.rb
  test/bali/components/split_view_test.rb
Due: rubocop, standard

docs(split-view): los previews enseñan la API que el componente tiene (#977/#979)
  CHANGELOG.md
  app/components/bali/split_view/full_height/preview.rb
  app/components/bali/split_view/full_height/previews/default.html.erb
  app/components/bali/split_view/preview.rb
  app/components/bali/split_view/previews/custom_master.html.erb
  app/components/bali/split_view/previews/structured_list.html.erb
  cypress/e2e/split-view-list.cy.js
  cypress/e2e/split-view.cy.js
  docs/guides/master-detail.md
  spec/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
  test/requests/split_view_previews_test.rb
Due: rubocop, standard

fix(split-view): `param:` exige `value:`, y el estado se lee después del contador (#977)
  CHANGELOG.md
  app/components/bali/split_view/list/filter/component.html.erb
  app/components/bali/split_view/list/filter/component.rb
  test/bali/components/split_view_list_test.rb
Due: rubocop

fix(split-view): un height: desconocido raise, y el :has() tiene alarma (#979)
  CHANGELOG.md
  app/components/bali/split_view/component.rb
  cypress/e2e/split-view-full-height.cy.js
  docs/guides/master-detail.md
  test/bali/components/split_view_test.rb
Due: rubocop, standard

release: v3.1.0.beta.9
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(split-view): height: :full clampea con una página uno más alta que el viewport (#979)
  CHANGELOG.md
  app/components/bali/split_view/index.css
  cypress/e2e/split-view-full-height.cy.js
  spec/dummy/app/controllers/split_views_controller.rb
Due: rubocop, standard

fix(split-view): height: :full clampea con una página uno más alta que el viewport (#979) (#990)
  CHANGELOG.md
  app/components/bali/split_view/index.css
  cypress/e2e/split-view-full-height.cy.js
  spec/dummy/app/controllers/split_views_controller.rb
Due: rubocop, standard

docs: las tres trampas de adopción — glob @source sin lib/, receta i18n ciega a helpers.*, snippet de modal sin options (#983, #989, #981)
  CHANGELOG.md
  README.md
  docs/guides/installation.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/troubleshooting.md
  docs/reference/stimulus-patterns.md
  spec/dummy/app/assets/tailwind/application.css
Due: none

fix(icon): width/height duplicados en el SVG, la clave question_circle con guion bajo, y ranking de sugerencias (#986, #987, #985)
  CHANGELOG.md
  app/components/bali/icon/component.rb
  app/components/bali/icon/lucide_mapping.rb
  docs/guides/migration-v2-to-v3.md
  test/bali/components/icon/lucide_mapping_test.rb
  test/bali/components/icon_test.rb
Due: rubocop

docs: las tres trampas de adopción — @source sin lib/, receta i18n ciega a helpers.*, snippet de modal roto (#983, #989, #981) (#1000)
  CHANGELOG.md
  README.md
  docs/guides/installation.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/troubleshooting.md
  docs/reference/stimulus-patterns.md
  spec/dummy/app/assets/tailwind/application.css
Due: none

fix(pagination): PagyAdapter#summary devuelve nil cuando no hay nada que resumir (#988)
  CHANGELOG.md
  app/components/bali/pagination/pagy_adapter.rb
  test/bali/components/pagination/pagy_adapter_test.rb
Due: rubocop

fix(app-layout): el ToastContainer se renderiza siempre que llegue flash: (#991)
  CHANGELOG.md
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  test/bali/components/app_layout_test.rb
Due: rubocop

fix(pagination): PagyAdapter#summary devuelve nil cuando no hay nada que resumir (#988) (#1002)
  CHANGELOG.md
  app/components/bali/pagination/pagy_adapter.rb
  test/bali/components/pagination/pagy_adapter_test.rb
Due: rubocop

fix(app-layout): el ToastContainer se renderiza siempre que llegue flash: (#991) (#1003)
  CHANGELOG.md
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  test/bali/components/app_layout_test.rb
Due: rubocop

feat(filter-form): search_fields acepta label: y width: y search_config emite las 6 claves (#982)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  docs/guides/components.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/search_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

fix(icon): SVG con width/height duplicados, clave question_circle y ranking de sugerencias (#986, #987, #985) (#1001)
  CHANGELOG.md
  app/components/bali/icon/component.rb
  app/components/bali/icon/lucide_mapping.rb
  docs/guides/migration-v2-to-v3.md
  test/bali/components/icon/lucide_mapping_test.rb
  test/bali/components/icon_test.rb
Due: rubocop

feat(simple-filters): auto_submit: true aplica también al select nativo (#996)
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  app/components/bali/data_table/simple_filters/previews/auto_submit.html.erb
  cypress/e2e/simple-filters-auto-submit.cy.js
  lib/bali/filter_form.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

feat(filter-form): search_fields acepta label: y width: — el aria-label llega por la ruta auto-configurada (#982) (#1004)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  docs/guides/components.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/search_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

fix(modal): el controller huérfano de <main> degrada a form normal en vez de botón muerto (#984)
  CHANGELOG.md
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/orphan_drawer_form.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/modal-orphan-form.cy.js
Due: rubocop, standard

feat(tooltip)!: append_to: :body como default (#992, seguimiento de #611)
  CHANGELOG.md
  app/components/bali/tooltip/component.rb
  app/components/bali/tooltip/index.js
  app/components/bali/tooltip/preview.rb
  app/components/bali/tooltip/previews/escapes_overflow.html.erb
  docs/guides/components.md
  test/bali/components/tooltip_test.rb
Due: rubocop, standard

fix(modal): el controller huérfano de <main> degrada a form normal en vez de botón muerto (#984) (#1006)
  CHANGELOG.md
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/orphan_drawer_form.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/modal-orphan-form.cy.js
Due: rubocop, standard

feat(topbar): IconAction gana active: y max_count: (#995)
  CHANGELOG.md
  app/components/bali/topbar/icon_action/component.rb
  app/components/bali/topbar/previews/icon_actions.html.erb
  test/bali/components/topbar_icon_action_test.rb
Due: rubocop

fix(ci): estabiliza los specs de split-view que flakeaban en cada PR
  .github/workflows/cypress.yml
  CHANGELOG.md
  app/components/bali/split_view/previews/structured_list.html.erb
  cypress/e2e/split-view.cy.js
Due: standard

feat(simple-filters): auto_submit: true aplica también al select nativo (#996) (#1005)
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  app/components/bali/data_table/simple_filters/previews/auto_submit.html.erb
  cypress/e2e/simple-filters-auto-submit.cy.js
  lib/bali/filter_form.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

feat(tooltip)!: append_to: :body como default (#992) (#1007)
  CHANGELOG.md
  app/components/bali/tooltip/component.rb
  app/components/bali/tooltip/index.js
  app/components/bali/tooltip/preview.rb
  app/components/bali/tooltip/previews/escapes_overflow.html.erb
  docs/guides/components.md
  test/bali/components/tooltip_test.rb
Due: rubocop, standard

feat(help-tip): Bali::HelpTip — el ícono de ayuda con tooltip, empaquetado (#993)
  CHANGELOG.md
  app/components/bali/field_group_wrapper/component.rb
  app/components/bali/help_tip/component.rb
  app/components/bali/help_tip/preview.rb
  app/components/bali/help_tip/previews/default.html.erb
  docs/guides/components.md
  test/bali/components/help_tip_test.rb
Due: rubocop

fix(ci): estabiliza los specs de split-view que flakeaban en cada PR (#1009)
  .github/workflows/cypress.yml
  CHANGELOG.md
  app/components/bali/split_view/previews/structured_list.html.erb
  cypress/e2e/split-view.cy.js
Due: standard

feat(topbar): IconAction gana active: y max_count: (#995) (#1008)
  CHANGELOG.md
  app/components/bali/topbar/icon_action/component.rb
  app/components/bali/topbar/previews/icon_actions.html.erb
  test/bali/components/topbar_icon_action_test.rb
Due: rubocop

feat(filter-form): Bali::Filterable — el concern que cierra el circuito de la persistencia (#999)
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  docs/guides/components.md
  lib/bali.rb
  lib/bali/filter_form.rb
  lib/bali/filterable.rb
  spec/dummy/app/controllers/admin/movies_controller.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/application_controller.rb
  spec/dummy/config/initializers/bali.rb
  test/bali/filterable_test.rb
Due: rubocop

feat(filter-form): Bali::Filterable — el concern que cierra el circuito de la persistencia (#999) (#1011)
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  docs/guides/components.md
  lib/bali.rb
  lib/bali/filter_form.rb
  lib/bali/filterable.rb
  spec/dummy/app/controllers/admin/movies_controller.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/application_controller.rb
  spec/dummy/config/initializers/bali.rb
  test/bali/filterable_test.rb
Due: rubocop

Merge origin/3.1 en feat/993 (Filterable #1011) y unifica la sección Added del CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
