Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(filter_form): resolve simple_filters variable shadowing (#526)
  lib/bali/filter_form.rb
Due: rubocop

docs: update CHANGELOG for #526, #527, #528 fixes
  CHANGELOG.md
Due: none

SimpleFilters: configurable search input width (#529)
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  app/components/bali/pagination/component.rb
  lib/bali/filter_form.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

Fix simple filters date range
  lib/bali/filter_form/simple_filters_configuration.rb
Due: rubocop

Fix Ruby 4.0 warnings: ambiguous **, method redefined, mismatched indentation
  app/components/bali/button/component.html.erb
  app/components/bali/card/component.html.erb
  app/components/bali/gantt_chart/list_row/component.html.erb
  app/components/bali/gantt_chart/timeline_cell/component.html.erb
  app/components/bali/gantt_chart/timeline_row/component.html.erb
  app/components/bali/image_field/component.html.erb
  app/components/bali/info_level/component.html.erb
  app/components/bali/pagination/component.rb
  app/components/bali/table/component.html.erb
  app/components/bali/tabs/component.html.erb
  lib/bali/filter_form.rb
  lib/bali/overrides/rrule_override.rb
Due: rubocop

Fix Rubocop EndAlignment and add changelog entry
  CHANGELOG.md
  app/components/bali/pagination/component.rb
Due: rubocop

Fix Ruby 4.0 warnings (#533)
  CHANGELOG.md
  app/components/bali/button/component.html.erb
  app/components/bali/card/component.html.erb
  app/components/bali/gantt_chart/list_row/component.html.erb
  app/components/bali/gantt_chart/timeline_cell/component.html.erb
  app/components/bali/gantt_chart/timeline_row/component.html.erb
  app/components/bali/image_field/component.html.erb
  app/components/bali/info_level/component.html.erb
  app/components/bali/table/component.html.erb
  app/components/bali/tabs/component.html.erb
  lib/bali/filter_form.rb
  lib/bali/overrides/rrule_override.rb
Due: rubocop

Fix pagination end alignment to satisfy both Rubocop and Ruby 4.0
  app/components/bali/pagination/component.rb
Due: rubocop

Add changelog entry for pagination alignment fix
  CHANGELOG.md
Due: none

Fix pagination end alignment for Ruby 4.0 (#534)
  CHANGELOG.md
  app/components/bali/pagination/component.rb
Due: rubocop

Add simple filter translations
  config/locales/bali.en.yml
  config/locales/bali.es.yml
Due: none

Add changelog
  CHANGELOG.md
Due: none

Add simple filter translations (#535)
  CHANGELOG.md
  config/locales/bali.en.yml
  config/locales/bali.es.yml
Due: none

fix: remove internal references from public documentation
  app/components/bali/feedback_widget/component.rb
  docs/blocknote-ai-rails-integration.md
Due: rubocop

chore: bump bundler to 4.0.10
  Gemfile.lock
Due: none

docs(changelog): note bundler bump to 4.0.10
  CHANGELOG.md
Due: none

chore: bump bundler to 4.0.10 (#540)
  CHANGELOG.md
  Gemfile.lock
Due: none

feat(document_editor): forward references_url/config to inner BlockEditor
  CHANGELOG.md
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  spec/dummy/app/views/documents/show.html.erb
Due: rubocop

feat(document_page): forward references_url/config to inner BlockEditor
  CHANGELOG.md
  app/components/bali/document_page/component.html.erb
  app/components/bali/document_page/component.rb
Due: rubocop

feat(document_editor): forward references_url/config to inner BlockEditor (#542)
  CHANGELOG.md
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_page/component.html.erb
  app/components/bali/document_page/component.rb
  spec/dummy/app/views/documents/show.html.erb
Due: rubocop

feat(app_layout): add viewport-locked scroll model + align app shell
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/index.css
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/menu_switch/component.rb
  spec/dummy/app/controllers/pages_controller.rb
  spec/dummy/app/views/layouts/_admin_sidebar.html.erb
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
  spec/dummy/app/views/layouts/admin.html.erb
  spec/dummy/app/views/pages/workspace.html.erb
  spec/dummy/config/routes.rb
Due: rubocop

feat(topbar): extract reusable Bali::Topbar component
  app/components/bali/topbar/component.html.erb
  app/components/bali/topbar/component.rb
  app/components/bali/topbar/preview.rb
  app/components/bali/topbar/previews/default.html.erb
  app/components/bali/topbar/previews/search_only.html.erb
  app/components/bali/topbar/previews/without_mobile_trigger.html.erb
  app/components/bali/topbar/previews/without_search.html.erb
Due: rubocop

feat(command): add ⌘K command palette component
  app/assets/stylesheets/bali/components.css
  app/components/bali/command/component.html.erb
  app/components/bali/command/component.rb
  app/components/bali/command/group/component.html.erb
  app/components/bali/command/group/component.rb
  app/components/bali/command/index.css
  app/components/bali/command/index.js
  app/components/bali/command/item/component.html.erb
  app/components/bali/command/item/component.rb
  app/components/bali/command/preview.rb
  app/components/bali/command/previews/compact.html.erb
  app/components/bali/command/previews/default.html.erb
  app/frontend/bali/components/index.js
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
Due: rubocop, standard

refactor(command): swap custom CSS for DaisyUI tokens + Tailwind utilities
  app/components/bali/command/component.html.erb
  app/components/bali/command/component.rb
  app/components/bali/command/group/component.html.erb
  app/components/bali/command/index.css
  app/components/bali/command/item/component.html.erb
  app/components/bali/command/previews/compact.html.erb
  app/components/bali/command/previews/default.html.erb
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
Due: rubocop

feat(side_menu): add brand slot for icon + custom content
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  spec/dummy/app/views/layouts/_admin_sidebar.html.erb
Due: rubocop

fix(command): make hover/active rows visible, drop blur, neutral active state
  app/components/bali/command/component.html.erb
  app/components/bali/command/index.css
  app/components/bali/command/item/component.html.erb
Due: none

docs: document AppLayout / SideMenu / Topbar / Command app-shell components
  CHANGELOG.md
  docs/guides/components.md
Due: none

chore(command): fix CI lint failures
  app/components/bali/command/index.js
  app/components/bali/command/item/component.rb
Due: rubocop, standard

fix(app-shell): apply DHH-review fixes — XSS hardening, a11y, tests
  app/components/bali/app_layout/component.rb
  app/components/bali/command/index.js
  app/components/bali/command/item/component.html.erb
  app/components/bali/command/preview.rb
  app/components/bali/topbar/component.html.erb
  app/components/bali/topbar/component.rb
  app/components/bali/topbar/preview.rb
  test/bali/components/command_test.rb
  test/bali/components/topbar_test.rb
Due: rubocop, standard

Viewport-locked app-shell layout (sidebar + topbar) (#543)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/index.css
  app/components/bali/command/component.html.erb
  app/components/bali/command/component.rb
  app/components/bali/command/group/component.html.erb
  app/components/bali/command/group/component.rb
  app/components/bali/command/index.css
  app/components/bali/command/index.js
  app/components/bali/command/item/component.html.erb
  app/components/bali/command/item/component.rb
  app/components/bali/command/preview.rb
  app/components/bali/command/previews/compact.html.erb
  app/components/bali/command/previews/default.html.erb
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/menu_switch/component.rb
  app/components/bali/topbar/component.html.erb
  app/components/bali/topbar/component.rb
  app/components/bali/topbar/preview.rb
  app/components/bali/topbar/previews/default.html.erb
  app/components/bali/topbar/previews/search_only.html.erb
  app/components/bali/topbar/previews/without_mobile_trigger.html.erb
  app/components/bali/topbar/previews/without_search.html.erb
  app/frontend/bali/components/index.js
  docs/guides/components.md
  spec/dummy/app/controllers/pages_controller.rb
  spec/dummy/app/views/layouts/_admin_sidebar.html.erb
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
  spec/dummy/app/views/layouts/admin.html.erb
  spec/dummy/app/views/pages/workspace.html.erb
  spec/dummy/config/routes.rb
  test/bali/components/command_test.rb
  test/bali/components/topbar_test.rb
Due: rubocop, standard

fix(form_builder): apply DaisyUI element-specific error classes
  app/components/bali/form/select/preview.rb
  app/components/bali/form/time_zone_select/preview.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/select_fields_test.rb
  test/bali/form_builder/text_area_fields_test.rb
  test/bali/form_builder/time_zone_select_fields_test.rb
Due: rubocop

fix(form_builder): apply select-error class to slim_select_field
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

chore(form_builder): add with_errors preview for slim_select
  app/components/bali/form/slim_select/preview.rb
Due: rubocop

style(slim_select): clean search bar and selected option chrome
  app/assets/stylesheets/bali/slim_select.css
Due: none

chore(socraticode): ignore .socraticode.json and document workflow
  .gitignore
  CLAUDE.md
Due: none

feat(icon): support numeric pixel sizes alongside named presets
  app/assets/stylesheets/bali/general.css
  app/components/bali/icon/component.rb
  test/bali/components/icon_test.rb
Due: rubocop

feat(app-shell): share chrome height between SideMenu and Topbar
  app/assets/stylesheets/bali/general.css
  app/components/bali/side_menu/component.html.erb
  app/components/bali/topbar/component.rb
  test/bali/components/side_menu_test.rb
  test/bali/components/topbar_test.rb
Due: rubocop

feat(command): add bali.command.* keys to en/es locale files
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  test/bali/components/command_test.rb
Due: rubocop

test(cypress): cover Command palette + SideMenu collapsible behavior
  cypress/e2e/command-controller.cy.js
  cypress/e2e/side-menu-controller.cy.js
Due: standard

fix(filter_form): localize default search placeholder
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  lib/bali/filter_form/search_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop
