Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

refactor(studios): Use ActionsDropdown declarative API
  spec/dummy/app/views/studios/index.html.erb
Due: none

Upgrade ViewComponent 4.2.0 and Pagy 43.2.8 (#467)
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  app/components/bali/data_table/preview.rb
  app/components/bali/pagination/component.rb
  app/components/bali/pagination/preview.rb
  bali_view_component.gemspec
  spec/bali/components/pagination_spec.rb
  spec/dummy/app/controllers/application_controller.rb
  spec/dummy/app/controllers/movies_controller.rb
  spec/dummy/app/helpers/application_helper.rb
  spec/dummy/config/application.rb
  spec/dummy/config/initializers/pagy.rb
Due: rubocop

refactor(studios): Use FormBuilder field group helpers
  spec/dummy/app/views/studios/_form.html.erb
Due: none

refactor(studios): Use error_summary helper
  spec/dummy/app/views/studios/_form.html.erb
Due: none

chore: Update Pagy test setup to use `Pagy::Offset` and `limit` for Pagy 43.x compatibility.
  spec/bali/components/pagination_footer_spec.rb
Due: rubocop

fix(studios): Handle nil values in show view
  spec/dummy/app/views/studios/show.html.erb
Due: none

chore: Update Claude config and gitignore
  .claude/CLAUDE.md
  .claude/settings.json
  .gitignore
  spec/dummy/app/views/studios/show.html.erb
Due: none

fix(studios): Remove redundant Pagy::Backend include
  spec/dummy/app/controllers/studios_controller.rb
Due: rubocop

feat(DataTable): Add SimpleFilters for lightweight inline filtering (#471)
  .claude/CLAUDE.md
  .claude/settings.json
  .gitignore
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_simple_filters.html.erb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  app/components/bali/pagination_footer/component.html.erb
  app/components/bali/pagination_footer/component.rb
  app/components/bali/pagination_footer/preview.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  spec/bali/components/data_table/simple_filters_spec.rb
  spec/bali/components/pagination_footer_spec.rb
  spec/bali/filter_form_spec.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/movies/index.turbo_stream.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/app/views/studios/show.html.erb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20260203215443_create_studios.rb
  spec/dummy/db/schema.rb
  spec/dummy/db/seeds.rb
  yarn.lock
Due: rubocop

docs(CLAUDE.md): Add session learnings
  .claude/CLAUDE.md
Due: none

Release v2.1.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

Fix drawer overlay z-index to appear above sticky navbars
  app/components/bali/drawer/component.html.erb
Due: none

Fix List::Item actions alignment to the right
  app/components/bali/list/item/component.rb
Due: rubocop

Fix SideMenu mobile toggle from Navbar hamburger
  app/components/bali/navbar/burger/component.rb
  app/components/bali/navbar/index.js
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/index.js
Due: rubocop, standard

Add changelog entry for SideMenu mobile toggle fix
  CHANGELOG.md
Due: none

feat: Allow custom CSS class strings for Navbar color parameter and add corresponding tests.
  CHANGELOG.md
  app/components/bali/navbar/component.rb
  spec/bali/components/navbar_spec.rb
Due: rubocop

feat: Allow the Navbar burger component to render as a link when an `href` is provided and add new tests for this functionality.
  app/components/bali/navbar/burger/component.rb
  spec/bali/components/navbar_spec.rb
Due: rubocop

fix: Use spinner span element instead of classes on submit button
  app/assets/javascripts/bali/controllers/submit-button-controller.js
Due: standard

feat: Enhance radio field data attribute merging to support shared and per-item data, and add nil-safety to `Utils.conditional_classes`.
  lib/bali/form_builder/radio_fields.rb
  lib/bali/utils.rb
  spec/bali/form_builder/radio_fields_spec.rb
Due: rubocop

Refactor: Replace `class_names` with `token_list` for generating button CSS classes.
  lib/bali/form_builder/step_number_fields.rb
Due: rubocop

Update changelog to cover all branch changes
  CHANGELOG.md
Due: none

Fix SideMenu mobile toggle from Navbar hamburger (#473)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/submit-button-controller.js
  app/components/bali/navbar/burger/component.rb
  app/components/bali/navbar/component.rb
  app/components/bali/navbar/index.js
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/index.js
  lib/bali/form_builder/radio_fields.rb
  lib/bali/form_builder/step_number_fields.rb
  lib/bali/utils.rb
  spec/bali/components/navbar_spec.rb
  spec/bali/form_builder/radio_fields_spec.rb
Due: rubocop, standard

feat: Add Costa Norte branded DaisyUI theme with theme switcher
  app/assets/stylesheets/bali/themes/costa-norte.css
  app/components/bali/theme_sampler/preview.rb
  app/components/bali/theme_sampler/previews/costa_norte.html.erb
  docs/guides/custom-themes.md
  package.json
  spec/dummy/app/assets/tailwind/application.css
  spec/dummy/app/javascript/controllers/theme_switcher_controller.js
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/layouts/application.html.erb
  spec/dummy/app/views/layouts/lookbook_costa_norte.html.erb
Due: rubocop, standard

Fix PR review feedback: component params, a11y, and changelog
  CHANGELOG.md
  app/components/bali/theme_sampler/previews/costa_norte.html.erb
  spec/dummy/app/views/layouts/_navbar.html.erb
Due: none

Use Bali FormBuilder helpers in theme sampler preview
  app/components/bali/theme_sampler/preview.rb
  app/components/bali/theme_sampler/previews/costa_norte.html.erb
Due: rubocop

feat(Dropdown): Add action item support for button elements
  app/components/bali/dropdown/action_item/component.html.erb
  app/components/bali/dropdown/action_item/component.rb
  app/components/bali/dropdown/component.rb
  spec/dummy/app/views/layouts/_navbar.html.erb
Due: rubocop

Align boolean field with other form inputs in theme sampler
  app/components/bali/theme_sampler/previews/costa_norte.html.erb
Due: none

fix(FormBuilder): Use FieldGroupWrapper in boolean_field_group
  app/components/bali/theme_sampler/previews/costa_norte.html.erb
  lib/bali/form_builder/boolean_fields.rb
  spec/bali/form_builder/boolean_fields_spec.rb
Due: rubocop

fix(Navbar): Fix dropdown item visibility and font size on colored navbars
  app/components/bali/navbar/dropdown_item/component.rb
Due: rubocop

feat: Add Costa Norte branded DaisyUI theme (#474)
  CHANGELOG.md
  app/assets/stylesheets/bali/themes/costa-norte.css
  app/components/bali/dropdown/action_item/component.html.erb
  app/components/bali/dropdown/action_item/component.rb
  app/components/bali/dropdown/component.rb
  app/components/bali/navbar/dropdown_item/component.rb
  app/components/bali/theme_sampler/preview.rb
  app/components/bali/theme_sampler/previews/costa_norte.html.erb
  docs/guides/custom-themes.md
  lib/bali/form_builder/boolean_fields.rb
  package.json
  spec/bali/form_builder/boolean_fields_spec.rb
  spec/dummy/app/assets/tailwind/application.css
  spec/dummy/app/javascript/controllers/theme_switcher_controller.js
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/layouts/application.html.erb
  spec/dummy/app/views/layouts/lookbook_costa_norte.html.erb
Due: rubocop, standard

Add CLAUDE.md context files and dangerous command deny list
  .claude/settings.json
  app/components/CLAUDE.md
  app/views/layouts/CLAUDE.md
  config/CLAUDE.md
  config/locales/CLAUDE.md
Due: none

Update CHANGELOG with chore entries for release prep
  CHANGELOG.md
Due: none

Prepare release v2.1.1 (#475)
  .claude/settings.json
  CHANGELOG.md
  app/components/CLAUDE.md
  app/views/layouts/CLAUDE.md
  config/CLAUDE.md
  config/locales/CLAUDE.md
Due: none

Release v2.1.1
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat: Add Lexxy rich text editor component and form builder
  .claude/CLAUDE.md
  Gemfile
  Gemfile.lock
  app/components/bali/lexxy/component.html.erb
  app/components/bali/lexxy/component.rb
  app/components/bali/lexxy/preview.rb
  app/components/bali/lexxy/previews/form_builder.html.erb
  app/components/bali/lexxy/previews/with_mentions.html.erb
  app/components/bali/lexxy/prompt/component.rb
  config/CLAUDE.md
  docs/guides/form-builder.md
  docs/guides/lexxy-editor.md
  lib/bali/form_builder/lexxy_fields.rb
  spec/bali/components/lexxy_form_builder_spec.rb
  spec/bali/components/lexxy_spec.rb
  spec/dummy/app/javascript/entrypoints/application.js
  spec/dummy/app/views/layouts/application.html.erb
  spec/dummy/app/views/movies/_form.html.erb
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: rubocop, standard

feat: Add BlockEditor V2 component powered by BlockNote + React
  app/assets/stylesheets/bali/components.css
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.html.erb
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  app/frontend/bali/block-editor.js
  app/frontend/bali/index.js
  lib/bali.rb
  package.json
  spec/bali/components/block_editor_spec.rb
  spec/dummy/app/javascript/entrypoints/application.js
  spec/dummy/app/views/movies/_form.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/config/initializers/bali.rb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  spec/dummy/package.json
  spec/dummy/vite.config.mts
  spec/dummy/yarn.lock
  yarn.lock
Due: rubocop, standard

feat: Add file upload support to BlockEditor with Active Storage
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.rb
  app/controllers/bali/block_editor_uploads_controller.rb
  config/routes.rb
  lib/bali.rb
  spec/bali/components/block_editor_spec.rb
  spec/dummy/config/routes.rb
  spec/requests/block_editor_uploads_spec.rb
Due: rubocop

fix: Expand BlockEditor upload to support files beyond images
  app/controllers/bali/block_editor_uploads_controller.rb
  lib/bali.rb
  spec/requests/block_editor_uploads_spec.rb
Due: rubocop

fix: Remove client-side file type restriction for BlockEditor uploads
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
Due: none

fix: Improve BlockEditor code block and link styling
  app/components/bali/block_editor/index.css
Due: none
