Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(simple-filters): un control con `label: false` ya no queda sin nombre accesible
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  docs/guides/accessibility.md
  docs/guides/components.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

feat: WorkflowSteps — riel de una fila y etiqueta de estado por paso
  CHANGELOG.md
  app/components/bali/workflow_steps/component.html.erb
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/rail.html.erb
  app/components/bali/workflow_steps/step/component.rb
  docs/guides/components.md
  docs/reference/afal-design-system.md
  test/bali/components/boolean_icon_test.rb
  test/bali/components/workflow_steps_test.rb
Due: rubocop

feat(stat_card): superficie de celda para rejillas de métricas dentro de una Card
  CHANGELOG.md
  app/components/bali/stat_card/component.html.erb
  app/components/bali/stat_card/component.rb
  app/components/bali/stat_card/preview.rb
  app/components/bali/stat_card/previews/cells_in_card.html.erb
  app/components/bali/stat_card/previews/surfaces_compared.html.erb
  docs/guides/components.md
  docs/reference/afal-design-system.md
  test/bali/components/stat_card/component_test.rb
  test/bali/components/stat_card/default_surface.golden.html
  test/bali/components/stat_card/default_surface_unchanged_test.rb
Due: rubocop

feat(filter_form): agrupación por default en el DSL y el choque con SELECT DISTINCT
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.rb
  app/components/bali/data_table/preview.rb
  docs/guides/components.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/default_filters.rb
  lib/bali/filter_form/group_by_configuration.rb
  lib/bali/filter_form/saved_views_configuration.rb
  test/bali/components/data_table_test.rb
  test/bali/filter_form_default_group_by_test.rb
  test/bali/filter_form_group_by_expressions_test.rb
Due: rubocop

test(stepper): atiende la revisión de #1158 — preview honesto y cobertura
  CHANGELOG.md
  app/components/bali/stepper/preview.rb
  app/components/bali/stepper/previews/with_content_block.html.erb
  docs/guides/components.md
  test/bali/components/stepper_test.rb
  test/requests/stepper_previews_test.rb
Due: rubocop

docs(workflow-steps): la guía decía `variant:`, que el componente rechaza (#1159)
  CHANGELOG.md
  docs/guides/components.md
  test/bali/docs_renamed_keywords_test.rb
Due: rubocop

fix(table): atiende la revisión del id duplicado
  CHANGELOG.md
  app/components/bali/table/component.rb
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/with_container_id.html.erb
  docs/guides/components.md
  test/bali/components/table_test.rb
  test/requests/table_previews_test.rb
Due: rubocop

fix(reveal, card): atiende la revisión de #1148
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/card/preview.rb
  app/components/bali/card/previews/header_complete.html.erb
  app/components/bali/card/previews/header_with_badge.html.erb
  app/components/bali/reveal/index.css
  app/components/bali/reveal/preview.rb
  app/components/bali/reveal/previews/compact.html.erb
  app/components/bali/reveal/trigger/component.rb
  cypress/e2e/reveal-spacing.cy.js
  docs/guides/components.md
  test/bali/components/card_test.rb
  test/bali/components/reveal_test.rb
  test/bali/reveal_spacing_css_test.rb
  test/requests/card_header_previews_test.rb
  test/requests/reveal_previews_test.rb
Due: rubocop, standard

fix(filter_form): una vista guardada sin agrupar vuelve sin agrupar, y el error nombra el ORDER BY
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  docs/guides/components.md
  lib/bali/filter_form/group_by_configuration.rb
  lib/bali/filter_form/saved_views_configuration.rb
  test/bali/filter_form_default_group_by_test.rb
  test/bali/filter_form_group_by_expressions_test.rb
Due: rubocop

fix(simple-filters): el nombre del picker, el orden de la cadena y el texto del aviso
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/accessibility.md
  docs/guides/components.md
  lib/bali/filter_form.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

FormBuilder: agrega input_class y cierra los no-op de control_class
  .claude/CLAUDE.md
  CHANGELOG.md
  app/components/bali/field_group_wrapper/preview.rb
  app/components/bali/field_group_wrapper/previews/class_targets.html.erb
  app/components/bali/form/text_area/previews/auto_grow_example.html.erb
  docs/guides/form-builder.md
  lib/bali/form_builder/boolean_fields.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/radio_fields.rb
  lib/bali/form_builder/range_fields.rb
  lib/bali/form_builder/rich_text_fields.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/form_builder/switch_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/control_class_option_test.rb
  test/bali/form_builder/input_class_option_test.rb
  test/bali/form_builder/options_contract_test.rb
Due: rubocop

chore(deps): daisyUI 5.7.42
  CHANGELOG.md
  app/components/bali/side_menu/daisyui-overrides.css
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none

fix: reparos de la revisión del riel de WorkflowSteps (#1145)
  CHANGELOG.md
  app/components/bali/workflow_steps/component.html.erb
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/preview.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/accessibility.md
  docs/guides/components.md
  test/bali/components/boolean_icon_test.rb
  test/bali/components/workflow_steps_test.rb
  test/requests/workflow_steps_previews_test.rb
Due: rubocop

fix(stat_card): el `;` que se comía el tinte, y la doc que decía lo que no era
  CHANGELOG.md
  app/components/bali/stat_card/component.rb
  app/components/bali/stat_card/preview.rb
  docs/guides/components.md
  lib/bali/html_element_helper.rb
  test/bali/components/stat_card/component_test.rb
  test/bali/components/stat_card/default_surface.golden.html
  test/bali/components/stat_card/default_surface_unchanged_test.rb
  test/bali/html_element_helper_test.rb
  test/requests/stat_card_previews_test.rb
Due: rubocop

fix(data-table): la memoria de columnas registra decisiones, no estados
  CHANGELOG.md
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/column_storage.js
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_optional_column.html.erb
  app/components/bali/data_table/saved_views_controller.js
  cypress/e2e/data-table-column-memory.cy.js
  docs/guides/components.md
  test/bali/components/data_table_test.rb
Due: rubocop, standard

feat(install): bali:install, y alinear lo declarado con lo que se carga (#1139)
  CHANGELOG.md
  Gemfile.lock
  README.md
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/javascripts/bali/utils/optional-peer.js
  app/components/bali/carousel/index.js
  app/components/bali/chart/index.js
  app/components/bali/dropdown/index.js
  app/components/bali/hover_card/index.js
  app/components/bali/locations_map/index.js
  app/components/bali/pagination/pagy_adapter.rb
  app/components/bali/qr_scanner/index.js
  app/components/bali/sortable_list/index.js
  app/components/bali/tooltip/index.js
  app/frontend/bali/utils/index.js
  bali_view_component.gemspec
  docs/guides/installation.md
  lib/bali/engine.rb
  lib/bali/overrides/rrule_override.rb
  lib/generators/bali/install/install_generator.rb
  package.json
  test/bali/packaging/dependency_contract_test.rb
  test/bali/packaging/npm_peer_contract_test.rb
  test/generators/install_generator_test.rb
Due: rubocop, standard

docs(claude): los comentarios se ganan su lugar, y el código va en inglés
  .claude/CLAUDE.md
Due: none

docs(data-table): el código va en inglés y los comentarios se ganan su lugar
  CHANGELOG.md
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/column_storage.js
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_optional_column.html.erb
  app/components/bali/data_table/saved_views_controller.js
  cypress/e2e/data-table-column-memory.cy.js
  test/bali/components/data_table_test.rb
Due: rubocop, standard

docs(stat_card): el código en inglés, y los comentarios que se ganan su lugar
  CHANGELOG.md
  app/components/bali/stat_card/component.html.erb
  app/components/bali/stat_card/component.rb
  app/components/bali/stat_card/preview.rb
  app/components/bali/stat_card/previews/cells_in_card.html.erb
  app/components/bali/stat_card/previews/surfaces_compared.html.erb
  docs/guides/components.md
  lib/bali/html_element_helper.rb
  test/bali/components/stat_card/component_test.rb
  test/bali/components/stat_card/default_surface_unchanged_test.rb
  test/bali/html_element_helper_test.rb
  test/requests/stat_card_previews_test.rb
Due: rubocop

refactor: los comentarios del riel al inglés y a lo que no se ve desde el código
  CHANGELOG.md
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/previews/rail.html.erb
  app/components/bali/workflow_steps/step/component.rb
  config/locales/bali_view.en.yml
  docs/guides/components.md
  docs/reference/afal-design-system.md
  test/bali/components/boolean_icon_test.rb
  test/bali/components/workflow_steps_test.rb
  test/requests/workflow_steps_previews_test.rb
Due: rubocop

docs(filter_form): el código en inglés y los comentarios recortados a la regla
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.rb
  app/components/bali/data_table/preview.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/default_filters.rb
  lib/bali/filter_form/group_by_configuration.rb
  lib/bali/filter_form/saved_views_configuration.rb
  test/bali/components/data_table_test.rb
  test/bali/filter_form_default_group_by_test.rb
  test/bali/filter_form_group_by_expressions_test.rb
Due: rubocop

docs(filter_form): la lista de los tres predicados, también en inglés
  lib/bali/filter_form/group_by_configuration.rb
Due: rubocop

fix(install): el generator pregunta qué resuelve esta app antes de escribir (#1139)
  CHANGELOG.md
  README.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  docs/guides/installation.md
  docs/guides/javascript-integration.md
  docs/reference/stimulus-patterns.md
  lib/generators/bali/install/install_generator.rb
  test/bali/packaging/dependency_contract_test.rb
  test/generators/install_generator_test.rb
Due: rubocop, standard

fix(install): la pregunta estructural también para el CSS, y `npm run build:css` (#1139)
  CHANGELOG.md
  README.md
  app/components/bali/qr_scanner/index.js
  docs/guides/direct-upload-setup.md
  docs/guides/installation.md
  docs/guides/troubleshooting.md
  lib/bali/engine.rb
  lib/generators/bali/install/install_generator.rb
  test/bali/packaging/dependency_contract_test.rb
  test/bali/packaging/npm_peer_contract_test.rb
  test/generators/install_generator_test.rb
Due: rubocop, standard

docs(changelog): la regla de comentarios e inglés entra al CHANGELOG (#1172)
  CHANGELOG.md
Due: none

docs(claude): cierra los cuatro huecos de la regla (#1172)
  .claude/CLAUDE.md
  CHANGELOG.md
Due: none

test: trinquete que impide que vuelva a entrar español al código
  CHANGELOG.md
  test/bali/spanish_in_code_baseline.txt
  test/bali/spanish_in_code_test.rb
Due: rubocop

feat(workflow-steps): `orientation: :progress`, la cuarta forma
  CHANGELOG.md
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/progress.html.erb
  app/components/bali/workflow_steps/step/component.html.erb
  app/components/bali/workflow_steps/step/component.rb
  config/locales/bali_view.en.yml
  docs/guides/accessibility.md
  docs/guides/components.md
  test/bali/components/workflow_steps_test.rb
  test/requests/workflow_steps_previews_test.rb
Due: rubocop

test: reparos de revisión al trinquete de español
  CHANGELOG.md
  test/bali/spanish_in_code_baseline.txt
  test/bali/spanish_in_code_test.rb
Due: rubocop

chore(rubocop): adoptar Bali/EnglishOnly y congelar la deuda de hoy
  .claude/CLAUDE.md
  .rubocop.yml
  .rubocop_todo.yml
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  app/components/bali/avatar/component.rb
Due: rubocop

fix(workflow-steps): reparos de la revisión de `orientation: :progress`
  CHANGELOG.md
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/progress.html.erb
  app/components/bali/workflow_steps/step/component.rb
  docs/guides/components.md
  docs/reference/afal-design-system.md
  test/bali/components/workflow_steps_test.rb
  test/requests/workflow_steps_previews_test.rb
Due: rubocop

ci: los cuatro workflows autentican el bundle install de gemas privadas
  .github/workflows/cypress.yml
  .github/workflows/rubocop.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

refactor(cypress): specs de DataTable, toolbar y bulk actions en inglés
  cypress/e2e/bulk-actions-controller.cy.js
  cypress/e2e/bulk-actions-groups.cy.js
  cypress/e2e/data-table-column-selector.cy.js
  cypress/e2e/data-table-overflow-popover.cy.js
  cypress/e2e/data-table-toolbar-alignment.cy.js
  cypress/e2e/data-table-toolbar-reserve.cy.js
  cypress/e2e/data-table-view-switch.cy.js
  cypress/e2e/page-export-links.cy.js
  cypress/e2e/sortable-list.cy.js
  cypress/e2e/table-collapsible-groups.cy.js
  cypress/e2e/toolbar-overflow.cy.js
Due: standard

refactor(cypress): specs de los editores en inglés
  cypress/e2e/block-editor-comments-round-trip.cy.js
  cypress/e2e/block-editor-comments.cy.js
  cypress/e2e/block-editor-content-format.cy.js
  cypress/e2e/block-editor-editing.cy.js
  cypress/e2e/block-editor-text-size.cy.js
  cypress/e2e/block-editor-threads-sidebar.cy.js
  cypress/e2e/document-editor-comment-dirty.cy.js
Due: standard

refactor(cypress): el resto de los specs en inglés
  cypress/e2e/app-layout-banner.cy.js
  cypress/e2e/app-layout-mobile-padding.cy.js
  cypress/e2e/app-shell-chrome.cy.js
  cypress/e2e/delete-item-box.cy.js
  cypress/e2e/drawer-controller.cy.js
  cypress/e2e/entity-references.cy.js
  cypress/e2e/frame-loading.cy.js
  cypress/e2e/gantt-island.cy.js
  cypress/e2e/gantt-swap.cy.js
  cypress/e2e/gantt-undated-drawer.cy.js
  cypress/e2e/modal-morph-top-layer.cy.js
  cypress/e2e/modal-orphan-form.cy.js
  cypress/e2e/navbar-shadow.cy.js
  cypress/e2e/react-island.cy.js
  cypress/e2e/side-menu-reveal-current.cy.js
  cypress/e2e/slim-select-dependent-ajax.cy.js
  cypress/e2e/split-view.cy.js
  cypress/e2e/time-picker-spinner.cy.js
  cypress/e2e/widget-history.cy.js
Due: standard

refactor(filter-form): comentarios de FilterForm y Filters en inglés
  app/components/bali/filters/active_filter_params.rb
  app/components/bali/filters/applied_tags/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/filters_controller.js
  app/components/bali/filters/persistable.rb
  app/components/bali/filters/persistence_toggle/component.html.erb
  app/components/bali/filters/persistence_toggle/component.rb
  app/components/bali/filters/preserved_params.rb
  cypress/e2e/date-range-presets.cy.js
  cypress/e2e/filter-persistence-simple-filters.cy.js
  cypress/e2e/filters-controller.cy.js
  cypress/e2e/simple-filters-auto-submit.cy.js
  lib/bali/filter_form.rb
  lib/bali/filter_form/enum_casting.rb
  lib/bali/filter_form/filter_group_parser.rb
  lib/bali/filter_form/group_by_configuration.rb
  lib/bali/filter_form/saved_views_configuration.rb
  lib/bali/filter_form/simple_filters_configuration.rb
Due: rubocop, standard

refactor(lib): comentarios de lib, la app dummy y el hook en inglés
  .claude/hooks/pr-closes-keyword.sh
  lib/bali.rb
  lib/bali/form_builder/file_fields.rb
  lib/bali/form_builder/text_area_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  spec/dummy/app/controllers/admin/movies_controller.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/application_controller.rb
  spec/dummy/app/controllers/concerns/bulk_actionable.rb
  spec/dummy/app/controllers/documents_controller.rb
  spec/dummy/app/controllers/movies_controller.rb
  spec/dummy/app/controllers/split_views_controller.rb
  spec/dummy/app/controllers/users_controller.rb
  spec/dummy/app/helpers/application_helper.rb
  spec/dummy/app/models/document.rb
  spec/dummy/app/models/movie.rb
  spec/dummy/app/models/studio.rb
  spec/dummy/app/models/user.rb
  spec/dummy/app/views/admin/movies/_form.html.erb
  spec/dummy/app/views/admin/movies/_listing.html.erb
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/movies/index.turbo_stream.erb
  spec/dummy/app/views/admin/studios/_form.html.erb
  spec/dummy/app/views/admin/studios/_listing.html.erb
  spec/dummy/app/views/admin/studios/create.turbo_stream.erb
  spec/dummy/app/views/admin/studios/index.html.erb
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
  spec/dummy/app/views/layouts/application.html.erb
  spec/dummy/app/views/movies/_calendar_day.html.erb
  spec/dummy/app/views/pages/feedback_embed.html.erb
  spec/dummy/app/views/split_views/show.html.erb
  spec/dummy/config/environments/development.rb
  spec/dummy/config/initializers/bali.rb
  spec/dummy/config/routes.rb
Due: rubocop
