Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

refactor(css): el CSS propio de Bali entra en @layer components, y una sola entrada
  app/assets/stylesheets/bali.css
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/variables.css
  app/assets/stylesheets/bali/vendor/trix.css
  spec/dummy/app/assets/tailwind/application.css
Due: none

refactor(side-menu): los overrides de daisyUI a su propio archivo, y mueren los tres "!"
  app/components/bali/breadcrumb/index.css
  app/components/bali/calendar/component.html.erb
  app/components/bali/calendar/component.rb
  app/components/bali/command/index.css
  app/components/bali/command/item/component.html.erb
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/list/component.rb
Due: rubocop

docs(css): por que forms, datepicker y slim_select se quedan sin capa
  app/assets/stylesheets/bali/datepicker.css
  app/assets/stylesheets/bali/forms.css
  app/assets/stylesheets/bali/slim_select.css
Due: none

docs: CHANGELOG, guia de migracion y el gotcha de capas que quedo obsoleto
  .claude/CLAUDE.md
  CHANGELOG.md
  README.md
  docs/guides/installation.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/troubleshooting.md
Due: none

fix(command): density: :compact estaba muerto entero, y la fila activa perdia bajo el cursor
  app/components/bali/command/component.html.erb
  app/components/bali/command/index.css
  app/components/bali/command/item/component.html.erb
Due: none

fix(css): .container.is-not-fluid volvia a ser fluida arriba de 1024px
  app/assets/stylesheets/bali.css
  app/assets/stylesheets/bali/container-overrides.css
  app/assets/stylesheets/bali/container.css
Due: none

fix(calendar): las celdas recuperan su linea de base-300 contra el .table de daisyUI
  app/assets/stylesheets/bali/components.css
  app/components/bali/calendar/daisyui-overrides.css
Due: none

fix(rich-text-editor): display block y el reset de la variante readonly, contra el .input de daisyUI
  app/assets/stylesheets/bali/components.css
  app/components/bali/rich_text_editor/daisyui-overrides.css
  app/components/bali/rich_text_editor/index.css
Due: none

fix(side-menu): hover, active y transition de .menu-item dentro de un .menu
  app/components/bali/side_menu/daisyui-overrides.css
Due: none

docs(css): un host no puede declarar los tokens con @theme, y yo escribi lo contrario
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali/theme-fallbacks.css
  docs/guides/migration-v2-to-v3.md
Due: none

chore(v3): el paquete npm deja de embarcar el repo y declara lo que usa (#733)
  .github/workflows/standardjs.yml
  CHANGELOG.md
  app/frontend/bali/components/index.js
  app/frontend/bali/controllers/index.js
  app/frontend/bali/index.js
  babel.config.json
  docs/guides/installation.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v2-to-v3.md
  package.json
  scripts/check-controller-manifest.mjs
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: standard

fix(reveal): show() y hide() hacian lo contrario de su nombre
  app/components/bali/reveal/component.html.erb
  app/components/bali/reveal/component.rb
  app/components/bali/reveal/index.js
  app/components/bali/reveal/preview.rb
  app/components/bali/reveal/previews/external_controls.html.erb
  app/components/bali/reveal/trigger/component.html.erb
  app/components/bali/reveal/trigger/component.rb
  cypress/e2e/reveal-controller.cy.js
  test/bali/components/reveal_test.rb
Due: rubocop, standard

fix(status): el panel se disparaba fuera de pantalla dentro de un Drawer
  app/components/bali/status/index.js
  app/components/bali/status/preview.rb
  app/components/bali/status/previews/in_transformed_ancestor.html.erb
  cypress/e2e/status-controller.cy.js
Due: rubocop, standard

fix(tree-view): un click en un hijo navegaba al PADRE
  app/components/bali/tree_view/component.html.erb
  app/components/bali/tree_view/component.rb
  app/components/bali/tree_view/item/component.html.erb
  app/components/bali/tree_view/item/component.rb
  app/components/bali/tree_view/item/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/tree-view-controller.cy.js
  test/bali/components/tree_view_test.rb
Due: rubocop, standard

fix(timeago): un datetime nil crasheaba, y sin JS el elemento salia vacio
  app/components/bali/timeago/component.rb
  app/components/bali/timeago/index.js
  app/components/bali/timeago/preview.rb
  test/bali/components/timeago_test.rb
Due: rubocop, standard

fix(heatmap, chart): un simbolo desconocido crasheaba y las claves string mentian
  app/components/bali/chart/component.rb
  app/components/bali/chart/preview.rb
  app/components/bali/heatmap/component.rb
  app/components/bali/heatmap/preview.rb
  test/bali/components/chart_test.rb
  test/bali/components/heatmap_test.rb
Due: rubocop

docs: CHANGELOG y guia de migracion de los siete bugs
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/node_modules
Due: none

docs: CHANGELOG y guia de migracion de los siete bugs
  .gitignore
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

refactor(icon)!: eliminar el fallback DefaultIcons, 1,580 lineas que ya no servian a nadie
  CHANGELOG.md
  app/components/bali/icon/component.rb
  app/components/bali/icon/default_icons.rb
  app/components/bali/icon/kept_icons.rb
  app/components/bali/icon/options.rb
  app/components/bali/icon/preview.rb
  app/components/bali/icon/svg/american-express.svg
  app/components/bali/icon/svg/comment-dollar.svg
  app/components/bali/icon/svg/day.svg
  app/components/bali/icon/svg/diagnose.svg
  app/components/bali/icon/svg/facebook-square.svg
  app/components/bali/icon/svg/facebook.svg
  app/components/bali/icon/svg/github.svg
  app/components/bali/icon/svg/instagram-square.svg
  app/components/bali/icon/svg/instagram.svg
  app/components/bali/icon/svg/linkedin.svg
  app/components/bali/icon/svg/mastercard.svg
  app/components/bali/icon/svg/mexico-flag.svg
  app/components/bali/icon/svg/month.svg
  app/components/bali/icon/svg/nested-arrow.svg
  app/components/bali/icon/svg/outlook.svg
  app/components/bali/icon/svg/oxxo.svg
  app/components/bali/icon/svg/paypal.svg
  app/components/bali/icon/svg/pinterest.svg
  app/components/bali/icon/svg/recipe-book.svg
  app/components/bali/icon/svg/space-station-moon-alt.svg
  app/components/bali/icon/svg/ticket.svg
  app/components/bali/icon/svg/twitter.svg
  app/components/bali/icon/svg/us-flag.svg
  app/components/bali/icon/svg/visa.svg
  app/components/bali/icon/svg/week.svg
  app/components/bali/icon/svg/whatsapp-square.svg
  app/components/bali/icon/svg/whatsapp.svg
  app/components/bali/icon/svg/youtube.svg
  docs/guides/migration-v2-to-v3.md
  test/bali/components/icon/kept_icons_test.rb
  test/bali/components/icon_test.rb
Due: rubocop

docs(icon): corregir el conteo y la alineacion de la lista snake_case en la guia
  docs/guides/migration-v2-to-v3.md
Due: none

fix(timeline): cada entrada se renderiza una sola vez y los slots pierden el prefijo tag_
  CHANGELOG.md
  app/components/bali/timeline/component.html.erb
  app/components/bali/timeline/component.rb
  app/components/bali/timeline/header/component.html.erb
  app/components/bali/timeline/header/component.rb
  app/components/bali/timeline/index.css
  app/components/bali/timeline/item/component.html.erb
  app/components/bali/timeline/item/component.rb
  app/components/bali/timeline/preview.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/admin/dashboard/index.html.erb
  spec/dummy/app/views/admin/movies/_activity_tab.html.erb
  spec/dummy/app/views/dashboard/index.html.erb
  spec/dummy/app/views/movies/show.html.erb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  test/bali/components/timeline_test.rb
Due: rubocop

docs(changelog): la entrada de #696 al ingles, que es el idioma del CHANGELOG
  CHANGELOG.md
Due: none

refactor(table)!: elimina la vía legacy de selección (bulk_actions:, TableController)
  CHANGELOG.md
  app/components/bali/table/bulk_action/component.rb
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/index.js
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/bulk_actions.html.erb
  app/components/bali/table/row/component.html.erb
  app/components/bali/table/row/component.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  docs/guides/components.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/controllers/table_controller.rb
  spec/dummy/config/routes.rb
  test/bali/components/table_test.rb
Due: rubocop, standard

fix(form_builder): extraccion unica de opciones y sin mutar el hash del caller
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/boolean_fields.rb
  lib/bali/form_builder/coordinates_polygon_fields.rb
  lib/bali/form_builder/currency_fields.rb
  lib/bali/form_builder/dynamic_fields.rb
  lib/bali/form_builder/file_fields.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/percentage_fields.rb
  lib/bali/form_builder/radio_fields.rb
  lib/bali/form_builder/range_fields.rb
  lib/bali/form_builder/recurrent_event_rule_fields.rb
  lib/bali/form_builder/rich_text_area_fields.rb
  lib/bali/form_builder/rich_text_fields.rb
  lib/bali/form_builder/search_fields.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/form_builder/shared_utils.rb
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/form_builder/step_number_fields.rb
  lib/bali/form_builder/submit_fields.rb
  lib/bali/form_builder/switch_fields.rb
  lib/bali/form_builder/text_area_fields.rb
  lib/bali/form_builder/time_period_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/options_contract_test.rb
Due: rubocop

feat(css)!: una escala de z-index para todos los overlays (--bali-z-*)
  CHANGELOG.md
  app/assets/javascripts/bali/utils/z-index.js
  app/assets/stylesheets/bali.css
  app/assets/stylesheets/bali/datepicker.css
  app/assets/stylesheets/bali/slim_select.css
  app/assets/stylesheets/bali/z_index.css
  app/components/bali/actions_dropdown/component.rb
  app/components/bali/app_layout/component.html.erb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/useFileUpload.js
  app/components/bali/command/component.html.erb
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/export/component.html.erb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/dropdown/component.rb
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/index.css
  app/components/bali/hover_card/component.rb
  app/components/bali/hover_card/index.js
  app/components/bali/image_grid/index.css
  app/components/bali/modal/component.html.erb
  app/components/bali/navbar/dropdown_item/component.rb
  app/components/bali/notification/component.rb
  app/components/bali/side_menu/bottom_group/component.html.erb
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/status/index.css
  app/components/bali/tooltip/index.js
  docs/guides/migration-v2-to-v3.md
  docs/superpowers/specs/2026-06-29-confirm-dialog-design.md
  spec/dummy/app/views/pages/z_stack.html.erb
  spec/dummy/config/routes.rb
  test/bali/components/hover_card_test.rb
Due: rubocop, standard

refactor(page-components): una sola superficie para los cinco en PageComponents::Shared
  CHANGELOG.md
  app/components/bali/dashboard_page/component.html.erb
  app/components/bali/dashboard_page/component.rb
  app/components/bali/document_page/component.html.erb
  app/components/bali/document_page/component.rb
  app/components/bali/document_page/previews/default.html.erb
  app/components/bali/form_page/component.html.erb
  app/components/bali/form_page/component.rb
  app/components/bali/index_page/component.html.erb
  app/components/bali/index_page/component.rb
  app/components/bali/info_level/component.rb
  app/components/bali/level/component.rb
  app/components/bali/page_components/shared.rb
  app/components/bali/page_header/component.html.erb
  app/components/bali/page_header/component.rb
  app/components/bali/show_page/component.html.erb
  app/components/bali/show_page/component.rb
  app/components/bali/show_page/preview.rb
  app/components/bali/show_page/previews/widths.html.erb
  app/components/bali/stat_card/component.html.erb
  app/components/bali/stat_card/component.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/document_page_test.rb
  test/bali/components/info_level_test.rb
  test/bali/components/level_test.rb
  test/bali/components/page_components/shared_contract_test.rb
  test/bali/deprecator_test.rb
Due: rubocop

refactor(v3): una sola paginación — PaginationFooter en DataTable, i18n unificado y PagyAdapter
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/pagination/component.html.erb
  app/components/bali/pagination/component.rb
  app/components/bali/pagination/pagy_adapter.rb
  app/components/bali/pagination/preview.rb
  app/components/bali/pagination_footer/component.html.erb
  app/components/bali/pagination_footer/component.rb
  app/components/bali/pagination_footer/preview.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/data_table_test.rb
  test/bali/components/pagination/pagy_adapter_test.rb
  test/bali/components/pagination_footer_test.rb
  test/bali/components/pagination_test.rb
Due: rubocop

docs(css): bali/z_index.css no es opcional si importas hoja por hoja
  app/assets/stylesheets/bali.css
Due: none

docs(changelog): la entrada de #684 va en inglés, como el resto del archivo
  CHANGELOG.md
Due: none

docs(changelog): la entrada y la guia de migracion van en ingles, no en espanol
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

feat(js)!: todos los eventos publicos pasan a bali:<componente>:<evento>
  .opencode/skills/stimulus-expert.md
  CHANGELOG.md
  README.md
  app/assets/javascripts/bali/controllers/interact-controller.js
  app/assets/javascripts/bali/utils/use-dispatch.js
  app/components/bali/command/index.js
  app/components/bali/direct_upload/index.js
  app/components/bali/drawer/index.js
  app/components/bali/gantt_chart/component.rb
  app/components/bali/gantt_chart/gantt_foldable_item.js
  app/components/bali/gantt_chart/index.js
  app/components/bali/hover_card/index.js
  app/components/bali/modal/index.js
  app/components/bali/navbar/index.js
  app/components/bali/sortable_list/index.js
  app/frontend/bali/utils/index.js
  cypress/e2e/bali-events.cy.js
  docs/guides/components.md
  docs/guides/direct-upload-setup.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/troubleshooting.md
  docs/reference/stimulus-patterns.md
  spec/dummy/app/views/lookbook/pages/02_guides/02_javascript_integration.md.erb
  spec/dummy/app/views/lookbook/pages/03_patterns/02_stimulus_patterns.md.erb
Due: rubocop, standard

feat(tag)!: fuera los nombres de Bulma, y un Tag deja de envolver
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/tag/component.rb
  app/components/bali/tag/index.css
  app/components/bali/tag/preview.rb
  app/components/bali/tag/previews/long_text.html.erb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/tag_test.rb
Due: rubocop

refactor(v3): el CSS del paquete gana tres posiciones de cascada deliberadas (#734)
  .claude/CLAUDE.md
  CHANGELOG.md
  README.md
  app/assets/stylesheets/bali.css
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/container-overrides.css
  app/assets/stylesheets/bali/container.css
  app/assets/stylesheets/bali/datepicker.css
  app/assets/stylesheets/bali/forms.css
  app/assets/stylesheets/bali/general.css
  app/assets/stylesheets/bali/slim_select.css
  app/assets/stylesheets/bali/theme-fallbacks.css
  app/assets/stylesheets/bali/variables.css
  app/assets/stylesheets/bali/vendor/trix.css
  app/components/bali/breadcrumb/index.css
  app/components/bali/calendar/component.html.erb
  app/components/bali/calendar/component.rb
  app/components/bali/calendar/daisyui-overrides.css
  app/components/bali/command/component.html.erb
  app/components/bali/command/index.css
  app/components/bali/command/item/component.html.erb
  app/components/bali/rich_text_editor/daisyui-overrides.css
  app/components/bali/rich_text_editor/index.css
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/daisyui-overrides.css
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/list/component.rb
  docs/guides/installation.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/troubleshooting.md
  spec/dummy/app/assets/tailwind/application.css
Due: rubocop

fix(v3): seis bugs de comportamiento reales, y uno del issue que no se reproduce (#736)
  .gitignore
  CHANGELOG.md
  app/components/bali/chart/component.rb
  app/components/bali/chart/preview.rb
  app/components/bali/heatmap/component.rb
  app/components/bali/heatmap/preview.rb
  app/components/bali/reveal/component.html.erb
  app/components/bali/reveal/component.rb
  app/components/bali/reveal/index.js
  app/components/bali/reveal/preview.rb
  app/components/bali/reveal/previews/external_controls.html.erb
  app/components/bali/reveal/trigger/component.html.erb
  app/components/bali/reveal/trigger/component.rb
  app/components/bali/status/index.js
  app/components/bali/status/preview.rb
  app/components/bali/status/previews/in_transformed_ancestor.html.erb
  app/components/bali/timeago/component.rb
  app/components/bali/timeago/index.js
  app/components/bali/timeago/preview.rb
  app/components/bali/tree_view/component.html.erb
  app/components/bali/tree_view/component.rb
  app/components/bali/tree_view/item/component.html.erb
  app/components/bali/tree_view/item/component.rb
  app/components/bali/tree_view/item/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/reveal-controller.cy.js
  cypress/e2e/status-controller.cy.js
  cypress/e2e/tree-view-controller.cy.js
  docs/guides/migration-v2-to-v3.md
  test/bali/components/chart_test.rb
  test/bali/components/heatmap_test.rb
  test/bali/components/reveal_test.rb
  test/bali/components/timeago_test.rb
  test/bali/components/tree_view_test.rb
Due: rubocop, standard

refactor(icon)!: eliminar el fallback DefaultIcons, 1,580 líneas que ya no servían a nadie (#737)
  CHANGELOG.md
  app/components/bali/icon/component.rb
  app/components/bali/icon/default_icons.rb
  app/components/bali/icon/kept_icons.rb
  app/components/bali/icon/options.rb
  app/components/bali/icon/preview.rb
  app/components/bali/icon/svg/american-express.svg
  app/components/bali/icon/svg/comment-dollar.svg
  app/components/bali/icon/svg/day.svg
  app/components/bali/icon/svg/diagnose.svg
  app/components/bali/icon/svg/facebook-square.svg
  app/components/bali/icon/svg/facebook.svg
  app/components/bali/icon/svg/github.svg
  app/components/bali/icon/svg/instagram-square.svg
  app/components/bali/icon/svg/instagram.svg
  app/components/bali/icon/svg/linkedin.svg
  app/components/bali/icon/svg/mastercard.svg
  app/components/bali/icon/svg/mexico-flag.svg
  app/components/bali/icon/svg/month.svg
  app/components/bali/icon/svg/nested-arrow.svg
  app/components/bali/icon/svg/outlook.svg
  app/components/bali/icon/svg/oxxo.svg
  app/components/bali/icon/svg/paypal.svg
  app/components/bali/icon/svg/pinterest.svg
  app/components/bali/icon/svg/recipe-book.svg
  app/components/bali/icon/svg/space-station-moon-alt.svg
  app/components/bali/icon/svg/ticket.svg
  app/components/bali/icon/svg/twitter.svg
  app/components/bali/icon/svg/us-flag.svg
  app/components/bali/icon/svg/visa.svg
  app/components/bali/icon/svg/week.svg
  app/components/bali/icon/svg/whatsapp-square.svg
  app/components/bali/icon/svg/whatsapp.svg
  app/components/bali/icon/svg/youtube.svg
  docs/guides/migration-v2-to-v3.md
  test/bali/components/icon/kept_icons_test.rb
  test/bali/components/icon_test.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
