Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

feat(widget): add Bali::Widget::Layout
  app/lib/bali/widget/layout.rb
  test/bali/widget/layout_test.rb
Due: rubocop

fix(widget-grid): correct the CSRF rationale and show the grid's slots
  app/components/bali/widget_grid/preview.rb
  app/components/bali/widget_grid/previews/with_slots.html.erb
  spec/dummy/app/controllers/widget_layouts_controller.rb
Due: rubocop

docs: record that choose must preserve sizes, and that SQLite ignores lock
  docs/superpowers/plans/2026-08-25-widgets-and-widget-grid.md
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
Due: none

docs(plan): drop the stale claim that choose omits sizes
  docs/superpowers/plans/2026-08-25-widgets-and-widget-grid.md
Due: none

fix(widget): say plainly what lock_rows does not protect
  app/lib/bali/widget/layout.rb
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
Due: rubocop

test(widget-grid): cover both Stimulus controllers with Cypress
  cypress/e2e/widget-grid.cy.js
Due: standard

docs(widget): document the widget contract, grid and dashboard table
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/engine-models.md
Due: none

docs: settle the edit-mode history question — raw pushState stays
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
Due: none

docs: the grid's overridable slot is heading, not toolbar
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
Due: none

docs(widget): say where a widget's own copy comes from
  docs/guides/engine-models.md
Due: none

test(widget-grid): assert the size field by name and cover the network-failure path
  cypress/e2e/widget-grid.cy.js
Due: standard

feat(block-editor): format: :blocks y :prosemirror — la forma persistida vuelve a ser del host (#1091)
  CHANGELOG.md
  app/components/bali/block_editor.rb
  app/components/bali/block_editor/CLAUDE.md
  app/components/bali/block_editor/component.html.erb
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/config.rb
  app/components/bali/block_editor/preview.rb
  app/components/bali/block_editor/previews/with_pinned_format.html.erb
  app/components/bali/block_editor/useContentSync.js
  cypress/e2e/block-editor-content-format.cy.js
  docs/api/block-editor.md
  test/bali/block_editor_content_format_test.rb
  test/bali/components/block_editor_test.rb
Due: rubocop, standard

feat(dummy): add a working widget dashboard demo
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/views/dashboard_widgets/index.html.erb
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/widgets/demo_widgets.rb
  spec/dummy/app/widgets/demo_widgets/active_studios.rb
  spec/dummy/app/widgets/demo_widgets/overdue_tasks.rb
  spec/dummy/app/widgets/demo_widgets/recent_movies.rb
  spec/dummy/app/widgets/demo_widgets/top_budget_movies.rb
  spec/dummy/app/widgets/demo_widgets/upcoming_tasks.rb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  spec/dummy/config/routes.rb
Due: rubocop

docs(widget): the example needs route helpers to link its rows
  docs/guides/engine-models.md
Due: none

feat(dummy): add the widget picker flow
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/views/dashboard_widgets/index.html.erb
  spec/dummy/app/views/dashboard_widgets/picker.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  spec/dummy/config/routes.rb
Due: rubocop

docs(widget): unticking everything restores defaults — say so
  docs/guides/engine-models.md
  spec/dummy/app/views/dashboard_widgets/picker.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
Due: none

refactor(widget): Layout becomes DashboardWidget::Store
  CHANGELOG.md
  app/components/bali/widget_grid/component.rb
  app/lib/bali/widget/base.rb
  app/models/bali/dashboard_widget.rb
  app/models/bali/dashboard_widget/store.rb
  db/migrate/20260825120000_create_bali_dashboard_widgets.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  docs/superpowers/plans/2026-08-25-widgets-and-widget-grid.md
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/controllers/widget_layouts_controller.rb
  spec/dummy/app/views/dashboard_widgets/picker.html.erb
  spec/dummy/config/routes.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/models/dashboard_widget_test.rb
  test/bali/widget/layout_test.rb
Due: rubocop

refactor(widget): persistence belongs to the host
  CHANGELOG.md
  app/components/bali/widget_grid/component.rb
  app/lib/bali/widget/base.rb
  app/models/bali/dashboard_widget.rb
  app/models/bali/dashboard_widget/store.rb
  db/migrate/20260825120000_create_bali_dashboard_widgets.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  docs/guides/widgets.md
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/controllers/widget_layouts_controller.rb
  spec/dummy/app/models/dashboard_widget.rb
  spec/dummy/app/models/dashboard_widget/store.rb
  spec/dummy/app/views/dashboard_widgets/picker.html.erb
  spec/dummy/db/migrate/20260825130000_create_dashboard_widgets.rb
  spec/dummy/db/schema.rb
  test/dummy_dashboard_widget_store_test.rb
  test/dummy_dashboard_widget_test.rb
Due: rubocop

Revert "refactor(widget): persistence belongs to the host"
  CHANGELOG.md
  app/components/bali/widget_grid/component.rb
  app/lib/bali/widget/base.rb
  app/models/bali/dashboard_widget.rb
  app/models/bali/dashboard_widget/store.rb
  db/migrate/20260825120000_create_bali_dashboard_widgets.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  docs/guides/widgets.md
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/controllers/widget_layouts_controller.rb
  spec/dummy/app/models/dashboard_widget.rb
  spec/dummy/app/models/dashboard_widget/store.rb
  spec/dummy/app/views/dashboard_widgets/picker.html.erb
  spec/dummy/db/migrate/20260825130000_create_dashboard_widgets.rb
  spec/dummy/db/schema.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/models/dashboard_widget_test.rb
Due: rubocop

release: v3.1.4
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

refactor(widget): harden the store, tidy the card, test the boundary
  app/assets/stylesheets/bali/components.css
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/index.css
  app/components/bali/widget_grid/component.html.erb
  app/components/bali/widget_grid/index.css
  app/components/bali/widget_grid/index.js
  app/models/bali/dashboard_widget.rb
  app/models/bali/dashboard_widget/store.rb
  cypress/e2e/widget-grid.cy.js
  db/migrate/20260825120000_create_bali_dashboard_widgets.rb
  docs/guides/engine-models.md
  test/bali/models/dashboard_widget/store_test.rb
  test/requests/dashboard_widgets_test.rb
Due: rubocop, standard

fix(widget): make the size picker a real radiogroup
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget_grid/index.js
  cypress/e2e/widget-grid.cy.js
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
  test/bali/components/widget_test.rb
Due: rubocop, standard

fix(widget): announce how many widgets are left after a removal
  app/components/bali/widget_grid/component.rb
  app/components/bali/widget_grid/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/widget-grid.cy.js
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
  test/bali/components/widget_grid_test.rb
Due: rubocop, standard

fix(widget): let created_at survive a rearrange
  app/models/bali/dashboard_widget/store.rb
  docs/guides/engine-models.md
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
  test/bali/models/dashboard_widget/store_test.rb
Due: rubocop

test(modal): measure the Back path after the body swap
  app/components/bali/modal/index.js
  cypress/e2e/modal-history.cy.js
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
  spec/dummy/app/controllers/modal_redirect_controller.rb
  spec/dummy/app/views/modal_redirect/index.html.erb
  spec/dummy/app/views/modal_redirect/landing.html.erb
  spec/dummy/config/routes.rb
Due: rubocop, standard

docs(widget): the design spec still described a lock that was removed
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
Due: none

test(dummy): exempt the modal redirect fixture from the page sweep
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop

feat(widget): add Trend, Series and Gauge, and the ladder fields on Result
  app/lib/bali/widget.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/gauge.rb
  app/lib/bali/widget/result.rb
  app/lib/bali/widget/series.rb
  app/lib/bali/widget/trend.rb
  docs/superpowers/plans/2026-08-26-widget-size-ladder.md
  test/bali/widget/gauge_test.rb
  test/bali/widget/result_test.rb
  test/bali/widget/trend_test.rb
Due: rubocop

feat(gauge): add Bali::Gauge, the ring Bali::Progress does not draw
  app/components/bali/gauge/component.html.erb
  app/components/bali/gauge/component.rb
  app/components/bali/gauge/preview.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/gauge_test.rb
Due: rubocop

feat(widget): the size ladder — disclosure instead of substitution
  app/components/bali/chart/component.html.erb
  app/components/bali/chart/component.rb
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/index.css
  app/components/bali/widget/preview.rb
  app/components/bali/widget/previews/default.html.erb
  app/components/bali/widget_grid/index.css
  app/components/bali/widget_grid/preview.rb
  app/lib/bali/widget/trend.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/widget-grid.cy.js
  test/bali/components/widget_test.rb
Due: rubocop, standard

docs(widget): document the size ladder and retire what it replaced
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/engine-models.md
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
Due: none

fix(widget): a goal is a headline, not a context — plus review round 1
  CHANGELOG.md
  app/components/bali/gauge/component.rb
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/preview.rb
  app/components/bali/widget/size_picker/component.html.erb
  app/components/bali/widget/size_picker/component.rb
  app/components/bali/widget/size_picker/preview.rb
  app/components/bali/widget_grid/preview.rb
  app/lib/bali/widget.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/gauge.rb
  app/lib/bali/widget/goal.rb
  app/lib/bali/widget/result.rb
  app/lib/bali/widget/series.rb
  app/lib/bali/widget/trend.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  test/bali/components/widget_size_picker_test.rb
  test/bali/components/widget_test.rb
  test/bali/widget/gauge_test.rb
  test/bali/widget/goal_test.rb
  test/bali/widget/result_test.rb
Due: rubocop

fix(widget): guard the detail region too, and give the gauge a track
  app/assets/stylesheets/bali/components.css
  app/components/bali/gauge/daisyui-overrides.css
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/preview.rb
  app/components/bali/widget/size_picker/component.html.erb
  app/components/bali/widget/size_picker/component.rb
  app/components/bali/widget/size_picker/preview.rb
  app/components/bali/widget_grid/preview.rb
  cypress/e2e/gauge.cy.js
  test/bali/components/widget_test.rb
  test/bali/widget/goal_test.rb
Due: rubocop, standard

fix(widget): the chart takes the canvas when nothing sits under it
  app/assets/stylesheets/bali/components.css
  app/components/bali/gauge/component.rb
  app/components/bali/gauge/daisyui-overrides.css
  app/components/bali/widget/component.rb
  cypress/e2e/gauge.cy.js
  test/bali/components/widget_test.rb
Due: rubocop, standard

feat(dummy): make the widget showcase cover the whole ladder
  app/components/bali/widget/component.rb
  app/lib/bali/widget/base.rb
  spec/dummy/app/widgets/demo_widgets.rb
  spec/dummy/app/widgets/demo_widgets/overdue_tasks.rb
  spec/dummy/app/widgets/demo_widgets/production_budget.rb
  spec/dummy/app/widgets/demo_widgets/project_progress.rb
  spec/dummy/app/widgets/demo_widgets/studio_foundings.rb
  spec/dummy/app/widgets/demo_widgets/task_load.rb
  spec/dummy/app/widgets/demo_widgets/unavailable_feed.rb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  test/bali/components/widget_test.rb
Due: rubocop

refactor(widget): extract TrendIndicator and FailureReport
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/trend_indicator/component.html.erb
  app/components/bali/widget/trend_indicator/component.rb
  app/components/bali/widget/trend_indicator/preview.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/failure_report.rb
  test/bali/components/widget_test.rb
  test/bali/components/widget_trend_indicator_test.rb
  test/bali/widget/failure_report_test.rb
Due: rubocop

fix(widget): re-render a resized card, and cut five things
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/edit-mode-controller.js
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/index.css
  app/components/bali/widget/preview.rb
  app/components/bali/widget/previews/default.html.erb
  app/components/bali/widget/size_picker/component.rb
  app/components/bali/widget/size_picker/preview.rb
  app/components/bali/widget_grid/index.css
  app/components/bali/widget_grid/index.js
  app/components/bali/widget_grid/preview.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/controllers/index.js
  app/frontend/bali/index.js
  app/lib/bali/widget.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/result.rb
  app/models/bali/dashboard_widget.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/widget-grid-resize.cy.js
  cypress/e2e/widget-grid.cy.js
  docs/guides/components.md
  docs/guides/controllers.md
  docs/guides/engine-models.md
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
  spec/dummy/app/widgets/demo_widgets/task_load.rb
  spec/dummy/app/widgets/demo_widgets/top_budget_movies.rb
  test/bali/components/widget_size_picker_test.rb
  test/bali/components/widget_test.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/widget/base_test.rb
  test/bali/widget/result_test.rb
  test/requests/dashboard_widgets_test.rb
Due: rubocop, standard

fix(layout-concern): responder el layout de Turbo Frame (#1097)
  CHANGELOG.md
  docs/guides/components.md
  lib/bali/layout_concern.rb
  spec/dummy/app/controllers/split_views_controller.rb
  test/bali/layout_concern_test.rb
  test/requests/layout_concern_test.rb
Due: rubocop

feat(filterable): el default de un listado vive en la URL (#1096)
  CHANGELOG.md
  docs/guides/components.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/default_filters.rb
  lib/bali/filterable.rb
  test/bali/filter_form_default_filters_test.rb
  test/bali/filterable_test.rb
Due: rubocop

fix(filterable): HEAD también redirige a los defaults (#1096)
  lib/bali/filterable.rb
  test/bali/filterable_test.rb
Due: rubocop
