Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

docs(drawer): la preview del Skeleton dice que su disparador local la abre tal cual
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/skeleton_placeholder.html.erb
Due: rubocop

fix(forms): el placeholder de input.input y textarea.textarea pasa a @layer components
  CHANGELOG.md
  app/assets/stylesheets/bali/forms.css
  app/assets/stylesheets/bali/general.css
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

fix(dropdown, data_table, gantt): los encabezados de sección de menú pasan a /70
  CHANGELOG.md
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/dropdown/title/component.rb
  app/components/bali/gantt/Toolbar.jsx
  cypress/e2e/muted-text-contrast.cy.js
Due: rubocop, standard

test(empty_state): la prueba de omisión de la descripción cuenta los párrafos
  test/bali/components/empty_state_test.rb
Due: rubocop

test(navbar): el «Log in» de escritorio, la hamburguesa :alt y la :sidebar siguen el color de la barra
  cypress/e2e/navbar-ghost-contrast.cy.js
Due: standard

docs(changelog): el Navbar transparente sin la enumeración incompleta de dónde no se lee
  CHANGELOG.md
Due: none

test(block_editor): las copias de text-soft en los chips, atadas a la utilidad
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/block_editor/index.css
  test/bali/components/color_test.rb
Due: rubocop

fix(block_editor): los chips del preview de colores enlazan a /lookbook, no a #
  app/components/bali/block_editor/preview.rb
Due: rubocop

docs: Bali::Color.soft en Added, y lo que costa-norte tiene que corregir (#1274)
  CHANGELOG.md
Due: none

docs(filters): el comentario del multiselect nombra las clases del panel que no coinciden
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
Due: standard

test(cypress): la guardia pasa por las cuatro opciones de RecurrentEventRuleForm y mide hacia dónde va el día ghost
  cypress/e2e/base-surface-steps.cy.js
  cypress/support/painted_contrast.js
Due: standard

docs(changelog): la entrada de #1276 dice claro y oscuro, y cuánto cambian los temas claros
  CHANGELOG.md
Due: none

fix(block_editor, document_editor): placeholder, índice y extracto de comentario a /70; el chip de reacción a /55
  app/components/bali/block_editor/index.css
Due: none

test(muted-text-contrast): la guardia mide el BlockEditor, los comentarios y SlimSelect; retira dos deshabilitados redundantes
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

fix(slim_select): etiquetas de grupo, «Searching...» y «No results» a 70 %
  app/assets/stylesheets/bali/slim_select.css
Due: none

docs: el CHANGELOG de #1256 suma BlockEditor y SlimSelect y acota el título y el placeholder
  CHANGELOG.md
Due: none

test(muted-text-contrast): el encabezado de la guardia cita el piso medido con el placeholder del BlockEditor
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

docs(calendar): el comentario del día ghost da la cifra de afal-dark y la de los temas claros
  app/components/bali/calendar/year_grid/component.rb
Due: rubocop

test(cypress): el día ghost en reposo y bajo el cursor, en dos pruebas
  cypress/e2e/base-surface-steps.cy.js
Due: standard

test(themes): el comentario de la spec de contraste cita el issue del secundario como texto
  cypress/e2e/theme-primary-contrast.cy.js
Due: standard

docs(changelog): el AA del bloque de código se acota a los lenguajes que resalta
  CHANGELOG.md
Due: none

test(navbar): la hamburguesa :sidebar se mide en los cuatro colores desde el parámetro color
  app/components/bali/navbar/preview.rb
  app/components/bali/navbar/previews/with_sidebar_burger.html.erb
  cypress/e2e/navbar-ghost-contrast.cy.js
Due: rubocop, standard

fix(block_editor): la guía de un grupo anidado conserva su 30 % y se retira el color muerto del menú lateral
  app/components/bali/block_editor/index.css
Due: none

fix(document_editor): los botones de la píldora de acciones de un comentario pasan a /55
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

test(muted-text-contrast): la tendencia plana exige el gris del indicador antes de medir
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

fix(filters): la etiqueta del multi-select se atenúa con un solo toggle
  app/components/bali/filters/controllers/multi_select_controller.js
  cypress/e2e/filters-condition-controller.cy.js
Due: standard

test(dropdown): el comentario del spec nombra también el <dialog> como sitio del popper
  cypress/e2e/dropdown-controller.cy.js
Due: standard

docs(changelog): lo inerte es lo que queda fuera del <dialog>, no <body>
  CHANGELOG.md
Due: none

test(status): la guarda del hover compara también los ancestros y ::first-line
  cypress/e2e/status-palette-contrast.cy.js
Due: standard

docs(testing): paintedContrast tampoco ve una opacity sobre el fondo ni un ::first-line
  cypress/support/painted_contrast.js
  docs/reference/testing-traps.md
Due: standard

test(slim_select): la lista de un select sin nombre toma el nombre por omisión del combobox
  cypress/e2e/slim-select-accessible-name.cy.js
Due: standard

test(app-layout): cubre también modal: true con drawer: false
  test/bali/components/app_layout_test.rb
Due: rubocop

test(modal): sin los comentarios que repiten el de _replaceBodyAndURL
  cypress/e2e/modal-history.cy.js
Due: standard

test(modal): el foco vuelve al disparador también sin showModal()
  cypress/e2e/modal-controller.cy.js
Due: standard

fix(app-layout): el preview de disparadores nombra la columna de acciones
  app/components/bali/app_layout/previews/overlay_triggers.html.erb
Due: none

docs(changelog): el ghost del Navbar toma el color de un panel interior sólo si el panel lo fija
  CHANGELOG.md
Due: none

test(filters): el comentario de conditionControls sólo dice por qué se acota a la condición
  cypress/e2e/filters-condition-names.cy.js
Due: standard

test(filters): el selector del texto y el del booleano sólo encuentran su propio widget
  test/bali/components/filters/condition/component_test.rb
Due: rubocop

docs(testing): la espera sobre el documento nombra lo que nunca lo vacía
  docs/reference/testing-traps.md
Due: none

docs: qué pinta Bali con el color de references_config y con neutral/ghost de StatCard
  docs/api/block-editor.md
  docs/guides/components.md
Due: none

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
