Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix(document_page): drop metadata overflow-y-visible, rely on max-h-none alone
  app/components/bali/document_page/component.html.erb
  test/bali/components/document_page_test.rb
Due: rubocop

feat(datepicker)!: type dates by default with numeric d/m/Y display
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  lib/bali/form_builder/shared_date_utils.rb
  test/bali/form_builder/date_fields_test.rb
  test/bali/form_builder/datetime_fields_test.rb
  test/bali/form_builder/time_fields_test.rb
Due: rubocop, standard

feat(form/date): reflect typeable-by-default in Lookbook previews
  app/components/bali/form/date/preview.rb
  app/components/bali/form/date/previews/readonly_opt_out.html.erb
Due: rubocop

docs(form_builder): document typeable-by-default date fields and opt-out
  docs/guides/form-builder.md
Due: none

docs(changelog): note datepicker default flip under Unreleased
  CHANGELOG.md
Due: none

fix(drawer,modal): confirm before discarding unsaved forms on close + flatpickr Escape guard (#627)
  CHANGELOG.md
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.js
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/dirty_form.html.erb
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/component.rb
  app/components/bali/modal/index.js
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  cypress/e2e/drawer-controller.cy.js
  test/bali/components/drawer_test.rb
  test/bali/components/modal_test.rb
Due: rubocop, standard

fix(page_header): stack actions bar below title/subtitle on mobile (#628)
  CHANGELOG.md
  app/components/bali/page_components/shared.rb
  app/components/bali/page_header/component.html.erb
  app/components/bali/page_header/component.rb
  app/components/bali/show_page/preview.rb
  app/components/bali/show_page/previews/with_many_actions.html.erb
  test/bali/components/page_header_test.rb
  test/bali/components/show_page_test.rb
Due: rubocop

feat(form_builder): placeholder hint and test coverage for allow_input date fields (#629)
  CHANGELOG.md
  app/components/bali/form/date/preview.rb
  app/components/bali/form/date/previews/allow_input_default_format.html.erb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  docs/guides/form-builder.md
  lib/bali/form_builder/shared_date_utils.rb
  test/bali/form_builder/date_fields_test.rb
  test/bali/form_builder/datetime_fields_test.rb
  test/bali/form_builder/time_fields_test.rb
Due: rubocop

fix(document_page): stack three-panel body below lg breakpoint (#632)
  CHANGELOG.md
  app/components/bali/document_page/component.html.erb
  test/bali/components/document_page_test.rb
Due: rubocop

feat(filter_form): query-aware group_by (whitelist + global counts + sort-within-groups)
  lib/bali/filter_form.rb
  lib/bali/filter_form/group_by_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

feat(table): show global group counts with partial-run hint
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  test/bali/components/table_test.rb
Due: rubocop

feat(data_table): "Agrupar por" control with param round-trip
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/data_table/group_by_control/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_grouping.html.erb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/filters/component.rb
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  test/bali/components/data_table/group_by_control_test.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/filters/component_test.rb
Due: rubocop

docs(grouping): document query-aware grouping v2 + CHANGELOG
  CHANGELOG.md
  docs/guides/components.md
Due: none

fix(table): make group header rows visually distinct from zebra striping
  app/components/bali/table/component.html.erb
Due: none

feat(table): row grouping with group header rows via with_row(group:) (#630)
  CHANGELOG.md
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/with_grouping.html.erb
  app/components/bali/table/row/component.rb
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  docs/guides/components.md
  test/bali/components/table_test.rb
Due: rubocop

fix(datepicker): close calendar on Escape while typing with allowInput
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/datepicker-controller.js
Due: standard

feat(table,filter_form,data_table): query-aware row grouping v2 — global counts, sort-within-groups, Agrupar por control (#634)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/data_table/group_by_control/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_grouping.html.erb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/filters/component.rb
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  docs/guides/components.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/group_by_configuration.rb
  test/bali/components/data_table/group_by_control_test.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/filters/component_test.rb
  test/bali/components/table_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

feat(datepicker)!: type dates by default with numeric d/m/Y display (#633)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  app/components/bali/form/date/preview.rb
  app/components/bali/form/date/previews/readonly_opt_out.html.erb
  docs/guides/form-builder.md
  lib/bali/form_builder/shared_date_utils.rb
  test/bali/form_builder/date_fields_test.rb
  test/bali/form_builder/datetime_fields_test.rb
  test/bali/form_builder/time_fields_test.rb
Due: rubocop, standard

Prepare release: reorganize CHANGELOG for v2.14.0
  CHANGELOG.md
Due: none

Prepare release v2.14.0 (#635)
  CHANGELOG.md
Due: none

Release v2.14.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(index_page): accept back: link like ShowPage/FormPage (#639)
  CHANGELOG.md
  app/components/bali/index_page/component.html.erb
  app/components/bali/index_page/component.rb
  app/components/bali/index_page/preview.rb
  app/components/bali/index_page/previews/with_back.html.erb
  docs/guides/components.md
  test/bali/components/index_page_test.rb
Due: rubocop

feat(filter_form): unify simple and advanced filter DSLs into filter_attribute (#644)
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

feat(page-components): add nav slot to IndexPage, ShowPage and DashboardPage (#637)
  CHANGELOG.md
  app/components/bali/dashboard_page/component.html.erb
  app/components/bali/dashboard_page/component.rb
  app/components/bali/index_page/component.html.erb
  app/components/bali/index_page/component.rb
  app/components/bali/index_page/preview.rb
  app/components/bali/index_page/previews/with_nav.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/show_page/component.html.erb
  app/components/bali/show_page/component.rb
  docs/guides/components.md
  test/bali/components/dashboard_page_test.rb
  test/bali/components/index_page_test.rb
  test/bali/components/show_page_test.rb
Due: rubocop

feat(empty_state): standard EmptyState component, reused by Table's empty state (#640)
  CHANGELOG.md
  app/components/bali/empty_state/component.html.erb
  app/components/bali/empty_state/component.rb
  app/components/bali/empty_state/preview.rb
  app/components/bali/empty_state/previews/with_cta.html.erb
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  docs/guides/components.md
  test/bali/components/empty_state_test.rb
  test/bali/components/table_test.rb
Due: rubocop

feat(view_switch): join-style segmented control to switch sibling views (#636)
  CHANGELOG.md
  README.md
  app/components/bali/view_switch/component.html.erb
  app/components/bali/view_switch/component.rb
  app/components/bali/view_switch/preview.rb
  app/components/bali/view_switch/previews/icon_only.html.erb
  app/components/bali/view_switch/view/component.html.erb
  app/components/bali/view_switch/view/component.rb
  docs/guides/components.md
  test/bali/components/view_switch_test.rb
Due: rubocop

fix(select): keep long labels truncating before the chevron on Chrome >= 135 (#638)
  CHANGELOG.md
  app/assets/stylesheets/bali/forms.css
  app/components/bali/form/select/preview.rb
  app/components/bali/form/select/previews/narrow_with_long_labels.html.erb
Due: rubocop

feat(index_page): aceptar back: como ShowPage/FormPage (#645)
  CHANGELOG.md
  app/components/bali/index_page/component.html.erb
  app/components/bali/index_page/component.rb
  app/components/bali/index_page/preview.rb
  app/components/bali/index_page/previews/with_back.html.erb
  docs/guides/components.md
  test/bali/components/index_page_test.rb
Due: rubocop

feat(filter_form): unify simple and advanced filter DSLs into filter_attribute (#647)
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

feat(empty_state): componente EmptyState estándar + Table lo usa internamente (#640) (#648)
  CHANGELOG.md
  app/components/bali/empty_state/component.html.erb
  app/components/bali/empty_state/component.rb
  app/components/bali/empty_state/preview.rb
  app/components/bali/empty_state/previews/with_cta.html.erb
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  docs/guides/components.md
  test/bali/components/empty_state_test.rb
  test/bali/components/table_test.rb
Due: rubocop

feat(view_switch): join-style segmented control to switch sibling views (#649)
  CHANGELOG.md
  README.md
  app/components/bali/view_switch/component.html.erb
  app/components/bali/view_switch/component.rb
  app/components/bali/view_switch/preview.rb
  app/components/bali/view_switch/previews/icon_only.html.erb
  app/components/bali/view_switch/view/component.html.erb
  app/components/bali/view_switch/view/component.rb
  docs/guides/components.md
  test/bali/components/view_switch_test.rb
Due: rubocop

fix(select): long labels no longer overlap the chevron on Chrome >= 135 (#650)
  CHANGELOG.md
  app/assets/stylesheets/bali/forms.css
  app/components/bali/form/select/preview.rb
  app/components/bali/form/select/previews/narrow_with_long_labels.html.erb
Due: rubocop

style(test): drop trailing whitespace left by the main merge
  test/bali/components/index_page_test.rb
Due: rubocop

feat(page-components): slot nav en IndexPage, ShowPage y DashboardPage (#646)
  CHANGELOG.md
  app/components/bali/dashboard_page/component.html.erb
  app/components/bali/dashboard_page/component.rb
  app/components/bali/index_page/component.html.erb
  app/components/bali/index_page/component.rb
  app/components/bali/index_page/preview.rb
  app/components/bali/index_page/previews/with_nav.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/show_page/component.html.erb
  app/components/bali/show_page/component.rb
  docs/guides/components.md
  test/bali/components/dashboard_page_test.rb
  test/bali/components/index_page_test.rb
  test/bali/components/show_page_test.rb
Due: rubocop

Release v2.15.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

Release v2.15.0 (#651)
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(slim-select): survive Turbo cache restore + render include_blank as placeholder
  CHANGELOG.md
  Gemfile.lock
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/version.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop, standard

fix(slim-select): survive Turbo cache restore + include_blank placeholder (#661)
  CHANGELOG.md
  Gemfile.lock
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/version.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop, standard

fix(block-editor): una app que instala solo el núcleo libre ahora COMPILA, y el editor habla markdown
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.html.erb
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/useContentSync.js
  docs/api/block-editor.md
  lib/bali.rb
  lib/bali/form_builder.rb
  lib/bali/form_builder/rich_text_fields.rb
  package.json
  test/bali/components/block_editor_test.rb
  test/bali/form_builder/rich_text_fields_test.rb
Due: rubocop, standard

style(block-editor): el editor editable toma el borde y el outline de un campo de formulario
  app/components/bali/block_editor/index.css
Due: none

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
