Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

test(data-table): la paridad de TRANSIENT_PARAMS lee la lista entera del controlador
  test/bali/components/data_table/toolbar_href_test.rb
Due: rubocop

test(page-components): una etiqueta de formato vacía no cuenta como etiqueta
  test/bali/components/index_page_test.rb
Due: rubocop

docs(page-components): el CHANGELOG nombra el formato mal escrito y la guía acepta strings
  CHANGELOG.md
  docs/guides/components.md
Due: none

test(page-components): sin el bloque de etiquetas, la prueba falla en su aserción
  test/bali/components/index_page_test.rb
Due: rubocop

fix(command): el borde del panel de la paleta con el texto al 15 %, no base-300
  app/components/bali/command/component.html.erb
Due: none

docs(changelog): suma el panel de la paleta de Command a la entrada de #1276
  CHANGELOG.md
Due: none

test(cypress): el hover se compara con el mismo elemento en reposo y el día ghost se elige por su variante
  cypress/e2e/base-surface-steps.cy.js
Due: standard

docs(calendar): la vista previa del año ya no nombra las fechas que mide la guardia
  app/components/bali/calendar/preview.rb
Due: rubocop

docs(dropdown): un <dialog> propio más chico que la pantalla recorta el menú popover
  CHANGELOG.md
  docs/guides/overlays-and-the-top-layer.md
Due: none

test(filters): la prueba de la tinta del multi-select marca la opción con checkOption
  cypress/e2e/filters-condition-controller.cy.js
Due: standard

fix(forms): el placeholder de un label.input sólo sube la opacidad y la app gana el color sin !
  CHANGELOG.md
  app/assets/stylesheets/bali/forms.css
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

docs(changelog): la entrada de #1276 nombra los tres hovers base-300 que no cambian
  CHANGELOG.md
Due: none

docs(dropdown): dentro de un <dialog> el overflow del diálogo sigue recortando el menú popover
  app/components/bali/actions_dropdown/preview.rb
  docs/guides/components.md
  docs/guides/overlays-and-the-top-layer.md
Due: rubocop

docs(changelog): la entrada de #1276 dice «más» hovers y nombra el Datepicker y el grupo de Filters
  CHANGELOG.md
Due: none

fix(datepicker): en un teléfono el nombre llega al campo nativo de flatpickr (#1271)
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  app/components/bali/filters/condition/component.html.erb
  cypress/e2e/filters-condition-names.cy.js
Due: standard

docs(changelog): en un teléfono los campos de fecha y hora reciben su nombre (#1271)
  CHANGELOG.md
Due: none

docs(datepicker): flatpickr sólo pone el campo nativo en modo single y sin lista disable (#1271)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/datepicker-controller.js
Due: standard

fix(gantt): el placeholder de la búsqueda de la barra pasa a /70
  CHANGELOG.md
  app/components/bali/gantt/Toolbar.jsx
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

docs(simple-filters): el nombre de la fecha va al campo que muestra flatpickr (#1271)
  app/components/bali/data_table/simple_filters/component.html.erb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

test(themes): la spec de contraste cita #1281 para el secundario como texto
  cypress/e2e/theme-primary-contrast.cy.js
Due: standard

docs(changelog): el Navbar secundario de afal pasa de 3.47 a 5.70 junto con #1257
  CHANGELOG.md
Due: none

fix(status): el texto «sin estado» pasa a 70 % y su fila toma el hover de las demás
  app/components/bali/status/index.css
Due: none

fix(status): el triángulo de la píldora editable deja la opacidad
  app/components/bali/status/index.css
Due: none

test(status): la guarda mide el triángulo y el estado sin estado en los seis temas
  app/components/bali/status/preview.rb
  app/components/bali/status/previews/palette.html.erb
  cypress/e2e/status-palette-contrast.cy.js
Due: rubocop, standard

refactor(navbar): retira el bloque .navbar.is-transparent.is-active, que nunca aplicaba
  app/components/bali/navbar/index.css
Due: none

fix(qr_scanner, stepper, chat): la pista, el sublabel y la hora pasan a 70 %; la etiqueta de escritura deja de atenuarse
  app/components/bali/chat/message/component.html.erb
  app/components/bali/chat/previews/bubbles.html.erb
  app/components/bali/chat/typing_indicator/component.html.erb
  app/components/bali/qr_scanner/index.css
  app/components/bali/stepper/previews/with_content_block.html.erb
  app/components/bali/stepper/step/component.html.erb
  docs/guides/components.md
  test/bali/components/stepper_test.rb
Due: rubocop

fix(direct_upload): los íconos dejan de sacar un atributo aria_hidden literal
  app/components/bali/direct_upload/component.html.erb
  test/bali/components/direct_upload/component_test.rb
Due: rubocop

fix(widget): el título de la tarjeta pequeña pasa a /70
  app/components/bali/widget/card/component.html.erb
Due: none

docs(previews): el texto de ejemplo de DocumentEditor, DocumentPage, SplitView y Topbar pasa a /70 y /55
  app/components/bali/document_editor/previews/with_toolbar.html.erb
  app/components/bali/document_page/previews/default.html.erb
  app/components/bali/document_page/previews/with_panels.html.erb
  app/components/bali/document_page/previews/with_subheader.html.erb
  app/components/bali/split_view/previews/custom_master.html.erb
  app/components/bali/topbar/previews/default.html.erb
  app/components/bali/topbar/previews/search_only.html.erb
  app/components/bali/topbar/previews/without_mobile_trigger.html.erb
Due: none

docs(changelog): el Navbar de #1257 retira .is-transparent.is-active y apunta el transparente a #1284
  CHANGELOG.md
Due: none

docs(changelog): Status suma el texto sin estado a 70 % y el triángulo sin opacidad
  CHANGELOG.md
Due: none

fix(recurrent_event_rule_form): una fila de opción deshabilitada no reacciona al cursor (#1272)
  app/components/bali/recurrent_event_rule_form/component.html.erb
  app/components/bali/recurrent_event_rule_form/preview.rb
  cypress/e2e/recurrent-event-rule-form.cy.js
Due: rubocop, standard

docs(changelog): las filas de opción deshabilitadas, en la entrada de #1272 (#1272)
  CHANGELOG.md
Due: none

docs: el CHANGELOG de #1256 suma QrScanner, Stepper, Chat, el título del Widget pequeño y los íconos de DirectUpload
  CHANGELOG.md
Due: none

test(muted-text-contrast): la guardia mide QrScanner, Stepper, Chat y el título de un Widget pequeño
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

fix(filters): el tinte del grupo con el texto al 8 %, el borde de la lista al 20 % y el ícono de quitar al 60 %
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/filter_group/component.html.erb
Due: standard

fix(avatar): el botón de Avatar::Upload con el texto al 8 % y al 16 % bajo el cursor, sobre base-100
  app/components/bali/avatar/upload/component.html.erb
  app/components/bali/avatar/upload/component.rb
Due: rubocop

fix(split_view): la píldora de filtro con el texto al 8 % y al 16 % bajo el cursor
  app/components/bali/split_view/index.css
Due: none

fix(command): el disparador con el texto al 8 % y al 16 % bajo el cursor, y su rótulo al 75 %
  app/components/bali/command/component.html.erb
Due: none

test(cypress): la guardia suma el grupo de Filters y los tres controles con relleno
  cypress/e2e/avatar.cy.js
  cypress/e2e/base-surface-steps.cy.js
Due: standard
