Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

review(split_view): la guardia de contraste espera a que asiente la transición
  app/components/bali/split_view/index.css
  cypress/e2e/split-view-list.cy.js
  cypress/support/painted_contrast.js
Due: standard

review(engine): las pruebas dejan de repetir la premisa que el PR corrige
  test/bali/block_editor_helper_test.rb
  test/bali/packaging/dependency_contract_test.rb
  test/requests/icon_previews_test.rb
Due: rubocop

review(split_view): la guía de migración vuelve a enseñar algo que funciona
  app/components/bali/split_view/list/filter/component.rb
  app/components/bali/split_view/previews/structured_list.html.erb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/split_view_list_test.rb
  test/requests/split_view_previews_test.rb
Due: rubocop

review(iso_date): MonthValue toma la fecha de un Time, y el controlador de referencia decide sobre el nil
  CHANGELOG.md
  app/components/bali/gantt/data.rb
  docs/api/gantt.md
  lib/bali/iso_date.rb
  lib/bali/types/month_value.rb
  test/bali/components/gantt/data_test.rb
  test/bali/iso_date_test.rb
  test/bali/types/month_value_test.rb
  test/dummy/app/controllers/admin/projects/schedules_controller.rb
  test/requests/admin_gantt_schedule_test.rb
Due: rubocop

review(topbar): retira la clave mission_control en vez de justificarla
  CHANGELOG.md
  app/components/bali/topbar/preview.rb
  app/components/bali/topbar/tools_menu/tool.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/topbar_tools_menu_test.rb
Due: rubocop

review(radio-toggle): fieldsets en vez de contar campos, y la prueba del stream prueba algo
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/radio-toggle-controller.js
  app/components/bali/radio_toggle/preview.rb
  app/components/bali/radio_toggle/previews/default.html.erb
  app/components/bali/radio_toggle/previews/dependent_fields.html.erb
  cypress/e2e/radio-toggle-controller.cy.js
  docs/guides/controllers.md
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: rubocop, standard

review(block_editor): un observer sin bandera, y la prueba falla en main con cualquier React
  app/components/bali/block_editor/CLAUDE.md
  app/components/bali/block_editor/index.js
  cypress/e2e/block-editor-turbo-teardown.cy.js
Due: standard

review(data_table): un solo contrato de llave en Ruby y JS, y la migración de vistas dicha
  CHANGELOG.md
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/column_selector/component.rb
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/column_storage.js
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_column_keys.html.erb
  app/components/bali/data_table/saved_views_controller.js
  cypress/e2e/data-table-column-memory.cy.js
  docs/guides/components.md
  lib/bali/filter_form/saved_views_configuration.rb
  test/bali/components/data_table_test.rb
Due: rubocop, standard

changelog: reaplica las dos mediciones de v3.4.0 tras actualizar con main
  CHANGELOG.md
Due: none

review(release): los dos caminos de un release, y el hook de Closes con pruebas
  .claude/commands/release.md
  .claude/hooks/pr-closes-keyword.sh
  CHANGELOG.md
  docs/guides/release-channels.md
  test/bali/pr_closes_keyword_test.rb
Due: rubocop

docs(claude): cómo resolver un issue, y las pruebas que pasan sin probar
  .claude/CLAUDE.md
  docs/reference/testing-traps.md
Due: none

review(claude): la lista de un issue, más corta y con el revisor bien encargado
  .claude/CLAUDE.md
  docs/reference/stimulus-patterns.md
  docs/reference/testing-traps.md
  test/bali/pr_closes_keyword_test.rb
Due: rubocop

changelog: cómo resolver un issue (#1237)
  CHANGELOG.md
Due: none

test(alert,tag): la guardia de contraste mide lo pintado, en los cinco temas (#1236)
  cypress/e2e/soft-variant-contrast.cy.js
Due: standard

feat(slim_select): los textos de SlimSelect que seguían en inglés salen del i18n de Bali
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/form/slim_select/preview.rb
  app/components/bali/form/slim_select/previews/addable.html.erb
  app/components/bali/form/slim_select/previews/many_selected.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/slim-select-texts.cy.js
  docs/guides/controllers.md
  docs/guides/form-builder.md
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/components/filters/condition/component_test.rb
  test/bali/form_builder/slim_select_fields_test.rb
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: rubocop, standard

fix(workflow_steps, timeline): el texto atenuado pasa a /70 y cumple AA en los cinco temas
  CHANGELOG.md
  app/components/bali/timeline/item/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/step/component.rb
  cypress/e2e/muted-text-contrast.cy.js
  test/bali/components/timeline_test.rb
  test/bali/components/workflow_steps_test.rb
Due: rubocop, standard

fix(themes): el primario de afal pasa a blue-600 y el blanco encima llega a AA
  CHANGELOG.md
  app/assets/stylesheets/bali/themes/afal-dark.css
  app/assets/stylesheets/bali/themes/afal.css
  cypress/e2e/split-view-list.cy.js
  cypress/e2e/theme-primary-contrast.cy.js
  test/bali/themes_test.rb
Due: rubocop, standard

review(alert,tag): una sola forma de cambiar de tema, el cuerpo de la alerta y la guarda sobre todo el documento
  cypress/e2e/soft-variant-contrast.cy.js
Due: standard

feat(workflow_steps): orientation :segments, la barra para una celda de tabla
  CHANGELOG.md
  app/components/bali/workflow_steps/component.html.erb
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/segments.html.erb
  app/components/bali/workflow_steps/step/component.html.erb
  app/components/bali/workflow_steps/step/component.rb
  cypress/e2e/workflow-steps-segments.cy.js
  cypress/support/painted_contrast.js
  docs/guides/components.md
  docs/reference/afal-design-system.md
  test/bali/components/workflow_steps_test.rb
  test/requests/workflow_steps_previews_test.rb
Due: rubocop, standard

review(slim_select): las llaves de TEXT_KEYS con prueba propia, y fuera los atributos que nadie lee
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/slim-select-texts.cy.js
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop, standard

fix(hover_card): en táctil el primer tap abre la tarjeta y el segundo sigue el enlace
  CHANGELOG.md
  app/components/bali/calendar/year_grid/component.rb
  app/components/bali/hover_card/index.js
  app/components/bali/hover_card/preview.rb
  app/components/bali/hover_card/previews/link_trigger.html.erb
  cypress/e2e/calendar-year-view.cy.js
  cypress/e2e/hover-card.cy.js
  cypress/support/tap.js
  docs/guides/components.md
Due: rubocop, standard

review(workflow_steps, timeline): la guía con los números nuevos, y la prueba del tamaño sin huecos
  CHANGELOG.md
  app/components/bali/timeline/item/component.rb
  cypress/e2e/muted-text-contrast.cy.js
  docs/guides/components.md
  test/bali/components/timeline_test.rb
Due: rubocop, standard

feat(page_components): ancho y rótulo del menú ⋯ (#1230)
  app/components/bali/index_page/preview.rb
  app/components/bali/index_page/previews/with_secondary_actions.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/show_page/preview.rb
  app/components/bali/show_page/previews/with_secondary_actions.html.erb
  test/bali/components/page_components/shared_contract_test.rb
Due: rubocop

fix(dropdown): el foco no abre el menú, Enter lo abre, y el menú no sale de la pantalla (#1231)
  app/components/bali/dropdown/index.js
  app/components/bali/dropdown/preview.rb
  app/components/bali/dropdown/previews/viewport_edges.html.erb
  cypress/e2e/dropdown-controller.cy.js
  cypress/e2e/topbar-user-menu.cy.js
Due: rubocop, standard

docs(dropdown,page_components): teclado y posición del dropdown, y las opciones del ⋯ (#1230, #1231)
  CHANGELOG.md
  docs/guides/components.md
Due: none

review(themes): la guardia cubre el tinte que decidió v4, y el CHANGELOG dice qué hacer
  CHANGELOG.md
  app/assets/stylesheets/bali/themes/afal.css
  cypress/e2e/theme-primary-contrast.cy.js
  cypress/support/painted_contrast.js
  docs/reference/testing-traps.md
  test/bali/themes_test.rb
Due: rubocop, standard

review(workflow_steps): colores forzados, el texto del host junto a la barra y la receta para gobierno-corporativo
  CHANGELOG.md
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/segments.html.erb
  app/components/bali/workflow_steps/step/component.html.erb
  app/components/bali/workflow_steps/step/component.rb
  cypress/e2e/workflow-steps-segments.cy.js
  cypress/support/painted_contrast.js
  docs/guides/components.md
  test/bali/components/workflow_steps_test.rb
Due: rubocop, standard

review(hover_card): la marca la pone `pointerdown` y el Enter nunca se retiene
  CHANGELOG.md
  app/components/bali/calendar/component.rb
  app/components/bali/hover_card/index.js
  cypress/e2e/calendar-year-view.cy.js
  cypress/e2e/hover-card.cy.js
  cypress/support/tap.js
  docs/guides/components.md
Due: rubocop, standard

review(dropdown, page_components): estado del servidor, Espacio en keyup, foco fuera en popover y ancho validado
  CHANGELOG.md
  app/components/bali/data_table/toolbar_overflow_controller.js
  app/components/bali/dropdown/component.rb
  app/components/bali/dropdown/index.js
  app/components/bali/index_page/preview.rb
  app/components/bali/index_page/previews/with_secondary_actions.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/show_page/preview.rb
  app/components/bali/show_page/previews/with_secondary_actions.html.erb
  cypress/e2e/dropdown-controller.cy.js
  cypress/e2e/toolbar-overflow.cy.js
  docs/guides/accessibility.md
  docs/guides/components.md
  test/bali/components/page_components/shared_contract_test.rb
Due: rubocop, standard

review(dropdown): cerrar al conectar, Espacio en keydown, morph y Tab en popover
  .opencode/skills/stimulus-expert.md
  CHANGELOG.md
  app/components/bali/dropdown/index.js
  cypress/e2e/dropdown-controller.cy.js
  cypress/e2e/topbar-user-menu.cy.js
  docs/guides/accessibility.md
  docs/guides/components.md
  docs/reference/testing-traps.md
  test/bali/components/page_components/shared_contract_test.rb
  test/dummy/app/views/pages/z_stack.html.erb
Due: rubocop, standard

changelog: la guardia de contraste de las variantes soft mide lo que se pinta (#1236)
  CHANGELOG.md
Due: none

docs(spec): modo oscuro, temas validados e interruptor en el menú de usuario
  docs/superpowers/specs/2026-10-01-dark-themes-design.md
Due: none

feat(themes): costa-norte-dark y el interruptor de modo oscuro en el menú de usuario
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/themes/costa-norte-dark.css
  app/components/bali/dropdown/index.js
  app/components/bali/theme_sampler/costa_norte_dark/preview.rb
  app/components/bali/topbar/user_menu/component.rb
  app/components/bali/topbar/user_menu/index.css
  app/components/bali/topbar/user_menu/index.js
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  app/helpers/bali/theme_helper.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/theme-toggle.cy.js
  lib/bali.rb
  lib/bali/engine.rb
  test/bali/components/topbar_user_menu_test.rb
  test/bali/theme_helper_test.rb
  test/bali/themes_test.rb
  test/dummy/app/assets/tailwind/application.css
  test/dummy/app/views/layouts/application.html.erb
  test/dummy/app/views/layouts/lookbook_costa_norte_dark.html.erb
  test/dummy/config/initializers/bali.rb
  test/requests/theme_sampler_previews_test.rb
Due: rubocop, standard

test(cypress): una sola lista de temas para las guardias de contraste, con costa-norte-dark
  cypress/e2e/calendar-year-view.cy.js
  cypress/e2e/muted-text-contrast.cy.js
  cypress/e2e/soft-variant-contrast.cy.js
  cypress/e2e/split-view-list.cy.js
  cypress/e2e/theme-primary-contrast.cy.js
  cypress/e2e/workflow-steps-segments.cy.js
  cypress/support/themes.js
Due: standard

docs(themes): el modo oscuro en la guía, el UserMenu y el CHANGELOG
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/custom-themes.md
Due: none

fix(themes): neutral como tinta en los temas oscuros, y SlimSelect y BlockEditor siguen al tema
  CHANGELOG.md
  app/assets/stylesheets/bali/slim_select.css
  app/assets/stylesheets/bali/themes/afal-dark.css
  app/assets/stylesheets/bali/themes/costa-norte-dark.css
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/index.css
Due: none

review(themes): el interruptor lee la página, SlimSelect sin colores fijos y guardias de lo arreglado
  CHANGELOG.md
  app/assets/stylesheets/bali/slim_select.css
  app/assets/stylesheets/bali/themes/afal-dark.css
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/chart/index.js
  app/components/bali/page_components/shared.rb
  app/components/bali/theme_sampler/afal_dark/preview.rb
  app/components/bali/topbar/user_menu/component.rb
  app/components/bali/topbar/user_menu/index.css
  app/components/bali/topbar/user_menu/index.js
  app/helpers/bali/theme_helper.rb
  cypress/e2e/theme-follow-contrast.cy.js
  cypress/e2e/theme-toggle.cy.js
  docs/guides/custom-themes.md
  lib/bali.rb
  test/bali/theme_helper_test.rb
  test/bali/themes_test.rb
  test/dummy/app/views/layouts/admin.html.erb
  test/dummy/app/views/layouts/app_layout_preview.html.erb
  test/dummy/app/views/layouts/auth.html.erb
  test/dummy/app/views/layouts/marketing.html.erb
Due: rubocop, standard

fix(previews): el ThemeSampler pinta sus botones de marca
  app/components/bali/theme_sampler/afal/previews/default.html.erb
  app/components/bali/theme_sampler/previews/costa_norte.html.erb
  test/requests/theme_sampler_previews_test.rb
Due: rubocop

fix(dark): segunda ronda de revisión del modo oscuro
  CHANGELOG.md
  app/assets/stylesheets/bali/slim_select.css
  app/components/bali/chart/index.js
  app/components/bali/topbar/user_menu/index.css
  app/components/bali/topbar/user_menu/index.js
  cypress/e2e/chart.cy.js
  cypress/e2e/theme-follow-contrast.cy.js
  cypress/e2e/theme-toggle.cy.js
  docs/guides/custom-themes.md
  docs/guides/migration-v3-to-v31.md
  docs/reference/afal-design-system.md
Due: standard

test(cypress): una sola lista de temas para las guardias de contraste (#1252)
  cypress/e2e/calendar-year-view.cy.js
  cypress/e2e/muted-text-contrast.cy.js
  cypress/e2e/soft-variant-contrast.cy.js
  cypress/e2e/split-view-list.cy.js
  cypress/e2e/theme-primary-contrast.cy.js
  cypress/e2e/workflow-steps-segments.cy.js
  cypress/support/themes.js
  test/bali/themes_test.rb
Due: rubocop, standard

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
