Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

refactor(table)!: elimina la vía legacy de selección (bulk_actions:, TableController) (#741)
  CHANGELOG.md
  app/components/bali/table/bulk_action/component.rb
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/index.js
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/bulk_actions.html.erb
  app/components/bali/table/row/component.html.erb
  app/components/bali/table/row/component.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  docs/guides/components.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/controllers/table_controller.rb
  spec/dummy/config/routes.rb
  test/bali/components/table_test.rb
Due: rubocop, standard

fix(timeline): cada entrada se renderiza una sola vez y los slots pierden el prefijo tag_ (#742)
  CHANGELOG.md
  app/components/bali/timeline/component.html.erb
  app/components/bali/timeline/component.rb
  app/components/bali/timeline/header/component.html.erb
  app/components/bali/timeline/header/component.rb
  app/components/bali/timeline/index.css
  app/components/bali/timeline/item/component.html.erb
  app/components/bali/timeline/item/component.rb
  app/components/bali/timeline/preview.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/admin/dashboard/index.html.erb
  spec/dummy/app/views/admin/movies/_activity_tab.html.erb
  spec/dummy/app/views/dashboard/index.html.erb
  spec/dummy/app/views/movies/show.html.erb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  test/bali/components/timeline_test.rb
Due: rubocop

fix(form_builder): extraccion unica de opciones y sin mutar el hash del caller (#744)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/boolean_fields.rb
  lib/bali/form_builder/coordinates_polygon_fields.rb
  lib/bali/form_builder/currency_fields.rb
  lib/bali/form_builder/dynamic_fields.rb
  lib/bali/form_builder/file_fields.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/percentage_fields.rb
  lib/bali/form_builder/radio_fields.rb
  lib/bali/form_builder/range_fields.rb
  lib/bali/form_builder/recurrent_event_rule_fields.rb
  lib/bali/form_builder/rich_text_area_fields.rb
  lib/bali/form_builder/rich_text_fields.rb
  lib/bali/form_builder/search_fields.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/form_builder/shared_utils.rb
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/form_builder/step_number_fields.rb
  lib/bali/form_builder/submit_fields.rb
  lib/bali/form_builder/switch_fields.rb
  lib/bali/form_builder/text_area_fields.rb
  lib/bali/form_builder/time_period_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/options_contract_test.rb
Due: rubocop

fix(page-header): sin headings vacios, un h1 por pagina y apilado real bajo sm (#685)
  CHANGELOG.md
  app/components/bali/icon/component.rb
  app/components/bali/page_components/shared.rb
  app/components/bali/page_header/component.html.erb
  app/components/bali/page_header/component.rb
  app/components/bali/page_header/preview.rb
  app/components/bali/page_header/previews/with_title_and_subtitle_as_block.html.erb
  app/components/bali/page_header/previews/with_title_tags.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/icon_test.rb
  test/bali/components/page_components/shared_contract_test.rb
  test/bali/components/page_header_test.rb
Due: rubocop

docs(changelog): la baja del GanttChart, y por que #667 se cierra sin resolverse
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

fix(form_builder): help y error se ven juntos, desde un solo sitio, con clases daisyUI 5 vivas
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  app/components/bali/form/text/preview.rb
  app/views/view_components/_character_fields.html.erb
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/boolean_fields.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/radio_fields.rb
  lib/bali/form_builder/range_fields.rb
  lib/bali/form_builder/rich_text_area_fields.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/form_builder/step_number_fields.rb
  lib/bali/form_builder/switch_fields.rb
  lib/bali/form_builder/text_area_fields.rb
  spec/dummy/app/models/movie.rb
  spec/dummy/app/views/admin/movies/_form.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  test/bali/form_builder/boolean_fields_test.rb
  test/bali/form_builder/date_fields_test.rb
  test/bali/form_builder/email_fields_test.rb
  test/bali/form_builder/error_and_help_test.rb
  test/bali/form_builder/number_fields_test.rb
  test/bali/form_builder/options_contract_test.rb
  test/bali/form_builder/password_fields_test.rb
  test/bali/form_builder/radio_fields_test.rb
  test/bali/form_builder/rich_text_fields_test.rb
  test/bali/form_builder/search_fields_test.rb
  test/bali/form_builder/select_fields_test.rb
  test/bali/form_builder/step_number_fields_test.rb
  test/bali/form_builder/text_area_fields_test.rb
  test/bali/form_builder/text_fields_test.rb
  test/bali/form_builder/time_zone_select_fields_test.rb
  test/bali/form_builder/url_fields_test.rb
Due: rubocop, standard

feat(color)!: un solo color: para los siete componentes, y el Heatmap por fin sigue el tema
  CHANGELOG.md
  app/components/bali/chart/component.html.erb
  app/components/bali/chart/component.rb
  app/components/bali/chart/index.js
  app/components/bali/chart/preview.rb
  app/components/bali/color.rb
  app/components/bali/heatmap/component.rb
  app/components/bali/heatmap/preview.rb
  app/components/bali/heatmap/previews/color_presets.html.erb
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/previews/with_colors.html.erb
  app/components/bali/stat_card/component.html.erb
  app/components/bali/stat_card/component.rb
  app/components/bali/stat_card/preview.rb
  app/components/bali/stat_card/previews/with_status.html.erb
  app/components/bali/stat_card/previews/with_trend.html.erb
  app/components/bali/status/component.html.erb
  app/components/bali/status/component.rb
  app/components/bali/status/index.css
  app/components/bali/status/preview.rb
  app/components/bali/tag/component.rb
  app/components/bali/timeline/header/component.rb
  app/components/bali/timeline/item/component.html.erb
  app/components/bali/timeline/item/component.rb
  app/components/bali/timeline/preview.rb
  app/components/bali/utils/color_picker.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/dashboard/index.html.erb
  test/bali/components/color_test.rb
  test/bali/components/heatmap_test.rb
  test/bali/components/stat_card/component_test.rb
  test/bali/components/status_test.rb
  test/bali/components/timeline_test.rb
Due: rubocop, standard

feat(css)!: una escala de z-index para todos los overlays (--bali-z-*) (#743)
  CHANGELOG.md
  app/assets/javascripts/bali/utils/z-index.js
  app/assets/stylesheets/bali.css
  app/assets/stylesheets/bali/datepicker.css
  app/assets/stylesheets/bali/slim_select.css
  app/assets/stylesheets/bali/z_index.css
  app/components/bali/actions_dropdown/component.rb
  app/components/bali/app_layout/component.html.erb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/useFileUpload.js
  app/components/bali/command/component.html.erb
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/export/component.html.erb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/dropdown/component.rb
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/index.css
  app/components/bali/hover_card/component.rb
  app/components/bali/hover_card/index.js
  app/components/bali/image_grid/index.css
  app/components/bali/modal/component.html.erb
  app/components/bali/navbar/dropdown_item/component.rb
  app/components/bali/notification/component.rb
  app/components/bali/side_menu/bottom_group/component.html.erb
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/status/index.css
  app/components/bali/tooltip/index.js
  docs/guides/migration-v2-to-v3.md
  docs/superpowers/specs/2026-06-29-confirm-dialog-design.md
  spec/dummy/app/views/pages/z_stack.html.erb
  spec/dummy/config/routes.rb
  test/bali/components/hover_card_test.rb
Due: rubocop, standard

refactor(v3): una sola superficie para los cinco page components (#684) (#745)
  CHANGELOG.md
  app/components/bali/dashboard_page/component.html.erb
  app/components/bali/dashboard_page/component.rb
  app/components/bali/document_page/component.html.erb
  app/components/bali/document_page/component.rb
  app/components/bali/document_page/previews/default.html.erb
  app/components/bali/form_page/component.html.erb
  app/components/bali/form_page/component.rb
  app/components/bali/index_page/component.html.erb
  app/components/bali/index_page/component.rb
  app/components/bali/info_level/component.rb
  app/components/bali/level/component.rb
  app/components/bali/page_components/shared.rb
  app/components/bali/page_header/component.html.erb
  app/components/bali/page_header/component.rb
  app/components/bali/show_page/component.html.erb
  app/components/bali/show_page/component.rb
  app/components/bali/show_page/preview.rb
  app/components/bali/show_page/previews/widths.html.erb
  app/components/bali/stat_card/component.html.erb
  app/components/bali/stat_card/component.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/document_page_test.rb
  test/bali/components/info_level_test.rb
  test/bali/components/level_test.rb
  test/bali/components/page_components/shared_contract_test.rb
  test/bali/deprecator_test.rb
Due: rubocop

refactor(v3): una sola paginación — PaginationFooter en DataTable, i18n unificado y PagyAdapter (#747)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/pagination/component.html.erb
  app/components/bali/pagination/component.rb
  app/components/bali/pagination/pagy_adapter.rb
  app/components/bali/pagination/preview.rb
  app/components/bali/pagination_footer/component.html.erb
  app/components/bali/pagination_footer/component.rb
  app/components/bali/pagination_footer/preview.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/data_table_test.rb
  test/bali/components/pagination/pagy_adapter_test.rb
  test/bali/components/pagination_footer_test.rb
  test/bali/components/pagination_test.rb
Due: rubocop

chore(block-editor)!: BlockNote 0.52.1 en el dummy y el peer fijado a lo que de verdad se probo
  CHANGELOG.md
  docs/api/block-editor.md
  docs/guides/installation.md
  docs/guides/migration-v2-to-v3.md
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none

feat(tag)!: fuera los nombres de Bulma, y un Tag deja de envolver (#750)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/tag/component.rb
  app/components/bali/tag/index.css
  app/components/bali/tag/preview.rb
  app/components/bali/tag/previews/long_text.html.erb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/tag_test.rb
Due: rubocop

ci: Node 22 en test y cypress, porque BlockNote 0.52 lo exige para instalar
  .github/workflows/cypress.yml
  .github/workflows/test.yml
  CHANGELOG.md
  docs/api/block-editor.md
  docs/guides/migration-v2-to-v3.md
Due: none

feat(side-menu): el menu se opera entero con teclado y hay un solo trigger
  CHANGELOG.md
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/index.css
  app/components/bali/navbar/burger/component.rb
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/index.js
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/side_menu/item/component.rb
  app/components/bali/side_menu/list/component.html.erb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/with_trigger.html.erb
  app/components/bali/side_menu/trigger/component.rb
  app/components/bali/side_menu/trigger/index.js
  app/components/bali/topbar/component.html.erb
  app/components/bali/topbar/component.rb
  app/components/bali/topbar/preview.rb
  app/components/bali/topbar/previews/without_mobile_trigger.html.erb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/side-menu-controller.cy.js
  docs/guides/accessibility.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/app_layout_test.rb
  test/bali/components/navbar_test.rb
  test/bali/components/side_menu_test.rb
  test/bali/components/side_menu_trigger_test.rb
  test/bali/components/topbar_test.rb
Due: rubocop, standard

refactor(document-editor)!: contrato REST declarado, config compartida y deprecacion de RichTextEditor
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/RESTThreadStore.js
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/config.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  app/components/bali/block_editor/previews/two_editors.html.erb
  app/components/bali/block_editor/useComments.js
  app/components/bali/block_editor/useFileUpload.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/index.js
  app/components/bali/document_editor/preview.rb
  app/components/bali/document_page/component.rb
  app/components/bali/rich_text_editor/component.rb
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/documents/show.html.erb
  test/bali/components/block_editor_config_test.rb
  test/bali/components/block_editor_test.rb
  test/bali/components/document_editor_test.rb
  test/bali/deprecator_test.rb
Due: rubocop, standard

fix(v3): PageHeader sin headings vacíos, un h1 por página y apilado real bajo sm (#685) (#752)
  CHANGELOG.md
  app/components/bali/icon/component.rb
  app/components/bali/page_components/shared.rb
  app/components/bali/page_header/component.html.erb
  app/components/bali/page_header/component.rb
  app/components/bali/page_header/preview.rb
  app/components/bali/page_header/previews/with_title_and_subtitle_as_block.html.erb
  app/components/bali/page_header/previews/with_title_tags.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/icon_test.rb
  test/bali/components/page_components/shared_contract_test.rb
  test/bali/components/page_header_test.rb
Due: rubocop

feat(a11y)!: seis componentes que mostraban en pantalla y no en el árbol
  CHANGELOG.md
  app/components/bali/boolean_icon/component.rb
  app/components/bali/boolean_icon/preview.rb
  app/components/bali/boolean_icon/previews/all_states.html.erb
  app/components/bali/chart/component.html.erb
  app/components/bali/chart/component.rb
  app/components/bali/chart/preview.rb
  app/components/bali/chart/previews/with_data_table.html.erb
  app/components/bali/heatmap/component.html.erb
  app/components/bali/heatmap/component.rb
  app/components/bali/index_page/previews/with_nav.html.erb
  app/components/bali/kanban/card/component.rb
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/component.html.erb
  app/components/bali/kanban/component.rb
  app/components/bali/kanban/index.js
  app/components/bali/label_value/component.html.erb
  app/components/bali/label_value/component.rb
  app/components/bali/sortable_list/index.js
  app/components/bali/tabs/component.html.erb
  app/components/bali/tabs/component.rb
  app/components/bali/tabs/trigger/component.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/accessibility.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/boolean_icon_test.rb
  test/bali/components/chart_test.rb
  test/bali/components/heatmap_test.rb
  test/bali/components/kanban_test.rb
  test/bali/components/label_value_test.rb
  test/bali/components/tabs_test.rb
Due: rubocop, standard

fix(form_builder): help y error se ven juntos, desde un solo sitio, con clases daisyUI 5 vivas (#754)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  app/components/bali/form/text/preview.rb
  app/views/view_components/_character_fields.html.erb
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/boolean_fields.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/radio_fields.rb
  lib/bali/form_builder/range_fields.rb
  lib/bali/form_builder/rich_text_area_fields.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/form_builder/step_number_fields.rb
  lib/bali/form_builder/switch_fields.rb
  lib/bali/form_builder/text_area_fields.rb
  spec/dummy/app/models/movie.rb
  spec/dummy/app/views/admin/movies/_form.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  test/bali/form_builder/boolean_fields_test.rb
  test/bali/form_builder/date_fields_test.rb
  test/bali/form_builder/email_fields_test.rb
  test/bali/form_builder/error_and_help_test.rb
  test/bali/form_builder/number_fields_test.rb
  test/bali/form_builder/options_contract_test.rb
  test/bali/form_builder/password_fields_test.rb
  test/bali/form_builder/radio_fields_test.rb
  test/bali/form_builder/rich_text_fields_test.rb
  test/bali/form_builder/search_fields_test.rb
  test/bali/form_builder/select_fields_test.rb
  test/bali/form_builder/step_number_fields_test.rb
  test/bali/form_builder/text_area_fields_test.rb
  test/bali/form_builder/text_fields_test.rb
  test/bali/form_builder/time_zone_select_fields_test.rb
  test/bali/form_builder/url_fields_test.rb
Due: rubocop, standard

feat(js)!: todos los eventos publicos pasan a bali:<componente>:<evento> y muere useDispatch (#755)
  .opencode/skills/stimulus-expert.md
  CHANGELOG.md
  README.md
  app/assets/javascripts/bali/controllers/interact-controller.js
  app/assets/javascripts/bali/utils/use-dispatch.js
  app/components/bali/command/index.js
  app/components/bali/direct_upload/index.js
  app/components/bali/drawer/index.js
  app/components/bali/hover_card/index.js
  app/components/bali/modal/index.js
  app/components/bali/navbar/index.js
  app/components/bali/sortable_list/index.js
  app/frontend/bali/utils/index.js
  cypress/e2e/bali-events.cy.js
  docs/guides/components.md
  docs/guides/direct-upload-setup.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/troubleshooting.md
  docs/reference/stimulus-patterns.md
  spec/dummy/app/views/lookbook/pages/02_guides/02_javascript_integration.md.erb
  spec/dummy/app/views/lookbook/pages/03_patterns/02_stimulus_patterns.md.erb
Due: standard

feat(color)!: un solo color: para los siete componentes, y el Heatmap por fin sigue el tema (#758)
  CHANGELOG.md
  app/components/bali/chart/component.html.erb
  app/components/bali/chart/component.rb
  app/components/bali/chart/index.js
  app/components/bali/chart/preview.rb
  app/components/bali/color.rb
  app/components/bali/heatmap/component.rb
  app/components/bali/heatmap/preview.rb
  app/components/bali/heatmap/previews/color_presets.html.erb
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/previews/with_colors.html.erb
  app/components/bali/stat_card/component.html.erb
  app/components/bali/stat_card/component.rb
  app/components/bali/stat_card/preview.rb
  app/components/bali/stat_card/previews/with_status.html.erb
  app/components/bali/stat_card/previews/with_trend.html.erb
  app/components/bali/status/component.html.erb
  app/components/bali/status/component.rb
  app/components/bali/status/index.css
  app/components/bali/status/preview.rb
  app/components/bali/tag/component.rb
  app/components/bali/timeline/header/component.rb
  app/components/bali/timeline/item/component.html.erb
  app/components/bali/timeline/item/component.rb
  app/components/bali/timeline/preview.rb
  app/components/bali/utils/color_picker.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/dashboard/index.html.erb
  test/bali/components/color_test.rb
  test/bali/components/heatmap_test.rb
  test/bali/components/stat_card/component_test.rb
  test/bali/components/status_test.rb
  test/bali/components/timeline_test.rb
Due: rubocop, standard

BlockNote 0.52.1: subir el dummy y fijar el peer a la version que de verdad se probo (#759)
  .github/workflows/cypress.yml
  .github/workflows/test.yml
  CHANGELOG.md
  docs/api/block-editor.md
  docs/guides/installation.md
  docs/guides/migration-v2-to-v3.md
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none

fix(side-menu): el menu se opera entero con teclado, un solo trigger y landmarks reales (#686) (#760)
  CHANGELOG.md
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/index.css
  app/components/bali/navbar/burger/component.rb
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/index.js
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/side_menu/item/component.rb
  app/components/bali/side_menu/list/component.html.erb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/with_trigger.html.erb
  app/components/bali/side_menu/trigger/component.rb
  app/components/bali/side_menu/trigger/index.js
  app/components/bali/topbar/component.html.erb
  app/components/bali/topbar/component.rb
  app/components/bali/topbar/preview.rb
  app/components/bali/topbar/previews/without_mobile_trigger.html.erb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/side-menu-controller.cy.js
  docs/guides/accessibility.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/app_layout_test.rb
  test/bali/components/navbar_test.rb
  test/bali/components/side_menu_test.rb
  test/bali/components/side_menu_trigger_test.rb
  test/bali/components/topbar_test.rb
Due: rubocop, standard

DocumentEditor: contrato REST declarado, config compartida y deprecacion de RichTextEditor (#761)
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/RESTThreadStore.js
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/config.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  app/components/bali/block_editor/previews/two_editors.html.erb
  app/components/bali/block_editor/useComments.js
  app/components/bali/block_editor/useFileUpload.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/index.js
  app/components/bali/document_editor/preview.rb
  app/components/bali/document_page/component.rb
  app/components/bali/rich_text_editor/component.rb
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/documents/show.html.erb
  test/bali/components/block_editor_config_test.rb
  test/bali/components/block_editor_test.rb
  test/bali/components/document_editor_test.rb
  test/bali/deprecator_test.rb
Due: rubocop, standard

fix(form_builder): help: significa lo mismo en los diecinueve tipos de campo
  CHANGELOG.md
  docs/guides/form-builder.md
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/help_placement_test.rb
Due: rubocop

feat(a11y)!: seis componentes que mostraban en pantalla y no en el árbol de accesibilidad (#764)
  CHANGELOG.md
  app/components/bali/boolean_icon/component.rb
  app/components/bali/boolean_icon/preview.rb
  app/components/bali/boolean_icon/previews/all_states.html.erb
  app/components/bali/chart/component.html.erb
  app/components/bali/chart/component.rb
  app/components/bali/chart/preview.rb
  app/components/bali/chart/previews/with_data_table.html.erb
  app/components/bali/heatmap/component.html.erb
  app/components/bali/heatmap/component.rb
  app/components/bali/index_page/previews/with_nav.html.erb
  app/components/bali/kanban/card/component.rb
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/component.html.erb
  app/components/bali/kanban/component.rb
  app/components/bali/kanban/index.js
  app/components/bali/label_value/component.html.erb
  app/components/bali/label_value/component.rb
  app/components/bali/sortable_list/index.js
  app/components/bali/tabs/component.html.erb
  app/components/bali/tabs/component.rb
  app/components/bali/tabs/trigger/component.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/accessibility.md
  docs/guides/components.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/boolean_icon_test.rb
  test/bali/components/chart_test.rb
  test/bali/components/heatmap_test.rb
  test/bali/components/kanban_test.rb
  test/bali/components/label_value_test.rb
  test/bali/components/tabs_test.rb
Due: rubocop, standard

fix(form_builder): help: significa lo mismo en los diecinueve tipos de campo (#768)
  CHANGELOG.md
  docs/guides/form-builder.md
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/help_placement_test.rb
Due: rubocop

fix(calendar)!: un 500 que provoca cualquiera escribiendo basura en la query string
  CHANGELOG.md
  app/components/bali/calendar/component.html.erb
  app/components/bali/calendar/component.rb
  app/components/bali/calendar/header/component.rb
  app/components/bali/calendar/normalization.rb
  app/components/bali/calendar/preview.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/pages/showcase.html.erb
  test/bali/components/calendar_test.rb
Due: rubocop

fix: tres fallos silenciosos, en el preview de datetime, en step_number y en Cypress
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/step-number-input-controller.js
  app/components/bali/form/datetime/preview.rb
  cypress/e2e/direct-upload-controller.cy.js
  cypress/e2e/page-export-links.cy.js
  lib/bali/form_builder/step_number_fields.rb
  test/bali/form_builder/step_number_fields_test.rb
Due: rubocop, standard

fix(data_table): los links de paginacion dejan de sacar al lector de la pagina
  CHANGELOG.md
  app/components/bali/application_view_component_preview.rb
  app/components/bali/data_table/component.rb
  docs/guides/components.md
  test/bali/components/data_table_test.rb
  test/requests/canonical_previews_test.rb
Due: rubocop

feat(button)!: una sola taxonomia para todo boton, y Link pierde type:
  .claude/CLAUDE.md
  CHANGELOG.md
  app/components/bali/actions_dropdown/component.rb
  app/components/bali/app_layout/previews/login.html.erb
  app/components/bali/app_layout/previews/register.html.erb
  app/components/bali/bulk_actions/action/component.rb
  app/components/bali/button/component.rb
  app/components/bali/button/preview.rb
  app/components/bali/button_taxonomy.rb
  app/components/bali/calendar/header/component.html.erb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/delete_link/component.html.erb
  app/components/bali/delete_link/component.rb
  app/components/bali/delete_link/preview.rb
  app/components/bali/dropdown/component.rb
  app/components/bali/form_page/previews/default.html.erb
  app/components/bali/form_page/previews/with_sidebar.html.erb
  app/components/bali/hover_card/component.rb
  app/components/bali/image_grid/previews/empty_state.html.erb
  app/components/bali/link/component.rb
  app/components/bali/table/component.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/admin/studios/show.html.erb
  spec/dummy/app/views/direct_uploads/new.html.erb
  spec/dummy/app/views/direct_uploads/result.html.erb
  spec/dummy/app/views/lookbook/pages/03_patterns/01_component_patterns.md.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/app/views/sessions/new.html.erb
  spec/dummy/app/views/sessions/register.html.erb
  spec/dummy/app/views/studios/show.html.erb
  test/bali/components/button_test.rb
  test/bali/components/delete_link_test.rb
  test/bali/components/hover_card_test.rb
  test/bali/components/link_test.rb
Due: rubocop

feat(i18n): las cadenas JS de los editores dejan de estar en inglés fijo
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/TableOfContents.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/useComments.js
  app/components/bali/block_editor/useFileUpload.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/block_editor_test.rb
  test/bali/components/document_editor_test.rb
Due: rubocop, standard

docs(changelog): nombrar los issues de seguimiento del corte
  CHANGELOG.md
Due: none

fix(calendar)!: un 500 que provoca cualquiera escribiendo basura en la query string (#770)
  CHANGELOG.md
  app/components/bali/calendar/component.html.erb
  app/components/bali/calendar/component.rb
  app/components/bali/calendar/header/component.rb
  app/components/bali/calendar/normalization.rb
  app/components/bali/calendar/preview.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/pages/showcase.html.erb
  test/bali/components/calendar_test.rb
Due: rubocop

fix: tres fallos silenciosos, en el preview de datetime, en step_number y en Cypress (#771)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/step-number-input-controller.js
  app/components/bali/form/datetime/preview.rb
  cypress/e2e/direct-upload-controller.cy.js
  cypress/e2e/page-export-links.cy.js
  lib/bali/form_builder/step_number_fields.rb
  test/bali/form_builder/step_number_fields_test.rb
Due: rubocop, standard

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
