Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

test(widget): la prueba del widget degradado busca text-soft-warning
  test/requests/dashboard_widgets_test.rb
Due: rubocop

test(modal): una prueba fija lo que el ✕ flotante le quita a una Card
  app/components/bali/modal/preview.rb
  app/components/bali/modal/previews/content_card.html.erb
  cypress/e2e/modal-standalone-close.cy.js
Due: rubocop, standard

fix(recurrent-event-rule-form): la fila mensual vuelve al markup de main
  CHANGELOG.md
  app/components/bali/recurrent_event_rule_form/component.html.erb
  cypress/e2e/recurrent-event-rule-form.cy.js
Due: standard

refactor(block_editor): los menús de Mantine dejan la regla `!important` de los dropdowns
  app/components/bali/block_editor/index.css
Due: none

docs(utilities): la cabecera dice que esbuild empaqueta el CSS del BlockEditor, no Vite
  app/assets/stylesheets/bali/utilities.css
Due: none

docs(testing-traps): el fade de Mantine en Electron tras una captura y el cambio de tema perdido
  docs/reference/testing-traps.md
Due: none

docs(block_editor): el CHANGELOG da la paleta oscura de BlockNote tema por tema
  CHANGELOG.md
Due: none

fix(dummy): migrar la dummy ya no borra de schema.rb las tablas del engine
  CHANGELOG.md
  db/migrate/20260806150000_create_bali_block_editor_comments.rb
  docker/sandbox-setup.sh
  docs/reference/testing-traps.md
  test/dummy/config/database.yml
  test/dummy/db/migrate/20260825120000_create_bali_dashboard_widgets.bali.rb
  test/dummy/db/schema.rb
  test/dummy_schema_test.rb
Due: rubocop

fix(split-view): frame_options: { data: nil } renderiza el frame por omisión
  app/components/bali/split_view/component.rb
  test/bali/components/split_view_test.rb
Due: rubocop

test(command): fuera el comentario que narraba el conteo viejo de las filas de acción
  cypress/e2e/command-controller.cy.js
Due: standard

docs(changelog): con cualquier búsqueda las filas action dejan de contar, no sólo sin coincidencias
  CHANGELOG.md
Due: none

docs(changelog): la píldora neutra en dark sin la cifra que era de la rama
  CHANGELOG.md
Due: none

docs(gantt): el comentario del ancho de tabla dice que la columna se oculta entera
  app/components/bali/gantt/GanttFlow.jsx
Due: none

docs(changelog): el Navbar transparente recupera su fondo sin fundido (#1284)
  CHANGELOG.md
Due: none

fix(navbar): la barra transparente cambia texto y fondo en el mismo cuadro
  app/components/bali/navbar/index.css
  app/components/bali/navbar/index.js
  cypress/e2e/navbar-transparent.cy.js
Due: standard

refactor(modal): el preview de la Card usa su slot title
  app/components/bali/modal/previews/content_card.html.erb
Due: none

docs(modal): el CHANGELOG dice cómo devolverle el ancho a una caja junto al ✕
  CHANGELOG.md
Due: none

docs(split_view): la tercera viñeta habla de volver a la lista
  app/components/bali/split_view/index.js
Due: standard

docs(changelog): la segunda entrada de #1280 dice a quién afecta
  CHANGELOG.md
Due: none

docs(split_view): la ventana de 15 ms vale sólo para un restore desde la caché
  cypress/e2e/split-view.cy.js
Due: standard

docs(filters): ransack_params nombra también las fechas solas y la prueba del rango no repite la plantilla
  lib/bali/filter_form.rb
  test/bali/components/filters/condition/component_test.rb
Due: rubocop

docs(gantt): el 4.20:1 de la píldora neutra es sin el mapeo, no de main
  app/components/bali/gantt/ganttColors.js
Due: standard

docs(gantt): el comentario del ancho sólo remite a defaultTableW
  app/components/bali/gantt/index.css
Due: none

refactor(block_editor): se retira la regla `!important` de los popovers de Mantine
  CHANGELOG.md
  app/components/bali/block_editor/index.css
Due: none

docs(testing-traps): el título de la carrera del tema dice lo que dice el cuerpo
  docs/reference/testing-traps.md
Due: none

test(chart): se retira la prueba de los marcadores huecos de «Own Colours»
  app/components/bali/chart/preview.rb
  cypress/e2e/chart.cy.js
Due: rubocop, standard

docs(chart): el CHANGELOG no atribuye a main el marcador hueco repintado
  CHANGELOG.md
Due: none

docs(button, link): el ejemplo YARD de with_icon con clase en text-soft-error
  app/components/bali/button/component.rb
  app/components/bali/link/component.rb
Due: rubocop

test(filters): «en o antes de» incluye el día que nombra, en Ruby y en el navegador
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  cypress/e2e/filters-between.cy.js
  lib/bali/filter_form/whole_day_casting.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

fix: la regla del /70 alcanza toda .fieldset-label y la ayuda deja su clase
  app/assets/stylesheets/bali/utilities.css
  lib/bali/form_builder/html_utils.rb
Due: rubocop

test(cypress): la cascada de la regla mide un anfitrión en /80 y el rojo del error del campo
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

docs: la ayuda escrita a mano es fieldset-label sola
  docs/guides/accessibility.md
  docs/guides/migration-v2-to-v3.md
Due: none

refactor(calendar): el encabezado hereda el /70 del thead
  app/components/bali/calendar/component.html.erb
  app/components/bali/calendar/index.css
Due: none

docs(changelog): #1281 la regla del /70 alcanza la ayuda escrita a mano de identity
  CHANGELOG.md
Due: none

docs(claude): la tabla de capas nombra el bloque de @layer utilities bajo :where()
  .claude/CLAUDE.md
Due: none

docs(chart): la guía dice que los puntos toman la paleta salvo con borde propio
  app/components/bali/chart/preview.rb
  docs/guides/components.md
Due: rubocop

test(split_view): las pruebas del regreso retienen el fetch de la restauración
  cypress/e2e/split-view.cy.js
Due: standard

refactor(navbar): _finishColorTransitions, con la ortografía de los demás identificadores
  app/components/bali/navbar/index.js
Due: standard

test(chart): la prueba de barras y dona mide también el relleno de cada serie
  cypress/e2e/chart.cy.js
Due: standard

docs(split_view): el comentario de las pruebas del regreso no nombra `main`
  cypress/e2e/split-view.cy.js
Due: standard

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
