Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

test(datepicker): la banda de flatpickr en un rango, medida sobre el día siguiente
  cypress/e2e/base-surface-steps.cy.js
Due: standard

docs(accessibility): la copia de Lookbook muestra sus etiquetas GOOD y BAD
  test/dummy/app/views/lookbook/pages/02_guides/01_accessibility.md.erb
Due: none

test(cypress): el comentario de la tendencia plana dice que la subida por omisión es roja
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

fix(datepicker): un rango sigue en los días del mes siguiente
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/base-surface-steps.cy.js
Due: standard

refactor(datepicker): fuera la línea entre meses de un calendario múltiple
  app/assets/stylesheets/bali/datepicker.css
Due: none

fix(split-view): frame_options: nil renderiza el frame por omisión
  app/components/bali/split_view/component.rb
  test/bali/components/split_view_test.rb
Due: rubocop

docs(split-view): la receta de autoscroll dice que el foco se queda en la fila
  docs/guides/master-detail.md
Due: none

fix(command): con una búsqueda, el pie cuenta sólo lo que coincide
  app/components/bali/command/index.js
  cypress/e2e/command-controller.cy.js
Due: standard

fix(user-menu): nombre y correo del encabezado pasan de renglón, sin title
  app/components/bali/topbar/previews/user_menu.html.erb
  app/components/bali/topbar/user_menu/component.rb
  cypress/e2e/topbar-user-menu.cy.js
  test/bali/components/topbar_user_menu_test.rb
Due: rubocop, standard

docs(user-menu): guía y CHANGELOG con el encabezado que pasa de renglón
  CHANGELOG.md
  docs/guides/components.md
Due: none

test(datepicker): el relleno del rango en un día del mes anterior, al elegir el segundo extremo
  cypress/e2e/base-surface-steps.cy.js
Due: standard

docs(changelog): con una búsqueda, el contador de Command cuenta sólo las coincidencias
  CHANGELOG.md
Due: none

fix(table): el encabezado y el pie de toda .table a /70, también en las tablas escritas a mano
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/header/component.rb
  cypress/e2e/muted-text-contrast.cy.js
  lib/bali/form_builder/dynamic_fields.rb
Due: rubocop, standard

docs(changelog): #1281 dice que la regla de la tabla alcanza las escritas a mano
  CHANGELOG.md
Due: none

fix(user-menu): el encabezado sin contain-inline-size, que con varios renglones lo estiraba
  app/components/bali/topbar/user_menu/component.rb
  cypress/e2e/topbar-user-menu.cy.js
Due: rubocop, standard

test(datepicker): el hover del encabezado, contra el mismo elemento en reposo
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

fix(datepicker): el hover del encabezado, un anillo y no un tinte blanco
  app/assets/stylesheets/bali/datepicker.css
Due: none

docs(changelog): el hover del encabezado del Datepicker
  CHANGELOG.md
Due: none

fix(chart): el controlador resuelve cada color del tema que escribe Ruby
  app/components/bali/chart/dataset.rb
  app/components/bali/chart/index.js
  app/components/bali/chart/preview.rb
  cypress/e2e/chart.cy.js
  test/bali/chart_dataset_test.rb
  test/bali/components/chart_test.rb
Due: rubocop, standard

refactor(chart): se retiran data-chart-color-value y Bali::Color.variable_name
  app/components/bali/chart/component.rb
  app/components/bali/color.rb
  test/bali/components/color_test.rb
Due: rubocop

docs(chart): la guía y el CHANGELOG dicen que el controlador resuelve los var() del tema
  CHANGELOG.md
  docs/guides/components.md
Due: none

fix(gantt): un --color-neutral de catálogo pinta con base-content
  app/components/bali/color.rb
  app/components/bali/gantt/ganttColors.js
  cypress/e2e/gantt-table.cy.js
  test/bali/components/color_test.rb
Due: rubocop, standard

refactor(gantt): hueColor deja el text que nadie leía
  app/components/bali/gantt/ganttColors.js
Due: standard

fix(gantt): el esqueleto abre la columna de nombre al ancho de la tabla
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/index.css
  cypress/e2e/gantt-swap.cy.js
Due: standard

fix(gantt): la columna que no cabe entera se oculta en vez de asomar cortada
  app/components/bali/gantt/GanttTable.jsx
  cypress/e2e/gantt-table.cy.js
Due: standard

fix(themes): el acento de afal-dark pasa al ámbar 500, lejos del warning
  CHANGELOG.md
  app/assets/stylesheets/bali/themes/afal-dark.css
  cypress/e2e/chart.cy.js
  cypress/support/color_vision.js
Due: standard

docs(changelog): columnas enteras, esqueleto y --color-neutral en el Gantt
  CHANGELOG.md
Due: none

fix(split_view): volver atrás no pide el detalle desde la página que se deja
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

docs(changelog): volver atrás ya no duplica la entrada del historial (#1280)
  CHANGELOG.md
Due: none

test(chart): los puntos de una línea llegan resueltos, no sólo iguales al borde
  cypress/e2e/chart.cy.js
Due: standard

fix(filters): un rango «entre» incluye su último día (#1282)
  app/components/bali/filters/controllers/condition_controller.js
  cypress/e2e/filters-between-across-fields.cy.js
  cypress/e2e/filters-between.cy.js
  lib/bali/filter_form.rb
  lib/bali/filter_form/whole_day_casting.rb
  test/bali/filter_form_test.rb
  test/dummy/app/helpers/application_helper.rb
Due: rubocop, standard

fix(filters): el rango de un campo datetime elige días enteros (#1282)
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/controllers/condition_controller.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/filters-between.cy.js
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

refactor(filters): «rango» y «varios» del operador salen de Operators.for_type
  app/components/bali/filters/controllers/condition_controller.js
Due: standard

changelog(filters): un rango «entre» incluye su último día (#1282)
  CHANGELOG.md
Due: none

fix(delete_link): el rojo destructivo en text-soft-error
  app/components/bali/delete_link/component.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/delete_link_test.rb
Due: rubocop

fix: el texto y los íconos de color que quedaban sobre la página, en text-soft-<color>
  app/components/bali/block_editor/component.html.erb
  app/components/bali/direct_upload/component.html.erb
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/rich_text_editor/index.css
  app/components/bali/split_view/index.css
  app/components/bali/widget/degraded/component.rb
  app/frontend/bali/react-island.js
  cypress/e2e/react-island.cy.js
  lib/bali/form_builder/coordinates_polygon_fields.rb
Due: rubocop, standard

test(cypress): la guardia mide el resto del texto de color sobre la página
  app/components/bali/tag/component.rb
  cypress/e2e/soft-text-contrast.cy.js
Due: rubocop, standard

docs(design-system): el texto de color sobre la página en text-soft-<color>
  docs/reference/afal-design-system.md
Due: none

test(cypress): la fila del contador mide sólo el que tiene máximo
  cypress/e2e/soft-text-contrast.cy.js
Due: standard

docs(changelog): #1281 suma DeleteLink, los menús de borrar y el resto del barrido
  CHANGELOG.md
Due: none

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
