Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix(form_builder): `required:` en un slim_select no se emite, porque no puede avisar (#895) (#899)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/required_option_test.rb
Due: rubocop

docs(migration): el inventario de deprecaciones daba un falso limpio, y faltaban tres avisos (#893) (#900)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

chore(release): v3.0.0.beta.3 — 19 commits de correcciones sobre el segundo corte
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(block_editor): el preview `with_comments` abre con comentarios (#863)
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/InMemoryThreadStore.js
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  app/components/bali/block_editor/useComments.js
  cypress/e2e/block-editor-comments.cy.js
  test/bali/components/block_editor_test.rb
Due: rubocop, standard

fix(block_editor): el preview `with_comments` abre con comentarios (#863) (#901)
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/InMemoryThreadStore.js
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  app/components/bali/block_editor/useComments.js
  cypress/e2e/block-editor-comments.cy.js
  test/bali/components/block_editor_test.rb
Due: rubocop, standard

fix(form_builder): el par submit valida por ButtonTaxonomy — la última tabla privada de .btn
  docs/guides/form-builder.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/submit_fields.rb
  test/bali/form_builder/submit_buttons_test.rb
Due: rubocop

fix(icon): grid y file-signature dibujan su glifo Lucide real, y el set de sombreados queda congelado (#902)
  app/components/bali/data_table/previews/_canonical_index.html.erb
  app/components/bali/data_table/previews/with_grid_mode.html.erb
  app/components/bali/icon/lucide_mapping.rb
  app/components/bali/view_switch/preview.rb
  app/components/bali/view_switch/previews/icon_only.html.erb
  spec/dummy/app/views/admin/movies/_listing.html.erb
  test/bali/components/data_table/view_switch_control_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/icon/lucide_mapping_test.rb
  test/bali/components/view_switch_test.rb
Due: rubocop

chore(deps): techo < 0.8 a lucide-rails — un bump que suelte los alias SVG es un 500 silencioso
  CHANGELOG.md
  Gemfile.lock
  bali_view_component.gemspec
Due: none

Pre-v3.0.0: el submit entra a ButtonTaxonomy, el mapping deja de sombrear grid/file-signature, y lucide-rails gana techo (#904)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/data_table/previews/_canonical_index.html.erb
  app/components/bali/data_table/previews/with_grid_mode.html.erb
  app/components/bali/icon/lucide_mapping.rb
  app/components/bali/view_switch/preview.rb
  app/components/bali/view_switch/previews/icon_only.html.erb
  bali_view_component.gemspec
  docs/guides/form-builder.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/submit_fields.rb
  spec/dummy/app/views/admin/movies/_listing.html.erb
  test/bali/components/data_table/view_switch_control_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/icon/lucide_mapping_test.rb
  test/bali/components/view_switch_test.rb
  test/bali/form_builder/submit_buttons_test.rb
Due: rubocop

chore(deps): daisyUI 5.7.15, tailwindcss-ruby 4.3.3, csv 3.3.6, simplecov 1.0.3
  CHANGELOG.md
  Gemfile.lock
  docs/guides/migration-v2-to-v3.md
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none

chore(deps): daisyUI 5.7.15, tailwindcss-ruby 4.3.3, csv 3.3.6, simplecov 1.0.3 (#905)
  CHANGELOG.md
  Gemfile.lock
  docs/guides/migration-v2-to-v3.md
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none

chore(release): v3.0.0.beta.4 — deps al día y los tres ajustes del barrido final
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(actions_dropdown): el preview del trigger custom pintaba doble borde
  CHANGELOG.md
  app/components/bali/actions_dropdown/preview.rb
  app/components/bali/actions_dropdown/previews/with_custom_trigger.html.erb
Due: rubocop

fix(actions_dropdown): el preview del trigger custom pintaba doble borde (#906)
  CHANGELOG.md
  app/components/bali/actions_dropdown/preview.rb
  app/components/bali/actions_dropdown/previews/with_custom_trigger.html.erb
Due: rubocop

feat(command): trigger por defecto — el slot lo reemplaza y trigger: false lo quita
  CHANGELOG.md
  app/components/bali/app_layout/previews/with_navbar.html.erb
  app/components/bali/command/component.html.erb
  app/components/bali/command/component.rb
  app/components/bali/command/preview.rb
  app/components/bali/command/previews/compact.html.erb
  app/components/bali/command/previews/custom_trigger.html.erb
  app/components/bali/command/previews/default.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/app-shell-chrome.cy.js
  cypress/e2e/command-controller.cy.js
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
  spec/dummy/app/views/pages/z_stack.html.erb
  test/bali/components/command_test.rb
Due: rubocop, standard

refactor(app_layout): el escenario de referencia sidebar+cuenta es with_topbar, sobre Bali::Topbar
  CHANGELOG.md
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/with_navbar.html.erb
  app/components/bali/app_layout/previews/with_topbar.html.erb
  cypress/e2e/app-shell-chrome.cy.js
  docs/guides/components.md
Due: rubocop, standard

feat(command): trigger por defecto — el slot lo reemplaza y trigger: false lo quita (#907)
  CHANGELOG.md
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/with_navbar.html.erb
  app/components/bali/app_layout/previews/with_topbar.html.erb
  app/components/bali/command/component.html.erb
  app/components/bali/command/component.rb
  app/components/bali/command/preview.rb
  app/components/bali/command/previews/compact.html.erb
  app/components/bali/command/previews/custom_trigger.html.erb
  app/components/bali/command/previews/default.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/app-shell-chrome.cy.js
  cypress/e2e/command-controller.cy.js
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
  spec/dummy/app/views/pages/z_stack.html.erb
  test/bali/components/command_test.rb
Due: rubocop, standard

fix(pagination): el summary decía "de 1 items" — item_name ahora pluraliza
  app/components/bali/data_table/component.rb
  app/components/bali/pagination/pagy_adapter.rb
  app/components/bali/pagination_footer/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/data_table_test.rb
  test/bali/components/pagination/pagy_adapter_test.rb
  test/bali/components/pagination_footer_test.rb
Due: rubocop

fix(form_builder): el placeholder de slim_select por fin habla el idioma del host
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

fix(pagination): el summary decía "de 1 items" — item_name ahora pluraliza (#909)
  app/components/bali/data_table/component.rb
  app/components/bali/pagination/pagy_adapter.rb
  app/components/bali/pagination_footer/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/data_table_test.rb
  test/bali/components/pagination/pagy_adapter_test.rb
  test/bali/components/pagination_footer_test.rb
Due: rubocop

fix(form_builder): el placeholder de slim_select por fin habla el idioma del host (#910)
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

chore(release): v3.0.0.beta.5 — Command con trigger propio, escenario Topbar, y dos fixes de i18n
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(simple-filters): "Limpiar" no limpiaba nada con la persistencia encendida
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  test/bali/components/data_table/filter_persistence_test.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

fix(simple-filters): "Limpiar" no limpiaba nada con la persistencia encendida (#911)
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  test/bali/components/data_table/filter_persistence_test.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

chore(release): v3.0.0.beta.6 — el link "Limpiar" de los filtros simples por fin limpia
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

chore(ci): los checks corren en la línea 3.1 — la 3.0 se retira con el merge a main
  .github/workflows/changelog.yml
  .github/workflows/cypress.yml
  .github/workflows/rubocop.yml
  .github/workflows/security.yml
  .github/workflows/standardjs.yml
  .github/workflows/test.yml
Due: none

chore(release): v3.0.0 — la línea v3 es estable
  CHANGELOG.md
  Gemfile.lock
  docs/guides/release-channels.md
  lib/bali/version.rb
  package.json
Due: rubocop

docs(block-editor): documenta el loop de render de BlockNote <= 0.52.1 (#908)
  CHANGELOG.md
  docs/api/block-editor.md
Due: none

docs(t3): esqueleto de la guía de migración v3.0 → v3.1
  CHANGELOG.md
  docs/guides/migration-v3-to-v31.md
Due: none

chore(deps): daisyUI 5.7.16 en el dummy
  CHANGELOG.md
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none

docs(controllers): catálogo de los 24 controllers Stimulus sueltos (#717)
  CHANGELOG.md
  docs/guides/controllers.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v2-to-v3.md
  scripts/check-controller-manifest.mjs
  spec/dummy/app/views/lookbook/pages/02_guides/02_javascript_integration.md.erb
  spec/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: none

chore(controllers): borra los 15 TODOs de tests stale y corrige dos headers (#717)
  app/assets/javascripts/bali/controllers/auto-play-audio-controller.js
  app/assets/javascripts/bali/controllers/autocomplete-address-controller.js
  app/assets/javascripts/bali/controllers/checkbox-toggle-controller.js
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  app/assets/javascripts/bali/controllers/dynamic-fields-controller.js
  app/assets/javascripts/bali/controllers/elements-overlap-controller.js
  app/assets/javascripts/bali/controllers/file-input-controller.js
  app/assets/javascripts/bali/controllers/focus-on-connect-controller.js
  app/assets/javascripts/bali/controllers/input-on-change-controller.js
  app/assets/javascripts/bali/controllers/print-controller.js
  app/assets/javascripts/bali/controllers/radio-buttons-group-controller.js
  app/assets/javascripts/bali/controllers/radio-toggle-controller.js
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/javascripts/bali/controllers/submit-button-controller.js
  app/assets/javascripts/bali/controllers/trix-attachments-controller.js
Due: standard

feat(engine): Bali.engine_controller_concerns — el host inyecta concerns a los controllers del engine
  CHANGELOG.md
  README.md
  docs/guides/engines.md
  lib/bali.rb
  lib/bali/engine.rb
  test/requests/engine_controller_concerns_test.rb
Due: rubocop

feat(block_note): libs puras Bali::BlockNote::Text/Diff/Chunker + dep diff-lcs
  CHANGELOG.md
  Gemfile.lock
  app/lib/bali/block_note/chunker.rb
  app/lib/bali/block_note/diff.rb
  app/lib/bali/block_note/text.rb
  bali_view_component.gemspec
  test/bali/block_note/chunker_test.rb
  test/bali/block_note/diff_test.rb
  test/bali/block_note/text_test.rb
Due: rubocop

feat(avatar): name:/initials: con color determinístico (#712)
  CHANGELOG.md
  app/components/bali/avatar/component.html.erb
  app/components/bali/avatar/component.rb
  app/components/bali/avatar/preview.rb
  app/components/bali/avatar/previews/deterministic_colors.html.erb
  app/components/bali/utils/color_calculator.rb
  docs/guides/components.md
  test/bali/components/avatar_test.rb
  test/bali/utils_test.rb
Due: rubocop

feat(description_list): grid responsive de pares label/valor (#727)
  CHANGELOG.md
  app/components/bali/description_list/component.html.erb
  app/components/bali/description_list/component.rb
  app/components/bali/description_list/item/component.html.erb
  app/components/bali/description_list/item/component.rb
  app/components/bali/description_list/preview.rb
  app/components/bali/description_list/previews/with_rich_values.html.erb
  app/components/bali/label_value/component.rb
  docs/guides/components.md
  test/bali/components/description_list_test.rb
Due: rubocop

feat(tabs): count: por tab, turbo_action y options al <a> en modo nav
  app/components/bali/tabs/component.html.erb
  app/components/bali/tabs/preview.rb
  app/components/bali/tabs/tab/component.rb
  app/components/bali/tabs/trigger/component.html.erb
  app/components/bali/tabs/trigger/component.rb
  test/bali/components/tabs_test.rb
Due: rubocop

test(dynamic-fields): spec Cypress que congela el contrato del controller (#715 PR1)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/dynamic-fields-controller.js
  app/components/bali/form/dynamic_fields/preview.rb
  app/components/bali/form/dynamic_fields/previews/remove_duplicates.html.erb
  app/components/bali/form/dynamic_fields/previews/sortable.html.erb
  cypress/e2e/dynamic-fields-controller.cy.js
Due: rubocop, standard

docs(tabs): patrón de scopes, guía de migración v3→v3.1 y CHANGELOG
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/migration-v3-to-v31.md
Due: none

refactor(filters): PreservedParams y Persistable compartidos; el form simple re-emite el query de su url
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/filters/component.rb
  app/components/bali/filters/persistable.rb
  app/components/bali/filters/preserved_params.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
