Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

test(kanban): la prueba del toque va en su propia spec
  cypress/e2e/kanban-surfaces.cy.js
  cypress/e2e/kanban-touch.cy.js
Due: standard

test(kanban): cada umbral de contraste dice qué deja fuera
  cypress/e2e/kanban-surfaces.cy.js
Due: standard

test(block_editor): la cabecera de la spec de los marcos, en presente
  cypress/e2e/block-editor-popover-frames.cy.js
Due: standard

release: v3.7.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

fix(filters): «en» con una fecha sola trae el día entero sobre una columna de fecha y hora
  CHANGELOG.md
  lib/bali/filter_form/whole_day_casting.rb
  test/bali/filter_form_test.rb
Due: rubocop

fix(datepicker): el año del encabezado ya no se corta
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/datepicker-header.cy.js
Due: standard

refactor(datepicker): fuera las reglas de weekNumbers, weekSelect e inline
  app/assets/stylesheets/bali/datepicker.css
Due: none

fix(chart): circulares sin ejes x/y y la leyenda sobrevive al cambio de tema
  CHANGELOG.md
  app/components/bali/chart/component.rb
  app/components/bali/chart/index.js
  cypress/e2e/chart.cy.js
  test/bali/components/chart_test.rb
Due: rubocop, standard

fix(filters): el multi-select dice aria-expanded y su traducción con apóstrofo llega entera
  CHANGELOG.md
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/controllers/multi_select_controller.js
  cypress/e2e/filters-built-multi-select.cy.js
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

fix(previews): nombres completos para las clases propias del preview
  CHANGELOG.md
  app/components/bali/data_table/preview.rb
  app/components/bali/widget/preview.rb
  docs/reference/component-patterns.md
  test/requests/icon_previews_test.rb
Due: rubocop

docs(guías): comentarios ERB escapados en los ejemplos y un título duplicado
  CHANGELOG.md
  test/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
  test/dummy/app/views/lookbook/pages/03_patterns/01_component_patterns.md.erb
  test/guide_pages_test.rb
Due: rubocop

fix(gantt): el tablero no desborda la página junto al cajón «sin fechas»
  app/components/bali/gantt/component.html.erb
  app/components/bali/gantt/component.rb
  cypress/e2e/gantt-undated-drawer.cy.js
Due: rubocop, standard

fix(gantt): React Flow monta sobre un panel con alto y ancho (#004)
  app/components/bali/gantt/GanttFlow.jsx
  cypress/e2e/gantt-island.cy.js
Due: standard

fix(gantt): el caret de fila y los íconos de zoom salen del árbol de accesibilidad
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttTable.jsx
  cypress/e2e/gantt-island.cy.js
Due: standard

fix(gantt): la etiqueta «Color» baja de línea con su selector
  app/components/bali/gantt/Toolbar.jsx
  cypress/e2e/gantt-island.cy.js
Due: standard

docs(changelog): arreglos del Gantt (#1303)
  CHANGELOG.md
Due: none

test(cypress): dejar pasar sólo el aviso de bucle de ResizeObserver
  cypress/support/e2e.js
Due: standard

fix(dummy): el FeedbackWidget de admin habla con la propia dummy
  CHANGELOG.md
  test/dummy/app/controllers/pages_controller.rb
  test/dummy/app/views/layouts/admin.html.erb
  test/dummy/config/routes.rb
  test/requests/dummy_pages_smoke_test.rb
  test/requests/feedback_widget_stand_in_test.rb
Due: rubocop

fix(DocumentEditor): un guardado que falla muestra «Save failed»
  CHANGELOG.md
  app/components/bali/document_editor/index.js
  cypress/e2e/document-editor.cy.js
Due: standard

fix(recurrent-event-rule-form): los selects ya no cortan su texto
  CHANGELOG.md
  app/components/bali/recurrent_event_rule_form/component.html.erb
  cypress/e2e/recurrent-event-rule-form.cy.js
Due: standard

fix(footer): el footer centrado apila sus secciones en un celular
  CHANGELOG.md
  app/components/bali/footer/component.html.erb
Due: none

fix(datepicker): un día de otro mes con foco muestra su relleno
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

docs(card): los previews caben en un celular
  CHANGELOG.md
  app/components/bali/card/preview.rb
  app/components/bali/card/previews/custom_image.html.erb
  app/components/bali/card/previews/header_complete.html.erb
  app/components/bali/card/previews/header_with_badge.html.erb
Due: rubocop

fix(BlockEditor): el texto de las citas pasa AA en los seis temas
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

fix(Drawer): el cerrado sale del orden de Tab y no se mete en otro abierto
  CHANGELOG.md
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.css
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/nested.html.erb
  cypress/e2e/drawer-closed-panel.cy.js
Due: rubocop, standard

refactor(filters): el widget de valor lee la marca de Operators.for_type en Ruby como en JS
  CHANGELOG.md
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/controllers/condition_controller.js
  cypress/e2e/filters-condition-controller.cy.js
Due: rubocop, standard

fix(Modal, Drawer): el panel abierto desde el servidor pone el foco en su primer control
  CHANGELOG.md
  app/components/bali/modal/index.js
  cypress/e2e/modal-controller.cy.js
Due: standard

deprecate(form): el campo de polígono sobre un mapa
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/drawing-maps-controller.js
  app/components/bali/form/coordinates_polygon/preview.rb
  app/components/bali/form/coordinates_polygon/previews/default.html.erb
  cypress/e2e/soft-text-contrast.cy.js
  docs/guides/controllers.md
  docs/guides/external-services.md
  docs/guides/form-builder.md
  lib/bali/form_builder/coordinates_polygon_fields.rb
  test/bali/form_builder/accessible_name_contract_test.rb
  test/bali/form_builder/control_class_option_test.rb
  test/bali/form_builder/coordinates_polygon_fields_test.rb
  test/bali/form_builder/external_error_option_test.rb
  test/bali/form_builder/input_class_option_test.rb
  test/bali/form_builder/input_name_option_test.rb
  test/bali/form_builder/mistaken_options_test.rb
  test/bali/form_builder/options_contract_test.rb
  test/bali/form_builder/required_option_test.rb
  test/bali/form_builder/size_option_test.rb
  test/bali/google_maps_key_test.rb
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: rubocop, standard

fix(datepicker): el foco del encabezado, el mismo anillo que su hover
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

fix(Clipboard): retira el text-success que nunca se pintaba
  CHANGELOG.md
  app/components/bali/clipboard/success_content/component.rb
  test/bali/components/clipboard_test.rb
Due: rubocop

fix(datepicker): las flechas del año, enteras en reposo
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

fix(calendar): la cabecera cabe en un celular
  CHANGELOG.md
  app/components/bali/calendar/header/component.html.erb
  cypress/e2e/calendar-header.cy.js
Due: standard

refactor(css): fuera las variables de daisyUI 4 que ya no resolvían
  app/assets/stylesheets/bali/box.css
  app/components/bali/rich_text_editor/index.css
  test/bali/daisyui_v4_tokens_css_test.rb
Due: rubocop

docs(changelog): arreglos del Datepicker y variables de daisyUI 4 (#1303)
  CHANGELOG.md
Due: none

fix(BlockEditor, DocumentEditor): el editor cabe a 390 px
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  app/components/bali/document_editor/component.html.erb
  cypress/e2e/block-editor-editing.cy.js
  cypress/e2e/document-editor.cy.js
Due: standard

test(cypress): el aviso de bucle de ResizeObserver pasa sólo al abrir los menús del Gantt
  cypress/e2e/base-surface-steps.cy.js
  cypress/support/e2e.js
Due: standard

fix(gantt): el splitter arranca del ancho pintado de la tabla
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/Toolbar.jsx
  app/components/bali/gantt/component.html.erb
  cypress/e2e/gantt-island.cy.js
Due: standard

refactor(chart): el cambio de tema repinta la misma instancia
  CHANGELOG.md
  app/components/bali/chart/component.rb
  app/components/bali/chart/index.js
  cypress/e2e/chart.cy.js
  test/bali/components/chart_test.rb
Due: rubocop, standard

fix(navbar): con transparency: true la barra sale transparente del servidor
  CHANGELOG.md
  app/components/bali/navbar/component.rb
  app/components/bali/navbar/index.js
  test/bali/components/navbar_test.rb
Due: rubocop, standard

fix(dropdown): el ítem con foco de teclado lleva anillo
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/dropdown/daisyui-overrides.css
  cypress/e2e/topbar-user-menu.cy.js
Due: standard

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
