Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

refactor(filters): el divider AND/OR del combinator pasa a un subcomponente
  CHANGELOG.md
  app/components/bali/filters/combinator_divider/component.html.erb
  app/components/bali/filters/combinator_divider/component.rb
  app/components/bali/filters/component.html.erb
Due: rubocop

feat(react-island): módulo base de islas React (#703)
  app/frontend/bali/react-island.js
  package.json
Due: standard

feat(react-island): helper react_island_meta_tags expuesto al host (#703)
  app/helpers/bali/block_editor_helper.rb
  app/helpers/bali/react_island_helper.rb
  lib/bali/engine.rb
  test/bali/react_island_helper_test.rb
Due: rubocop

feat(react-island): isla de juguete, previews Lookbook y specs (#703)
  app/components/bali/react_island/preview.rb
  app/components/bali/react_island/previews/default.html.erb
  app/components/bali/react_island/previews/load_error.html.erb
  app/components/bali/react_island/previews/two_islands.html.erb
  cypress/e2e/react-island.cy.js
  spec/dummy/app/javascript/application.js
  spec/dummy/app/javascript/controllers/react_island_demo_controller.js
  spec/dummy/app/javascript/island-demo.js
  spec/dummy/app/javascript/islands/CounterIsland.jsx
  spec/dummy/esbuild.config.mjs
  test/requests/react_island_previews_test.rb
Due: rubocop, standard

docs(react-island): guía de islas y entrada de changelog (#703)
  CHANGELOG.md
  docs/api/react-island.md
Due: none

feat(gantt): contrato de datos, escala temporal y colores (#704)
  app/components/bali/gantt/colors.rb
  app/components/bali/gantt/data.rb
  app/components/bali/gantt/time_scale.rb
  test/bali/components/gantt/colors_test.rb
  test/bali/components/gantt/data_test.rb
  test/bali/components/gantt/serializer_contract_test.rb
  test/bali/components/gantt/time_scale_test.rb
  test/fixtures/gantt/td_flow_gantt_serializer.json
Due: rubocop

feat(gantt): componente modo :static server-rendered (#704)
  app/assets/stylesheets/bali/components.css
  app/components/bali/gantt/component.html.erb
  app/components/bali/gantt/component.rb
  app/components/bali/gantt/index.css
  app/components/bali/gantt/preview.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/gantt/component_test.rb
Due: rubocop

feat(dummy): timeline Gantt en admin/projects con datos de seed (#704)
  spec/dummy/app/controllers/admin/projects_controller.rb
  spec/dummy/app/models/project_gantt.rb
  spec/dummy/app/views/admin/projects/index.html.erb
  spec/dummy/app/views/admin/projects/show.html.erb
  spec/dummy/db/migrate/20260805000001_add_schedule_to_tasks.rb
  spec/dummy/db/schema.rb
  spec/dummy/db/seeds.rb
Due: rubocop

docs(changelog): Bali::Gantt fase 1 bajo Unreleased (#704)
  CHANGELOG.md
Due: none

chore(changelog): ordenar [Unreleased] tras el tren de merges de las olas 1-2
  CHANGELOG.md
Due: none

chore(release): v3.1.0.beta.1 — olas 1-2 del programa 3.1 completas
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

chore(changelog): la entrada del Gantt fase 1 va bajo [Unreleased], no en beta.1
  CHANGELOG.md
Due: none

docs(filters): guía del patrón ransacker para filtros sobre atributos derivados
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/derived-filters.md
Due: none

feat(timeline): compact:, state:, timestamp: y caja clickeable (#714)
  app/components/bali/timeline/component.rb
  app/components/bali/timeline/item/component.html.erb
  app/components/bali/timeline/item/component.rb
  app/components/bali/timeline/preview.rb
  test/bali/components/timeline_test.rb
Due: rubocop

docs(timeline): preset tracking en la guia y entrada de CHANGELOG (#714)
  CHANGELOG.md
  docs/guides/components.md
Due: none

feat(workflow-steps): pasos de un flujo con veredicto por paso (#716)
  app/assets/stylesheets/bali/components.css
  app/components/bali/workflow_steps/component.html.erb
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/default.html.erb
  app/components/bali/workflow_steps/previews/provisional_route.html.erb
  app/components/bali/workflow_steps/step/component.html.erb
  app/components/bali/workflow_steps/step/component.rb
  test/bali/components/workflow_steps_test.rb
Due: rubocop

feat(view-switch): icono opcional y mode: :selector con aria-current="true" (#729)
  app/components/bali/view_switch/component.rb
  app/components/bali/view_switch/preview.rb
  app/components/bali/view_switch/view/component.html.erb
  app/components/bali/view_switch/view/component.rb
  test/bali/components/view_switch_test.rb
Due: rubocop

docs(workflow-steps): entrada en el catálogo y CHANGELOG (#716)
  CHANGELOG.md
  docs/guides/components.md
Due: none

feat(card): href: vuelve la raíz un <a>; StatCard y DashboardPage lo propagan (#729)
  app/components/bali/card/component.html.erb
  app/components/bali/card/component.rb
  app/components/bali/card/preview.rb
  app/components/bali/dashboard_page/component.html.erb
  app/components/bali/dashboard_page/component.rb
  app/components/bali/dashboard_page/previews/default.html.erb
  app/components/bali/stat_card/component.rb
  app/components/bali/stat_card/preview.rb
  test/bali/components/card_test.rb
  test/bali/components/dashboard_page_test.rb
  test/bali/components/stat_card/component_test.rb
Due: rubocop

docs(729): guía de componentes, sección de migración y CHANGELOG
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/migration-v3-to-v31.md
Due: none

feat(tag): acepta icon: — keyword al tamaño del pill y slot con opciones
  app/components/bali/tag/component.html.erb
  app/components/bali/tag/component.rb
Due: rubocop

feat(tag,status): azúcar de enum .for y paleta pública Status.palette
  app/components/bali/status.rb
  app/components/bali/tag.rb
Due: rubocop

test(tag,status): cobertura de icon:, del azúcar .for y de la paleta
  test/bali/components/status_test.rb
  test/bali/components/tag_test.rb
Due: rubocop

feat(previews): variantes with_icon y enum_map en Tag y Status
  app/components/bali/status/preview.rb
  app/components/bali/status/previews/enum_map.html.erb
  app/components/bali/tag/preview.rb
  app/components/bali/tag/previews/enum_map.html.erb
Due: rubocop

docs(711): guía enum-badges, catálogo y CHANGELOG
  CHANGELOG.md
  README.md
  docs/guides/components.md
  docs/guides/enum-badges.md
Due: none

feat(themes): publica el tema afal canónico y el borrador afal-dark en la gema
  app/assets/stylesheets/bali/themes/afal-dark.css
  app/assets/stylesheets/bali/themes/afal.css
Due: none

feat(lookbook): previews del ThemeSampler para afal y afal-dark
  app/components/bali/theme_sampler/afal/preview.rb
  app/components/bali/theme_sampler/afal/previews/default.html.erb
  app/components/bali/theme_sampler/afal_dark/preview.rb
  spec/dummy/app/assets/tailwind/application.css
  spec/dummy/app/views/layouts/lookbook_afal.html.erb
  spec/dummy/app/views/layouts/lookbook_afal_dark.html.erb
Due: rubocop

test(themes): set completo de variables por tema y previews del ThemeSampler
  test/bali/themes_test.rb
  test/requests/theme_sampler_previews_test.rb
Due: rubocop

feat(form_builder): error: explícito por campo y fundación de size: (#723)
  lib/bali/form_builder/boolean_fields.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/radio_fields.rb
  lib/bali/form_builder/range_fields.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/form_builder/switch_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/external_error_option_test.rb
  test/bali/form_builder/options_contract_test.rb
  test/bali/form_builder/size_option_test.rb
Due: rubocop

docs(themes): adopción del tema afal, gotchas de afal-dark y fix del glob @source
  CHANGELOG.md
  docs/guides/custom-themes.md
  docs/guides/installation.md
  docs/guides/migration-v3-to-v31.md
Due: none

docs(form_builder): previews y guía de error: y size:, changelog (#723)
  CHANGELOG.md
  app/components/bali/form/text/preview.rb
  app/components/bali/form/text/previews/sizes.html.erb
  app/components/bali/form/text/previews/with_external_error.html.erb
  docs/guides/form-builder.md
Due: rubocop

feat(kanban): layout board-level — :flow/height:, scroll por columna y drop en columna vacía
  app/assets/stylesheets/bali/components.css
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/component.html.erb
  app/components/bali/kanban/component.rb
  app/components/bali/kanban/index.css
  app/components/bali/kanban/preview.rb
  app/components/bali/kanban/previews/scrollable_board.html.erb
  test/bali/components/kanban_test.rb
Due: rubocop

fix(icon): el mapping deja de sombrear trash, cog, expand, indent y outdent
  app/components/bali/icon/component.rb
  app/components/bali/icon/lucide_mapping.rb
  test/bali/components/icon/lucide_mapping_test.rb
Due: rubocop

chore(icon): los call sites internos conservan su dibujo de siempre
  app/components/bali/actions_dropdown/previews/default.html.erb
  app/components/bali/actions_dropdown/previews/popover.html.erb
  app/components/bali/actions_dropdown/previews/with_custom_icon.html.erb
  app/components/bali/actions_dropdown/previews/with_custom_trigger.html.erb
  app/components/bali/card/preview.rb
  app/components/bali/data_table/previews/with_grid_mode.html.erb
  app/components/bali/delete_link/component.rb
  app/components/bali/dropdown/previews/popover.html.erb
  app/components/bali/image_field/previews/with_custom_clear_button.html.erb
  app/components/bali/list/preview.rb
  docs/guides/components.md
  spec/dummy/app/views/admin/movies/_characters_list.html.erb
  spec/dummy/app/views/admin/movies/_listing.html.erb
  spec/dummy/app/views/admin/studios/_listing.html.erb
  spec/dummy/app/views/movies/_characters_list.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
Due: rubocop

docs(migration): tabla antes/después de los 5 iconos des-sombreados
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/migration-v3-to-v31.md
Due: none

test(kanban): spec de Cypress del tablero — scroll, afordancia :has() y PATCH 1-based
  cypress/e2e/kanban-board.cy.js
Due: standard

docs(kanban): API board-level en components.md + guía del PATCH de drop, y CHANGELOG
  CHANGELOG.md
  docs/guides/components.md
Due: none

feat(topbar): Bali::Topbar::UserMenu — el dropdown de usuario prefabricado (#713)
  app/components/bali/topbar/user_menu/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/topbar_user_menu_test.rb
Due: rubocop

feat(topbar): Bali::Topbar::IconAction — el botón de icono con badge Turbo-actualizable (#713)
  app/components/bali/topbar/icon_action/component.rb
  test/bali/components/topbar_icon_action_test.rb
Due: rubocop

feat(topbar): previews de UserMenu/IconAction, adopción en el dummy y spec de Cypress (#713)
  app/components/bali/app_layout/previews/with_topbar.html.erb
  app/components/bali/topbar/preview.rb
  app/components/bali/topbar/previews/default.html.erb
  app/components/bali/topbar/previews/icon_actions.html.erb
  app/components/bali/topbar/previews/user_menu.html.erb
  cypress/e2e/topbar-user-menu.cy.js
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
Due: rubocop, standard

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
