Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

docs(changelog): note error-class fixes, chrome variable, icon sizes, locale keys
  CHANGELOG.md
Due: none

fix(form_builder): resolve labels via human_attribute_name
  CHANGELOG.md
  lib/bali/form_builder/html_utils.rb
  test/bali/form_builder/html_utils_test.rb
Due: rubocop

feat(app_layout): auto-render mobile sidebar trigger when fixed_sidebar
  CHANGELOG.md
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/default.html.erb
  test/bali/components/app_layout_test.rb
Due: rubocop

fix(app_layout): use dedicated Lookbook layout for previews
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/content_only.html.erb
  app/components/bali/app_layout/previews/default.html.erb
  app/components/bali/app_layout/previews/login.html.erb
  app/components/bali/app_layout/previews/navbar_only.html.erb
  app/components/bali/app_layout/previews/register.html.erb
  app/components/bali/app_layout/previews/with_navbar.html.erb
  spec/dummy/app/views/layouts/app_layout_preview.html.erb
Due: rubocop

fix(breadcrumb): override padding-block in unlayered component CSS
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/breadcrumb/component.rb
  app/components/bali/breadcrumb/index.css
Due: rubocop

fix(slim_select): expose content_width + fix option padding (#548)
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/stylesheets/bali/slim_select.css
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/form/slim_select/preview.rb
  app/components/bali/form/slim_select/previews/wide_content.html.erb
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop, standard

docs(changelog): note slim_select content_width + padding fixes (#548)
  CHANGELOG.md
Due: none

fix(slim_select): scope inline addable/no-results prompt styling
  app/assets/stylesheets/bali/slim_select.css
Due: none

docs(changelog): note slim_select inline prompt fix in #548 entry
  CHANGELOG.md
Due: none

fix(slim_select): expose content_width + fix option padding (#548) (#549)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/stylesheets/bali/slim_select.css
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/form/slim_select/preview.rb
  app/components/bali/form/slim_select/previews/wide_content.html.erb
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop, standard

feat(image_grid): add expandable lightbox option
  app/assets/stylesheets/bali/components.css
  app/components/bali/image_grid/component.rb
  app/components/bali/image_grid/image/component.html.erb
  app/components/bali/image_grid/image/component.rb
  app/components/bali/image_grid/image/footer_component.rb
  app/components/bali/image_grid/index.css
  app/components/bali/image_grid/index.js
  app/components/bali/image_grid/preview.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  test/bali/components/image_grid_test.rb
Due: rubocop, standard

docs: add CHANGELOG entry for image_grid expandable
  CHANGELOG.md
Due: none

feat(image_grid): add expandable lightbox option (#550)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/image_grid/component.rb
  app/components/bali/image_grid/image/component.html.erb
  app/components/bali/image_grid/image/component.rb
  app/components/bali/image_grid/image/footer_component.rb
  app/components/bali/image_grid/index.css
  app/components/bali/image_grid/index.js
  app/components/bali/image_grid/preview.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  test/bali/components/image_grid_test.rb
Due: rubocop, standard

chore(deps): bump dependencies and release v2.9.0
  .github/workflows/test.yml
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
  yarn.lock
Due: rubocop

chore(deps): bump dependencies and release v2.9.0 (#552)
  .github/workflows/test.yml
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
  yarn.lock
Due: rubocop

fix(simple_filters): preserve slim_select value after submission
  app/components/bali/data_table/simple_filters/component.html.erb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

chore: bump to v2.9.1
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(simple_filters): preserve slim_select value after submission (#553)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/data_table/simple_filters/component.html.erb
  lib/bali/version.rb
  package.json
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

style: add vertical padding to side menu header and include build script in package.json
  app/components/bali/side_menu/component.html.erb
  package.json
Due: none

fix(side_menu): expose subitems via hover flyout when collapsed
  app/components/bali/side_menu/flyout/index.js
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/side_menu/item/component.rb
  app/components/bali/side_menu/previews/collapsible.html.erb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  test/bali/components/side_menu_test.rb
Due: rubocop, standard

fix(side_menu): preserve grid layout on accordion in mobile override
  app/components/bali/side_menu/index.css
Due: none

fix(side_menu): pin flyout panel to sidebar edge with !important
  app/components/bali/side_menu/flyout/index.js
Due: standard

fix(side_menu): bridge gap between trigger and flyout panel
  app/components/bali/side_menu/index.css
Due: none

docs(changelog): document side-menu flyout + mobile accordion fixes
  CHANGELOG.md
Due: none

test(side_menu): cypress coverage for expandable groups on mobile
  cypress/e2e/side-menu-controller.cy.js
Due: standard

chore(deps): bump addressable, nokogiri, rack-session, yard to patch advisories
  Gemfile.lock
Due: none

fix(side_menu): expose subitems via flyout when collapsed; fix mobile accordion (#554)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/flyout/index.js
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/side_menu/item/component.rb
  app/components/bali/side_menu/previews/collapsible.html.erb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  cypress/e2e/side-menu-controller.cy.js
  package.json
  test/bali/components/side_menu_test.rb
Due: rubocop, standard

chore(deps): patch net-imap and view_component security advisories
  Gemfile.lock
Due: none

Fix StepNumberInput disconnect() error on missing target (#504)
  CHANGELOG.md
  Gemfile.lock
  app/assets/javascripts/bali/controllers/step-number-input-controller.js
Due: standard

feat(SimpleFilters): render filter label as visible caption
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

chore(deps): bump gems flagged by bundler-audit
  Gemfile.lock
Due: none

feat(SimpleFilters): render filter label as visible caption (#563)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/data_table/simple_filters/component.html.erb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

fix(SimpleFilters): opt out of password-manager autofill on search input
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/data_table/simple_filters/component.html.erb
  lib/bali/version.rb
  package.json
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

fix(SimpleFilters): opt out of password-manager autofill on search input (#568)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/data_table/simple_filters/component.html.erb
  lib/bali/version.rb
  package.json
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

feat(filters): searchable single-select + wider field selector (v2.9.3)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/controllers/condition_controller.js
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  lib/bali/version.rb
  package.json
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

fix(filters): widen operator selector + bump concurrent-ruby/nokogiri (scan)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/filters/condition/component.html.erb
Due: none

docs(filters): preview demonstrating the searchable select (many options)
  app/components/bali/filters/preview.rb
Due: rubocop

fix(filters): match SlimSelect height + keep field/operator compact with ellipsis
  CHANGELOG.md
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
Due: standard

fix(slim_select): search bar height matches option rows in sm variant
  app/assets/stylesheets/bali/slim_select.css
Due: none

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
