Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

feat: Add PDF and DOCX export to BlockEditor
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.html.erb
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.js
  package.json
  spec/bali/components/block_editor_spec.rb
  spec/dummy/app/views/pages/showcase.html.erb
Due: rubocop, standard

fix: Use BlockNote XL exporters for PDF and DOCX export
  app/components/bali/block_editor/index.js
  package.json
  spec/dummy/package.json
  spec/dummy/vite.config.mts
  spec/dummy/yarn.lock
Due: standard

feat: Add multi-column layout support to BlockEditor
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/frontend/bali/block-editor.js
  package.json
  spec/dummy/package.json
  spec/dummy/vite.config.mts
  spec/dummy/yarn.lock
Due: standard

feat: Add AI assistance to BlockEditor via @blocknote/xl-ai
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  package.json
  spec/dummy/package.json
  spec/dummy/server/ai-chat.mjs
  spec/dummy/vite.config.mts
  spec/dummy/yarn.lock
Due: rubocop, standard

style: Fix object-shorthand warning in BlockEditor AI loader
  app/components/bali/block_editor/index.js
Due: standard

fix: Update CHANGELOG and move lefthook-linux-arm64 to optionalDependencies
  CHANGELOG.md
  package.json
Due: none

fix: Resolve StandardJS CI failures
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  package.json
Due: standard

feat: Add @mentions support to BlockEditor
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  spec/dummy/app/controllers/users_controller.rb
Due: rubocop, standard

feat: Add #entity references to BlockEditor with per-type colors
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  spec/dummy/app/controllers/entity_references_controller.rb
  spec/dummy/config/routes.rb
Due: rubocop, standard

refactor: Consolidate BlockEditor showcase into single full-featured instance
  spec/dummy/app/views/pages/showcase.html.erb
Due: none

fix: Fix PDF/DOCX export with custom inline content types
  app/components/bali/block_editor/index.js
Due: standard

fix: Handle tableCell object structure in entity reference collection
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
Due: none

feat: Improve entity reference suggestion menu with grouping and colors
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
Due: none

style: Compact suggestion menu items for better density
  app/components/bali/block_editor/index.css
Due: none

perf: Lazy-load BlockEditor CSS only when editor is used
  app/assets/stylesheets/bali/components.css
  app/components/bali/block_editor/index.css
Due: none

refactor: Extract BlockNoteEditorWrapper into focused modules
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/constants.js
  app/components/bali/block_editor/inlineContent.jsx
  app/components/bali/block_editor/useContentSync.js
  app/components/bali/block_editor/useEntityReferences.jsx
  app/components/bali/block_editor/useFileUpload.js
  app/components/bali/block_editor/useMentions.js
Due: standard

chore: Update yarn.lock and locales CLAUDE.md
  config/locales/CLAUDE.md
  spec/dummy/yarn.lock
Due: none

chore: Disable Cypress from pre-push hook
  lefthook.yml
Due: none

fix: Resolve relative URLs for PDF/DOCX image export
  app/components/bali/block_editor/index.js
Due: standard

chore: Update CHANGELOG with all BlockEditor V2 features
  CHANGELOG.md
Due: none

docs: Add comprehensive BlockEditor V2 API documentation
  docs/api/block-editor.md
Due: none

docs: Add BlockNote XL package licensing information to API docs
  docs/api/block-editor.md
Due: none

refactor: Make all XL packages opt-in for license-free base editor
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  docs/api/block-editor.md
  spec/dummy/app/views/pages/showcase.html.erb
Due: rubocop, standard

refactor: Rename images_url to upload_url for clarity
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  app/components/bali/block_editor/useFileUpload.js
  docs/api/block-editor.md
  spec/bali/components/block_editor_spec.rb
Due: rubocop, standard

feat: Support video and audio uploads in BlockEditor
  CHANGELOG.md
  app/components/bali/block_editor/constants.js
  app/components/bali/block_editor/useFileUpload.js
  app/controllers/bali/block_editor_uploads_controller.rb
  docs/api/block-editor.md
Due: rubocop, standard

fix: Update to Ruby 4.0.1 and replace removed CGI.parse
  .ruby-version
  Gemfile.lock
  app/components/bali/calendar/header/component.rb
  app/components/bali/utils/url.rb
Due: rubocop

docs: Add Ruby 4.0 compatibility to CHANGELOG
  CHANGELOG.md
Due: none

test: Use cy.intercept to wait for AJAX request in tabs test
  cypress/e2e/tabs-controller.cy.js
Due: standard

fix: Update to Ruby 4.0.1 and replace removed CGI.parse (#478)
  .ruby-version
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/calendar/header/component.rb
  app/components/bali/utils/url.rb
  cypress/e2e/tabs-controller.cy.js
Due: rubocop, standard

Release v2.2.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
  yarn.lock
Due: rubocop

fix: Prevent modal from closing when clicking browser autocomplete options
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/index.js
Due: standard

docs: Add changelog entry for modal autocomplete fix
  CHANGELOG.md
Due: none

feat: Add bottom items slot to SideMenu component
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/with_bottom_items.html.erb
  spec/bali/components/side_menu_spec.rb
Due: rubocop

docs: Add CHANGELOG entry for SideMenu bottom items
  CHANGELOG.md
Due: none

feat: Add bottom items slot to SideMenu component (#480)
  CHANGELOG.md
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/with_bottom_items.html.erb
  spec/bali/components/side_menu_spec.rb
Due: rubocop

feat: Add table of contents extension to BlockEditor component
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/TableOfContents.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  spec/bali/components/block_editor_spec.rb
Due: rubocop, standard

docs: Add changelog entry for BlockEditor table_of_contents feature
  CHANGELOG.md
Due: none

feat: Add table of contents extension to BlockEditor component (#481)
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/TableOfContents.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  spec/bali/components/block_editor_spec.rb
Due: rubocop, standard
