Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix(status): drive panel visibility via .status-panel--open
  app/components/bali/status/index.css
Due: none

docs(status): lookbook previews
  app/components/bali/status/preview.rb
  app/components/bali/status/previews/in_table.html.erb
  app/components/bali/status/previews/palette.html.erb
Due: rubocop

docs(status): fix Task 6 Cypress spec (POST verb + robust clear assertion + prebuilt server)
  docs/superpowers/plans/2026-07-18-status-component.md
Due: none

test(status): cypress e2e for the editable panel
  cypress/e2e/status-controller.cy.js
Due: standard

docs(status): changelog + component catalog entry
  CHANGELOG.md
  docs/guides/components.md
Due: none

fix(status): compose data-controller passthrough; fix span/div doc nit
  app/components/bali/status/component.rb
  docs/guides/components.md
  test/bali/components/status_test.rb
Due: rubocop

fix(security): bump loofah and rails-html-sanitizer to patched versions
  Gemfile.lock
Due: none

chore(deps-dev): bump yard 0.9.44->0.9.45 and simplecov 0.22.0->1.0.2
  Gemfile.lock
Due: none

chore(deps): bump daisyui 5.6.17->5.6.18
  package.json
  yarn.lock
Due: none

ci(deps): bump actions/setup-node from v6 to v7
  .github/workflows/cypress.yml
  .github/workflows/standardjs.yml
  .github/workflows/test.yml
Due: none

fix(dummy): keep bin/dev alive — correct @source paths + tailwind watch=always
  spec/dummy/Procfile.dev
  spec/dummy/app/assets/tailwind/application.css
Due: none

docs(changelog): document security fixes and Dependabot roll-up
  CHANGELOG.md
Due: none

chore(deps): security fixes + roll up open Dependabot bumps (#623)
  .github/workflows/cypress.yml
  .github/workflows/standardjs.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Gemfile.lock
  package.json
  yarn.lock
Due: none

docs(changelog): note the dummy dev-server (bin/dev) fix
  CHANGELOG.md
Due: none

fix(dummy): keep bin/dev alive (tailwind @source paths + watch=always) (#624)
  CHANGELOG.md
  spec/dummy/Procfile.dev
  spec/dummy/app/assets/tailwind/application.css
Due: none

feat(status): colorful SmartSuite-style Status component (#622)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/status/component.html.erb
  app/components/bali/status/component.rb
  app/components/bali/status/index.css
  app/components/bali/status/index.js
  app/components/bali/status/preview.rb
  app/components/bali/status/previews/in_table.html.erb
  app/components/bali/status/previews/palette.html.erb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  cypress/e2e/status-controller.cy.js
  docs/guides/components.md
  docs/superpowers/plans/2026-07-18-status-component.md
  docs/superpowers/specs/2026-07-18-status-component-design.md
  test/bali/components/status_test.rb
Due: rubocop, standard

Release v2.13.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(modal): guard Escape/overlay close against unsaved forms and flatpickr popups
  app/components/bali/drawer/index.js
  app/components/bali/modal/index.js
Due: standard

feat(drawer,modal): expose confirm-on-close API and localized copy (#619)
  app/components/bali/drawer/component.rb
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/component.rb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
Due: rubocop

docs(drawer): add unsaved-changes Lookbook preview (repro + Cypress fixture)
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/dirty_form.html.erb
Due: rubocop

test(drawer,modal): cover confirm-on-close data + Escape/flatpickr behavior (#619)
  cypress/e2e/drawer-controller.cy.js
  test/bali/components/drawer_test.rb
  test/bali/components/modal_test.rb
Due: rubocop, standard

docs(changelog): note drawer/modal confirm-on-close guard (#619)
  CHANGELOG.md
Due: none

fix(page_header): stack actions bar below title on mobile (#625)
  app/components/bali/page_components/shared.rb
  app/components/bali/page_header/component.html.erb
  app/components/bali/page_header/component.rb
  test/bali/components/page_header_test.rb
  test/bali/components/show_page_test.rb
Due: rubocop

test(show_page): add "With Many Actions" preview for mobile stacking (#625)
  app/components/bali/show_page/preview.rb
  app/components/bali/show_page/previews/with_many_actions.html.erb
Due: rubocop

docs(changelog): add entry for #625 mobile page-header fix
  CHANGELOG.md
Due: none

feat(form_builder): derive a placeholder hint for allow_input date fields
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  lib/bali/form_builder/shared_date_utils.rb
Due: rubocop

test(form_builder): cover allow_input placeholder derivation
  test/bali/form_builder/date_fields_test.rb
  test/bali/form_builder/datetime_fields_test.rb
  test/bali/form_builder/time_fields_test.rb
Due: rubocop

docs(form_builder): document allow_input and its placeholder hint
  docs/guides/form-builder.md
Due: none

feat(form/date): add a Lookbook variant for the default-format placeholder
  app/components/bali/form/date/preview.rb
  app/components/bali/form/date/previews/allow_input_default_format.html.erb
Due: rubocop

docs(changelog): add allow_input placeholder entry under Unreleased
  CHANGELOG.md
Due: none

fix(form_builder): map flatpickr's seconds token in allow_input placeholder
  lib/bali/form_builder/shared_date_utils.rb
  test/bali/form_builder/time_fields_test.rb
Due: rubocop

fix(form/date): revert unrelated quote-style changes in preview.rb
  app/components/bali/form/date/preview.rb
Due: rubocop

feat(table): group rows with header rows via with_row(group:)
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/row/component.rb
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
Due: rubocop

test(table): cover row grouping headers, counts, colspan and escaping
  test/bali/components/table_test.rb
Due: rubocop

docs(table): grouping preview, guide caveats and changelog (#621)
  CHANGELOG.md
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/with_grouping.html.erb
  docs/guides/components.md
Due: rubocop

fix(document_page): stack three-panel body below lg breakpoint
  app/components/bali/document_page/component.html.erb
Due: none

test(document_page): assert mobile stacking classes
  test/bali/components/document_page_test.rb
Due: rubocop

docs(changelog): note DocumentPage mobile stacking fix (#631)
  CHANGELOG.md
Due: none

fix(document_page): scope metadata overflow reset to y-axis, drop redundant gap-y-2
  app/components/bali/document_page/component.html.erb
  test/bali/components/document_page_test.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
