Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

Release v2.6.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat: add Document and DocumentVersion models
  spec/dummy/app/models/block_editor_thread.rb
  spec/dummy/app/models/document.rb
  spec/dummy/app/models/document_version.rb
  spec/dummy/db/migrate/20260309000001_create_documents.rb
  spec/dummy/db/migrate/20260309000002_create_document_versions.rb
  spec/dummy/db/migrate/20260309000003_add_document_id_to_block_editor_threads.rb
  spec/dummy/db/schema.rb
Due: rubocop

feat: add DocumentPage component with split layout
  app/components/bali/document_page/component.html.erb
  app/components/bali/document_page/component.rb
  test/bali/components/document_page_test.rb
Due: rubocop

feat: add DocumentEditor full-screen overlay component
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  test/bali/components/document_editor_test.rb
Due: rubocop

feat: add Documents controllers and routes
  spec/dummy/app/controllers/document_versions_controller.rb
  spec/dummy/app/controllers/documents_controller.rb
  spec/dummy/config/routes.rb
Due: rubocop

feat: add document-editor Stimulus controller
  app/components/bali/document_editor/index.js
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
Due: standard

feat: add document seed data with version history
  spec/dummy/db/seeds.rb
Due: rubocop

feat: add document views with DocumentPage and DocumentEditor
  spec/dummy/app/views/documents/_form.html.erb
  spec/dummy/app/views/documents/index.html.erb
  spec/dummy/app/views/documents/new.html.erb
  spec/dummy/app/views/documents/show.html.erb
Due: none

feat: add Lookbook previews for DocumentPage and DocumentEditor
  app/components/bali/document_editor/preview.rb
  app/components/bali/document_page/preview.rb
Due: rubocop

feat: add Documents to navigation sidebar
  spec/dummy/app/views/layouts/_admin_sidebar.html.erb
  spec/dummy/config/locales/en.yml
Due: none

fix: improve DocumentEditor layout with portal TOC and export cleanup
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.html.erb
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  app/components/bali/document_page/preview.rb
  app/components/bali/document_page/previews/default.html.erb
  test/bali/components/document_editor_test.rb
Due: rubocop, standard

fix: Level component mobile layout with long titles
  app/components/bali/level/component.rb
  app/components/bali/level/side/component.rb
Due: rubocop

chore: add EXTRA_DIRS support and daisyUI env vars to docker-claude
  bin/docker-claude
Due: none

fix: remove duplicate max-sm:flex-wrap from PageHeader
  app/components/bali/page_header/component.rb
  test/bali/components/page_header_test.rb
Due: rubocop

fix: harden DocumentEditor component from DHH code review
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/index.js
  test/bali/components/document_editor_test.rb
Due: rubocop, standard

feat: add three-panel layout to DocumentPage with TOC and metadata
  app/components/bali/document_page/component.html.erb
  app/components/bali/document_page/component.rb
  app/components/bali/document_page/index.js
  app/components/bali/document_page/preview.rb
  app/components/bali/document_page/previews/default.html.erb
  app/components/bali/document_page/previews/with_panels.html.erb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  test/bali/components/document_page_test.rb
Due: rubocop, standard

docs: add DocumentPage and DocumentEditor changes to changelog
  CHANGELOG.md
Due: none

Prepare release: update CHANGELOG
  CHANGELOG.md
Due: none

Release v2.7.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

Prepare release v2.7.0 (#508)
  CHANGELOG.md
Due: none

feat(DocumentEditor): add save status indicator and fix auto-save trigger
  app/components/bali/block_editor/useContentSync.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
Due: standard

fix(DocumentEditor): pass comments config through to BlockEditor
  app/components/bali/document_editor/component.html.erb
Due: none

feat(DocumentEditor): portal comments sidebar into side panel and harden sync
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/useContentSync.js
  app/components/bali/document_editor/component.html.erb
Due: rubocop, standard

fix(BlockEditor): implement document-scoped comments with working dummy app
  app/components/bali/block_editor/RESTThreadStore.js
  spec/dummy/app/controllers/concerns/block_editor_authentication.rb
  spec/dummy/app/controllers/documents/comment_threads/comments/reactions_controller.rb
  spec/dummy/app/controllers/documents/comment_threads/comments_controller.rb
  spec/dummy/app/controllers/documents/comment_threads_controller.rb
  spec/dummy/app/controllers/documents_controller.rb
  spec/dummy/app/views/documents/show.html.erb
  spec/dummy/config/database.yml
  spec/dummy/config/routes.rb
  spec/dummy/db/schema.rb
  spec/dummy/esbuild.config.mjs
Due: rubocop, standard

fix(BlockEditor): fix comments crash and preserve comment marks across saves
  CLAUDE.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/RESTThreadStore.js
  app/components/bali/block_editor/useContentSync.js
Due: standard

fix(DocumentEditor): fix comment duplication, styling, and resolved user crash
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/useComments.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  spec/dummy/app/views/documents/show.html.erb
  test/bali/components/document_editor_test.rb
Due: rubocop, standard

chore: remove deprecated rails/tasks/statistics.rake
  Rakefile
Due: none

feat(DocumentEditor): redesign version history panel and fix preview
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/useComments.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  spec/dummy/app/controllers/documents/comment_threads/comments_controller.rb
  spec/dummy/app/views/documents/index.html.erb
Due: rubocop, standard

fix(BlockEditor): fix emoji reaction chip styling and selected thread border
  app/components/bali/block_editor/index.css
Due: none

docs: add changelog entries for document editor and comments fixes
  CHANGELOG.md
Due: none

fix(DocumentPage): improve document show page UI and fix comment issues
  app/components/bali/block_editor/index.css
  app/components/bali/document_page/component.html.erb
  spec/dummy/app/views/documents/show.html.erb
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/layouts/application.html.erb
Due: none

feat(DocumentEditor): add save button and unsaved changes indicator
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/index.js
Due: rubocop, standard

chore(DocumentEditor): set default auto-save delay to 30 seconds
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/index.js
Due: rubocop, standard

chore: update yarn.lock files
  spec/dummy/yarn.lock
  yarn.lock
Due: none

fix(BlockEditor): fix comment thread marks, reply buttons, and emoji tooltips
  app/components/bali/block_editor/index.css
Due: none

chore: bump version to 2.7.1 and update changelog
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

refactor(DocumentEditor): use Bali components, template-based versions, deduplicate CSS
  app/components/bali/block_editor/index.css
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  app/components/bali/document_page/component.html.erb
Due: standard

fix(DocumentEditor): revert Save button to raw HTML for dynamic disabled toggling
  app/components/bali/document_editor/component.html.erb
Due: none

Update all dependencies
  Gemfile
  Gemfile.lock
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none
