Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(dropdown): dentro de un Modal o Drawer, Escape cierra sólo el menú abierto
  app/components/bali/dropdown/index.js
Due: standard

test(dropdown): Escape y Tab con el menú abierto dentro de Modal y Drawer
  cypress/e2e/dropdown-controller.cy.js
Due: standard

fix(modal): Tab desde el menú popover no saca el foco del Modal ni del Drawer
  app/components/bali/modal/index.js
Due: standard

docs(dropdown): Escape y Tab del menú dentro de Modal y Drawer en la guía, el preview y el CHANGELOG
  CHANGELOG.md
  app/components/bali/dropdown/preview.rb
  docs/guides/components.md
Due: rubocop

docs(changelog): la entrada de #1276 suma el grupo de Filters y los tres controles con relleno
  CHANGELOG.md
Due: none

fix(modal): trapFocus pide el <dialog> que lee, además del panel
  app/components/bali/modal/index.js
Due: standard

docs(changelog): el Escape de #1269 alcanza a todo dropdown en un Modal o un Drawer
  CHANGELOG.md
Due: none

feat(split-view): frame_options lleva atributos al turbo-frame del detalle
  app/components/bali/split_view/component.rb
  test/bali/components/split_view_test.rb
Due: rubocop

test(split-view): escenario frame_options en Lookbook y su spec de Cypress
  app/components/bali/split_view/preview.rb
  app/components/bali/split_view/previews/frame_options.html.erb
  cypress/e2e/split-view-frame-options.cy.js
  test/requests/split_view_previews_test.rb
Due: rubocop, standard

docs(split-view): frame_options en las guías y en el CHANGELOG
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/master-detail.md
  test/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
Due: none

fix(command): el contador del pie sale en el idioma de la página
  app/components/bali/command/component.html.erb
  app/components/bali/command/index.js
  app/components/bali/command/preview.rb
  app/components/bali/command/previews/compact.html.erb
  app/components/bali/command/previews/default.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/command-controller.cy.js
  test/bali/components/command_test.rb
Due: rubocop, standard

fix(command): el pie pasa a dos líneas en vez de cortar el contador
  app/components/bali/command/component.html.erb
  cypress/e2e/command-controller.cy.js
  cypress/e2e/muted-text-contrast.cy.js
Due: standard

docs(changelog): el contador del pie de Command en el idioma de la página
  CHANGELOG.md
Due: none

feat(user-menu): initials: opcional que llega tal cual a Bali::Avatar
  app/components/bali/topbar/user_menu/component.rb
  test/bali/components/topbar_user_menu_test.rb
Due: rubocop

fix(user-menu): trunca el nombre y el correo largos, con el texto completo en title
  app/components/bali/topbar/previews/user_menu.html.erb
  app/components/bali/topbar/user_menu/component.rb
  cypress/e2e/topbar-user-menu.cy.js
  test/bali/components/topbar_user_menu_test.rb
Due: rubocop, standard

fix(user-menu): bajo sm el disparador es sólo el avatar y cabe a 320 px
  app/components/bali/topbar/user_menu/component.rb
  cypress/e2e/topbar-user-menu.cy.js
Due: rubocop, standard

docs(user-menu): initials: y el truncado en la guía y el CHANGELOG
  CHANGELOG.md
  docs/guides/components.md
Due: none

fix(form_builder): el error y el asterisco en text-soft-error; la ayuda a /70
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/html_utils.rb
  test/bali/form_builder/boolean_fields_test.rb
  test/bali/form_builder/email_fields_test.rb
  test/bali/form_builder/error_and_help_test.rb
  test/bali/form_builder/external_error_option_test.rb
  test/bali/form_builder/number_fields_test.rb
  test/bali/form_builder/options_contract_test.rb
  test/bali/form_builder/password_fields_test.rb
  test/bali/form_builder/range_fields_test.rb
  test/bali/form_builder/search_fields_test.rb
  test/bali/form_builder/select_fields_test.rb
  test/bali/form_builder/slim_select_fields_test.rb
  test/bali/form_builder/text_area_fields_test.rb
  test/bali/form_builder/text_fields_test.rb
  test/bali/form_builder/time_zone_select_fields_test.rb
  test/bali/form_builder/url_fields_test.rb
Due: rubocop

fix(filters): los tres «Clear all» en text-soft-error
  app/components/bali/filters/applied_tags/component.html.erb
  app/components/bali/filters/component.html.erb
Due: none

fix(split_view): un clic justo al llegar el detalle ya no se pierde
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

docs(changelog): el clic que SplitView perdía al llegar el detalle (#1280)
  CHANGELOG.md
Due: none

fix(widget): la tendencia en text-soft-success y text-soft-error
  app/components/bali/widget/trend_indicator/component.rb
  test/bali/components/widget_parts_test.rb
  test/bali/components/widget_test.rb
  test/bali/components/widget_trend_indicator_test.rb
Due: rubocop

fix(gauge, loader): el texto en text-soft-<color>; el anillo y el spinner conservan el color
  app/components/bali/gauge/component.html.erb
  app/components/bali/gauge/component.rb
  app/components/bali/gauge/preview.rb
  app/components/bali/gauge/previews/all_colors.html.erb
  app/components/bali/loader/component.rb
  app/components/bali/loader/preview.rb
  app/components/bali/loader/previews/all_colors.html.erb
  test/bali/components/gauge_test.rb
  test/bali/components/loader_test.rb
Due: rubocop

fix(timeline): el marcador en text-soft-<color> y el de custom_color con Bali::Color.soft
  app/components/bali/timeline/item/component.rb
  app/components/bali/timeline/preview.rb
  docs/guides/components.md
  test/bali/components/timeline_test.rb
Due: rubocop

fix(split_view): el meta de color de una fila en text-soft-<color>
  app/components/bali/split_view/list/item/component.rb
  test/bali/components/split_view_list_test.rb
Due: rubocop

fix(boolean_icon): el sí y el no en text-soft-success y text-soft-error
  app/components/bali/boolean_icon/component.rb
  test/bali/components/boolean_icon_test.rb
  test/bali/components/widget_parts_test.rb
Due: rubocop

fix(split-view): frame_options normaliza las claves y documenta quién gana en data:
  app/components/bali/split_view/component.rb
  test/bali/components/split_view_test.rb
Due: rubocop

docs(split-view): textos del preview en inglés y guías más precisas
  CHANGELOG.md
  app/components/bali/split_view/previews/frame_options.html.erb
  docs/guides/components.md
  docs/guides/master-detail.md
  test/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
Due: none

refactor(split-view): container_attributes sin el except que el merge ya cubre
  app/components/bali/split_view/component.rb
Due: rubocop

fix(chart): Ruby reparte los siete colores antes de repetir
  app/components/bali/utils/color_picker.rb
  test/bali/components/chart_test.rb
Due: rubocop

test(user-menu): ubica el caso largo por su texto y recorta comentarios
  app/components/bali/topbar/user_menu/component.rb
  cypress/e2e/topbar-user-menu.cy.js
  test/bali/components/topbar_user_menu_test.rb
Due: rubocop, standard

docs(user-menu): CHANGELOG sin evidencia y con la nota sobre Sentry
  CHANGELOG.md
Due: none

fix(chart): la segunda serie toma el acento y no el secundario
  app/components/bali/chart/index.js
  app/components/bali/chart/preview.rb
  app/components/bali/color.rb
  cypress/e2e/chart.cy.js
  cypress/support/color_vision.js
  test/bali/components/chart_test.rb
Due: rubocop, standard

docs(chart): orden de colores de las series y quién ve el cambio
  CHANGELOG.md
  docs/guides/components.md
Due: none

fix(datepicker): colores del tema, días de otro mes a /70 y hover que se ve
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/base-surface-steps.cy.js
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

docs(changelog): el Datepicker y SlimSelect se leen en los seis temas
  CHANGELOG.md
Due: none

fix(slim_select): la opción elegida y «Select all» en text-soft-primary
  app/assets/stylesheets/bali/slim_select.css
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

docs(changelog): la carga a medias que se descarta al volver a la lista (#1280)
  CHANGELOG.md
Due: none

fix(split_view): volver a la lista no pinta el detalle que quedó cargando
  app/components/bali/split_view/index.js
  app/components/bali/split_view/previews/custom_master.html.erb
  cypress/e2e/split-view.cy.js
Due: standard

fix(chart): los puntos de una línea y su leyenda toman el color de la serie
  CHANGELOG.md
  app/components/bali/chart/index.js
  cypress/e2e/chart.cy.js
Due: standard
