Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

test(calendar,split_view): la guardia de contraste mide lo pintado y espera a que el tema termine de cambiar (#1252)
  cypress/e2e/calendar-year-view.cy.js
  cypress/e2e/split-view-list.cy.js
Due: standard

docs(spec): la spec del modo oscuro, en inglés como el resto del repo
  docs/superpowers/specs/2026-10-01-dark-themes-design.md
Due: none

fix(slim_select): el combobox de slim_select_group se nombra con su etiqueta (#1253)
  CHANGELOG.md
  cypress/e2e/slim-select-accessible-name.cy.js
  docs/guides/controllers.md
  docs/guides/form-builder.md
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/slim_select_fields_test.rb
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: rubocop, standard

docs(testing-traps): esperar las transiciones en todo el documento, salvo bajo AppLayout (#1252)
  cypress/e2e/split-view-list.cy.js
  docs/reference/testing-traps.md
Due: standard

changelog: las guardias de contraste del calendario y de SplitView miden lo pintado (#1252)
  CHANGELOG.md
Due: none

fix(list, page_header, stat_card, form_builder, workflow_steps): el texto atenuado pasa a /70 y la línea de :progress a /55
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/file-input-controller.js
  app/components/bali/list/item/component.rb
  app/components/bali/page_header/component.rb
  app/components/bali/stat_card/component.html.erb
  app/components/bali/stat_card/component.rb
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/step/component.rb
  cypress/e2e/muted-text-contrast.cy.js
  cypress/support/painted_contrast.js
  cypress/support/themes.js
  docs/guides/components.md
  docs/guides/controllers.md
  lib/bali/form_builder/file_fields.rb
  lib/bali/form_builder/range_fields.rb
  test/bali/components/list_test.rb
  test/bali/components/page_header_test.rb
  test/bali/components/stat_card/component_test.rb
  test/bali/components/stat_card/default_surface.golden.html
  test/bali/components/workflow_steps_test.rb
  test/bali/form_builder/file_fields_test.rb
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
  test/requests/workflow_steps_previews_test.rb
Due: rubocop, standard

fix(recurrent_event_rule_form): el día marcado conserva su relleno bajo el cursor, y el foco de teclado se ve (#1246)
  CHANGELOG.md
  app/components/bali/recurrent_event_rule_form/component.html.erb
  cypress/e2e/recurrent-event-rule-form.cy.js
  cypress/support/tap.js
  cypress/support/themes.js
Due: standard

fix(data_table): Columnas y Vistas pasan a Bali::Dropdown, con un solo teclado en el toolbar (#1250)
  CHANGELOG.md
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/popover_aria.js
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views_controller.js
  app/components/bali/data_table/toolbar_overflow_controller.js
  app/components/bali/dropdown/index.js
  cypress/e2e/data-table-column-memory.cy.js
  cypress/e2e/data-table-column-selector.cy.js
  cypress/e2e/data-table-toolbar-keyboard.cy.js
  cypress/e2e/toolbar-overflow.cy.js
  docs/guides/components.md
  test/bali/components/data_table/saved_views_test.rb
  test/bali/components/data_table_test.rb
Due: rubocop, standard

review(themes): una prueba ata la lista de temas de las guardias a los que trae la gema, y el CHANGELOG dice qué opacidad no se veía (#1252)
  CHANGELOG.md
  test/bali/themes_test.rb
Due: rubocop

review(slim_select): el contrato de nombres exige el aria-labelledby, y la guía y el CHANGELOG nombran lo que sigue sin nombre (#1253)
  CHANGELOG.md
  docs/guides/form-builder.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/accessible_name_contract_test.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

changelog(slim_select): las vistas escritas a mano que siguen sin nombre, contadas por vista (#1253)
  CHANGELOG.md
Due: none

review(workflow_steps, stat_card): el contorno se mide pintado sobre su disco, y LABEL_CLASSES
  CHANGELOG.md
  app/components/bali/stat_card/component.html.erb
  app/components/bali/stat_card/component.rb
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/step/component.rb
  cypress/e2e/muted-text-contrast.cy.js
  cypress/support/painted_contrast.js
  docs/guides/components.md
  test/bali/components/stat_card/component_test.rb
  test/bali/components/stat_card/default_surface_unchanged_test.rb
Due: rubocop, standard

review(recurrent_event_rule_form): la medición en reposo exige que no haya cursor, y lo de `dark` dicho
  CHANGELOG.md
  app/components/bali/recurrent_event_rule_form/component.html.erb
  cypress/e2e/recurrent-event-rule-form.cy.js
  cypress/support/tap.js
Due: standard

fix(css): text-soft-<color> para el texto sobre un tinte de su mismo color, que no llegaba a AA (#1245, #1247)
  app/assets/stylesheets/bali.css
  app/assets/stylesheets/bali/themes/afal.css
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/block_editor/index.css
  app/components/bali/command/index.css
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/filter_group/component.html.erb
  app/components/bali/side_menu/daisyui-overrides.css
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/item/component.rb
  app/components/bali/side_menu/list/component.rb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/with_bottom_groups.html.erb
  app/components/bali/tree_view/item/component.rb
  app/components/bali/workflow_steps/step/component.rb
  cypress/e2e/soft-text-contrast.cy.js
  cypress/e2e/theme-primary-contrast.cy.js
  cypress/support/tap.js
  cypress/support/themes.js
  test/bali/components/side_menu_test.rb
Due: rubocop, standard

docs(accessibility, claude): text-soft-<color> para el texto sobre su propio tinte, y la posición de bali/utilities.css (#1245, #1247)
  .claude/CLAUDE.md
  docs/guides/accessibility.md
Due: none

changelog: el texto sobre un tinte de su mismo color llega a AA (#1245, #1247)
  CHANGELOG.md
Due: none

review(data_table, dropdown): la guarda de las flechas por rol, el contrato del menuitemcheckbox en Ruby y el arreglo del anfitrión dicho
  CHANGELOG.md
  app/components/bali/dropdown/index.js
  cypress/e2e/data-table-toolbar-keyboard.cy.js
  docs/guides/components.md
  test/bali/components/data_table_test.rb
Due: rubocop, standard

review(cypress): tap.js igual al de #1246, y la guardia exige el puntero donde lo pide
  cypress/e2e/soft-text-contrast.cy.js
  cypress/support/tap.js
Due: standard

fix(themes): superficies hacia abajo y neutral como relleno en los temas oscuros
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/themes/afal-dark.css
  app/assets/stylesheets/bali/themes/costa-norte-dark.css
  app/components/bali/button/daisyui-overrides.css
  app/components/bali/gauge/component.rb
  app/components/bali/loader/component.rb
  app/components/bali/stat_card/component.rb
  app/components/bali/timeline/item/component.rb
  app/components/bali/timeline/preview.rb
  cypress/e2e/theme-follow-contrast.cy.js
  docs/guides/custom-themes.md
  test/bali/themes_test.rb
Due: rubocop, standard

docs(painted_contrast): la medición del ítem activo de SideMenu, dicha en pasado
  cypress/support/painted_contrast.js
Due: standard

test(loader): la clase de color sale de la tabla, no del nombre
  test/bali/components/loader_test.rb
Due: rubocop

feat(dropdown): borde fino en el panel
  CHANGELOG.md
  app/components/bali/dropdown/component.rb
  cypress/e2e/dropdown-controller.cy.js
Due: rubocop, standard

review(side_menu, css): los badges accent e info medidos, y la utilidad en Added
  CHANGELOG.md
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/side_menu/daisyui-overrides.css
  app/components/bali/side_menu/previews/with_badges.html.erb
  cypress/e2e/soft-text-contrast.cy.js
Due: standard

changelog(data_table): el aspecto de los paneles es el de «Agrupar por», sin fijar el borde (#1250)
  CHANGELOG.md
Due: none

fix(side-menu): un riel con tema levanta hover, bordes y panel sobre sí mismo
  CHANGELOG.md
  app/assets/stylesheets/bali/themes/costa-norte-dark.css
  app/components/bali/side_menu/daisyui-overrides.css
  cypress/e2e/side-menu-chrome-surfaces.cy.js
  docs/guides/custom-themes.md
Due: standard

fix(dark): resto de la revisión DHH de cd2e0b94
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/themes/afal-dark.css
  app/assets/stylesheets/bali/themes/costa-norte-dark.css
  app/components/bali/avatar/component.rb
  app/components/bali/button/daisyui-overrides.css
  app/components/bali/calendar/year_grid/component.rb
  app/components/bali/color.rb
  app/components/bali/progress/component.rb
  app/components/bali/split_view/index.css
  app/components/bali/workflow_steps/index.css
  cypress/e2e/theme-follow-contrast.cy.js
  docs/guides/components.md
  docs/guides/custom-themes.md
  docs/guides/installation.md
  test/bali/components/avatar_test.rb
  test/bali/components/calendar_test.rb
  test/bali/components/color_test.rb
  test/bali/components/progress_test.rb
  test/bali/themes_test.rb
Due: rubocop, standard

test(cypress): Chrome reporta un ratón que hace hover, como el Electron local
  cypress/plugins/index.cjs
  cypress/support/tap.js
Due: standard

docs(migration): el buscador de SlimSelect toma el «Search»/«Buscar» de Bali, no sólo el inglés (#1253)
  docs/guides/migration-v2-to-v3.md
Due: none

review(cypress): la guarda de hover() dice qué evita, y la trampa queda en testing-traps
  cypress/plugins/index.cjs
  cypress/support/tap.js
  docs/reference/testing-traps.md
Due: standard

review(cypress): tap.js y el plugin, iguales a los de #1246
  cypress/plugins/index.cjs
  cypress/support/tap.js
Due: standard

review(workflow_steps): los comentarios de la prueba y de la guardia dicen las cifras y el método de ahora
  cypress/e2e/muted-text-contrast.cy.js
  test/bali/components/workflow_steps_test.rb
Due: rubocop, standard

review(cypress): la cabecera del spec del toolbar dice lo que prueba en el ⋯
  cypress/e2e/data-table-toolbar-keyboard.cy.js
Due: standard

fix(side-menu): hover visible dentro del panel y borde en los paneles sin tema
  .claude/CLAUDE.md
  CHANGELOG.md
  app/components/bali/calendar/year_grid/component.rb
  app/components/bali/color.rb
  app/components/bali/side_menu/daisyui-overrides.css
  app/components/bali/side_menu/index.css
  cypress/e2e/dropdown-controller.cy.js
  cypress/e2e/side-menu-chrome-surfaces.cy.js
  cypress/support/painted_contrast.js
  cypress/support/tap.js
  docs/guides/custom-themes.md
  docs/guides/installation.md
Due: rubocop, standard

feat(menu): el hover de los ítems de menú es el texto al 8 %
  CHANGELOG.md
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/daisyui-overrides.css
  app/components/bali/side_menu/index.css
  cypress/e2e/side-menu-chrome-surfaces.cy.js
  docs/guides/custom-themes.md
Due: standard

fix(menu): quinta revisión DHH del hover
  CHANGELOG.md
  app/assets/stylesheets/bali/slim_select.css
  app/components/bali/side_menu/daisyui-overrides.css
  app/components/bali/side_menu/index.css
  cypress/e2e/dropdown-controller.cy.js
  cypress/e2e/side-menu-chrome-surfaces.cy.js
  cypress/e2e/theme-follow-contrast.cy.js
  cypress/support/painted_contrast.js
  cypress/support/tap.js
  docs/guides/custom-themes.md
Due: standard

fix(status): naranja, verde y teal de la paleta fija pasan a -700 para llegar a AA
  app/components/bali/status/component.rb
  docs/guides/components.md
  test/bali/components/status_test.rb
Due: rubocop

fix(gantt): las iniciales del avatar del responsable llegan a AA
  CHANGELOG.md
  app/components/bali/gantt/ganttColors.js
  cypress/e2e/gantt-avatar-contrast.cy.js
Due: standard

refactor(gantt): retira la rama sin responsable de avatarColor
  app/components/bali/gantt/ganttColors.js
Due: standard

fix(themes): el secundario de afal pasa a violet-600 y el blanco encima llega a AA
  CHANGELOG.md
  app/assets/stylesheets/bali/themes/afal.css
  cypress/e2e/theme-primary-contrast.cy.js
  test/bali/themes_test.rb
Due: rubocop, standard

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
