Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

Release v2.3.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat: Add inline comments to BlockEditor with in-memory and REST persistence
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/InMemoryThreadStore.js
  app/components/bali/block_editor/RESTThreadStore.js
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  app/components/bali/block_editor/useComments.js
  docs/api/block-editor.md
  spec/bali/components/block_editor_spec.rb
  spec/dummy/app/controllers/block_editor_comments_controller.rb
  spec/dummy/app/models/block_editor_comment.rb
  spec/dummy/app/models/block_editor_reaction.rb
  spec/dummy/app/models/block_editor_thread.rb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20260219000000_create_block_editor_comments.rb
  spec/dummy/db/schema.rb
Due: rubocop, standard

fix: Guard modal/drawer close against synthetic keydown from browser autocomplete
  app/components/bali/drawer/index.js
  app/components/bali/modal/index.js
  cypress/e2e/modal-controller.cy.js
Due: standard

fix: Prevent modal and drawer from closing on synthetic keydown events and improve overlay click detection, adding new Cypress tests.
  yarn.lock
Due: none

feat: Add modal and drawer data controllers to the lookbook preview layout body.
  spec/dummy/app/views/layouts/lookbook_preview.html.erb
Due: none

fix: Prevent modal from closing when clicking browser autocomplete options (#479)
  CHANGELOG.md
  app/components/bali/drawer/index.js
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/modal-controller.cy.js
  spec/dummy/app/views/layouts/lookbook_preview.html.erb
  yarn.lock
Due: standard

fix: Resolve Rubocop offenses and add changelog entry for inline comments
  CHANGELOG.md
  app/components/bali/block_editor/component.rb
  spec/dummy/app/controllers/block_editor_comments_controller.rb
Due: rubocop

fix: Resolve remaining Rubocop offenses in preview and routes
  app/components/bali/block_editor/preview.rb
  spec/dummy/config/routes.rb
Due: rubocop

fix: Refactor dummy app REST API into RESTful controllers
  spec/dummy/app/controllers/block_editor_comments_controller.rb
  spec/dummy/app/controllers/block_editor_threads/comments/reactions_controller.rb
  spec/dummy/app/controllers/block_editor_threads/comments_controller.rb
  spec/dummy/app/controllers/block_editor_threads_controller.rb
  spec/dummy/app/controllers/concerns/block_editor_authentication.rb
  spec/dummy/app/models/block_editor_comment.rb
  spec/dummy/app/models/block_editor_thread.rb
  spec/dummy/config/routes.rb
Due: rubocop

refactor: Collapse comments_* params into a single comments: hash
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/preview.rb
  spec/bali/components/block_editor_spec.rb
Due: rubocop

feat: Add comments to BlockEditor in showcase page
  spec/dummy/app/views/pages/showcase.html.erb
Due: none

fix: Permit BlockNote JSON body in comment controllers
  spec/dummy/app/controllers/block_editor_threads/comments_controller.rb
  spec/dummy/app/controllers/block_editor_threads_controller.rb
  spec/dummy/app/controllers/concerns/block_editor_authentication.rb
Due: rubocop

fix: Hide redundant Save tooltip in FloatingComposer
  app/components/bali/block_editor/index.css
Due: none

fix: Correct CSS selector for Save button tooltip in comment composer
  app/components/bali/block_editor/index.css
Due: none

feat: Add inline comments to BlockEditor with in-memory and REST persistence (#482)
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/InMemoryThreadStore.js
  app/components/bali/block_editor/RESTThreadStore.js
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  app/components/bali/block_editor/useComments.js
  docs/api/block-editor.md
  spec/bali/components/block_editor_spec.rb
  spec/dummy/app/controllers/block_editor_threads/comments/reactions_controller.rb
  spec/dummy/app/controllers/block_editor_threads/comments_controller.rb
  spec/dummy/app/controllers/block_editor_threads_controller.rb
  spec/dummy/app/controllers/concerns/block_editor_authentication.rb
  spec/dummy/app/models/block_editor_comment.rb
  spec/dummy/app/models/block_editor_reaction.rb
  spec/dummy/app/models/block_editor_thread.rb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20260219000000_create_block_editor_comments.rb
  spec/dummy/db/schema.rb
Due: rubocop, standard

fix: Add top margin to submit_actions button row in forms
  lib/bali/form_builder/submit_fields.rb
  spec/bali/form_builder/submit_buttons_spec.rb
Due: rubocop

docs: Add changelog entry for submit_actions top margin fix
  CHANGELOG.md
Due: none

fix: Add top margin to submit_actions button row (#483)
  CHANGELOG.md
  lib/bali/form_builder/submit_fields.rb
  spec/bali/form_builder/submit_buttons_spec.rb
Due: rubocop

Release v2.4.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix: Pass data attributes through SideMenu::Item anchor tags
  app/components/bali/side_menu/item/component.html.erb
  spec/bali/components/side_menu_spec.rb
Due: rubocop

docs: Add changelog entry for SideMenu::Item data attributes fix
  CHANGELOG.md
Due: none

fix: Pass data attributes through SideMenu::Item anchor tags (#484)
  CHANGELOG.md
  app/components/bali/side_menu/item/component.html.erb
  spec/bali/components/side_menu_spec.rb
Due: rubocop

Release v2.4.1
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix: Exclude preview files from Zeitwerk autoloading to prevent eager load crashes
  app/components/bali/filters/preview.rb
  app/components/bali/pagination_footer/preview.rb
  app/components/bali/stat_card/preview.rb
  lib/bali/engine.rb
Due: rubocop

docs: Add changelog entry for preview eager loading fix
  CHANGELOG.md
Due: none

fix: Use do_not_eager_load instead of ignore for preview files
  lib/bali/engine.rb
Due: rubocop

docs: Add engine gotchas to CLAUDE.md
  .claude/CLAUDE.md
Due: none

fix: Exclude preview files from Zeitwerk autoloading to prevent eager load crashes (#485)
  .claude/CLAUDE.md
  CHANGELOG.md
  app/components/bali/filters/preview.rb
  app/components/bali/pagination_footer/preview.rb
  app/components/bali/stat_card/preview.rb
  lib/bali/engine.rb
Due: rubocop

Release v2.4.2
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat: add rails-tools, superpowers, omc, frontend-design plugins to sandbox settings
  .claude/settings.json
Due: none

fix: rename claude-plugins marketplace to afal-plugins
  .claude/settings.json
Due: none

feat: add search input to SimpleFilters component
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  lib/bali/filter_form/search_configuration.rb
  spec/bali/components/data_table/simple_filters_spec.rb
  spec/bali/filter_form_spec.rb
  spec/rails_helper.rb
Due: rubocop

chore: add Docker sandbox setup for Claude Code development
  .ai-sessions/.gitkeep
  .gitignore
  CLAUDE.md
  bin/docker-claude
  bin/docker-dev
  bin/hooks/session-memory-load.sh
  bin/hooks/session-memory-save.sh
  docker/Dockerfile.sandbox
  docker/docker-compose.claude.yml
  docker/entrypoint-sandbox.sh
  docker/init-db.sql
  docker/sandbox-setup.sh
Due: none

feat: use SimpleFilters search on studios list and DataTable preview
  app/components/bali/data_table/preview.rb
  spec/dummy/app/views/studios/index.html.erb
Due: rubocop

fix: widen search input and auto-generate descriptive placeholder
  app/components/bali/data_table/simple_filters/component.html.erb
  lib/bali/filter_form/search_configuration.rb
  spec/bali/filter_form_spec.rb
Due: rubocop

fix: widen search input in SimpleFilters with flex-[2]
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

fix: make search and dropdowns share space equally in SimpleFilters
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

feat: add default mb-6 to PageHeader component
  app/components/bali/page_header/component.rb
  spec/bali/components/page_header_spec.rb
  spec/dummy/app/views/movies/edit.html.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/movies/new.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  spec/dummy/app/views/settings/show.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/show.html.erb
Due: rubocop

fix: Tabs Trigger respects explicit active: param when href is present
  app/components/bali/tabs/tab/component.rb
  app/components/bali/tabs/trigger/component.rb
  lib/bali/path_helper.rb
Due: rubocop

fix: correct search_config placeholder test expectation
  CHANGELOG.md
  lib/bali/filter_form/search_configuration.rb
  spec/bali/filter_form_spec.rb
Due: rubocop
