Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

Fix grep command for SearchInput in migration guide
  docs/guides/migration-v2-to-v3.md
Due: none

docs(migration): la guía completa, y cuatro recetas de grep que no encontraban nada (#702) (#795)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

fix(overlays): los popups portaleados sobreviven a un overlay en el top layer (#679, corte 2 de 3) (#796)
  CHANGELOG.md
  README.md
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/javascripts/bali/utils/top-layer.js
  app/assets/stylesheets/bali/datepicker.css
  app/assets/stylesheets/bali/slim_select.css
  app/assets/stylesheets/bali/z_index.css
  app/components/bali/hover_card/index.js
  app/components/bali/image_grid/index.js
  app/components/bali/tooltip/index.js
  app/frontend/bali/utils/index.js
  cypress/e2e/top-layer-popups.cy.js
  docs/guides/overlays-and-the-top-layer.md
Due: standard

fix(dummy): sidemenu-example compone AppLayout en vez de montar el layout a mano
  spec/dummy/app/controllers/pages_controller.rb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
Due: rubocop

fix(filters): el valor sobrevive al cambio de operador, y una condición vacía no viaja ni se calla (#652) (#798)
  CHANGELOG.md
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/controllers/filters_controller.js
  app/components/bali/filters/index.css
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/filters-condition-controller.cy.js
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

fix(dummy): once call sites pasaban una keyword que el componente no declara, y un test impide la doceava (#787) (#800)
  CHANGELOG.md
  spec/dummy/app/views/admin/analytics/index.html.erb
  spec/dummy/app/views/admin/revenue/index.html.erb
  spec/dummy/app/views/lookbook/pages/02_guides/01_accessibility.md.erb
  spec/dummy/app/views/lookbook/pages/03_patterns/01_component_patterns.md.erb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  spec/dummy/app/views/studios/index.html.erb
  test/dummy_component_keywords_test.rb
Due: rubocop

fix(tooltip): un globo con marcado y sin texto plano se construye, y se alcanza (#788) (#801)
  CHANGELOG.md
  app/components/bali/tooltip/index.js
  app/components/bali/tooltip/preview.rb
  app/components/bali/tooltip/previews/markup_content.html.erb
  cypress/e2e/tooltip-controller.cy.js
  docs/guides/components.md
Due: rubocop, standard

fix(dummy): documents deja de declarar una ruta que no sabe servir (#791) (#802)
  CHANGELOG.md
  spec/dummy/config/routes.rb
Due: rubocop

test(dummy): fuera la excepcion de UNSWEPT que #802 dejo sin objeto
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop

fix(dummy): /sidemenu-example compone AppLayout en vez de montar el layout a mano (#792) (#805)
  spec/dummy/app/controllers/pages_controller.rb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
Due: rubocop

test(dummy): fuera la excepción de UNSWEPT que #802 dejó sin objeto (#806)
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop

fix(tooltip): un tooltip que se mueve en el DOM deja de morirse al reconectarse
  CHANGELOG.md
  app/components/bali/tooltip/index.js
  cypress/e2e/tooltip-controller.cy.js
Due: standard

fix(dashboard_page,simple_filters): dos componentes avisaban de deprecación en nombre del host, y el conteo del dummy queda fijado en cero (#797)
  CHANGELOG.md
  app/components/bali/dashboard_page/component.html.erb
  app/components/bali/data_table/simple_filters/component.html.erb
  spec/dummy/app/views/admin/studios/_form.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  test/bali/components/dashboard_page_test.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop

fix(filters): Aplicar deja de morir en silencio cuando el panel se pinta sin search:
  CHANGELOG.md
  app/components/bali/filters/controllers/filters_controller.js
  cypress/e2e/filters-controller.cy.js
Due: standard

test(dummy): las excepciones apuntan a #808, que es el PR que las levanta
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop

feat(overlays)!: Modal y Drawer sobre <dialog>, y todo lo que la escala ponía por encima entra al top layer (#679, corte 3 de 3)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/z_index.css
  app/components/bali/command/component.html.erb
  app/components/bali/command/index.css
  app/components/bali/command/index.js
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.css
  app/components/bali/drawer/preview.rb
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/index.css
  app/components/bali/feedback_widget/index.js
  app/components/bali/feedback_widget/preview.rb
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/index.js
  app/components/bali/modal/preview.rb
  app/components/bali/toast_container/component.rb
  app/components/bali/toast_container/index.css
  app/components/bali/toast_container/index.js
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/overlays-in-the-top-layer.cy.js
  cypress/e2e/top-layer-popups.cy.js
  docs/guides/accessibility.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/overlays-and-the-top-layer.md
  spec/dummy/app/controllers/pages_controller.rb
  spec/dummy/app/views/pages/feedback_embed.html.erb
  spec/dummy/app/views/pages/feedback_widget_demo.html.erb
  spec/dummy/app/views/pages/z_stack.html.erb
  spec/dummy/config/routes.rb
  test/bali/components/drawer_test.rb
  test/bali/components/feedback_widget_test.rb
  test/bali/components/modal_test.rb
Due: rubocop, standard

docs(changelog): fuera el conteo de toda la suite, que #808 invalida en la misma release
  CHANGELOG.md
Due: none

test(dummy): el probe de overlays gana un tooltip disparado desde DENTRO del modal
  spec/dummy/app/views/pages/z_stack.html.erb
Due: none

fix(tooltip): un tooltip que se mueve en el DOM deja de morirse al reconectarse (#807)
  CHANGELOG.md
  app/components/bali/tooltip/index.js
  cypress/e2e/tooltip-controller.cy.js
Due: standard

feat(overlays)!: Modal y Drawer sobre `<dialog>`, y todo lo que la escala ponía por encima entra al top layer (#679, corte 3 de 3) (#812)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/z_index.css
  app/components/bali/command/component.html.erb
  app/components/bali/command/index.css
  app/components/bali/command/index.js
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.css
  app/components/bali/drawer/preview.rb
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/index.css
  app/components/bali/feedback_widget/index.js
  app/components/bali/feedback_widget/preview.rb
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/index.js
  app/components/bali/modal/preview.rb
  app/components/bali/toast_container/component.rb
  app/components/bali/toast_container/index.css
  app/components/bali/toast_container/index.js
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/overlays-in-the-top-layer.cy.js
  cypress/e2e/top-layer-popups.cy.js
  docs/guides/accessibility.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/overlays-and-the-top-layer.md
  spec/dummy/app/controllers/pages_controller.rb
  spec/dummy/app/views/pages/feedback_embed.html.erb
  spec/dummy/app/views/pages/feedback_widget_demo.html.erb
  spec/dummy/app/views/pages/z_stack.html.erb
  spec/dummy/config/routes.rb
  test/bali/components/drawer_test.rb
  test/bali/components/feedback_widget_test.rb
  test/bali/components/modal_test.rb
Due: rubocop, standard

fix(filters): Aplicar deja de morir en silencio cuando el panel se pinta sin `search:` (#799) (#810)
  CHANGELOG.md
  app/components/bali/filters/controllers/filters_controller.js
  cypress/e2e/filters-controller.cy.js
Due: standard

test(dummy): fuera la allowlist TOLERATED, que #808 dejo sin objeto
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop

fix(dashboard_page,simple_filters): dos componentes avisaban de deprecación en nombre del host, y el conteo del dummy queda fijado en cero (#797) (#809)
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  spec/dummy/app/views/admin/studios/_form.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  test/bali/components/dashboard_page_test.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop

fix(block_editor): el tooltip del editor dibujaba dos tarjetas, y el de Save dejaba una píldora vacía (#813)
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  cypress/e2e/document-editor.cy.js
Due: standard

feat(dashboard_page)!: full width por default, y el layout del dummy deja de recortar por fuera (#815)
  CHANGELOG.md
  app/components/bali/dashboard_page/component.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/layouts/application.html.erb
  test/bali/components/page_components/shared_contract_test.rb
Due: rubocop

fix(dummy): las dos páginas de índice de referencia siguen una sola línea de diseño (#818)
  CHANGELOG.md
  app/components/bali/data_table/previews/with_simple_filters.html.erb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/analytics/index.html.erb
  spec/dummy/app/views/admin/movies/_listing.html.erb
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/revenue/index.html.erb
  spec/dummy/app/views/admin/studios/index.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
Due: rubocop

fix(dummy): los dos formularios de referencia siguen una sola línea, y el drawer cierra en vez de navegar (#821)
  CHANGELOG.md
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/movies/_form.html.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/_listing.html.erb
  spec/dummy/app/views/studios/create.turbo_stream.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
Due: rubocop

fix(block_editor): el tooltip del editor dibujaba dos tarjetas, y el de Save dejaba una píldora vacía (#813) (#814)
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  cypress/e2e/document-editor.cy.js
Due: standard

feat(dashboard_page)!: full width por default, y el layout del dummy deja de recortar por fuera (#815) (#816)
  CHANGELOG.md
  app/components/bali/dashboard_page/component.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/layouts/application.html.erb
  test/bali/components/page_components/shared_contract_test.rb
Due: rubocop

fix(dummy): /studios ejercita las seis superficies del DataTable (#818)
  CHANGELOG.md
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/studios/index.html.erb
Due: rubocop

fix(slim_select): un select podía mostrar un valor y enviar otro — dos instancias peleando por el mismo <select> (#824)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  cypress/e2e/filters-controller.cy.js
Due: standard

fix(simple_filters): tres controles apoyados en otra línea base, y el rango numérico sin borde hasta enfocarlo
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

fix(dummy): los dos formularios de referencia siguen una sola línea, y el drawer cierra en vez de navegar (#821) (#822)
  CHANGELOG.md
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/movies/_form.html.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/_listing.html.erb
  spec/dummy/app/views/studios/create.turbo_stream.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
Due: rubocop

fix(slim_select): un select podía mostrar un valor y enviar otro — dos instancias peleando por el mismo <select> (#824) (#825)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  cypress/e2e/filters-controller.cy.js
Due: standard

fix(simple_filters): tres controles apoyados en otra línea base, y el rango numérico sin borde hasta enfocarlo (#826)
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

fix(dummy): las dos páginas de índice de referencia siguen una sola línea de diseño (#818) (#819)
  CHANGELOG.md
  app/components/bali/data_table/previews/with_simple_filters.html.erb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/analytics/index.html.erb
  spec/dummy/app/views/admin/movies/_form.html.erb
  spec/dummy/app/views/admin/movies/_listing.html.erb
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/revenue/index.html.erb
  spec/dummy/app/views/admin/studios/index.html.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/_listing.html.erb
  spec/dummy/app/views/studios/create.turbo_stream.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
Due: rubocop

fix(block_editor): un comentario de alguien fuera de `users:` se llevaba el editor entero (#827)
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/useComments.js
  cypress/e2e/document-editor.cy.js
  spec/dummy/app/controllers/concerns/block_editor_authentication.rb
Due: rubocop, standard
