Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(textarea): el auto-grow vuelve de un reset y respeta un max-height
  app/assets/javascripts/bali/controllers/textarea-controller.js
  app/components/bali/form/text_area/preview.rb
  app/components/bali/form/text_area/previews/auto_grow_bounds.html.erb
  cypress/e2e/textarea-auto-grow.cy.js
Due: rubocop, standard

fix(file_fields): el CTA deja de encimarse al nombre del archivo
  app/assets/javascripts/bali/controllers/file-input-controller.js
  app/components/bali/form/file/preview.rb
  app/components/bali/form/file/previews/narrow.html.erb
  cypress/e2e/file-field-layout.cy.js
  lib/bali/form_builder/file_fields.rb
  test/bali/form_builder/file_fields_test.rb
Due: rubocop, standard

docs(form): las dos cotas del auto-grow y las tres utilidades del campo de archivo
  CHANGELOG.md
  docs/guides/controllers.md
  docs/guides/form-builder.md
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: none

fix(textarea): el reset se mide en una tarea, no en una microtarea
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/textarea-controller.js
  cypress/e2e/textarea-auto-grow.cy.js
Due: standard

review(form): atiende la revisión de #1376
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/textarea-controller.js
  app/components/bali/form/file/previews/narrow.html.erb
  app/components/bali/form/text_area/previews/auto_grow_bounds.html.erb
  cypress/e2e/textarea-auto-grow.cy.js
  docs/guides/controllers.md
  docs/guides/form-builder.md
  lib/bali/form_builder/file_fields.rb
  test/bali/form_builder/file_fields_test.rb
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: rubocop, standard

review(textarea): el tope se mide, no se predice
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/textarea-controller.js
  app/components/bali/form/text_area/previews/auto_grow_bounds.html.erb
  cypress/e2e/textarea-auto-grow.cy.js
  docs/guides/controllers.md
  docs/guides/form-builder.md
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: standard

review(file_fields): el piso acotado llega también a los ejemplos copiables
  app/assets/javascripts/bali/controllers/file-input-controller.js
  cypress/e2e/file-field-layout.cy.js
  docs/guides/controllers.md
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: standard

Merge pull request #1376 from Grupo-AFAL/fix/file-field-overlap-and-textarea-autogrow
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/file-input-controller.js
  app/assets/javascripts/bali/controllers/textarea-controller.js
  app/components/bali/form/file/preview.rb
  app/components/bali/form/file/previews/narrow.html.erb
  app/components/bali/form/text_area/preview.rb
  app/components/bali/form/text_area/previews/auto_grow_bounds.html.erb
  cypress/e2e/file-field-layout.cy.js
  cypress/e2e/textarea-auto-grow.cy.js
  docs/guides/controllers.md
  docs/guides/form-builder.md
  lib/bali/form_builder/file_fields.rb
  test/bali/form_builder/file_fields_test.rb
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: rubocop, standard

fix(filter_form): los atributos planos y los filtros simples siguen la regla de valores del panel (#1351)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/panel_conditions.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_queryable_values_test.rb
Due: rubocop

fix(filter_form): lo que pidió la revisión DHH de #1351
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/panel_conditions.rb
  test/bali/filter_form_queryable_values_test.rb
Due: rubocop

Los PRs de Dependabot llevan la etiqueta no-changelog
  .github/dependabot.yml
  .github/workflows/changelog.yml
  CHANGELOG.md
Due: none

release: v3.10.2
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

chore(deps): SlimSelect 4.5 y tope en los rangos de los peers de JS
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/stylesheets/bali/slim_select.css
  cypress/e2e/slim-select-accessible-name.cy.js
  cypress/e2e/slim-select-dependent-ajax.cy.js
  cypress/e2e/slim-select-list.cy.js
  docs/api/block-editor.md
  docs/guides/installation.md
  lib/bali/form_builder/slim_select_fields.rb
  package.json
  test/bali/packaging/npm_peer_contract_test.rb
  test/dummy/package.json
  test/dummy/yarn.lock
  test/generators/install_generator_test.rb
Due: rubocop, standard

chore(deps): menores y parches de la dummy y cypress 16.1.1
  CHANGELOG.md
  package.json
  test/dummy/package.json
  test/dummy/yarn.lock
  yarn.lock
Due: none

chore(yarn): Bali pasa a Yarn 4.18.1 con node-modules
  .claude/CLAUDE.md
  .github/workflows/cypress.yml
  .github/workflows/standardjs.yml
  .github/workflows/test.yml
  .gitignore
  .yarnrc.yml
  CHANGELOG.md
  README.md
  docs/guides/release-channels.md
  package.json
  test/dummy/package.json
  test/dummy/yarn.lock
  yarn.lock
Due: none

fix(slim-select): lo que SlimSelect lee en voz alta, en el idioma de la página
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/form/slim_select/preview.rb
  app/components/bali/form/slim_select/previews/multiple.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/slim-select-texts.cy.js
  docs/api/block-editor.md
  docs/guides/form-builder.md
  docs/guides/installation.md
  docs/guides/migration-v3-to-v31.md
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/components/filters/condition/component_test.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop, standard

test(packaging): una prueba cuida que las apps no instalen Bali para empaquetarlo
  test/bali/packaging/git_dependency_contract_test.rb
Due: rubocop

fix(slim-select): ronda 1 de revisión — versiones en las guías, lista por instancia, bali-runtime
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/frontend/bali/block-editor.js
  app/frontend/bali/rich-text-editor.js
  cypress/e2e/slim-select-list.cy.js
  docs/api/block-editor.md
  docs/guides/installation.md
  docs/guides/migration-v3-to-v31.md
  test/bali/packaging/npm_peer_contract_test.rb
Due: rubocop, standard

test(packaging): `prepare` y los scripts de pack, cada uno con lo que cuesta
  test/bali/packaging/git_dependency_contract_test.rb
Due: rubocop

docs(slim-select): ronda 2 de revisión — Yarn 4.18.1, CHANGELOG en viñetas y el paso de GC
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/components/bali/filters/condition/component.rb
  app/frontend/bali/rich-text-editor.js
  config/locales/bali_view.es.yml
  docs/api/block-editor.md
  docs/guides/form-builder.md
  docs/guides/installation.md
  docs/guides/migration-v3-to-v31.md
Due: rubocop, standard

chore(deps): prosemirror-view 1.42.6 en la dummy y brace-expansion 5.0.12 en la raíz
  CHANGELOG.md
  test/dummy/package.json
  test/dummy/yarn.lock
  yarn.lock
Due: none

chore(yarn): scripts sólo para cypress y esbuild, compuerta de edad con exención y guías corridas tal cual
  .claude/CLAUDE.md
  .claude/commands/release.md
  .gitignore
  .yarnrc.yml
  CHANGELOG.md
  README.md
  bin/docker-claude
  docker/sandbox-setup.sh
  docs/guides/installation.md
  docs/guides/release-channels.md
  package.json
  test/bali/packaging/dependency_contract_test.rb
  test/dummy/package.json
  test/dummy/yarn.lock
  yarn.lock
Due: rubocop

fix(sandbox): el shim de Corepack va en ~/.local/bin, sin sudo
  docker/sandbox-setup.sh
Due: none

chore(yarn): ronda 2 de revisión — sólo daisyUI exento, cuatro pines y lo que detecta Yarn 4
  .yarnrc.yml
  CHANGELOG.md
  docs/guides/release-channels.md
  test/bali/packaging/dependency_contract_test.rb
  test/bali/packaging/git_dependency_contract_test.rb
Due: rubocop

release: v3.11.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop
