Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix(topbar): ocho hallazgos de la revisión final del menú de herramientas
  CHANGELOG.md
  app/components/bali/topbar/tools_menu/component.rb
  app/components/bali/topbar/tools_menu/tool.rb
  docs/guides/components.md
  docs/superpowers/specs/2026-08-29-topbar-tools-menu-design.md
  package.json
  test/bali/components/topbar_tools_menu_test.rb
  test/bali/components/topbar_tools_menu_tool_test.rb
  test/requests/topbar_previews_test.rb
Due: rubocop

chore(deps): view_component 4.15.0, pagy 43.6.2, cypress 15.21.1, daisyUI 5.7.22
  CHANGELOG.md
  Gemfile.lock
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

fix(topbar): el menú de herramientas sobrevive al contexto de un engine
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/topbar/tools_menu/tool.rb
  lib/bali/version.rb
  package.json
  test/bali/components/topbar_tools_menu_tool_test.rb
Due: rubocop

docs: cut the branch's non-critical comments and the superpowers specs
  app/components/bali/widget/card/component.rb
  app/components/bali/widget/component.rb
  app/components/bali/widget/size_picker/component.rb
  app/components/bali/widget_grid/component.rb
  app/components/bali/widget_grid/index.js
  app/lib/bali/widget.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/charted.rb
  app/lib/bali/widget/list_base.rb
  app/lib/bali/widget/value_base.rb
  app/models/bali/dashboard_widget.rb
  app/models/bali/dashboard_widget/store.rb
  docs/superpowers/plans/2026-08-25-widgets-and-widget-grid.md
  docs/superpowers/plans/2026-08-26-widget-size-ladder.md
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
  docs/superpowers/specs/2026-08-27-widget-declaration-dsl.md
  docs/superpowers/specs/2026-08-27-widget-pattern-bases.md
  lib/bali/concerns/controllers/dashboard_widgets.rb
  spec/dummy/app/controllers/modal_redirect_controller.rb
Due: rubocop, standard

feat(widget): a card can keep itself current
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/refresh/index.js
  app/components/bali/widget_grid/component.rb
  app/frontend/bali/components/index.js
  app/lib/bali/widget/base.rb
  app/views/bali/dashboard_widgets/show.html.erb
  cypress/e2e/widget-refresh.cy.js
  docs/guides/engine-models.md
  lib/bali/concerns/controllers/dashboard_widgets.rb
  spec/dummy/app/views/dashboard_widgets/show.html.erb
  spec/dummy/app/widgets/demo_widgets/project_progress.rb
  spec/dummy/app/widgets/demo_widgets/recent_movies.rb
  spec/dummy/config/routes.rb
  test/bali/components/widget_test.rb
  test/bali/widget/base_test.rb
  test/requests/dashboard_widgets_test.rb
Due: rubocop, standard

feat(widget): a stalled card stops claiming to be current
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/index.css
  app/components/bali/widget/refresh/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/widget-refresh.cy.js
  docs/guides/engine-models.md
  test/bali/components/widget_test.rb
Due: rubocop, standard

fix(widget): a revoked widget leaves the dashboard on its next refresh
  docs/guides/engine-models.md
  lib/bali/concerns/controllers/dashboard_widgets.rb
  test/requests/dashboard_widgets_test.rb
Due: rubocop

fix(widget): resizing killed auto-refresh; plus the mechanical review findings
  app/components/bali/widget/card/component.rb
  app/components/bali/widget/check/component.rb
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/list/component.rb
  app/lib/bali/widget.rb
  app/lib/bali/widget/check_base.rb
  app/lib/bali/widget/list_base.rb
  app/lib/bali/widget/progress_base.rb
  app/lib/bali/widget/trend_base.rb
  app/lib/bali/widget/value_base.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  lib/bali/concerns/controllers/dashboard_widgets.rb
  lib/bali/testing/widget_catalog.rb
  test/bali/components/widget_test.rb
  test/bali/concerns/controllers/dashboard_widgets_test.rb
  test/bali/testing/widget_catalog_test.rb
  test/bali/widget/base_test.rb
  test/bali/widget/patterns_test.rb
  test/requests/dashboard_widgets_test.rb
Due: rubocop

refactor(widget): the structural half of the DHH review
  app/components/bali/widget/component.rb
  app/components/bali/widget/rows/component.rb
  app/components/bali/widget/size_picker/component.rb
  app/components/bali/widget_grid/index.js
  app/lib/bali/widget.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/builder.rb
  app/lib/bali/widget/charted.rb
  app/lib/bali/widget/check_base.rb
  app/lib/bali/widget/list_base.rb
  app/lib/bali/widget/progress_base.rb
  app/lib/bali/widget/trend_base.rb
  app/lib/bali/widget/value_base.rb
  app/models/bali/dashboard_widget/store.rb
  lib/bali/concerns/controllers/dashboard_widgets.rb
  test/bali/components/widget_test.rb
  test/bali/widget/base_test.rb
Due: rubocop, standard

refactor(widget): move the widget contract to app/widgets
  app/lib/bali/widget/builder.rb
  app/widgets/bali/widget.rb
  app/widgets/bali/widget/base.rb
  app/widgets/bali/widget/builder.rb
  app/widgets/bali/widget/charted.rb
  app/widgets/bali/widget/check_base.rb
  app/widgets/bali/widget/list_base.rb
  app/widgets/bali/widget/placement.rb
  app/widgets/bali/widget/progress_base.rb
  app/widgets/bali/widget/trend_base.rb
  app/widgets/bali/widget/value_base.rb
  lib/bali/engine.rb
  test/requests/icon_previews_test.rb
Due: rubocop

fix(widget): the second review round — two regressions, and a lock I should not have added
  app/components/bali/widget/card/component.rb
  app/components/bali/widget/component.rb
  app/models/bali/dashboard_widget/store.rb
  app/widgets/bali/widget.rb
  app/widgets/bali/widget/base.rb
  app/widgets/bali/widget/charted.rb
  app/widgets/bali/widget/check_base.rb
  app/widgets/bali/widget/list_base.rb
  app/widgets/bali/widget/progress_base.rb
  app/widgets/bali/widget/trend_base.rb
  app/widgets/bali/widget/value_base.rb
  db/migrate/20260825120000_create_bali_dashboard_widgets.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  lib/bali/concerns/controllers/dashboard_widgets.rb
  lib/bali/testing/store_contract.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/testing/store_contract_test.rb
  test/bali/widget/base_test.rb
  test/generators/widget_generator_test.rb
Due: rubocop

fix(widget): the third review round
  .claude/CLAUDE.md
  app/components/bali/widget/card/component.rb
  app/components/bali/widget/preview.rb
  app/models/bali/dashboard_widget/store.rb
  app/widgets/bali/widget.rb
  app/widgets/bali/widget/base.rb
  app/widgets/bali/widget/builder.rb
  app/widgets/bali/widget/charted.rb
  app/widgets/bali/widget/check_base.rb
  app/widgets/bali/widget/list_base.rb
  app/widgets/bali/widget/progress_base.rb
  app/widgets/bali/widget/trend_base.rb
  docs/reference/widget-design-notes.md
  lib/bali/concerns/controllers/dashboard_widgets.rb
  lib/bali/testing/store_contract.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/testing/store_contract_test.rb
  test/bali/widget/base_test.rb
Due: rubocop

docs(widget): say that StoreContract writes
  docs/guides/engine-models.md
  lib/bali/testing/store_contract.rb
Due: rubocop

fix(widget): the generator scaffolded a test that could not run
  app/widgets/bali/widget/base.rb
  lib/bali/concerns/controllers/dashboard_widgets.rb
  lib/generators/bali/widget/templates/widget_test.rb.tt
  lib/generators/bali/widget/widget_generator.rb
  test/bali/concerns/controllers/dashboard_widgets_test.rb
  test/generators/widget_generator_test.rb
Due: rubocop

chore(widget): close the reviewer's three non-blocking notes
  lib/generators/bali/widget/templates/widget.rb.tt
  test/bali/components/widget_test.rb
  test/bali/testing/widget_catalog_test.rb
  test/generators/widget_generator_test.rb
Due: rubocop

docs(widget): two screenshots of the dashboard demo
  docs/images/widget-dashboard-charts.jpg
  docs/images/widget-dashboard.jpg
Due: none

refactor(widget): delete Bali::Widget::Builder
  app/widgets/bali/widget/base.rb
  app/widgets/bali/widget/builder.rb
  app/widgets/bali/widget/charted.rb
  app/widgets/bali/widget/check_base.rb
  app/widgets/bali/widget/list_base.rb
  app/widgets/bali/widget/progress_base.rb
  app/widgets/bali/widget/trend_base.rb
  test/bali/widget/patterns_test.rb
Due: rubocop

feat(form-builder): el separador de miles se escribe solo
  app/assets/javascripts/bali/controllers/number-format-controller.js
  app/frontend/bali/controllers/index.js
  app/frontend/bali/index.js
  cypress/e2e/number-format.cy.js
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/number_fields.rb
  lib/bali/form_builder/numeric_fields.rb
  test/bali/form_builder/number_fields_test.rb
  test/bali/form_builder/numeric_fields_test.rb
  test/bali/form_builder/options_contract_test.rb
Due: rubocop, standard

feat(form-builder): previews del separador de miles en vivo
  app/components/bali/form/currency/preview.rb
  app/components/bali/form/number/preview.rb
  app/components/bali/form/number/previews/delimited.html.erb
Due: rubocop

docs(form-builder): number-format en el catálogo y en la guía
  CHANGELOG.md
  docs/guides/controllers.md
  docs/guides/form-builder.md
  docs/guides/javascript-integration.md
  spec/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: none

fix(widget): a test that proved nothing, and three stale comments
  app/widgets/bali/widget/check_base.rb
  app/widgets/bali/widget/list_base.rb
  app/widgets/bali/widget/progress_base.rb
  app/widgets/bali/widget/trend_base.rb
  test/bali/widget/patterns_test.rb
Due: rubocop

docs: the widget CHANGELOG entry described an API that no longer exists
  CHANGELOG.md
Due: none

fix(widget): export WidgetRefreshController so a host can reach it
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
Due: standard

fix(form-builder): el separador de miles es opt-in y el valor inicial lo agrupa el servidor
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/number-format-controller.js
  app/components/bali/form/currency/preview.rb
  app/components/bali/form/currency/previews/delimited.html.erb
  app/components/bali/form/percentage/preview.rb
  app/components/bali/form/percentage/previews/delimited.html.erb
  cypress/e2e/number-format.cy.js
  docs/guides/controllers.md
  docs/guides/form-builder.md
  docs/guides/javascript-integration.md
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/number_fields.rb
  lib/bali/form_builder/numeric_fields.rb
  lib/bali/form_builder/step_number_fields.rb
  spec/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
  test/bali/form_builder/numeric_fields_test.rb
  test/bali/form_builder/options_contract_test.rb
  test/bali/form_builder/step_number_fields_test.rb
Due: rubocop, standard

fix(form-builder,block-editor): los cuatro defectos que solo se ven en navegador (#1111)
  CHANGELOG.md
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/config.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/preview.rb
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/index.js
  cypress/e2e/block-editor-threads-sidebar.cy.js
  cypress/e2e/document-editor-comment-dirty.cy.js
  docs/api/block-editor.md
  docs/guides/form-builder.md
  lib/bali/form_builder/boolean_fields.rb
  lib/bali/form_builder/coordinates_polygon_fields.rb
  lib/bali/form_builder/dynamic_fields.rb
  lib/bali/form_builder/error_summary_fields.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/radio_fields.rb
  lib/bali/form_builder/range_fields.rb
  lib/bali/form_builder/rich_text_fields.rb
  lib/bali/form_builder/switch_fields.rb
  lib/bali/form_builder/time_period_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/components/block_editor_config_test.rb
  test/bali/components/block_editor_test.rb
  test/bali/components/document_editor_test.rb
  test/bali/form_builder/error_summary_test.rb
  test/bali/form_builder/input_name_option_test.rb
  test/bali/form_builder/mistaken_options_test.rb
  test/bali/form_builder/options_contract_test.rb
Due: rubocop, standard

release: v3.3.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

docs(changelog): condensa la entrada de v3.3.0
  CHANGELOG.md
Due: none

feat(calendar): vista de año como mapa de densidad de doce meses
  CHANGELOG.md
  app/components/bali/calendar/component.html+mobile.erb
  app/components/bali/calendar/component.html.erb
  app/components/bali/calendar/component.rb
  app/components/bali/calendar/header/component.html.erb
  app/components/bali/calendar/header/component.rb
  app/components/bali/calendar/index.css
  app/components/bali/calendar/preview.rb
  app/components/bali/calendar/previews/_template.html.erb
  app/components/bali/calendar/previews/event.rb
  app/components/bali/calendar/year_grid/component.html.erb
  app/components/bali/calendar/year_grid/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/calendar-year-view.cy.js
  docs/guides/components.md
  spec/dummy/app/views/calendar_fixtures/_day.html.erb
  test/bali/components/calendar_test.rb
Due: rubocop, standard

feat(calendar): month_size decide el tamaño de la miniatura en la vista de año
  CHANGELOG.md
  app/components/bali/calendar/component.rb
  app/components/bali/calendar/preview.rb
  app/components/bali/calendar/year_grid/component.html.erb
  app/components/bali/calendar/year_grid/component.rb
  docs/guides/components.md
  test/bali/components/calendar_test.rb
Due: rubocop

chore(dummy): check in the widget migration so db:migrate builds the demo
  spec/dummy/db/migrate/20260825120000_create_bali_dashboard_widgets.bali.rb
Due: rubocop

chore: reorder entity_references and saved_views tables in schema definition
  spec/dummy/db/schema.rb
Due: rubocop

fix(widget-grid): edit mode wrote history Turbo refuses to restore
  app/components/bali/widget_grid/index.js
  cypress/e2e/widget-history.cy.js
Due: standard

fix(widget): the twelve findings from fedegl's third review pass
  app/components/bali/gauge/component.html.erb
  app/components/bali/gauge/component.rb
  app/components/bali/widget/card/component.html.erb
  app/components/bali/widget/card/component.rb
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/refresh/index.js
  app/components/bali/widget_grid/component.rb
  app/components/bali/widget_grid/index.js
  app/models/bali/dashboard_widget/store.rb
  app/widgets/bali/widget/progress_base.rb
  app/widgets/bali/widget/trend_base.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  db/migrate/20260825120000_create_bali_dashboard_widgets.rb
  lib/bali/engine_migrations.rb
  spec/dummy/db/migrate/20260825120000_create_bali_dashboard_widgets.bali.rb
  spec/dummy/db/schema.rb
  test/bali/components/gauge_test.rb
  test/bali/components/widget_test.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/widget/patterns_test.rb
  test/requests/icon_previews_test.rb
Due: rubocop, standard

fix(widget): a card may not write to the options hash it was handed
  app/components/bali/gauge/component.rb
  app/components/bali/widget/component.rb
  app/components/bali/widget_grid/component.rb
  app/components/bali/widget_grid/index.js
  app/models/bali/dashboard_widget/store.rb
  lib/bali/testing/store_contract.rb
  test/bali/components/widget_test.rb
Due: rubocop, standard

test(widget-grid): cover the grid half of the options-hash fix
  test/bali/components/widget_grid_test.rb
Due: rubocop

refactor(widget): name the copy the prepend_* family needs
  app/components/bali/widget/component.rb
  app/components/bali/widget_grid/component.rb
  lib/bali/html_element_helper.rb
  test/bali/html_element_helper_test.rb
Due: rubocop

docs: cut the comments on the options-hash fix to what carries weight
  app/components/bali/widget/component.rb
  app/components/bali/widget_grid/component.rb
  app/components/bali/widget_grid/index.js
  app/models/bali/dashboard_widget/store.rb
  lib/bali/html_element_helper.rb
  lib/bali/testing/store_contract.rb
  test/bali/components/widget_grid_test.rb
  test/bali/components/widget_test.rb
  test/bali/html_element_helper_test.rb
Due: rubocop, standard

fix(side-menu): el item de la página actual entra en vista tras cada visita
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.js
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/active_item_in_view.html.erb
  cypress/e2e/side-menu-active-in-view.cy.js
  test/bali/components/side_menu_test.rb
Due: rubocop, standard

refactor(side-menu): recorta la revelación y la extiende al rail colapsado
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.js
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/current_page_in_view.html.erb
  cypress/e2e/side-menu-active-in-view.cy.js
  cypress/e2e/side-menu-current-page-in-view.cy.js
  test/bali/components/side_menu_test.rb
Due: rubocop, standard

feat(form-builder): el separador de miles se escribe solo — number-format (v3.3.0) (#1112)
  CHANGELOG.md
  Gemfile.lock
  app/assets/javascripts/bali/controllers/number-format-controller.js
  app/components/bali/form/currency/preview.rb
  app/components/bali/form/currency/previews/delimited.html.erb
  app/components/bali/form/number/preview.rb
  app/components/bali/form/number/previews/delimited.html.erb
  app/components/bali/form/percentage/preview.rb
  app/components/bali/form/percentage/previews/delimited.html.erb
  app/frontend/bali/controllers/index.js
  app/frontend/bali/index.js
  cypress/e2e/number-format.cy.js
  docs/guides/controllers.md
  docs/guides/form-builder.md
  docs/guides/javascript-integration.md
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/number_fields.rb
  lib/bali/form_builder/numeric_fields.rb
  lib/bali/form_builder/step_number_fields.rb
  lib/bali/version.rb
  package.json
  spec/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
  test/bali/form_builder/number_fields_test.rb
  test/bali/form_builder/numeric_fields_test.rb
  test/bali/form_builder/options_contract_test.rb
  test/bali/form_builder/step_number_fields_test.rb
Due: rubocop, standard

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
