Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

chore(release): v3.1.0.beta.5 — FormBuilder y filtros completos, react-island consolidado
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(side-menu): theme: emite data-theme en el nav — el chrome oscuro en un keyword (#726 PR3)
  CHANGELOG.md
  app/components/bali/side_menu/bottom_group/component.html.erb
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/dark_chrome.html.erb
  docs/guides/custom-themes.md
  test/bali/components/side_menu_test.rb
Due: rubocop

fix(side-menu): un sidebar con tema pinta su propia superficie, también inline
  app/components/bali/side_menu/index.css
Due: none

feat(bulk-actions): control por acción y target: — el input viaja con el POST (#724 PR1)
  CHANGELOG.md
  app/components/bali/bulk_actions/action/component.rb
  app/components/bali/bulk_actions/preview.rb
  test/bali/components/bulk_actions_test.rb
Due: rubocop

feat(qr-scanner): lector de QR con cámara y estados de permiso visibles
  app/assets/stylesheets/bali/components.css
  app/components/bali/qr_scanner/component.html.erb
  app/components/bali/qr_scanner/component.rb
  app/components/bali/qr_scanner/index.css
  app/components/bali/qr_scanner/index.js
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: rubocop, standard

test(qr-scanner): render en minitest y cámara simulada en Cypress
  cypress/e2e/qr-scanner-controller.cy.js
  cypress/fixtures/qr-modules.json
  test/bali/components/qr_scanner_test.rb
Due: rubocop, standard

docs(qr-scanner): previews de Lookbook, catálogo y CHANGELOG
  CHANGELOG.md
  app/components/bali/qr_scanner/preview.rb
  app/components/bali/qr_scanner/previews/with_listener.html.erb
  docs/guides/components.md
Due: rubocop

feat(bulk-actions): seleccionar los N filtrados, no solo la página (#724 PR2)
  CHANGELOG.md
  app/components/bali/bulk_actions/action/component.rb
  app/components/bali/bulk_actions/component.html.erb
  app/components/bali/bulk_actions/component.rb
  app/components/bali/bulk_actions/index.js
  app/components/bali/bulk_actions/preview.rb
  app/components/bali/data_table/component.rb
  app/components/bali/filters/active_filter_params.rb
  app/components/bali/filters/component.rb
  app/components/bali/filters/preserved_params.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/bulk-actions-controller.cy.js
  test/bali/components/bulk_actions_test.rb
Due: rubocop, standard

feat(chat): burbuja, typing-indicator y contenedor con autoscroll (#927)
  app/components/bali/chat/component.html.erb
  app/components/bali/chat/component.rb
  app/components/bali/chat/index.js
  app/components/bali/chat/message/component.html.erb
  app/components/bali/chat/message/component.rb
  app/components/bali/chat/typing_indicator/component.html.erb
  app/components/bali/chat/typing_indicator/component.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
Due: rubocop, standard

feat(chat): previews de Lookbook — conversación, burbujas e indicador (#927)
  app/components/bali/chat/preview.rb
  app/components/bali/chat/previews/bubbles.html.erb
  app/components/bali/chat/previews/default.html.erb
  app/components/bali/chat/previews/typing_indicator.html.erb
Due: rubocop

test(chat): minitest de los tres componentes, request de previews y Cypress (#927)
  cypress/e2e/chat-controller.cy.js
  test/bali/components/chat_test.rb
  test/requests/chat_previews_test.rb
Due: rubocop, standard

docs(chat): catálogo de componentes y CHANGELOG (#927)
  CHANGELOG.md
  docs/guides/components.md
Due: none

feat(gantt): mode: :interactive monta la isla sobre su propio fallback (#719)
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/ZoomControls.jsx
  app/components/bali/gantt/component.html.erb
  app/components/bali/gantt/component.rb
  app/components/bali/gantt/data.rb
  app/components/bali/gantt/index.js
  app/components/bali/gantt/preview.rb
  app/components/bali/gantt/previews/interactive.html.erb
  app/components/bali/gantt/previews/island.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/gantt/component_test.rb
Due: rubocop, standard

docs(gantt): docs/api/gantt.md con los contratos de mutación y broadcast (#719)
  CHANGELOG.md
  docs/api/gantt.md
  docs/guides/components.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/migration-v3-to-v31.md
Due: none

docs(bulk-actions): el control, el target y el contrato de "los N filtrados" (#724 PR3)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  docs/guides/components.md
  test/bali/components/bulk_actions_test.rb
Due: rubocop

test(gantt): cypress del swap entre el fallback y la isla (#719)
  cypress/e2e/gantt-interactive.cy.js
Due: standard

chore(changelog): devuelve la entrada de QrScanner a Added tras el merge
  CHANGELOG.md
Due: none

feat(split-view): master-detail con el detalle dentro de un Turbo Frame (#728)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/split_view/component.html.erb
  app/components/bali/split_view/component.rb
  app/components/bali/split_view/index.css
  app/components/bali/split_view/index.js
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
Due: rubocop, standard

test(split-view): preview de Lookbook, página de referencia del dummy y specs (#728)
  app/components/bali/split_view/preview.rb
  app/components/bali/split_view/previews/default.html.erb
  cypress/e2e/split-view.cy.js
  spec/dummy/app/controllers/split_views_controller.rb
  spec/dummy/app/views/split_views/_detail.html.erb
  spec/dummy/app/views/split_views/_master.html.erb
  spec/dummy/app/views/split_views/show.html.erb
  spec/dummy/config/routes.rb
  test/bali/components/split_view_test.rb
Due: rubocop, standard

fix(split-view): el detalle usa el slot title de Card, no un card-body a mano
  app/components/bali/split_view/previews/default.html.erb
  spec/dummy/app/views/split_views/_detail.html.erb
Due: none

docs(split-view): guía del patrón master-detail (#728, PR 2/2)
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/master-detail.md
  spec/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
Due: none

fix(bulk-actions): el date_range declarado como attribute no viajaba (#724 review)
  CHANGELOG.md
  app/components/bali/bulk_actions/action/component.rb
  app/components/bali/bulk_actions/component.rb
  app/components/bali/bulk_actions/index.js
  app/components/bali/filters/active_filter_params.rb
  cypress/e2e/bulk-actions-controller.cy.js
  test/bali/components/bulk_actions_test.rb
Due: rubocop, standard

docs(bulk-actions): la frontera de qué viaja, y el cast del flag (#724 review)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  docs/guides/components.md
Due: none

fix(bulk-actions): el comentario del preset decía lo contrario de lo que pasa (#724 review)
  CHANGELOG.md
  app/components/bali/filters/active_filter_params.rb
  test/bali/components/bulk_actions_test.rb
Due: rubocop

fix(react-island): un fallo de carga ya no destruye el fallback del mount (#719)
  CHANGELOG.md
  app/components/bali/react_island/previews/load_error.html.erb
  app/frontend/bali/react-island.js
  cypress/e2e/react-island.cy.js
Due: standard

docs(gantt): corrige qué valida la isla y qué solo el servidor (#719)
  docs/api/gantt.md
Due: none

test(gantt): deja el flip del gate D16 de verdad en una línea (#719)
  app/components/bali/gantt/component.rb
  app/components/bali/gantt/preview.rb
  cypress/e2e/gantt-interactive.cy.js
  test/bali/components/gantt/component_test.rb
  test/bali/components/gantt/time_scale_test.rb
Due: rubocop, standard

fix(split-view): el ejemplo del docstring no lleva turbo_action, y la URL se compara por params (#728)
  CHANGELOG.md
  app/components/bali/split_view/component.rb
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: rubocop, standard

docs(split-view): qué pasa cuando la petición del detalle falla (#728)
  CHANGELOG.md
  docs/guides/master-detail.md
  spec/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
Due: none

chore(changelog): de-duplica la entrada de #724 que el driver union coló doble
  CHANGELOG.md
Due: none

fix(react-island): el swap a la isla deja de pasar por un hueco en blanco (#719)
  CHANGELOG.md
  app/frontend/bali/react-island.js
  docs/api/gantt.md
  docs/api/react-island.md
Due: standard

release: v3.1.0.beta.6
  CHANGELOG.md
  lib/bali/version.rb
  package.json
Due: rubocop

chore(changelog): reconstruye [Unreleased]/beta.6 tras el merge de #719
  CHANGELOG.md
Due: none

release: v3.1.0.beta.7
  CHANGELOG.md
  lib/bali/version.rb
  package.json
Due: rubocop

fix(release): el Gemfile.lock viaja con el bump de versión
  Gemfile.lock
  docs/guides/release-channels.md
Due: none

fix(cypress): la franja se mide contra clientWidth, no innerWidth
  cypress/e2e/app-layout-banner.cy.js
Due: standard

docs(gantt): statuses: cubre estados de items Y de groups
  CHANGELOG.md
  docs/api/gantt.md
Due: none

feat(gantt)!: la isla es el único renderer — muere el tablero estático (#970)
  CHANGELOG.md
  app/components/bali/gantt/TaskBarNode.jsx
  app/components/bali/gantt/ZoomControls.jsx
  app/components/bali/gantt/colors.rb
  app/components/bali/gantt/component.html.erb
  app/components/bali/gantt/component.rb
  app/components/bali/gantt/data.rb
  app/components/bali/gantt/flow.css
  app/components/bali/gantt/ganttColors.js
  app/components/bali/gantt/index.css
  app/components/bali/gantt/index.js
  app/components/bali/gantt/preview.rb
  app/components/bali/gantt/previews/component.html.erb
  app/components/bali/gantt/previews/editable.html.erb
  app/components/bali/gantt/previews/interactive.html.erb
  app/components/bali/gantt/previews/island_readonly.html.erb
  app/components/bali/gantt/timeScale.js
  app/components/bali/gantt/time_scale.rb
  app/components/bali/react_island/previews/load_error.html.erb
  app/frontend/bali/react-island.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/gantt-interactive.cy.js
  cypress/e2e/gantt-island.cy.js
  cypress/e2e/gantt-swap.cy.js
  docs/api/gantt.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/migration-v3-to-v31.md
  spec/dummy/app/views/admin/projects/show.html.erb
  spec/dummy/app/views/layouts/_head.html.erb
  test/bali/components/gantt/colors_test.rb
  test/bali/components/gantt/component_test.rb
  test/bali/components/gantt/data_test.rb
  test/bali/components/gantt/time_scale_test.rb
  test/requests/gantt_island_previews_test.rb
Due: rubocop, standard

test(gantt): guarda el circuito content_for :head y distingue culling de D10 roto
  cypress/e2e/gantt-island.cy.js
  test/requests/admin_gantt_schedule_test.rb
Due: rubocop, standard

feat(split-view): listado estructurado (with_list/with_item) e infinite scroll (#971)
  CHANGELOG.md
  app/components/bali/split_view/component.html.erb
  app/components/bali/split_view/component.rb
  app/components/bali/split_view/index.css
  app/components/bali/split_view/index.js
  app/components/bali/split_view/list/component.html.erb
  app/components/bali/split_view/list/component.rb
  app/components/bali/split_view/list/index.js
  app/components/bali/split_view/list/item/component.html.erb
  app/components/bali/split_view/list/item/component.rb
  app/components/bali/split_view/preview.rb
  app/components/bali/split_view/previews/structured_list.html.erb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  cypress/e2e/split-view-list.cy.js
  docs/guides/components.md
  docs/guides/master-detail.md
  package.json
  spec/dummy/app/controllers/split_views_controller.rb
  spec/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
  spec/dummy/app/views/split_views/_master.html.erb
  spec/dummy/app/views/split_views/show.html.erb
  test/bali/components/split_view_list_test.rb
Due: rubocop, standard

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
