Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix: address DHH review findings for AppLayout and Columns
  app/components/bali/app_layout/component.rb
  app/components/bali/columns/column/component.rb
  app/components/bali/columns/component.rb
  test/bali/components/app_layout_test.rb
  test/bali/components/columns_test.rb
Due: rubocop

fix(dummy): use status_color model method and I18n in studio views
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/app/views/studios/show.html.erb
  spec/dummy/config/locales/en.yml
Due: none

fix(AppLayout): use [] instead of dig for FlashHash compatibility
  app/components/bali/app_layout/component.rb
Due: rubocop

fix(ci): resolve all PR check failures
  .github/workflows/cypress.yml
  .github/workflows/standardjs.yml
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  yarn.lock
Due: none

chore: remove Bulma-to-DaisyUI migration artifacts
  .claude/CLAUDE.md
  .claude/commands/audit.md
  .claude/commands/component-cycle.md
  .claude/commands/docs.md
  .claude/commands/fix-component.md
  .claude/commands/migrate-component.md
  .claude/commands/pr.md
  .claude/commands/release.md
  .claude/commands/review-all.md
  .claude/commands/review-cycle.md
  .claude/commands/review.md
  .claude/commands/ultrawork.md
  .claude/commands/verify-component.md
  .claude/migration-log.md
  docs/migration/ASSET_PIPELINE_MIGRATION_PLAN.md
  docs/migration/AUTONOMOUS_MIGRATION_WORKFLOW.md
  docs/migration/BREAKING_CHANGES.md
  docs/migration/analysis/manifest.json
  docs/reference/daisyui-mapping.md
  spec/dummy/app/views/lookbook/pages/04_reference/01_daisyui_mapping.md.erb
Due: none

refactor(AppLayout): replace raw HTML with Bali components in content_only preview
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/content_only.html.erb
Due: rubocop

chore: clean up CLAUDE.md files across repository
  CLAUDE.md
  app/components/CLAUDE.md
  app/components/bali/block_editor/CLAUDE.md
  app/views/layouts/CLAUDE.md
  config/CLAUDE.md
  config/locales/CLAUDE.md
  spec/dummy/CLAUDE.md
Due: none

fix(AppLayout): fix ERB parse error in content_only preview
  app/components/bali/app_layout/previews/content_only.html.erb
Due: none

fix(Columns): use explicit class names for Tailwind responsive grid detection
  app/components/bali/columns/component.rb
  spec/dummy/app/assets/tailwind/application.css
  spec/dummy/app/views/layouts/_marketing_footer.html.erb
Due: rubocop

fix(Columns): use explicit responsive width classes for Tailwind detection
  app/components/bali/columns/column/component.rb
  spec/dummy/app/assets/tailwind/application.css
Due: rubocop

feat(AppLayout): add bg-base-200 as default background color
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/previews/content_only.html.erb
Due: rubocop

Update claude.settings
  .claude/settings.json
Due: none

fix: improve mobile responsiveness across components
  app/components/bali/gantt_chart/index.css
  app/components/bali/pagination_footer/component.html.erb
  app/components/bali/side_menu/previews/default.html.erb
  app/components/bali/side_menu/previews/ecommerce.html.erb
  app/components/bali/side_menu/previews/with_bottom_groups.html.erb
  app/components/bali/side_menu/previews/with_bottom_items.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/header/component.rb
  test/bali/components/table_test.rb
Due: rubocop

fix: extend mobile responsiveness to layout, filters, and modal components
  app/components/bali/app_layout/component.rb
  app/components/bali/breadcrumb/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/form_page/component.html.erb
  app/components/bali/form_page/previews/default.html.erb
  app/components/bali/form_page/previews/with_sidebar.html.erb
  app/components/bali/level/component.rb
  app/components/bali/modal/component.html.erb
  app/components/bali/show_page/component.html.erb
  test/bali/components/app_layout_test.rb
  test/bali/components/table_test.rb
Due: rubocop

fix: redesign filters for mobile with full-screen overlay
  app/components/bali/data_table/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/filter_group/component.html.erb
Due: none

fix: redesign filters for true mobile-first experience
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/filter_group/component.html.erb
Due: none

fix: resolve Tailwind v4 hidden vs max-sm:flex specificity conflict
  app/components/bali/filters/component.html.erb
Due: none

feat: add filter overlay animation and compact mobile toolbar
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/export/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/controllers/filters_controller.js
Due: standard

fix: compact mobile toolbar and fix filter turbo stream response
  app/components/bali/data_table/component.html.erb
  app/components/bali/filters/component.html.erb
  spec/dummy/app/views/movies/index.turbo_stream.erb
Due: none

feat: add responsive icon-only mobile buttons using DaisyUI btn-square
  app/components/bali/button/component.html.erb
  app/components/bali/button/component.rb
  app/components/bali/button/preview.rb
  app/components/bali/link/component.html.erb
  app/components/bali/link/component.rb
  app/components/bali/link/preview.rb
  app/components/bali/page_header/component.rb
  spec/dummy/app/views/admin/settings/show.html.erb
  spec/dummy/app/views/pages/landing.html.erb
  spec/dummy/app/views/settings/show.html.erb
  spec/dummy/app/views/studios/index.html.erb
  test/bali/components/button_test.rb
  test/bali/components/link_test.rb
  test/bali/components/page_header_test.rb
Due: rubocop

fix: navbar mobile menu text color and dropdown clipping
  app/components/bali/navbar/menu/component.rb
  spec/dummy/app/views/layouts/_navbar.html.erb
Due: rubocop

fix: navbar dropdown triggers use menu variant for consistent styling
  spec/dummy/app/views/layouts/_navbar.html.erb
Due: none

fix: add mobile divider between navbar nav links and utility dropdowns
  app/components/bali/navbar/menu/component.rb
Due: rubocop

fix: replace oversized avatar with circle-user icon in navbar admin dropdown
  spec/dummy/app/views/layouts/_navbar.html.erb
Due: none

feat: close navbar mobile menu on click outside
  app/components/bali/navbar/index.js
Due: standard

fix: add mobile sidebar toggle button to admin layout
  spec/dummy/app/views/layouts/admin.html.erb
Due: none

fix: always show sidebar expanded on mobile
  app/components/bali/side_menu/index.js
Due: standard

fix: prevent horizontal scroll on mobile in AppLayout
  app/components/bali/app_layout/component.rb
Due: rubocop

fix: use CSS rule for overflow-x on fixed sidebar layouts
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/index.css
Due: rubocop

fix: mobile sidebar responsiveness — root cause fix and UX improvements
  .claude/CLAUDE.md
  app/components/bali/app_layout/index.css
  app/components/bali/filters/component.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/index.js
  test/bali/components/app_layout_test.rb
Due: rubocop, standard

docs: add changelog entries for mobile responsiveness fixes
  CHANGELOG.md
Due: none

fix: scope navbar menu text color override to mobile only
  app/components/bali/navbar/menu/component.rb
Due: rubocop

fix: move toast notifications to bottom-right with proper stacking
  app/assets/stylesheets/bali/general.css
  app/components/bali/app_layout/component.html.erb
  app/components/bali/flash_notifications/component.html.erb
  app/components/bali/flash_notifications/preview.rb
  app/components/bali/notification/component.html.erb
  app/components/bali/notification/component.rb
  app/components/bali/notification/index.js
  spec/dummy/app/views/dashboard/index.html.erb
  test/bali/components/app_layout_test.rb
  test/bali/components/notification_test.rb
Due: rubocop, standard

fix: add budget data to movie seeds for revenue page showcase
  spec/dummy/db/seeds.rb
Due: rubocop

refactor: review cleanup — DRY templates, consolidate CSS, add notification position param
  app/components/bali/button/component.html.erb
  app/components/bali/link/component.html.erb
  app/components/bali/notification/component.rb
  app/components/bali/side_menu/index.css
Due: rubocop

fix: prevent BlockNote editor crash on Turbo Drive revisit
  app/components/bali/block_editor/index.js
Due: standard

fix: responsive SimpleFilters layout — 2-column grid on mobile
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
