Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

chore(rubocop): cerrar la compuerta del inglés — previews, dummy y lo que no es Ruby
  .rubocop.yml
  .rubocop_todo.yml
  CHANGELOG.md
  spec/dummy/config/application.rb
  spec/dummy/config/environments/development.rb
  spec/dummy/config/initializers/bali.rb
  spec/dummy/config/initializers/bali_lib_reloader.rb
  spec/dummy/config/initializers/content_security_policy.rb
  test/english_outside_ruby_test.rb
Due: rubocop

chore(rubocop): acotar el cop al @example de WorkflowSteps, que son datos de muestra
  app/components/bali/workflow_steps/component.rb
Due: rubocop

fix(react-island): la copia del preview de load_error, en inglés
  app/components/bali/react_island/previews/load_error.html.erb
  cypress/e2e/react-island.cy.js
Due: standard

chore(deps-dev): CHANGELOG del bump de Cypress, y main adentro
  CHANGELOG.md
Due: none

fix(test): la guardia de inglés reventaba con las capturas de un Cypress fallido
  test/english_outside_ruby_test.rb
Due: rubocop

chore: retirar los vestigios de RSpec — el generador, las instrucciones y los scripts
  .claude/agents/rails-performance-expert.md
  .claude/commands/audit.md
  .claude/commands/component-cycle.md
  .claude/commands/component.md
  .claude/commands/fix-component.md
  .claude/commands/performance.md
  .claude/commands/pr.md
  .claude/commands/release.md
  .claude/commands/review-all.md
  .claude/commands/review-cycle.md
  .claude/commands/review.md
  .claude/commands/test.md
  .opencode/skills/migrate-component.md
  CHANGELOG.md
  MIGRATION_STATUS.md
  README.md
  docker/sandbox-setup.sh
  lib/generators/view_component/templates/component.html.erb.tt
  lib/generators/view_component/templates/component.rb.tt
  lib/generators/view_component/templates/component_spec.rb.tt
  lib/generators/view_component/templates/index.css.tt
  lib/generators/view_component/templates/index.js.tt
  lib/generators/view_component/templates/preview.rb.tt
  lib/generators/view_component/view_component_generator.rb
  scripts/pre-commit-check.sh
Due: rubocop

fix: un fetch abortado deja de reprobar la suite de Cypress
  CHANGELOG.md
  app/components/bali/split_view/list/index.js
  cypress/e2e/split-view-list.cy.js
  cypress/support/e2e.js
Due: standard

docs: las instrucciones de .claude/ dejan de enseñar cosas que no existen
  .claude/agents/accessibility-auditor.md
  .claude/agents/dhh-code-reviewer.md
  .claude/agents/frontend-ui-ux-engineer.md
  .claude/agents/rails-performance-expert.md
  .claude/commands/a11y.md
  .claude/commands/audit.md
  .claude/commands/component-cycle.md
  .claude/commands/component.md
  .claude/commands/deprecate.md
  .claude/commands/docs.md
  .claude/commands/fix-component.md
  .claude/commands/performance.md
  .claude/commands/pr.md
  .claude/commands/release.md
  .claude/commands/review-cycle.md
  .claude/commands/test.md
  .claude/commands/verify-component.md
  .opencode/skills/daisyui-expert.md
  .opencode/skills/migrate-component.md
  CHANGELOG.md
  README.md
  docker/sandbox-setup.sh
  package.json
Due: none

feat: SplitView::List agrupa el listado con with_group
  CHANGELOG.md
  app/components/bali/split_view/index.css
  app/components/bali/split_view/list/component.html.erb
  app/components/bali/split_view/list/component.rb
  app/components/bali/split_view/list/group/component.html.erb
  app/components/bali/split_view/list/group/component.rb
  app/components/bali/split_view/list/index.js
  app/components/bali/split_view/preview.rb
  app/components/bali/split_view/previews/structured_list.html.erb
  cypress/e2e/split-view-list.cy.js
  docs/guides/components.md
  docs/guides/master-detail.md
  test/bali/components/split_view_list_test.rb
  test/dummy/app/controllers/split_views_controller.rb
  test/dummy/app/helpers/split_views_helper.rb
  test/dummy/app/views/split_views/show.html.erb
Due: rubocop, standard

fix: el id de la cabecera de grupo era ambiguo y la banda tapaba la fila enfocada
  CHANGELOG.md
  app/components/bali/split_view/index.css
  app/components/bali/split_view/list/group/component.rb
  cypress/e2e/split-view-list.cy.js
  docs/guides/master-detail.md
  test/bali/components/split_view_list_test.rb
Due: rubocop, standard

docs: la plantilla de componente nombraba mal el mapa de registro
  .claude/commands/component.md
Due: none

fix: el contador de la cabecera de grupo leía bajo AA
  .claude/agents/rails-performance-expert.md
  CHANGELOG.md
  app/components/bali/split_view/index.css
  cypress/e2e/split-view-list.cy.js
  docs/guides/master-detail.md
Due: standard

docs: las mediciones que justifican el /70 del contador estaban mal
  CHANGELOG.md
  app/components/bali/split_view/index.css
  cypress/e2e/split-view-list.cy.js
Due: standard

changelog: funde los encabezados repetidos de [Unreleased] en [v3.5.0]
  CHANGELOG.md
Due: none

release: v3.5.0
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

chore(deps): daisyUI 5.7.42 → 5.7.47 en la app dummy
  CHANGELOG.md
  test/dummy/package.json
  test/dummy/yarn.lock
Due: none

fix(split_view): un `q` que no es hash ya no tumba las pastillas
  CHANGELOG.md
  app/components/bali/split_view/list/filter/component.rb
  app/components/bali/split_view/previews/structured_list.html.erb
  docs/guides/master-detail.md
  test/bali/components/split_view_list_test.rb
  test/dummy/app/controllers/split_views_controller.rb
  test/requests/split_view_previews_test.rb
Due: rubocop

feat: Bali::IsoDate, y MonthValue deja de levantar al asignar
  CHANGELOG.md
  app/components/bali/gantt/data.rb
  lib/bali.rb
  lib/bali/iso_date.rb
  lib/bali/types/month_value.rb
  test/bali/components/gantt/data_test.rb
  test/bali/iso_date_test.rb
  test/bali/types/month_value_test.rb
  test/dummy/app/controllers/admin/projects/schedules_controller.rb
  test/requests/admin_gantt_schedule_test.rb
Due: rubocop

refactor(engine): quita la asignación de eager_load_paths, que no hacía nada
  CHANGELOG.md
  app/components/bali/pagination/pagy_adapter.rb
  lib/bali.rb
  lib/bali/engine.rb
  test/bali/block_editor_helper_test.rb
  test/bali/packaging/dependency_contract_test.rb
  test/requests/icon_previews_test.rb
Due: rubocop

docs(locale): el motivo para conservar la clave mission_control
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
Due: none

fix(split_view): el contador de las pastillas deja de apilar opacidad
  CHANGELOG.md
  app/components/bali/split_view/index.css
  cypress/e2e/split-view-list.cy.js
Due: standard

docs(split_view): el piso de alfa medido en afal, en vez de «nada pasa»
  app/components/bali/split_view/index.css
Due: none

feat(radio-toggle): targets que llegan por Turbo, campos ocultos deshabilitados y condición con casilla
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/radio-toggle-controller.js
  app/components/bali/radio_toggle/preview.rb
  app/components/bali/radio_toggle/previews/default.html.erb
  app/components/bali/radio_toggle/previews/dependent_fields.html.erb
  cypress/e2e/radio-toggle-controller.cy.js
  docs/guides/controllers.md
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: rubocop, standard

fix(block_editor): Turbo ya no deja a los editores de comentarios sin su <style>
  CHANGELOG.md
  app/components/bali/block_editor/CLAUDE.md
  app/components/bali/block_editor/index.js
  cypress/e2e/block-editor-turbo-teardown.cy.js
Due: standard

feat(data_table): el selector de columnas puede nombrarlas por llave
  CHANGELOG.md
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/column_selector/component.rb
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/column_storage.js
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_column_keys.html.erb
  app/components/bali/data_table/saved_views/component.rb
  app/components/bali/data_table/saved_views_controller.js
  cypress/e2e/data-table-column-memory.cy.js
  docs/guides/components.md
  test/bali/components/data_table/saved_views_test.rb
  test/bali/components/data_table_test.rb
Due: rubocop, standard

docs(release): las guías describen el PR de release y sus seis archivos
  .claude/commands/release.md
  .claude/hooks/pr-closes-keyword.sh
  CHANGELOG.md
  docs/guides/release-channels.md
Due: none

docs: los ejemplos de búsqueda tampoco leen q con dig
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
Due: none

chore(deps): js-yaml 5.4.2 y @ai-sdk/provider-utils 4.0.56
  CHANGELOG.md
  package.json
  test/dummy/yarn.lock
  yarn.lock
Due: none

changelog: por qué el bump no llega a un anfitrión, dicho con precisión
  CHANGELOG.md
Due: none

chore(deps-dev): CHANGELOG del bump de @babel/eslint-parser
  CHANGELOG.md
Due: none

docs(calendar): tres cosas que la vista de año no decía y que un anfitrión tuvo que descubrir
  app/components/bali/calendar/component.rb
  app/components/bali/calendar/previews/_template.html.erb
  app/components/bali/calendar/year_grid/component.rb
Due: rubocop

feat(calendar): el header acepta `min_date`/`max_date` y `drop_params`
  CHANGELOG.md
  app/components/bali/calendar/header/component.html.erb
  app/components/bali/calendar/header/component.rb
  app/components/bali/calendar/preview.rb
  docs/guides/components.md
  test/bali/components/calendar_test.rb
Due: rubocop

feat(calendar): el día de la vista de año se pinta suave y toma el sólido bajo el puntero
  CHANGELOG.md
  app/components/bali/calendar/year_grid/component.rb
  docs/guides/components.md
  test/bali/components/calendar_test.rb
Due: rubocop

release: v3.6.0
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

changelog: cierra [Unreleased] en [v3.6.0]
  CHANGELOG.md
Due: none

docs(calendar): la vista de año se queda con los comentarios que cargan un dato
  CHANGELOG.md
  app/components/bali/calendar/component.html+mobile.erb
  app/components/bali/calendar/component.html.erb
  app/components/bali/calendar/component.rb
  app/components/bali/calendar/header/component.html.erb
  app/components/bali/calendar/header/component.rb
  app/components/bali/calendar/index.css
  app/components/bali/calendar/preview.rb
  app/components/bali/calendar/previews/_template.html.erb
  app/components/bali/calendar/previews/event.rb
  app/components/bali/calendar/year_grid/component.html.erb
  app/components/bali/calendar/year_grid/component.rb
  cypress/e2e/calendar-year-view.cy.js
  test/bali/components/calendar_test.rb
  test/dummy/app/views/calendar_fixtures/_day.html.erb
Due: rubocop, standard

fix(calendar): el día con tarjeta y sin `day_url` toma foco
  CHANGELOG.md
  app/components/bali/calendar/year_grid/component.rb
  cypress/e2e/calendar-year-view.cy.js
  test/bali/components/calendar_test.rb
Due: rubocop, standard

fix(calendar): el número del día vacío y las iniciales leen AA, y tres nits del review
  CHANGELOG.md
  app/components/bali/calendar/header/component.rb
  app/components/bali/calendar/preview.rb
  app/components/bali/calendar/year_grid/component.html.erb
  app/components/bali/calendar/year_grid/component.rb
  cypress/e2e/calendar-year-view.cy.js
  docs/guides/components.md
  test/bali/components/calendar_test.rb
Due: rubocop, standard

feat(calendar): vista de año como mapa de densidad, y release v3.6.0 (#1115)
  CHANGELOG.md
  Gemfile.lock
  README.md
  app/components/bali/calendar/component.html+mobile.erb
  app/components/bali/calendar/component.html.erb
  app/components/bali/calendar/component.rb
  app/components/bali/calendar/header/component.html.erb
  app/components/bali/calendar/header/component.rb
  app/components/bali/calendar/index.css
  app/components/bali/calendar/preview.rb
  app/components/bali/calendar/previews/_template.html.erb
  app/components/bali/calendar/previews/event.rb
  app/components/bali/calendar/year_grid/component.html.erb
  app/components/bali/calendar/year_grid/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/calendar-year-view.cy.js
  docs/guides/components.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
  test/bali/components/calendar_test.rb
  test/dummy/app/views/calendar_fixtures/_day.html.erb
Due: rubocop, standard
