Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

refactor: address DHH code review round 2 - critical and major issues
  app/components/bali/dashboard_page/component.html.erb
  app/components/bali/form_page/component.html.erb
  app/components/bali/index_page/component.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/show_page/component.html.erb
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/side_menu/item/component.rb
  spec/dummy/app/controllers/admin/analytics_controller.rb
  spec/dummy/app/controllers/admin/characters_controller.rb
  spec/dummy/app/controllers/admin/dashboard_controller.rb
  spec/dummy/app/controllers/admin/movies/bulk_actions_controller.rb
  spec/dummy/app/controllers/admin/revenue_controller.rb
  spec/dummy/app/controllers/concerns/bulk_actionable.rb
  spec/dummy/app/controllers/movies/bulk_actions_controller.rb
  spec/dummy/app/models/demo_chart_data.rb
  spec/dummy/app/models/movie.rb
  spec/dummy/app/views/admin/movies/_activity_tab.html.erb
  spec/dummy/app/views/admin/movies/_characters_tab.html.erb
  spec/dummy/app/views/admin/movies/_details_tab.html.erb
  spec/dummy/app/views/admin/revenue/index.html.erb
  spec/dummy/app/views/admin/studios/_form.html.erb
  spec/dummy/app/views/admin/studios/edit.html.erb
  spec/dummy/app/views/admin/studios/new.html.erb
  spec/dummy/app/views/dashboard/index.html.erb
  spec/dummy/app/views/layouts/_admin_sidebar.html.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/config/locales/en.yml
  test/bali/components/side_menu_test.rb
Due: rubocop

fix: inline stat_card partial into DashboardPage component template
  app/components/bali/dashboard_page/_stat_card.html.erb
  app/components/bali/dashboard_page/component.html.erb
Due: none

fix: replace renders_many :stats with manual method for Data objects
  app/components/bali/dashboard_page/component.html.erb
  app/components/bali/dashboard_page/component.rb
Due: rubocop

fix: use Movie.draft scope in filter test and correct PropertiesTable API
  spec/dummy/app/views/admin/revenue/index.html.erb
  test/bali/filter_form_test.rb
Due: rubocop

fix: add max-width to DashboardPage and fix table variable shadowing
  app/components/bali/dashboard_page/component.html.erb
  app/components/bali/dashboard_page/component.rb
  spec/dummy/app/views/admin/revenue/index.html.erb
  spec/dummy/app/views/admin/studios/index.html.erb
Due: rubocop

refactor: address DHH code review findings across models, components, and views
  app/components/bali/form_page/component.html.erb
  app/components/bali/form_page/component.rb
  app/components/bali/page_components/shared.rb
  app/components/bali/show_page/component.html.erb
  spec/dummy/app/controllers/admin/analytics_controller.rb
  spec/dummy/app/controllers/admin/dashboard_controller.rb
  spec/dummy/app/controllers/admin/revenue_controller.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/dashboard_controller.rb
  spec/dummy/app/helpers/admin_helper.rb
  spec/dummy/app/models/movie.rb
  spec/dummy/app/models/studio.rb
  spec/dummy/app/views/admin/analytics/index.html.erb
  spec/dummy/app/views/admin/movies/_details_tab.html.erb
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/movies/show.html.erb
  spec/dummy/app/views/admin/revenue/index.html.erb
  spec/dummy/app/views/admin/studios/index.html.erb
  spec/dummy/app/views/dashboard/index.html.erb
  spec/dummy/app/views/layouts/_admin_sidebar.html.erb
  spec/dummy/app/views/layouts/admin.html.erb
  spec/dummy/config/locales/en.yml
Due: rubocop

fix: revert body_content extraction that broke FormPage slot rendering
  app/components/bali/form_page/component.html.erb
  app/components/bali/form_page/component.rb
Due: rubocop

fix: move distribution_rows to ApplicationHelper and fix AppLayout preview
  app/components/bali/app_layout/previews/default.html.erb
  spec/dummy/app/helpers/admin_helper.rb
  spec/dummy/app/helpers/application_helper.rb
Due: rubocop

fix: add min-w-0 to AppLayout content area to prevent flex overflow
  app/components/bali/app_layout/component.html.erb
Due: none

fix: change Chart default card_style to :none to prevent double card-body
  app/components/bali/chart/component.rb
  test/bali/components/chart_test.rb
Due: rubocop

fix: fall back to first menu when no active menu_switch is set
  app/components/bali/side_menu/component.rb
Due: rubocop

fix: guard against nil status/country in studios index
  spec/dummy/app/views/admin/studios/index.html.erb
Due: none

fix: add Admin link to navbar and replace all anchor placeholders
  spec/dummy/app/views/layouts/_admin_sidebar.html.erb
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/layouts/marketing.html.erb
Due: none

fix: add Dashboard and Admin links to marketing landing navbar
  spec/dummy/app/views/layouts/marketing.html.erb
Due: none

fix: update chart test to explicitly set card_style when testing card rendering
  test/bali/components/chart_test.rb
Due: rubocop

fix: update PaginationFooter preview for Pagy v43 API
  app/components/bali/pagination_footer/preview.rb
Due: rubocop

fix: contain fixed sidebar in AppLayout preview to prevent Lookbook overlap
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/default.html.erb
Due: rubocop

fix: point BlockEditor AI previews to Rails endpoint instead of Node.js server
  app/components/bali/block_editor/preview.rb
Due: rubocop

feat(AppLayout): add flash, modal, and drawer infrastructure
  .claude/migration-log.md
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/default.html.erb
  spec/dummy/config/database.yml
  test/bali/components/app_layout_test.rb
Due: rubocop

chore(dummy): use AppLayout flash/modal/drawer params
  spec/dummy/app/views/characters/create.turbo_stream.erb
  spec/dummy/app/views/layouts/admin.html.erb
Due: none

chore(dummy): align application layout modal/drawer IDs with admin layout
  spec/dummy/app/views/layouts/application.html.erb
Due: none

feat(AppLayout): add banner slot
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  test/bali/components/app_layout_test.rb
Due: rubocop

feat(AppLayout): add body_class and data params
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  test/bali/components/app_layout_test.rb
Due: rubocop

feat(AppLayout): render <body> tag with banner, navbar, sidebar slots
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/index.css
  test/bali/components/app_layout_test.rb
Due: rubocop

chore(dummy): use AppLayout v2 with body tag rendering
  spec/dummy/app/views/layouts/admin.html.erb
  spec/dummy/app/views/layouts/application.html.erb
Due: none

feat(AppLayout): add Lookbook previews for all layout variations
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/content_only.html.erb
  app/components/bali/app_layout/previews/navbar_only.html.erb
  app/components/bali/app_layout/previews/with_navbar.html.erb
Due: rubocop

fix(AppLayout): correct Navbar API usage in previews
  app/components/bali/app_layout/previews/navbar_only.html.erb
  app/components/bali/app_layout/previews/with_navbar.html.erb
Due: none

fix(AppLayout): address architect review feedback
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/previews/with_navbar.html.erb
Due: rubocop

fix: Guard StepNumberInput disconnect() against missing target element
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/step-number-input-controller.js
  lib/bali/version.rb
Due: rubocop, standard

deps: update bali_view_components to version 2.3.1
  Gemfile.lock
Due: none

Revert version bump, move changelog entry to Unreleased
  CHANGELOG.md
  lib/bali/version.rb
Due: rubocop

fix: Downgrade bali_view_components gem from 2.3.1 to 2.3.0.
  Gemfile.lock
Due: none

feat(Columns): refactor with flex/grid modes, responsive breakpoints, and CSS system
  app/components/bali/columns/column/component.rb
  app/components/bali/columns/component.html.erb
  app/components/bali/columns/component.rb
  app/components/bali/columns/index.css
  app/components/bali/columns/preview.rb
  app/components/bali/columns/previews/grid_auto_flow.html.erb
  app/components/bali/columns/previews/grid_form_layout.html.erb
  app/components/bali/columns/previews/responsive_main_sidebar.html.erb
  app/components/bali/columns/previews/responsive_stat_cards.html.erb
  app/components/bali/columns/previews/responsive_three_breakpoints.html.erb
  test/bali/components/columns_test.rb
Due: rubocop

chore(dummy): migrate all views from raw Tailwind grid to Bali::Columns
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/analytics/index.html.erb
  spec/dummy/app/views/admin/dashboard/index.html.erb
  spec/dummy/app/views/admin/movies/_details_tab.html.erb
  spec/dummy/app/views/admin/movies/_form.html.erb
  spec/dummy/app/views/admin/movies/show.html.erb
  spec/dummy/app/views/admin/revenue/index.html.erb
  spec/dummy/app/views/admin/settings/show.html.erb
  spec/dummy/app/views/admin/studios/_form.html.erb
  spec/dummy/app/views/admin/studios/show.html.erb
  spec/dummy/app/views/dashboard/index.html.erb
  spec/dummy/app/views/movies/_form.html.erb
  spec/dummy/app/views/movies/show.html.erb
  spec/dummy/app/views/pages/landing.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  spec/dummy/app/views/settings/show.html.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/app/views/studios/show.html.erb
  spec/dummy/config/routes.rb
Due: rubocop

feat(AppLayout): add login/register previews and refine body_container presets
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/content_only.html.erb
  app/components/bali/app_layout/previews/login.html.erb
  app/components/bali/app_layout/previews/navbar_only.html.erb
  app/components/bali/app_layout/previews/register.html.erb
  test/bali/components/app_layout_test.rb
Due: rubocop

chore(dummy): add auth layout, sessions controller, and use AppLayout in all layouts
  spec/dummy/app/controllers/sessions_controller.rb
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/layouts/auth.html.erb
  spec/dummy/app/views/layouts/marketing.html.erb
  spec/dummy/app/views/sessions/forgot_password.html.erb
  spec/dummy/app/views/sessions/new.html.erb
  spec/dummy/app/views/sessions/register.html.erb
Due: rubocop

chore: remove root yarn.lock and update dummy app lockfile
  spec/dummy/yarn.lock
  test/bali/filter_form_test.rb
  yarn.lock
Due: rubocop

fix: address architect review findings
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/previews/default.html.erb
  app/components/bali/columns/column/component.rb
  app/components/bali/columns/index.css
  spec/dummy/app/views/layouts/auth.html.erb
Due: rubocop
