Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

chore: update changelog and upgrade dependencies
  CHANGELOG.md
  Gemfile.lock
Due: none

feat(simple-filters): add slim_select, date picker, and size controls (#521)
  CHANGELOG.md
  Gemfile.lock
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/stylesheets/bali/slim_select.css
  app/components/bali/application_view_component_preview.rb
  app/components/bali/breadcrumb/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/filters/component.html.erb
  app/components/bali/index_page/component.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/page_header/component.html.erb
  app/components/bali/page_header/component.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  lib/bali/form_builder/slim_select_fields.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/studios/index.html.erb
  spec/dummy/app/views/movies/_form.html.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/studios/index.html.erb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/components/page_header_test.rb
Due: rubocop, standard

Fix Pagy deprecation warnings
  CHANGELOG.md
  app/components/bali/pagination/component.rb
  spec/dummy/config/initializers/pagy.rb
Due: rubocop

Add toggle_group filter type to SimpleFilters
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Add multi-select toggle_group and update preview
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Update Studio filters to use toggle_group in dummy app
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
Due: rubocop

Fix NameError in SimpleFilters preview by using explicit component constant
  app/components/bali/data_table/simple_filters/preview.rb
Due: rubocop

Refine toggle_group layout for DaisyUI 5
  app/components/bali/data_table/simple_filters/component.html.erb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Update DataTable simple_filters preview to use toggle_group for status
  app/components/bali/data_table/preview.rb
Due: rubocop

Consolidate toggle_group into single multi-select type
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Switch toggle_group to join/join-item and use btn-outline for unselected state
  app/components/bali/data_table/simple_filters/component.html.erb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Fix toggle_group unselection and array param handling
  app/components/bali/data_table/simple_filters/component.html.erb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
Due: rubocop

Use integer values for status enum filters to fix Ransack filtering
  app/components/bali/data_table/preview.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
Due: rubocop

Fix NoMethodError in FilterForm when filter type is nil
  lib/bali/filter_form.rb
Due: rubocop

Fix toggle_group rounded corners and match border color with selects
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

Refine toggle_group active state with subtle btn-soft styling
  app/components/bali/data_table/simple_filters/component.html.erb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Revert subtle active state for toggle_group due to visibility issues
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

Use consistent soft primary style for toggle_group active state
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

Ensure Pagy page_key access is safe for all Pagy versions in tests
  app/components/bali/pagination/component.rb
Due: rubocop

Add date_range support to SimpleFilters
  .claude/settings.json
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/filter_form_date_range_test.rb
Due: rubocop

Fix date_range persistence by checking instance attributes and formatting Ranges
  lib/bali/filter_form/simple_filters_configuration.rb
Due: rubocop

Fix date_range persistence by correctly handling string range splitting in FormBuilder
  lib/bali/filter_form/simple_filters_configuration.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/types/date_range_value.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/filter_form_date_range_test.rb
Due: rubocop

Improve SimpleFilters mobile experience with horizontal scroll, icons, and responsive buttons
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/preview.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
Due: rubocop

Refine SimpleFilters visuals: tighten spacing, reduce search width, and fix icon addon styling
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

Refine SimpleFilters mobile experience: compact icon mode, standardized addons, and search icon support
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/search_configuration.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/studios_controller.rb
Due: rubocop

Final visual refinements for SimpleFilters: fix clipping, optimize search width, and improve mobile selects
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

Further refine SimpleFilters visuals: tighten density by removing min-widths and restore mobile placeholders
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

Allow search input to expand fully on desktop
  app/components/bali/data_table/simple_filters/component.html.erb
Due: none

Further refine SimpleFilters density: fixed search width and debug cleanup
  app/components/bali/data_table/simple_filters/component.html.erb
  lib/bali/form_builder/shared_date_utils.rb
Due: rubocop

Simple Filter Improvements (#522)
  .claude/settings.json
  CHANGELOG.md
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  app/components/bali/pagination/component.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/search_configuration.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/types/date_range_value.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
  spec/dummy/config/initializers/pagy.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Fix security and thread-safety issues in SimpleFilters
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  lib/bali/filter_form.rb
Due: rubocop

Add changelog entries for SimpleFilters security fixes
  CHANGELOG.md
Due: none

Fix security and thread-safety issues in SimpleFilters (#524)
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  lib/bali/filter_form.rb
Due: rubocop

Add boolean, radio_group, and number_range filter types to SimpleFilters
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Refactor SimpleFilters: add new types, fix bugs, and DRY up internals
  app/components/bali/data_table/preview.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
  spec/dummy/db/migrate/20260403212549_add_indie_to_studios.rb
  spec/dummy/db/schema.rb
Due: rubocop

Add boolean, radio_group, and number_range filter types to SimpleFilters (#525)
  CHANGELOG.md
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
  spec/dummy/db/migrate/20260403212549_add_indie_to_studios.rb
  spec/dummy/db/schema.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

feat(simple-filters): add configurable search input width (#528)
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

fix(pagination): require Pagy series helper for 43.x compatibility (#527)
  app/components/bali/pagination/component.rb
Due: rubocop

fix: restore corrupted filter_form_test.rb (null-byte prefix)
  test/bali/filter_form_test.rb
Due: rubocop
