Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix(calendar): el día ghost del año con el texto al 8 % y al 20 % bajo el cursor
  app/components/bali/calendar/preview.rb
  app/components/bali/calendar/year_grid/component.rb
  docs/guides/components.md
Due: rubocop

fix: hover con el texto al 8 % en Timeline, Clipboard, DirectUpload y RecurrentEventRuleForm
  app/components/bali/clipboard/trigger/component.rb
  app/components/bali/direct_upload/component.rb
  app/components/bali/recurrent_event_rule_form/component.html.erb
  app/components/bali/timeline/item/component.rb
Due: rubocop

docs(previews): los ejemplos de hover usan el texto al 8 %
  app/components/bali/bulk_actions/preview.rb
  app/components/bali/dashboard_page/previews/default.html.erb
  app/components/bali/icon/previews/categorized.html.erb
Due: rubocop

fix(gantt): hover de zoom y de plegar fila con el texto, borde de los controles al 15 %
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttTable.jsx
Due: none

test(cypress): guardia de hovers, tintes y bordes sobre su superficie en los seis temas
  cypress/e2e/base-surface-steps.cy.js
Due: standard

docs(changelog): hovers, tintes y bordes de panel visibles en los seis temas (#1276)
  CHANGELOG.md
Due: none

fix(stat_card): el ícono sobre su tinte en text-soft-<color>, también el de custom_color
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/stat_card/component.rb
  app/components/bali/stat_card/preview.rb
  app/components/bali/stat_card/previews/all_colors.html.erb
  app/components/bali/stat_card/previews/with_trend.html.erb
  cypress/e2e/soft-text-contrast.cy.js
  docs/guides/components.md
  test/bali/components/stat_card/component_test.rb
  test/bali/components/stat_card/default_surface.golden.html
  test/bali/components/stat_card/default_surface_unchanged_test.rb
Due: rubocop, standard

fix(filters): el rojo bajo el cursor de los botones de quitar en text-soft-error
  app/assets/javascripts/bali/controllers/file-input-controller.js
  app/components/bali/filters/applied_tags/component.html.erb
  app/components/bali/filters/condition/component.html.erb
  cypress/e2e/soft-text-contrast.cy.js
Due: standard

fix(block_editor): las referencias # en la mezcla de text-soft, sin opacidad en el tipo
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/preview.rb
  cypress/e2e/soft-text-contrast.cy.js
Due: rubocop, standard

docs: CHANGELOG y guía de accesibilidad para un color sobre su tinte en íconos (#1274)
  CHANGELOG.md
  docs/guides/accessibility.md
Due: none

fix(gantt): la leyenda del modo «Owner» toma el color de las barras
  CHANGELOG.md
  app/components/bali/gantt/ganttColors.js
  cypress/e2e/gantt-island.cy.js
Due: standard

test(gantt): dice por qué el contraste del avatar recorre los seis temas
  cypress/e2e/gantt-avatar-contrast.cy.js
Due: standard

docs(changelog): centinela no tiene nada que hacer y el badge violet-500 de gobierno-corporativo
  CHANGELOG.md
Due: none

docs(themes): el secundario de centinela ya no es más oscuro que el canónico
  docs/guides/migration-v3-to-v31.md
Due: none

test(status): el contraste con hover se mide con paintedContrast
  cypress/e2e/status-palette-contrast.cy.js
Due: standard

fix(status): la transición del filtro queda sólo en la fila sin estado
  app/components/bali/status/index.css
Due: none

docs(status): los nombres de la paleta quedan congelados; un hex puede cambiar para llegar a AA
  app/components/bali/status.rb
  docs/guides/components.md
  docs/guides/enum-badges.md
Due: rubocop

docs(changelog): la paleta acota la promesa de v3.1 y avisa del bg sobre fondo oscuro
  CHANGELOG.md
Due: none

test(block-editor): la guardia del bloque de código entra en el recorrido de temas
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

docs(block-editor): el comentario de CODE_THEMES, como medición
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
Due: none

fix(block-editor): el peer shiki declara 1.17.4, la versión que el editor ya necesitaba
  docs/guides/installation.md
  package.json
Due: none

docs(changelog): #1258 entra en la entrada del bloque de código de #1255
  CHANGELOG.md
Due: none

fix(slim_select): la lista toma los atributos que nombran al combobox
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  cypress/e2e/slim-select-accessible-name.cy.js
Due: standard

test(form_builder): la mitad Ruby del contrato nombra al controlador de SlimSelect
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

docs(slim_select): desde SlimSelect 3.5 el <label for> también nombra el combobox
  docs/guides/accessibility.md
  docs/guides/controllers.md
  docs/guides/form-builder.md
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: none

changelog(slim_select): la lista se llama como el combobox (#1270)
  CHANGELOG.md
Due: none

refactor(filters): valueLabel devuelve el texto sin escapar y value_label pasa a privado
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/controllers/condition_controller.js
Due: rubocop, standard

test(cypress): cdp y frameAt pasan a cypress/support/accessibility_tree.js
  cypress/e2e/filters-condition-names.cy.js
  cypress/e2e/slim-select-accessible-name.cy.js
  cypress/support/accessibility_tree.js
Due: standard

test(filters): el disparador del multi-select se sigue nombrando por lo que muestra
  cypress/e2e/filters-condition-names.cy.js
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

docs(changelog): el multi-select de una condición de Filters es la excepción (#1271)
  CHANGELOG.md
Due: none

test(cypress): la guardia suma la fila de SplitView y los paneles del Gantt
  cypress/e2e/base-surface-steps.cy.js
Due: standard

fix(gantt): bordes del minimapa y de los menús de la barra al 15 %
  app/components/bali/gantt/Minimap.jsx
  app/components/bali/gantt/Toolbar.jsx
Due: none

fix(split_view): hover de la fila con el texto al 8 %
  app/components/bali/split_view/index.css
Due: none

docs(changelog): suma SplitView y los paneles del Gantt a la entrada de #1276
  CHANGELOG.md
Due: none

test(timeline): el ítem con href pinta el hover con el texto al 8 %
  test/bali/components/timeline_test.rb
Due: rubocop

test(navbar): la hamburguesa de un Navbar transparente sigue el color de la barra
  cypress/e2e/navbar-ghost-contrast.cy.js
Due: standard

docs(navbar): el menú móvil es max-lg:text-base-content en el comentario de la regla ghost
  app/components/bali/navbar/index.css
Due: none

docs(changelog): el Navbar de #1257 en qué cambia, a quién y el caso transparente
  CHANGELOG.md
Due: none

test(recurrent_event_rule_form): el día deshabilitado, también dentro de un <fieldset disabled> (#1272)
  cypress/e2e/recurrent-event-rule-form.cy.js
Due: standard

docs(recurrent_event_rule_form): un comentario por razón, junto a lo que explica (#1272)
  app/components/bali/recurrent_event_rule_form/component.html.erb
Due: none

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
