Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

docs(topbar): UserMenu e IconAction en el catálogo y en el CHANGELOG (#713)
  CHANGELOG.md
  docs/guides/components.md
Due: none

feat(overlays): modal/drawer local abierto por nombre desde Link y Button (#641)
  app/components/bali/button/component.rb
  app/components/bali/dropdown/action_item/component.rb
  app/components/bali/link/component.rb
  app/components/bali/local_overlay.rb
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/component.rb
  app/components/bali/modal/index.js
  docs/guides/overlays-and-the-top-layer.md
  test/bali/components/button_test.rb
  test/bali/components/link_test.rb
  test/bali/components/modal_test.rb
Due: rubocop, standard

feat(dropdown): items POST como button_to real y azúcar de overlay local en with_item (#641)
  CHANGELOG.md
  app/components/bali/actions_dropdown/preview.rb
  app/components/bali/actions_dropdown/previews/local_overlays.html.erb
  app/components/bali/dropdown/button_to_item/component.html.erb
  app/components/bali/dropdown/button_to_item/component.rb
  app/components/bali/dropdown/component.rb
  cypress/e2e/dropdown-local-overlays.cy.js
  docs/guides/components.md
  docs/guides/migration-v3-to-v31.md
  test/bali/components/actions_dropdown_test.rb
  test/bali/components/dropdown_test.rb
Due: rubocop, standard

feat(gantt): la isla GanttFlow migra de afal-apps al npm de Bali (#705)
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttFooter.jsx
  app/components/bali/gantt/GanttTable.jsx
  app/components/bali/gantt/Minimap.jsx
  app/components/bali/gantt/TaskBarNode.jsx
  app/components/bali/gantt/TimeHeader.jsx
  app/components/bali/gantt/Toolbar.jsx
  app/components/bali/gantt/ZoomControls.jsx
  app/components/bali/gantt/flow.css
  app/components/bali/gantt/ganttColors.js
  app/components/bali/gantt/i18n.js
  app/components/bali/gantt/index.js
  app/components/bali/gantt/scheduleClient.js
  app/components/bali/gantt/timeScale.js
  app/components/bali/gantt/useGanttModel.js
  app/frontend/bali/gantt-entry.js
  app/frontend/bali/gantt-loader.js
  app/frontend/bali/gantt.js
  package.json
  scripts/check-controller-manifest.mjs
Due: standard

feat(gantt): i18n servido desde el engine y la isla montada en el dummy (#705)
  app/components/bali/gantt/preview.rb
  app/components/bali/gantt/previews/island.html.erb
  app/components/bali/gantt/previews/island_readonly.html.erb
  app/components/bali/gantt/translations.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/api/react-island.md
  docs/guides/components.md
  spec/dummy/app/javascript/application.js
  spec/dummy/app/javascript/gantt-island.js
  spec/dummy/esbuild.config.mjs
  spec/dummy/package.json
  spec/dummy/yarn.lock
  test/bali/components/gantt/translations_test.rb
  test/requests/gantt_island_previews_test.rb
Due: rubocop, standard

feat(gantt): edicion completa contra endpoints fake del dummy + Cypress (#705)
  CHANGELOG.md
  cypress/e2e/gantt-island.cy.js
  spec/dummy/app/controllers/admin/projects/dependencies_controller.rb
  spec/dummy/app/controllers/admin/projects/schedules_controller.rb
  spec/dummy/app/models/project_gantt.rb
  spec/dummy/app/models/task.rb
  spec/dummy/app/models/task_dependency.rb
  spec/dummy/app/views/admin/projects/show.html.erb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20260806000001_create_task_dependencies.rb
  spec/dummy/db/schema.rb
  spec/dummy/db/seeds.rb
  test/requests/admin_gantt_schedule_test.rb
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop, standard

fix(user-menu): el test de sign_out con :post esperaba el mundo pre-#641
  app/components/bali/topbar/user_menu/component.rb
  test/bali/components/topbar_user_menu_test.rb
Due: rubocop

chore(release): v3.1.0.beta.2 — la ola 3 completa, con la isla Gantt en el npm
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(qr-code): Bali::QrCode, con rqrcode como dependencia opcional (#926)
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  README.md
  app/components/bali/qr_code/component.rb
  app/components/bali/qr_code/preview.rb
  app/components/bali/qr_code/previews/error_correction_levels.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  test/bali/components/qr_code_test.rb
Due: rubocop

refactor(qr-code): el guard del payload va primero, y cubre el string en blanco
  app/components/bali/qr_code/component.rb
  test/bali/components/qr_code_test.rb
Due: rubocop

perf(gantt): la isla sigue al viewport sin re-renderizar
  CHANGELOG.md
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttFooter.jsx
  app/components/bali/gantt/GanttTable.jsx
  app/components/bali/gantt/Minimap.jsx
  app/components/bali/gantt/TimeHeader.jsx
  app/components/bali/gantt/Toolbar.jsx
  app/components/bali/gantt/useViewportFollow.js
Due: standard

feat(workflow-steps): la variante horizontal "quick flow" con barra N/M
  CHANGELOG.md
  app/components/bali/workflow_steps/component.html.erb
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/index.css
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/horizontal.html.erb
  app/components/bali/workflow_steps/step/component.html.erb
  app/components/bali/workflow_steps/step/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  test/bali/components/workflow_steps_test.rb
Due: rubocop

docs(workflow-steps): el patrón aprobar/rechazar, documentado y no empaquetado
  CHANGELOG.md
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/decision_pattern.html.erb
  docs/guides/components.md
Due: rubocop

chore(release): v3.1.0.beta.3 — la tanda 1 de la ola 4: la isla Gantt sin re-renders
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(engine): versiones de contenido polimórficas — Bali::ContentVersionable + controller (#707)
  CHANGELOG.md
  app/components/bali/document_editor/component.rb
  app/controllers/bali/content_versions_controller.rb
  app/models/bali/content_version.rb
  app/models/bali/content_versionable.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  config/routes.rb
  cypress/e2e/content-versions.cy.js
  db/migrate/20260806120000_create_bali_content_versions.rb
  docs/guides/components.md
  docs/guides/engines.md
  lib/bali.rb
  spec/dummy/app/controllers/document_versions_controller.rb
  spec/dummy/app/controllers/documents_controller.rb
  spec/dummy/app/models/document.rb
  spec/dummy/app/models/document_version.rb
  spec/dummy/app/views/documents/index.html.erb
  spec/dummy/app/views/documents/show.html.erb
  spec/dummy/config/initializers/bali.rb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20260806120001_drop_document_versions.rb
  spec/dummy/db/schema.rb
  spec/dummy/db/seeds.rb
  test/bali/components/document_editor_test.rb
  test/bali/models/content_versionable_test.rb
  test/requests/content_versions_test.rb
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop, standard

fix(workflow-steps): nombrar el estado de cada paso para un lector de pantalla
  CHANGELOG.md
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/step/component.html.erb
  app/components/bali/workflow_steps/step/component.rb
  docs/guides/components.md
  test/bali/components/workflow_steps_test.rb
Due: rubocop

docs: separar la entrada de #707 del encabezado de la beta.3 tras el merge
  CHANGELOG.md
Due: none

feat(block-editor): el engine guarda los comentarios en línea (#706)
  CHANGELOG.md
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/preview.rb
  app/components/bali/document_editor/preview.rb
  app/controllers/bali/block_editor_threads/base_controller.rb
  app/controllers/bali/block_editor_threads/comments/reactions_controller.rb
  app/controllers/bali/block_editor_threads/comments_controller.rb
  app/controllers/bali/block_editor_threads_controller.rb
  app/models/bali/block_editor_comment.rb
  app/models/bali/block_editor_reaction.rb
  app/models/bali/block_editor_thread.rb
  config/routes.rb
  cypress/e2e/block-editor-comments-round-trip.cy.js
  db/migrate/20260806140000_create_bali_block_editor_comments.rb
  docs/api/block-editor.md
  docs/guides/engines.md
  lib/bali.rb
  spec/dummy/app/controllers/block_editor_threads/comments/reactions_controller.rb
  spec/dummy/app/controllers/block_editor_threads/comments_controller.rb
  spec/dummy/app/controllers/block_editor_threads_controller.rb
  spec/dummy/app/controllers/concerns/block_editor_authentication.rb
  spec/dummy/app/controllers/documents/comment_threads/comments/reactions_controller.rb
  spec/dummy/app/controllers/documents/comment_threads/comments_controller.rb
  spec/dummy/app/controllers/documents/comment_threads_controller.rb
  spec/dummy/app/models/block_editor_comment.rb
  spec/dummy/app/models/block_editor_reaction.rb
  spec/dummy/app/models/block_editor_thread.rb
  spec/dummy/app/models/document.rb
  spec/dummy/app/views/documents/show.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/config/initializers/bali.rb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20260219000000_create_block_editor_comments.rb
  spec/dummy/db/migrate/20260309000003_add_document_id_to_block_editor_threads.rb
  spec/dummy/db/schema.rb
  test/bali/block_editor_json_contract_test.rb
  test/bali/components/block_editor_test.rb
  test/requests/block_editor_comments_test.rb
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop, standard

feat(dynamic-fields): modo tabla, modo array y ordinal renumerado (#715)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/dynamic-fields-controller.js
  app/components/bali/form/dynamic_fields/preview.rb
  app/components/bali/form/dynamic_fields/previews/array.html.erb
  app/components/bali/form/dynamic_fields/previews/persisted.html.erb
  app/components/bali/form/dynamic_fields/previews/table.html.erb
  app/views/view_components/_character_row_fields.html.erb
  app/views/view_components/_step_fields.html.erb
  cypress/e2e/dynamic-fields-controller.cy.js
  lib/bali/form_builder/dynamic_fields.rb
  test/bali/form_builder/dynamic_fields_test.rb
Due: rubocop, standard

feat(form_builder): size: como densidad en todas las familias (#723)
  CHANGELOG.md
  app/components/bali/form/sizes/preview.rb
  app/components/bali/form/sizes/previews/_fields.html.erb
  app/components/bali/form/sizes/previews/compact.html.erb
  app/components/bali/form/sizes/previews/comparison.html.erb
  docs/guides/form-builder.md
  lib/bali/form_builder/boolean_fields.rb
  lib/bali/form_builder/file_fields.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/radio_fields.rb
  lib/bali/form_builder/range_fields.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/form_builder/switch_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/file_fields_test.rb
  test/bali/form_builder/radio_fields_test.rb
  test/bali/form_builder/size_option_test.rb
Due: rubocop

feat(engine): referencias de entidades con registry configurable (#708)
  CHANGELOG.md
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/inlineContent.jsx
  app/components/bali/block_editor/preview.rb
  app/controllers/bali/entity_references_controller.rb
  app/lib/bali/block_note/text.rb
  app/models/bali/entity_reference.rb
  app/models/bali/entity_reference/resolver.rb
  app/models/bali/entity_referenceable.rb
  config/routes.rb
  cypress/e2e/entity-references.cy.js
  db/migrate/20260806120800_create_bali_entity_references.rb
  docs/api/block-editor.md
  docs/guides/engines.md
  lib/bali.rb
  spec/dummy/app/controllers/entity_references_controller.rb
  spec/dummy/app/models/document.rb
  spec/dummy/app/views/documents/show.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/config/initializers/bali.rb
  spec/dummy/config/routes.rb
  spec/dummy/db/schema.rb
  spec/dummy/db/seeds.rb
  test/bali/block_note/text_test.rb
  test/bali/components/block_editor_test.rb
  test/bali/models/entity_reference_test.rb
  test/bali/models/entity_referenceable_test.rb
  test/requests/entity_references_test.rb
Due: rubocop, standard

feat(engine): libro de firmas polimórfico — Bali::Acknowledgeable + ReadCoverage (#709)
  CHANGELOG.md
  README.md
  app/models/bali/acknowledgeable.rb
  app/models/bali/acknowledgment.rb
  app/models/bali/read_coverage.rb
  db/migrate/20260806140000_create_bali_acknowledgments.rb
  docs/guides/engine-models.md
  docs/guides/engines.md
  spec/dummy/app/models/document.rb
  spec/dummy/db/schema.rb
  test/bali/models/acknowledgeable_test.rb
  test/bali/models/read_coverage_test.rb
Due: rubocop

feat(filters): presets de periodo en los filtros de rango de fechas
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/time-period-field-controller.js
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/date-range-presets.cy.js
  docs/guides/controllers.md
  lib/bali.rb
  lib/bali/date_range_presets.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  lib/bali/types/date_range_value.rb
  spec/dummy/app/models/studio.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/filter_form_test.rb
  test/bali/types/date_range_value_test.rb
Due: rubocop, standard

fix(block-editor): guardar el body del comentario como JSON plano, no como Parameters
  app/controllers/bali/block_editor_threads/base_controller.rb
  test/requests/block_editor_comments_test.rb
Due: rubocop

feat(submit-on-change): guard de primer frame y acción debouncedSubmit (#717)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/submit-on-change-controller.js
  app/components/bali/submit_on_change/preview.rb
  app/components/bali/submit_on_change/previews/default.html.erb
  cypress/e2e/submit-on-change.cy.js
  docs/guides/controllers.md
  spec/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
  spec/dummy/app/views/pages/showcase.html.erb
Due: rubocop, standard

docs(dynamic-fields): los dos modos nuevos y el gotcha de los checkboxes (#715)
  docs/guides/form-builder.md
  spec/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: none

docs(changelog): el merge dejó las entradas de #716 bajo Fixed
  CHANGELOG.md
Due: none

feat(app-layout): el sidebar fijo arranca debajo del banner, midiendo su altura
  CHANGELOG.md
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/index.css
  app/components/bali/app_layout/index.js
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/with_banner.html.erb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  cypress/e2e/app-layout-banner.cy.js
  docs/guides/components.md
  test/bali/components/app_layout_test.rb
Due: rubocop, standard

feat(form_builder): char_counter: en text_field, con un solo wrapper (#723)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/textarea-controller.js
  app/components/bali/form/text/preview.rb
  app/components/bali/form/text/previews/with_auto_grow.html.erb
  app/components/bali/form/text/previews/with_char_counter.html.erb
  cypress/e2e/char-counter.cy.js
  docs/guides/form-builder.md
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/text_area_fields.rb
  test/bali/form_builder/text_fields_test.rb
Due: rubocop, standard

fix(cypress): el spec del gantt deja de degradar la DB del dummy
  CHANGELOG.md
  cypress/e2e/gantt-island.cy.js
Due: standard

feat(app-layout): mobile_bottom_padding, para llegar al final de la página en un teléfono
  CHANGELOG.md
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/index.css
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/default.html.erb
  cypress/e2e/app-layout-mobile-padding.cy.js
  docs/guides/components.md
  test/bali/components/app_layout_test.rb
Due: rubocop, standard

fix(engine): hallazgos del security review de las versiones de contenido (#707)
  .gitignore
  CHANGELOG.md
  app/controllers/bali/content_versions_controller.rb
  app/models/bali/content_version.rb
  app/models/bali/content_versionable.rb
  db/migrate/20260806120000_create_bali_content_versions.rb
  docs/guides/engines.md
  lib/bali.rb
  spec/dummy/db/schema.rb
  test/bali/models/content_versionable_test.rb
  test/requests/content_versions_test.rb
Due: rubocop

refactor(block-editor): heredar de ReactIslandController (#703)
  CHANGELOG.md
  app/components/bali/block_editor/index.js
Due: standard

fix(block-editor): topes y candados del security review de los comentarios (#706)
  app/controllers/bali/block_editor_threads/base_controller.rb
  app/controllers/bali/block_editor_threads/comments/reactions_controller.rb
  app/controllers/bali/block_editor_threads/comments_controller.rb
  app/controllers/bali/block_editor_threads_controller.rb
  app/models/bali/block_editor_comment.rb
  app/models/bali/block_editor_reaction.rb
  app/models/bali/block_editor_thread.rb
  docs/guides/engines.md
  lib/bali.rb
  test/requests/block_editor_comments_test.rb
Due: rubocop

fix(engine): timestamp único para la migración de comments — chocaba con la de acknowledgments
  db/migrate/20260806150000_create_bali_block_editor_comments.rb
  spec/dummy/db/schema.rb
Due: rubocop

fix(merge): resolución del tren del engine — rutas del dummy y test de referencias
  spec/dummy/config/routes.rb
  test/bali/models/entity_referenceable_test.rb
Due: rubocop

chore(release): v3.1.0.beta.4 — el engine documental completo
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

docs(changelog): las entradas del tren 723-B/725-PR1/715-PR2 vuelven a [Unreleased]
  CHANGELOG.md
Due: none

docs(changelog): reagrupar [Unreleased] tras el tren 952/953/954/955
  CHANGELOG.md
Due: none

feat(filters): auto_submit: por filtro — las pills filtran al click (#725 PR2)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  app/components/bali/data_table/simple_filters/previews/auto_submit.html.erb
  cypress/e2e/simple-filters-auto-submit.cy.js
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard
