Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

test(datepicker): el día del mes anterior medido nunca es hoy
  cypress/e2e/base-surface-steps.cy.js
Due: standard

docs(widget): el comentario de Degraded nombra la clase y el gris que usa hoy
  app/components/bali/widget/degraded/component.rb
Due: rubocop

docs(changelog): #1281 nombra el cierre de sesión del UserMenu entre los lectores de DeleteLink
  CHANGELOG.md
Due: none

fix(gantt): el --color-neutral de catálogo sólo pasa a base-content en el texto de la píldora
  app/components/bali/color.rb
  app/components/bali/gantt/ganttColors.js
  cypress/e2e/gantt-island.cy.js
  test/bali/components/color_test.rb
Due: rubocop, standard

docs(changelog): el --color-neutral de catálogo cambia sólo el texto de la píldora
  CHANGELOG.md
Due: none

fix(chart): cada anillo de una dona empieza la paleta desde el primer color
  CHANGELOG.md
  app/components/bali/chart/component.rb
  app/components/bali/chart/preview.rb
  cypress/e2e/chart.cy.js
  docs/guides/components.md
  test/bali/components/chart_test.rb
Due: rubocop, standard

docs(gantt): el contraste de la etiqueta sobre un avance base-content es 1.21:1
  app/components/bali/gantt/ganttColors.js
  cypress/e2e/gantt-island.cy.js
Due: standard

test(chart): «Own Colours» fija el relleno propio y el relleno del tema bajo un borde literal
  app/components/bali/chart/preview.rb
  cypress/e2e/chart.cy.js
Due: rubocop, standard

fix(filters): «después de» también lee la fecha sola como el final del día, y el cast baja a grupos anidados
  CHANGELOG.md
  app/components/bali/filters/condition/component.html.erb
  lib/bali/filter_form/whole_day_casting.rb
  test/bali/filter_form_test.rb
Due: rubocop

docs(split_view): el comentario de #1029 nombra los dos caminos que quedan
  app/components/bali/split_view/index.js
Due: standard

docs(navbar): el antes y el después del cruce, con la misma medición
  cypress/e2e/navbar-transparent.cy.js
Due: standard

docs(block_editor): por qué queda la regla del menú del panel de comentarios
  app/components/bali/block_editor/index.css
Due: none

docs(changelog): qué hace quien usaba Bali::Color.variable_name
  CHANGELOG.md
Due: none

fix(filters): un placeholder vacío ya no deja la búsqueda con aria-label vacío
  app/components/bali/filters/component.rb
  test/bali/components/filters/component_test.rb
Due: rubocop

docs(filters): comentario de BARE_DATE, CHANGELOG y cuerpo nombran también «después de»
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/datepicker-controller.js
Due: standard

docs(chart): se retira la razón de que un canvas no resuelve var(), y la receta de variable_name cubre :ghost y :neutral
  CHANGELOG.md
  app/components/bali/chart/preview.rb
  app/components/bali/utils/color_picker.rb
  docs/guides/components.md
Due: rubocop

docs(block_editor): el comentario de la regla del menú del panel dice dónde cuelga el menú
  app/components/bali/block_editor/index.css
Due: none

fix(contrast): el contador deja el gris al pasar el máximo, el cierre de sesión :post toma el rojo suave y la cabecera de text-soft cubre el texto sobre la página
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/textarea-controller.js
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/topbar/user_menu/component.rb
  cypress/e2e/char-counter.cy.js
  cypress/e2e/muted-text-contrast.cy.js
  cypress/e2e/soft-text-contrast.cy.js
  test/bali/components/topbar_user_menu_test.rb
Due: rubocop, standard

docs(filters): el CHANGELOG nombra «después de» entre lo que notan los paneles
  CHANGELOG.md
Due: none

docs(migration): se retira la razón vieja de custom_color en la guía de v3
  docs/guides/migration-v2-to-v3.md
Due: none

fix(form_builder): el gris del contador es un contrato entre COUNTER_CLASS y el controlador, con prueba de ida y vuelta
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/textarea-controller.js
  cypress/e2e/char-counter.cy.js
  cypress/e2e/muted-text-contrast.cy.js
  cypress/e2e/soft-text-contrast.cy.js
  lib/bali/form_builder/html_utils.rb
Due: rubocop, standard

test(gantt): el neutral del catálogo se compara con Bali::Color::GHOST_VARIABLE
  app/components/bali/gantt/ganttColors.js
  test/bali/components/color_test.rb
Due: rubocop, standard

test(gantt): el neutral del catálogo se compara con lo que Bali::Color.css(:neutral) resuelve
  app/components/bali/gantt/ganttColors.js
  test/bali/components/color_test.rb
Due: rubocop, standard

chore(changelog): entradas del lote en sus secciones
  CHANGELOG.md
Due: none

fix(kanban): el carril es un fondo y la tarea es la tarjeta
  app/components/bali/kanban/card/component.rb
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/index.css
  app/components/bali/kanban/preview.rb
  cypress/e2e/kanban-surfaces.cy.js
  cypress/support/tap.js
  test/bali/components/kanban_test.rb
Due: rubocop, standard

docs: el aspecto nuevo del Kanban y el borde del selector de emojis
  CHANGELOG.md
  docs/guides/components.md
Due: none

fix(block_editor): el selector de emojis lleva su propio borde
  app/components/bali/block_editor/index.css
  cypress/e2e/block-editor-popover-frames.cy.js
Due: standard

refactor(kanban): la tarjeta deja lo que copiaba de .card
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/index.css
  test/bali/components/kanban_test.rb
Due: rubocop

docs: lo que el anfitrión pisa sin `!` es fondo, borde y sombra
  CHANGELOG.md
  docs/guides/components.md
Due: none

docs(block_editor): acorta el comentario del borde del selector de emojis
  app/components/bali/block_editor/index.css
Due: none

fix(kanban): la tarjeta no se queda levantada tras un toque
  app/components/bali/kanban/index.css
  cypress/e2e/kanban-surfaces.cy.js
Due: standard

docs(kanban): se levanta la tarjeta cuyo arrastre se guarda
  app/components/bali/kanban/index.css
  cypress/e2e/kanban-surfaces.cy.js
  docs/guides/components.md
Due: standard

test(block_editor): el anillo del selector abierto desde DocumentEditor
  cypress/e2e/block-editor-popover-frames.cy.js
Due: standard

docs(changelog): qué cambia en el Kanban y el selector, sin las mediciones
  CHANGELOG.md
Due: none

fix(kanban): la lista deja espacio para la sombra de la tarjeta bajo el cursor
  app/components/bali/kanban/column/component.html.erb
  cypress/e2e/kanban-surfaces.cy.js
Due: standard
