Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix(block_editor): la barra de comentarios se desbordaba a lo ancho (#832) (#864)
  CHANGELOG.md
  app/components/bali/block_editor/index.css
Due: none

fix(app_layout): un sidebar fijo pintaba encima del navbar y del banner (#831) (#865)
  CHANGELOG.md
  app/components/bali/app_layout/index.css
  app/components/bali/app_layout/previews/with_navbar.html.erb
Due: none

docs(shipping): las cuatro tareas de documentación de #702 (#866)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/release-channels.md
Due: none

docs(changelog): el `[Unreleased]` tenía siete secciones donde van cinco, y cinco entradas impresas dos veces (#867)
  CHANGELOG.md
Due: none

chore(release): v3.0.0.beta.2 — 82 commits de correcciones sobre el primer corte
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(block_editor): los comentarios se escribían en vertical y la burbuja no tenía ancho (#869)
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  cypress/e2e/block-editor-comments.cy.js
Due: standard

fix(datepicker): Chrome dibujaba su spinner encima del de flatpickr en el time picker (#872)
  CHANGELOG.md
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/time-picker-spinner.cy.js
Due: standard

feat(navbar): opción `shadow:`, y la sombra baja a la capa donde `is-transparent` la alcanza (#870)
  CHANGELOG.md
  app/components/bali/navbar/component.rb
  app/components/bali/navbar/index.css
  app/components/bali/navbar/preview.rb
  app/components/bali/navbar/previews/default.html.erb
  cypress/e2e/navbar-shadow.cy.js
  test/bali/components/navbar_test.rb
Due: rubocop, standard

refactor(app_layout): la config de referencia de app shell es una sola franja de chrome (#871)
  CHANGELOG.md
  app/components/bali/app_layout/previews/with_navbar.html.erb
  cypress/e2e/app-shell-chrome.cy.js
Due: standard

fix(block_editor): los comentarios se escribían en vertical y la burbuja no tenía ancho (#869) (#873)
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  cypress/e2e/block-editor-comments.cy.js
Due: standard

fix(datepicker): Chrome dibujaba su spinner encima del de flatpickr en el time picker (#872) (#874)
  CHANGELOG.md
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/time-picker-spinner.cy.js
Due: standard

feat(navbar): opción `shadow:`, y la sombra baja a la capa donde `is-transparent` la alcanza (#870) (#875)
  CHANGELOG.md
  app/components/bali/navbar/component.rb
  app/components/bali/navbar/index.css
  app/components/bali/navbar/preview.rb
  app/components/bali/navbar/previews/default.html.erb
  cypress/e2e/navbar-shadow.cy.js
  test/bali/components/navbar_test.rb
Due: rubocop, standard

refactor(app_layout): la config de referencia de app shell es una sola franja de chrome (#871) (#876)
  CHANGELOG.md
  app/components/bali/app_layout/previews/with_navbar.html.erb
  cypress/e2e/app-shell-chrome.cy.js
Due: standard

fix(data_table): la toolbar se alineaba contra el centro del bloque de filtros (#877)
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  cypress/e2e/data-table-toolbar-alignment.cy.js
  test/bali/components/data_table_test.rb
Due: rubocop, standard

fix(data_table): el popover del ⋯ crecía al abrir uno de sus hijos (#879)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  cypress/e2e/data-table-overflow-popover.cy.js
Due: standard

fix(data_table): el preview de filtros simples daba 500 con un Studio sin status (#880)
  CHANGELOG.md
  app/components/bali/data_table/previews/with_simple_filters.html.erb
Due: none

fix(data_table): la toolbar se alineaba contra el centro del bloque de filtros (#877) (#881)
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  cypress/e2e/data-table-toolbar-alignment.cy.js
  test/bali/components/data_table_test.rb
Due: rubocop, standard

feat(data_table): la toolbar reserva el lugar de lo que puede colapsar (#878)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/toolbar_overflow_controller.js
  cypress/e2e/data-table-toolbar-reserve.cy.js
Due: rubocop, standard

fix(data_table): el popover del ⋯ crecía al abrir uno de sus hijos (#879) (#883)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  cypress/e2e/data-table-overflow-popover.cy.js
Due: standard

fix(data_table): el preview de filtros simples daba 500 con un Studio sin status (#880) (#884)
  CHANGELOG.md
  app/components/bali/data_table/previews/with_simple_filters.html.erb
Due: none

feat(data_table): la toolbar reserva el lugar de lo que puede colapsar (#878) (#886)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/toolbar_overflow_controller.js
  cypress/e2e/data-table-toolbar-reserve.cy.js
Due: rubocop, standard

fix(navbar): un `transparency: true` nunca fue transparente (#887)
  CHANGELOG.md
  app/components/bali/navbar/component.rb
  app/components/bali/navbar/index.css
  cypress/e2e/navbar-shadow.cy.js
  test/bali/components/navbar_test.rb
Due: rubocop, standard

fix(data_table): los grupos de la toolbar también alinean por abajo, y sin filtros el botón dice Buscar (#885)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  cypress/e2e/data-table-toolbar-alignment.cy.js
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop, standard

feat(filter_form): `label: false` pide un filtro simplificado SIN rótulo (#882)
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

docs(migration): la guía mandaba a definir `--bali-z-hovercard`, que no existe (#851)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  test/bali/z_index_tokens_test.rb
Due: rubocop

fix(navbar): un `transparency: true` nunca fue transparente (#887) (#888)
  CHANGELOG.md
  app/components/bali/navbar/component.rb
  app/components/bali/navbar/index.css
  cypress/e2e/navbar-shadow.cy.js
  test/bali/components/navbar_test.rb
Due: rubocop, standard

refactor(delete_link): sacar el form del árbol de cajas se pide con `form_class:`, no se deduce de `plain:` (#868)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/delete_link/component.rb
  app/components/bali/delete_link/index.css
  app/components/bali/dropdown/component.rb
  cypress/e2e/delete-item-box.cy.js
  test/bali/components/delete_link_test.rb
  test/bali/components/dropdown_test.rb
Due: rubocop, standard

fix(data_table): los grupos de la toolbar también alinean por abajo, y sin filtros el botón dice Buscar (#885) (#889)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  cypress/e2e/data-table-toolbar-alignment.cy.js
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop, standard

feat(filter_form): `label: false` pide un filtro simplificado SIN rótulo (#882) (#890)
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

docs(migration): la guía mandaba a definir `--bali-z-hovercard`, que no existe (#851) (#891)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  test/bali/z_index_tokens_test.rb
Due: rubocop

refactor(delete_link): sacar el form del árbol de cajas se pide con `form_class:`, no se deduce de `plain:` (#868) (#892)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/delete_link/component.rb
  app/components/bali/delete_link/index.css
  app/components/bali/dropdown/component.rb
  cypress/e2e/delete-item-box.cy.js
  test/bali/components/delete_link_test.rb
  test/bali/components/dropdown_test.rb
Due: rubocop, standard

fix(filter_form): la persistencia también guarda y restaura los filtros simplificados (#852)
  CHANGELOG.md
  cypress/e2e/filter-persistence-simple-filters.cy.js
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

fix(modal): un morph ya no puede dejar un panel abierto varado en el top layer (#855)
  CHANGELOG.md
  app/components/bali/modal/index.js
  cypress/e2e/modal-morph-top-layer.cy.js
Due: standard

fix(filter_form): la persistencia también guarda y restaura los filtros simplificados (#852) (#896)
  CHANGELOG.md
  cypress/e2e/filter-persistence-simple-filters.cy.js
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

fix(modal): un morph ya no puede dejar un panel abierto varado en el top layer (#855) (#897)
  CHANGELOG.md
  app/components/bali/modal/index.js
  cypress/e2e/modal-morph-top-layer.cy.js
Due: standard

fix(modal): el reporte de validez cubre textarea y select, no sólo input (#894)
  CHANGELOG.md
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/required_fields.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
Due: rubocop, standard

fix(modal): el reporte de validez cubre textarea y select, no sólo input (#894) (#898)
  CHANGELOG.md
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/required_fields.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
Due: rubocop, standard

fix(form_builder): `required:` en un slim_select no se emite, porque no puede avisar (#895)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/required_option_test.rb
Due: rubocop

docs(migration): el inventario de deprecaciones daba un falso limpio, y faltaban tres avisos (#893)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
