Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

docs(themes): las guías dicen que afal se aparta del bloque copiado en primario y secundario
  docs/guides/custom-themes.md
  docs/guides/migration-v3-to-v31.md
Due: none

test(block-editor): la guardia del bloque de código exige AA en los seis temas
  app/components/bali/block_editor/preview.rb
  cypress/e2e/theme-follow-contrast.cy.js
Due: rubocop, standard

fix(block-editor): temas de shiki que se leen en AA sobre base-200
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
Due: none

docs(changelog): paleta de Bali::Status en AA y hover del panel
  CHANGELOG.md
Due: none

fix(status): el hover de las filas de color del panel oscurece sólo el fondo
  app/components/bali/status/index.css
  app/components/bali/status/preview.rb
  app/components/bali/status/previews/palette.html.erb
  cypress/e2e/status-palette-contrast.cy.js
Due: rubocop, standard

fix(navbar): la hamburguesa y los btn-ghost toman el color de texto de la barra
  app/components/bali/navbar/index.css
  cypress/e2e/navbar-ghost-contrast.cy.js
Due: standard

docs(changelog): hamburguesa del Navbar sobre una barra de color (#1257)
  CHANGELOG.md
Due: none

fix(app-layout): monta los controllers modal y drawer en <body>
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/orphan_drawer_form.html.erb
  app/components/bali/app_layout/previews/overlay_triggers.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/app-layout-overlay-triggers.cy.js
  cypress/e2e/modal-orphan-form.cy.js
  test/bali/components/app_layout_test.rb
Due: rubocop, standard

fix(modal): soltar el panel que se va sin leer this.templateTarget
  app/components/bali/modal/index.js
  cypress/e2e/modal-history.cy.js
  test/dummy/app/controllers/modal_redirect_controller.rb
  test/dummy/app/views/modal_redirect/index.html.erb
  test/dummy/config/routes.rb
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop, standard

docs(app-layout): dónde viven los controllers modal y drawer
  CHANGELOG.md
  docs/guides/components.md
Due: none

test(app-layout): comentarios de prueba sin repetir el del componente
  test/bali/components/app_layout_test.rb
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop

fix(slim_select): el combobox anuncia el error y la ayuda, y la lista se nombra como él
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/components/bali/form/slim_select/preview.rb
  app/components/bali/form/slim_select/previews/with_errors.html.erb
  cypress/e2e/slim-select-accessible-name.cy.js
Due: rubocop, standard

changelog(slim_select): error, ayuda y nombre de la lista en el combobox (#1270)
  CHANGELOG.md
Due: none

docs(slim_select): la lista toma el nombre del combobox y el error llega al widget
  docs/guides/accessibility.md
  docs/guides/controllers.md
  docs/guides/form-builder.md
  test/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
Due: none

fix(command): el texto atenuado de la paleta pasa a /70 y el placeholder también
  app/components/bali/command/component.html.erb
  app/components/bali/command/group/component.html.erb
  app/components/bali/command/item/component.html.erb
  app/components/bali/command/previews/default.html.erb
Due: none

fix(filters, data_table): las etiquetas atenuadas pasan a /70 y los íconos a /55
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/filters/applied_tags/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/controllers/multi_select_controller.js
  app/components/bali/filters/persistence_toggle/component.html.erb
Due: standard

fix(document_editor, document_page): el estado, los encabezados y el historial pasan a /70
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  app/components/bali/document_page/component.html.erb
Due: standard

fix(side_menu): las etiquetas de grupo y los subtítulos pasan a /70 y los chevrons a /55
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/index.css
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/side_menu/menu_switch/component.html.erb
Due: none

fix(direct_upload): el texto atenuado pasa a /70 y el ícono de la zona a /55
  app/components/bali/direct_upload/component.html.erb
Due: none

fix(split_view): el conteo, el subtítulo, la meta y la línea de carga pasan a /70
  app/components/bali/split_view/index.css
  app/components/bali/split_view/list/component.html.erb
  app/components/bali/split_view/list/item/component.rb
  test/bali/components/split_view_list_test.rb
Due: rubocop

fix(widget, widget_grid): el texto atenuado pasa a /70 y el cero atenuado a /55
  app/components/bali/widget/card/component.html.erb
  app/components/bali/widget/index.css
  app/components/bali/widget/rows/component.html.erb
  app/components/bali/widget/trend_indicator/component.html.erb
  app/components/bali/widget/trend_indicator/component.rb
  app/components/bali/widget/value/component.rb
  app/components/bali/widget_grid/component.html.erb
  app/components/bali/widget_grid/component.rb
  app/views/bali/dashboard_widgets/edit.html.erb
  test/bali/components/widget_parts_test.rb
  test/bali/components/widget_test.rb
  test/bali/components/widget_trend_indicator_test.rb
Due: rubocop

fix(gantt): las cifras y etiquetas atenuadas pasan a /70 y el despliegue a /55
  app/components/bali/gantt/GanttFooter.jsx
  app/components/bali/gantt/GanttTable.jsx
  app/components/bali/gantt/TimeHeader.jsx
  app/components/bali/gantt/Toolbar.jsx
Due: none

fix(empty_state, frame, info_level, topbar, boolean_icon): texto a /70 y el vacío de BooleanIcon a /55
  app/components/bali/boolean_icon/component.rb
  app/components/bali/empty_state/component.rb
  app/components/bali/frame/component.rb
  app/components/bali/frame/previews/loading_state.html.erb
  app/components/bali/info_level/item/component.rb
  app/components/bali/topbar/user_menu/component.rb
  test/bali/components/empty_state_test.rb
Due: rubocop

test(muted-text-contrast): la guardia cubre cada componente de #1256
  cypress/e2e/muted-text-contrast.cy.js
  cypress/support/painted_contrast.js
Due: standard

fix(slim_select, rich_text_editor): los placeholders pasan a /70
  app/assets/stylesheets/bali/slim_select.css
  app/components/bali/form/slim_select/previews/placeholder.html.erb
  app/components/bali/rich_text_editor/index.css
Due: none

docs: los ejemplos de la guía atenúan a /70 y el CHANGELOG registra #1256
  CHANGELOG.md
  app/components/bali/image_grid/previews/empty_state.html.erb
  docs/guides/components.md
Due: none

fix(recurrent_event_rule_form): un día deshabilitado no reacciona al cursor (#1272)
  app/components/bali/recurrent_event_rule_form/component.html.erb
  app/components/bali/recurrent_event_rule_form/preview.rb
  cypress/e2e/recurrent-event-rule-form.cy.js
Due: rubocop, standard

docs(changelog): dropdown popover dentro de Modal y Drawer (#1269)
  CHANGELOG.md
Due: none

docs(dropdown): el menú popover entra al <dialog> en las guías y en la escala de z-index
  app/assets/stylesheets/bali/z_index.css
  docs/guides/components.md
  docs/guides/overlays-and-the-top-layer.md
Due: none

fix(dropdown): el menú popover cuelga del <dialog> abierto en vez de <body>
  app/components/bali/dropdown/index.js
  app/components/bali/dropdown/preview.rb
  app/components/bali/dropdown/previews/in_dialog.html.erb
  cypress/e2e/dropdown-controller.cy.js
Due: rubocop, standard

fix(filters): nombra el campo, el operador y el valor de cada condición
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/controllers/condition_controller.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/filters-condition-names.cy.js
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

docs(changelog): nombres de los controles de una condición de Filters (#1271)
  CHANGELOG.md
Due: none

docs(changelog): el día deshabilitado de RecurrentEventRuleForm (#1272)
  CHANGELOG.md
Due: none

test(page-components): el ⋯ de exportar lee la petición, respeta `params: {}` y no lleva data-method
  test/bali/components/index_page_test.rb
Due: rubocop

refactor(data-table): retira la plantilla de DataTable::Export; los enlaces los calcula DataTable::ExportLinks
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/export/component.html.erb
  app/components/bali/data_table/export/component.rb
  app/components/bali/data_table/export_links.rb
  app/components/bali/page_components/shared.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/data_table/export_links_test.rb
  test/bali/components/export_test.rb
Due: rubocop

docs(data-table): CHANGELOG y guía de migración por el retiro de DataTable::Export
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

fix(drawer): el Skeleton de un drawer cerrado deja de animar
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/drawer/daisyui-overrides.css
  cypress/e2e/drawer-closed-animations.cy.js
Due: standard

test(cypress): las guardias de contraste esperan sobre el documento
  cypress/e2e/split-view-list.cy.js
  cypress/e2e/theme-primary-contrast.cy.js
  docs/reference/testing-traps.md
Due: standard

fix(filters): hover de las opciones y bordes de panel con el texto, no base-200/300
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
Due: standard

fix(tree_view): hover con el texto al 8 %
  app/components/bali/tree_view/item/component.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
