Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

release: v3.1.0.beta.14
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(topbar): los previews y la doc siguen el rename label: → aria_label: (#1035)
  CHANGELOG.md
  app/components/bali/topbar/previews/default.html.erb
  app/components/bali/topbar/previews/icon_actions.html.erb
  docs/guides/components.md
  test/requests/topbar_previews_test.rb
Due: rubocop

fix(split-view,gantt,data-table): tres defectos menores pre-GA (#1029)
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
  docs/guides/migration-v3-to-v31.md
  test/bali/filterable_test.rb
Due: rubocop, standard

fix(filters,document-editor,rich-text,sortable-list): a11y y E2E pre-GA (#1028)
  CHANGELOG.md
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  app/components/bali/filters/applied_tags/component.html.erb
  app/components/bali/filters/combinator_divider/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/filter_group_controller.js
  app/components/bali/filters/controllers/filters_controller.js
  app/components/bali/filters/filter_group/component.html.erb
  app/components/bali/rich_text_editor/bubble_menu/component.html.erb
  app/components/bali/sortable_list/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/sortable-list.cy.js
  docs/guides/components.md
  test/bali/components/filters/combinator_divider/component_test.rb
  test/bali/components/filters/filter_group/component_test.rb
  test/bali/components/rich_text_editor_bubble_menu_test.rb
Due: rubocop, standard

docs+fix(kanban): cierra la deriva rompe-al-usuario restante de #1027
  CHANGELOG.md
  README.md
  app/components/bali/kanban/card/component.rb
  docs/guides/accessibility.md
  docs/guides/components.md
  docs/guides/controllers.md
  docs/guides/custom-themes.md
  docs/guides/direct-upload-setup.md
  docs/guides/direct-upload-troubleshooting.md
  docs/guides/engine-models.md
  docs/guides/form-builder.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v3-to-v31.md
  test/bali/components/kanban_test.rb
Due: rubocop

fix(topbar): los previews y la doc siguen el rename label: → aria_label: (#1035) (#1036)
  CHANGELOG.md
  app/components/bali/topbar/previews/default.html.erb
  app/components/bali/topbar/previews/icon_actions.html.erb
  docs/guides/components.md
  test/requests/topbar_previews_test.rb
Due: rubocop

fix(split-view,gantt,data-table): los tres defectos menores de #1029 (pre-GA) (#1037)
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
  docs/guides/migration-v3-to-v31.md
  test/bali/filterable_test.rb
Due: rubocop, standard

fix(filters,document-editor,rich-text,sortable-list): a11y y E2E de mayor ROI de #1028 (pre-GA) (#1038)
  CHANGELOG.md
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  app/components/bali/filters/applied_tags/component.html.erb
  app/components/bali/filters/combinator_divider/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/filter_group_controller.js
  app/components/bali/filters/controllers/filters_controller.js
  app/components/bali/filters/filter_group/component.html.erb
  app/components/bali/rich_text_editor/bubble_menu/component.html.erb
  app/components/bali/sortable_list/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/sortable-list.cy.js
  docs/guides/components.md
  test/bali/components/filters/combinator_divider/component_test.rb
  test/bali/components/filters/filter_group/component_test.rb
  test/bali/components/rich_text_editor_bubble_menu_test.rb
Due: rubocop, standard

docs+fix(kanban): la deriva rompe-al-usuario restante de #1027 (pre-GA) (#1039)
  CHANGELOG.md
  README.md
  app/components/bali/kanban/card/component.rb
  docs/guides/accessibility.md
  docs/guides/components.md
  docs/guides/controllers.md
  docs/guides/custom-themes.md
  docs/guides/direct-upload-setup.md
  docs/guides/direct-upload-troubleshooting.md
  docs/guides/engine-models.md
  docs/guides/form-builder.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v3-to-v31.md
  test/bali/components/kanban_test.rb
Due: rubocop

fix(filter-form)!: search_fields toma aria_label:, no label: (#1026)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v3-to-v31.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/search_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

fix(filter-form)!: search_fields toma aria_label:, no label: (#1026) (#1042)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/javascript-integration.md
  docs/guides/migration-v3-to-v31.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/search_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

docs(reference): reescribe los tres docs de reference desde el código real (#1040)
  .claude/CLAUDE.md
  CHANGELOG.md
  docs/reference/afal-design-system.md
  docs/reference/component-patterns.md
  docs/reference/stimulus-patterns.md
Due: none

docs(reference): reescribe los tres docs de reference desde el código real (#1040) (#1043)
  .claude/CLAUDE.md
  CHANGELOG.md
  docs/reference/afal-design-system.md
  docs/reference/component-patterns.md
  docs/reference/stimulus-patterns.md
Due: none

chore(deps): cypress 15.20.1 y nanoid 5.1.16 del dummy en un solo PR
  CHANGELOG.md
  package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

chore(deps): cypress 15.20.1 + nanoid 5.1.16 del dummy (consolida #997 y #998) (#1044)
  CHANGELOG.md
  package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

release: v3.1.0.beta.15
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(feedback-widget): el panel mostraba el p-6 del drawer, no su propio padding
  app/assets/stylesheets/bali/components.css
  app/components/bali/feedback_widget/index.css
  cypress/e2e/feedback-widget-alignment.cy.js
Due: standard

feat(feedback-widget): captura de la pagina host y contexto para el embed
  app/components/bali/feedback_widget/index.js
  cypress/e2e/feedback-widget-capture.cy.js
  spec/dummy/app/views/pages/feedback_embed.html.erb
Due: standard

docs(changelog): el padding del panel y el protocolo de captura del feedback widget
  CHANGELOG.md
Due: none

fix(feedback-widget): el contexto se manda en cada carga del frame, no solo la primera
  CHANGELOG.md
  app/components/bali/feedback_widget/index.js
  cypress/e2e/feedback-widget-capture.cy.js
  spec/dummy/app/views/pages/feedback_embed.html.erb
Due: standard

chore(release): v3.1.0 — la línea 3.1 es estable
  CHANGELOG.md
  Gemfile.lock
  docs/guides/release-channels.md
  lib/bali/version.rb
  package.json
Due: rubocop

chore(deps): sqlite3 2.9.6 — GHSA-mwm8-39rw-8826 (bundler-audit)
  Gemfile.lock
Due: none

feat(bulk-actions,table): seleccionar-todo por subgrupo, filas fuera de la selección y evento de cambio (#1047)
  CHANGELOG.md
  app/components/bali/bulk_actions/index.js
  app/components/bali/bulk_actions/item/component.rb
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/partially_selectable.html.erb
  app/components/bali/table/previews/selectable_by_group.html.erb
  app/components/bali/table/row/component.html.erb
  app/components/bali/table/row/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/bulk-actions-controller.cy.js
  cypress/e2e/bulk-actions-groups.cy.js
  docs/guides/components.md
  test/bali/components/bulk_actions_test.rb
  test/bali/components/table_test.rb
Due: rubocop, standard

fix(carousel): aria-selected sigue al bullet activo (#1041)
  app/components/bali/carousel/index.js
  cypress/e2e/carousel.cy.js
  docs/guides/components.md
Due: standard

test(cypress): E2E de los componentes con JS que quedaban sin spec (#1041)
  CHANGELOG.md
  cypress/e2e/avatar.cy.js
  cypress/e2e/chart.cy.js
  cypress/e2e/clipboard.cy.js
  cypress/e2e/document-page.cy.js
  cypress/e2e/feedback-widget-handshake.cy.js
  cypress/e2e/hover-card.cy.js
  cypress/e2e/image-field.cy.js
  cypress/e2e/image-grid.cy.js
  cypress/e2e/locations-map.cy.js
  cypress/e2e/rate.cy.js
  cypress/e2e/recurrent-event-rule-form.cy.js
  cypress/e2e/timeago.cy.js
  cypress/fixtures/google-maps-stub.js
  cypress/fixtures/sample-image.png
Due: standard

fix(recurrent-event-rule-form): abrir en la primera frecuencia permitida (#1051)
  CHANGELOG.md
  app/components/bali/recurrent_event_rule_form/component.html.erb
  app/components/bali/recurrent_event_rule_form/component.rb
  app/components/bali/recurrent_event_rule_form/index.js
  cypress/e2e/recurrent-event-rule-form.cy.js
  docs/guides/components.md
  test/bali/components/recurrent_event_rule_form_test.rb
Due: rubocop, standard

chore(deps): diff-lcs sin tope en 1.x y simplecov 1.1.1 (#1048, #1049)
  CHANGELOG.md
  Gemfile.lock
  bali_view_component.gemspec
Due: none

release: v3.1.1.beta.1
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(feedback-widget): el embed pide el contexto en vez de esperar un `load`
  app/components/bali/feedback_widget/index.js
  cypress/e2e/feedback-widget-capture.cy.js
  spec/dummy/app/views/pages/feedback_embed.html.erb
Due: standard

docs(changelog): el embed pide el contexto en vez de esperar un `load`
  CHANGELOG.md
Due: none

release: v3.1.1.beta.2
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(LocationsMap): fit_to_locations frames every marker
  CHANGELOG.md
  app/components/bali/locations_map/component.rb
  app/components/bali/locations_map/index.js
  app/components/bali/locations_map/preview.rb
  cypress/e2e/locations-map.cy.js
  cypress/fixtures/google-maps-stub.js
  test/bali/components/locations_map_test.rb
Due: rubocop, standard

docs(changelog): referencia a la PR #1057
  CHANGELOG.md
Due: none

chore(deps): daisyUI 5.7.16 → 5.7.19 en el dummy
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none

feat(PageComponents): el nivel del título es contextual — h1 en página, h2 en drawer
  CHANGELOG.md
  app/components/bali/form_page/preview.rb
  app/components/bali/form_page/previews/context.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/page_header/component.rb
  app/components/bali/page_header/preview.rb
  app/components/bali/show_page/preview.rb
  docs/guides/components.md
  test/bali/components/document_page_test.rb
  test/bali/components/page_context_test.rb
  test/bali/components/page_header_test.rb
  test/requests/page_context_test.rb
Due: rubocop

fix(DataTable): el slot simple_filters acepta y mergea preserved_params
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  test/bali/components/data_table_test.rb
Due: rubocop

fix(SimpleFilters): el link Limpiar arrastra los preserved params, como el submit
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/simple_filters/component.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/components/data_table_test.rb
Due: rubocop

fix(PageComponents): heading inválido no simbolizable también lanza ArgumentError
  app/components/bali/page_components/shared.rb
  docs/guides/components.md
  test/bali/components/page_context_test.rb
Due: rubocop

release: v3.1.1
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
