Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

test(muted-text-contrast): la guardia mide los placeholders, la tendencia plana y el archivo ya subido
  app/components/bali/direct_upload/preview.rb
  app/components/bali/direct_upload/previews/with_existing_file.html.erb
  cypress/e2e/muted-text-contrast.cy.js
  cypress/support/painted_contrast.js
  test/bali/components/widget_trend_indicator_test.rb
Due: rubocop, standard

docs: el CHANGELOG de #1256 suma los placeholders de formulario y precisa el /55
  CHANGELOG.md
  app/components/bali/side_menu/index.css
  docs/reference/testing-traps.md
Due: none

test(recurrent_event_rule_form): los días de la prueba con nombre, como los caminos (#1272)
  cypress/e2e/recurrent-event-rule-form.cy.js
Due: standard

docs(filters): el comentario del multiselect dice qué coincide, no que sea el mismo widget
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
Due: standard

fix(calendar): el día ghost bajo el cursor al 30 %, no al 20 % de un día neutral en reposo
  app/components/bali/calendar/preview.rb
  app/components/bali/calendar/year_grid/component.rb
  docs/guides/components.md
Due: rubocop

test(cypress): la guardia mide con paintedContrast y el borde sobre el fondo de su panel
  cypress/e2e/base-surface-steps.cy.js
Due: standard

test(modal): la prueba del huérfano #984 afirma primero que el huérfano existe
  cypress/e2e/modal-orphan-form.cy.js
Due: standard

refactor(app-layout): el preview de disparadores no envuelve la tabla en otro overflow-x-auto
  app/components/bali/app_layout/previews/overlay_triggers.html.erb
Due: none

test(app-layout): sin el comentario que repite el de _focusReturnTarget
  cypress/e2e/app-layout-overlay-triggers.cy.js
Due: standard

test(page-components): la prueba de órdenes de un solo uso exige además que el slice viaje
  test/bali/components/index_page_test.rb
Due: rubocop

refactor(page-components): las etiquetas de formato pasan a page_components.export.formats
  CHANGELOG.md
  app/components/bali/page_components/shared.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/index_page_test.rb
Due: rubocop

fix(page-components): `with_export` levanta ArgumentError ante un formato desconocido
  CHANGELOG.md
  app/components/bali/page_components/shared.rb
  docs/guides/components.md
  test/bali/components/index_page_test.rb
Due: rubocop

docs(block-editor): el AA de los temas de shiki se acota a lo que emiten las gramáticas
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/preview.rb
  cypress/e2e/theme-follow-contrast.cy.js
Due: rubocop, standard

test(themes): el encabezado de la guardia dice que el bloque de código también fallaba en claro
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

docs(changelog): la entrada de #1276, corta, con una sola cifra y sin la tabla
  CHANGELOG.md
Due: none

docs(dropdown): las notas de Lookbook del modo popover ya no dicen top layer ni «above everything»
  app/components/bali/actions_dropdown/preview.rb
  app/components/bali/dropdown/preview.rb
Due: rubocop

docs(drawer): el encabezado dice que un `*` pararía también la salida visible
  app/components/bali/drawer/daisyui-overrides.css
Due: none

test(drawer): un drawer propio, fuera de AppLayout, tampoco anima cerrado
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/skeleton_placeholder.html.erb
  cypress/e2e/drawer-closed-animations.cy.js
Due: rubocop, standard

test(gantt): el contraste del avatar mide en una sola visita
  cypress/e2e/gantt-avatar-contrast.cy.js
Due: standard

docs(slim_select): los comentarios se apoyan en el rango del peer, no en lo que fija cada anfitrión
  app/components/bali/data_table/simple_filters/component.rb
  cypress/e2e/slim-select-accessible-name.cy.js
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop, standard

docs(accessibility): SlimSelect lee el <label for> desde 3.5, no lo copia
  docs/guides/accessibility.md
Due: none

test(navbar): la hamburguesa de un Navbar con color: nil y clases propias lee a 3:1
  cypress/e2e/navbar-ghost-contrast.cy.js
Due: standard

docs(changelog): el ghost del Navbar hereda su color y el transparente sólo se lee con -content claro
  CHANGELOG.md
Due: none

test(status): el hover de una fila sólo puede cambiar su background-image
  cypress/e2e/status-palette-contrast.cy.js
Due: standard

docs(testing): paintedContrast tampoco ve un background-image ni un pseudo-elemento encima del texto
  cypress/support/painted_contrast.js
  docs/reference/testing-traps.md
Due: standard

docs(status): enum-badges dice el contrato de la paleta en una frase
  docs/guides/enum-badges.md
Due: none

test(filters): cada widget de fecha del valor falla con su propio selector
  test/bali/components/filters/condition/component_test.rb
Due: rubocop

refactor(filters): aria_labels pasa a una sección propia de los locales
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
Due: none

docs(changelog): la entrada de #1271 deja la evidencia de anfitriones al PR
  CHANGELOG.md
Due: none

docs(changelog): la entrada de #1272 sin cuenta de apps (#1272)
  CHANGELOG.md
Due: none

test(stat_card): el ícono del pie de with_trend también se mide
  cypress/e2e/soft-text-contrast.cy.js
Due: standard

refactor(color): Bali::Color.soft, la mezcla de text-soft-* para un hex
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/color.rb
  app/components/bali/stat_card/component.rb
  docs/guides/accessibility.md
  test/bali/components/color_test.rb
Due: rubocop

docs: la entrada de #1274 en lista, con lo que cambia para costa-norte
  CHANGELOG.md
Due: none

fix(page-components): `with_export` levanta ArgumentError también sin formatos
  CHANGELOG.md
  app/components/bali/page_components/shared.rb
  docs/guides/components.md
  test/bali/components/index_page_test.rb
Due: rubocop

test(page-components): cada formato de EXPORT_FORMATS tiene etiqueta en los dos idiomas
  test/bali/components/index_page_test.rb
Due: rubocop

docs(changelog): el retiro de DataTable::Export da el grep que encuentra una traducción en YAML
  CHANGELOG.md
Due: none

docs(migration): el inventario de z-index ya no nombra la plantilla de exportar
  docs/guides/migration-v2-to-v3.md
Due: none

test(modal): las pruebas del reemplazo del <body> exigen que no haya recarga
  cypress/e2e/modal-history.cy.js
Due: standard

test(app-layout): comentarios de prueba sólo con lo que no se ve en el código
  cypress/e2e/app-layout-overlay-triggers.cy.js
  test/bali/components/app_layout_test.rb
Due: rubocop, standard

test(drawer): la prueba de cerrar exige el Skeleton restaurado antes de contar cero
  cypress/e2e/drawer-closed-animations.cy.js
Due: standard

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
