Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

test(command): el contador del pie termina en el borde derecho, en escritorio y en móvil
  cypress/e2e/command-controller.cy.js
Due: standard

test(block_editor): los comentarios de la spec dan la causa medida del fade y de la ida y vuelta
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

docs(simple-filters): se retiran las dos copias de «el placeholder desaparece al escribir»
  app/components/bali/data_table/simple_filters/preview.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

test(gauge, loader): la prueba por color recorre los siete con mezcla; neutral, aparte
  test/bali/components/gauge_test.rb
  test/bali/components/loader_test.rb
Due: rubocop

docs(gauge, loader): TEXT_COLORS nombra también el text-primary de dark
  app/components/bali/gauge/component.rb
  app/components/bali/loader/component.rb
Due: rubocop

docs(changelog): #1281 suma el secundario de light y dark y el primario de dark
  CHANGELOG.md
Due: none

refactor(gantt): el ancho por omisión de la tabla es un solo tope
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttTable.jsx
Due: none

test(gantt): la prueba de los 1000 px nombra la ventana, no el tablero
  cypress/e2e/gantt-table.cy.js
Due: standard

docs(modal): el costo del ✕ nombra la caja que empieza a su lado
  CHANGELOG.md
  app/components/bali/modal/component.html.erb
Due: none

fix(split-view): el preview de frame_options fija el detalle a partir de lg
  app/components/bali/split_view/preview.rb
  app/components/bali/split_view/previews/frame_options.html.erb
  cypress/e2e/split-view-frame-options.cy.js
Due: rubocop, standard

docs(split-view): cuándo fijar el frame del detalle con lg:sticky
  CHANGELOG.md
  docs/guides/master-detail.md
  test/dummy/app/views/lookbook/pages/02_guides/04_master_detail.md.erb
Due: none

docs(changelog): la tabla del Gantt abre al 60 % del tablero, entre 300 y 520 px
  CHANGELOG.md
Due: none

fix(chart): los puntos de una serie del tema siguen su borde aunque traiga relleno
  CHANGELOG.md
  app/components/bali/chart/dataset.rb
  docs/guides/components.md
  test/bali/chart_dataset_test.rb
Due: rubocop

docs(chart): el controlador repinta las series del tema, no todas
  app/components/bali/color.rb
Due: rubocop

docs(split-view): la viñeta de lg:sticky abre con qué hacer y cuándo
  docs/guides/master-detail.md
Due: none

test(datepicker): la flecha de la hora se mide sobre su propio hover
  cypress/e2e/base-surface-steps.cy.js
Due: standard

docs(navbar): sobre un hero oscuro, un color claro que se lea también sobre el relleno
  CHANGELOG.md
  app/components/bali/navbar/component.rb
Due: rubocop

test(navbar): una sección oscura, no un Hero, en el comentario de la prueba
  cypress/e2e/navbar-transparent.cy.js
Due: standard

docs(gantt): el comentario de colStyle dice qué crece sin minWidth: 0
  app/components/bali/gantt/GanttTable.jsx
Due: none

fix(datepicker): los días de un rango, sin anillo
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/base-surface-steps.cy.js
Due: standard

docs(card): la vista previa del ícono de color en text-soft-warning
  app/components/bali/card/preview.rb
  test/requests/card_header_previews_test.rb
Due: rubocop

docs(icon): el ejemplo YARD de clases propias en text-soft-error
  app/components/bali/icon/component.rb
Due: rubocop

fix(chart): los puntos de una serie con borde var(--color-*) siguen a ese borde repintado
  CHANGELOG.md
  app/components/bali/chart/dataset.rb
  app/components/bali/chart/index.js
  app/components/bali/chart/preview.rb
  cypress/e2e/chart.cy.js
Due: rubocop, standard

docs(chart): la guía dice que sólo un borde literal queda sin repintar
  docs/guides/components.md
Due: none

docs(changelog): los días de un rango del Datepicker, sin marco
  CHANGELOG.md
Due: none

refactor(datepicker): fuera las flechas del año con oklch(var(--pc))
  app/assets/stylesheets/bali/datepicker.css
Due: none

refactor(block_editor): se retiran las reglas `!important` de la barra de formato, el menú «/» y el popover de enlace
  app/components/bali/block_editor/index.css
Due: none

test(gantt): la prueba del avatar lee el árbol con el ayudante de la suite
  cypress/e2e/gantt-table.cy.js
Due: standard

test(gantt): el comentario de la tableta se limita a los tableros de 500 a 840 px
  cypress/e2e/gantt-table.cy.js
Due: standard

fix(filters): el multi-select se cierra cuando el foco sale de él
  app/components/bali/filters/controllers/multi_select_controller.js
  cypress/e2e/filters-built-multi-select.cy.js
Due: standard

changelog(filters): el multi-select se cierra al salir el foco con Tab (#1282)
  CHANGELOG.md
Due: none

test(navbar): la prueba de la hamburguesa transparente fija la regla ghost, no color: inherit
  cypress/e2e/navbar-ghost-contrast.cy.js
Due: standard

docs(icon): el control de color de with_custom_class ofrece text-soft-<color>
  app/components/bali/icon/preview.rb
Due: rubocop

docs(migration): el ejemplo de with_icon con clase en text-soft-error
  docs/guides/migration-v2-to-v3.md
Due: none

docs(accessibility): el ejemplo «GOOD» del auditor en text-soft-error
  .claude/agents/accessibility-auditor.md
Due: none

test(gauge): el comentario dice que la spec mide la cifra, no el anillo
  test/bali/components/gauge_test.rb
Due: rubocop

docs(changelog): #1281 avisa de las tablas escritas a mano en los anfitriones
  CHANGELOG.md
Due: none

test(filters): sin data-action en el disparador, la guardia falla en su aserción
  test/bali/components/filters/condition/component_test.rb
Due: rubocop

docs(block_editor): los menús toman la letra de la página; el texto del documento sigue en Inter
  CHANGELOG.md
  app/components/bali/block_editor/index.css
Due: none

refactor(drawer): el color de texto del panel, lejos de las líneas que reescribe #1286
  app/components/bali/drawer/component.rb
Due: rubocop
