Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

FilterForm: ransack_auth_object para el auth_object de Ransack (#1348)
  lib/bali/filter_form.rb
  lib/bali/filter_form/group_by_configuration.rb
  lib/bali/filter_form/whole_day_casting.rb
  test/bali/filter_form_ransack_auth_object_test.rb
Due: rubocop

FilterForm: el «O» entre grupos del panel ya no ensancha la búsqueda (#1345)
  lib/bali/filter_form.rb
  test/bali/filter_form_panel_combinator_test.rb
Due: rubocop

FilterForm: a Ransack solo llega lo que el panel puede escribir (#1346)
  app/components/bali/data_table/component.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/enum_casting.rb
  lib/bali/filter_form/filter_group_parser.rb
  lib/bali/filter_form/panel_conditions.rb
  lib/bali/filter_form/saved_views_configuration.rb
  lib/bali/filter_form/whole_day_casting.rb
  test/bali/filter_form_panel_conditions_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

FilterForm: una vista guardada con datos que no son Hash ya no tumba el listado (#1347)
  lib/bali/filter_form/saved_views_configuration.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_saved_view_payload_test.rb
Due: rubocop

docs(filter-form): qué llega a Ransack desde el panel
  .claude/skills/filterform-datatable/SKILL.md
  docs/guides/components.md
Due: none

release: v3.9.1
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

docs: los pasos de subida que faltaron en v3.7.0 y las fuentes del BlockEditor (#1336, puntos 1 a 4)
  CHANGELOG.md
  README.md
  docs/api/block-editor.md
  docs/guides/custom-themes.md
  docs/guides/installation.md
  test/dummy/esbuild.config.mjs
Due: none

fix(breadcrumb): las migas enlazadas toman el primary y la actual queda a la vista en un teléfono
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/breadcrumb/daisyui-overrides.css
  app/components/bali/breadcrumb/index.css
  app/components/bali/breadcrumb/preview.rb
  app/components/bali/side_menu/daisyui-overrides.css
  cypress/e2e/breadcrumb.cy.js
  docs/guides/installation.md
  docs/guides/migration-v2-to-v3.md
Due: rubocop, standard

fix(feedback_widget): contador topado en 99+, sin carrera al abrir, atributos HTML y preview sin errores
  CHANGELOG.md
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/index.js
  app/components/bali/feedback_widget/preview.rb
  app/components/bali/feedback_widget/previews/default.html.erb
  app/components/bali/feedback_widget/previews/in_topbar.html.erb
  app/components/bali/topbar/icon_action/component.rb
  cypress/e2e/feedback-widget-handshake.cy.js
  docs/guides/components.md
  test/bali/components/feedback_widget_test.rb
  test/dummy/app/controllers/pages_controller.rb
  test/dummy/config/routes.rb
  test/requests/feedback_widget_stand_in_test.rb
Due: rubocop, standard

FilterForm: lo que pidió la revisión DHH de #1346
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  docs/guides/components.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/panel_conditions.rb
  test/bali/filter_form_panel_conditions_test.rb
Due: rubocop

FilterForm: applied_groupings sigue al @groupings que el anfitrión reasigna (#1346)
  lib/bali/filter_form/panel_conditions.rb
  test/bali/filter_form_panel_conditions_test.rb
Due: rubocop

fix(button, alert, tag): texto de contorno y suave en AA, tinta roja del error y anillo de btn-neutral
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/alert/daisyui-overrides.css
  app/components/bali/button/daisyui-overrides.css
  app/components/bali/button/preview.rb
  app/components/bali/button/previews/all_combinations.html.erb
  app/components/bali/tag/daisyui-overrides.css
  cypress/e2e/tinted-button-and-error-ink.cy.js
  test/bali/components/color_test.rb
Due: rubocop, standard

fix(feedback_widget): revisión DHH — carrera determinista y contador sin «0+»
  CHANGELOG.md
  app/components/bali/feedback_widget/index.js
  app/components/bali/topbar/icon_action/component.rb
  cypress/e2e/feedback-widget-handshake.cy.js
  test/requests/feedback_widget_previews_test.rb
Due: rubocop, standard

fix(DocumentEditor): la barra y los paneles caben en el teléfono, y guardar sin nada que enviar no deja «Saving...»
  CHANGELOG.md
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  cypress/e2e/document-editor.cy.js
Due: standard

fix(BlockEditor): el nombre de una referencia larga se trunca dentro del editor
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/inlineContent.jsx
  cypress/e2e/block-editor-editing.cy.js
Due: standard

review(docs): el mecanismo exacto de Propshaft, y la dummy con la configuración de la guía
  CHANGELOG.md
  docs/api/block-editor.md
  docs/guides/custom-themes.md
  test/dummy/esbuild.config.mjs
Due: none

fix(filters): el panel se corre a la izquierda cuando no cabe en la pantalla (#1333)
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/controllers/filters_controller.js
  cypress/e2e/filters-controller.cy.js
Due: standard

refactor(filters): buildSelectInput sin respaldo en español para la búsqueda (#1333)
  app/components/bali/filters/controllers/condition_controller.js
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

docs(changelog): el panel de Filters cabe en la pantalla (#1333)
  CHANGELOG.md
Due: none

fix(gantt): en un teléfono el splitter baja de 260 px y la barra no deja separadores sueltos
  CHANGELOG.md
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/Toolbar.jsx
  cypress/e2e/gantt-island.cy.js
  cypress/support/tap.js
Due: standard

fix(chart): la escala radial de polarArea y radar toma los colores del tema
  CHANGELOG.md
  app/components/bali/chart/component.rb
  app/components/bali/chart/index.js
  app/components/bali/chart/previews/chart_js_other_charts_samples.html.erb
  cypress/e2e/chart.cy.js
  test/bali/components/chart_test.rb
Due: rubocop, standard

fix(topbar): la búsqueda se pliega a su ícono cuando las acciones no le dejan sitio
  app/components/bali/command/component.html.erb
  app/components/bali/topbar/component.html.erb
  app/components/bali/topbar/preview.rb
  app/components/bali/topbar/previews/six_actions.html.erb
  cypress/e2e/topbar-search-collapse.cy.js
  docs/guides/components.md
Due: rubocop, standard

fix(command): Enter abre la primera fila que coincide con lo escrito
  app/components/bali/command/index.js
  cypress/e2e/command-controller.cy.js
Due: standard

fix(side-menu): anillo de foco del tema en los ítems
  app/components/bali/side_menu/index.css
  cypress/e2e/side-menu-focus-ring.cy.js
Due: standard

fix(navbar): el preview default no repite sticky top-0 z-50
  app/components/bali/navbar/previews/default.html.erb
Due: none

docs(changelog): Topbar, Command y SideMenu de #1333 y #1336
  CHANGELOG.md
Due: none

fix(breadcrumb): ajustes de la revisión DHH
  CHANGELOG.md
  app/components/bali/breadcrumb/daisyui-overrides.css
  app/components/bali/breadcrumb/index.css
  cypress/e2e/breadcrumb.cy.js
  docs/guides/installation.md
Due: standard

review(docs): las cifras de los tres temas oscuros y la búsqueda completa de los disparadores
  CHANGELOG.md
Due: none

fix(maps): los mapas de Google siguen el modo claro u oscuro de la app
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/drawing-maps-controller.js
  app/assets/javascripts/bali/controllers/geocoder-maps-controller.js
  app/assets/javascripts/bali/utils/color-scheme.js
  app/components/bali/feedback_widget/index.js
  app/components/bali/locations_map/index.js
  app/frontend/bali/utils/index.js
  cypress/e2e/google-maps-color-scheme.cy.js
  cypress/e2e/locations-map.cy.js
  cypress/fixtures/google-maps-stub.js
  cypress/support/google_maps.js
Due: standard

chore(css): fuera box.css y el bloque repetido de datepicker.css
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali.css
  app/assets/stylesheets/bali/box.css
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/datepicker-day-states.cy.js
Due: standard

fix(filter_form): una fecha sola en la raíz de q y el minuto de un datetime se leen enteros (#1333)
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  cypress/e2e/filters-between.cy.js
  lib/bali/filter_form.rb
  lib/bali/filter_form/whole_day_casting.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

test(feedback_widget): la prueba de la carrera espera a que la respuesta salga
  cypress/e2e/feedback-widget-handshake.cy.js
Due: standard

docs(changelog): fecha sola en la raíz y minuto de un datetime (#1333)
  CHANGELOG.md
Due: none

docs(breadcrumb): el comentario de la hoja no narra la medición de antes
  app/components/bali/breadcrumb/index.css
Due: none

test(contrast): una visita por preview y los pares del tema sin navegador
  cypress/e2e/base-surface-steps.cy.js
  cypress/e2e/gantt-bar-label-contrast.cy.js
  cypress/e2e/kanban-surfaces.cy.js
  cypress/e2e/muted-text-contrast.cy.js
  cypress/e2e/navbar-focus-ring.cy.js
  cypress/e2e/navbar-ghost-contrast.cy.js
  cypress/e2e/recurrent-event-rule-form.cy.js
  cypress/e2e/side-menu-chrome-surfaces.cy.js
  cypress/e2e/soft-text-contrast.cy.js
  cypress/e2e/soft-variant-contrast.cy.js
  cypress/e2e/split-view-list.cy.js
  cypress/e2e/status-palette-contrast.cy.js
  cypress/e2e/theme-follow-contrast.cy.js
  cypress/e2e/theme-primary-contrast.cy.js
  cypress/support/painted_contrast.js
  test/bali/components/loader_test.rb
  test/bali/components/split_view_list_test.rb
  test/bali/theme_contrast_test.rb
Due: rubocop, standard

ci(cypress): la corrida se reparte en cuatro partes en paralelo
  .github/workflows/cypress.yml
  scripts/cypress-part.mjs
Due: none

fix(Drawer, Modal): inert en el cerrado, tope de tamaño en el teléfono, fondo que se desvanece y foco a <main>
  CHANGELOG.md
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/drawer_opened_by_the_server.html.erb
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.css
  app/components/bali/drawer/index.js
  app/components/bali/modal/index.js
  cypress/e2e/drawer-closed-panel.cy.js
  cypress/e2e/modal-controller.cy.js
  test/bali/components/drawer_test.rb
Due: rubocop, standard

fix(split_view): un «atrás» que gana a la visita promovida del clic vuelve a la lista
  CHANGELOG.md
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

fix(DocumentEditor, BlockEditor): las pruebas del teléfono miden lo que prometen
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  cypress/e2e/block-editor-editing.cy.js
  cypress/e2e/document-editor.cy.js
Due: standard

fix(split_view): las píldoras de estado filtran la página 1 en todas las previews
  app/components/bali/split_view/preview.rb
  app/components/bali/split_view/previews/structured_list.html.erb
  test/requests/split_view_previews_test.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
