Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

Release v2.0.1
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
Due: rubocop

Bump npm package version to 2.0.1
  package.json
Due: none

Update /release skill and refine .gitignore
  .claude/commands/release.md
  .claude/settings.json
  .claude/skills/performance-profiling/SKILL.md
  .claude/skills/performance-profiling/scripts/lighthouse_audit.py
  .gitignore
Due: none

Add GitHub release step to /release skill
  .claude/commands/release.md
Due: none

feat: Add "results" translation key to select menu in English and Spanish locales.
  config/locales/bali.en.yml
  config/locales/bali.es.yml
Due: none

feat: release version 2.0.2, introducing new component styles, SlimSelect features, and internal refactorings.
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
Due: rubocop

chore: Update tag component's rounded class from `rounded-xl` to `rounded-full` and refine RSpec spec file discovery pattern.
  app/components/bali/tag/component.rb
  spec/bali/components/delete_link_spec.rb
  spec/spec_helper.rb
Due: rubocop

feat: Optimize Cypress memory management and add browser-specific run commands.
  cypress.config.js
  package.json
Due: standard

CSS improvements and component style enhancements (#461)
  CHANGELOG.md
  Gemfile.lock
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/stylesheets/bali.css
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/container.css
  app/assets/stylesheets/bali/general.css
  app/assets/stylesheets/bali/variables.css
  app/components/bali/data_table/actions_panel/component.html.erb
  app/components/bali/delete_link/component.html.erb
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/index.css
  app/components/bali/dropdown/component.rb
  app/components/bali/link/component.rb
  app/components/bali/link/preview.rb
  app/components/bali/link/previews/all_combinations.html.erb
  app/components/bali/message/component.rb
  app/components/bali/message/preview.rb
  app/components/bali/message/previews/all_combinations.html.erb
  app/components/bali/navbar/index.css
  app/components/bali/notification/component.rb
  app/components/bali/notification/preview.rb
  app/components/bali/notification/previews/all_types.html.erb
  app/components/bali/side_menu/index.css
  app/components/bali/tag/component.html.erb
  app/components/bali/tag/component.rb
  app/components/bali/tag/preview.rb
  app/components/bali/tag/previews/all_combinations.html.erb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  cypress.config.js
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/version.rb
  package.json
  spec/bali/components/delete_link_spec.rb
  spec/bali/components/link_spec.rb
  spec/spec_helper.rb
Due: rubocop, standard

Redesign JavaScript import strategy for standard npm package usage
  app/assets/javascripts/bali/controllers/autocomplete-address-controller.js
  app/assets/javascripts/bali/controllers/drawing-maps-controller.js
  app/assets/javascripts/bali/controllers/dynamic-fields-controller.js
  app/assets/javascripts/bali/controllers/geocoder-maps-controller.js
  app/assets/javascripts/bali/controllers/input-on-change-controller.js
  app/assets/javascripts/bali/controllers/interact-controller.js
  app/assets/javascripts/bali/utils/use-click-outside.js
  app/components/bali/bulk_actions/index.js
  app/components/bali/drawer/index.js
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/gantt_chart/gantt_foldable_item.js
  app/components/bali/gantt_chart/index.js
  app/components/bali/hover_card/index.js
  app/components/bali/locations_map/index.js
  app/components/bali/modal/index.js
  app/components/bali/rich_text_editor/index.js
  app/components/bali/rich_text_editor/javascript/suggestions/commands_options.js
  app/components/bali/rich_text_editor/javascript/suggestions/pages_options.js
  app/components/bali/rich_text_editor/javascript/suggestions/renderer.js
  app/components/bali/rich_text_editor/javascript/useMention.js
  app/components/bali/rich_text_editor/javascript/useNodes.js
  app/components/bali/rich_text_editor/javascript/useSlashCommands.js
  app/components/bali/sortable_list/index.js
  app/components/bali/table/index.js
  app/frontend/bali/charts.js
  app/frontend/bali/components/index.js
  app/frontend/bali/controllers/index.js
  app/frontend/bali/gantt.js
  app/frontend/bali/index.js
  app/frontend/bali/rich-text-editor.js
  app/frontend/bali/utils/index.js
  docs/guides/javascript-integration.md
  package.json
  spec/dummy/vite.config.mts
Due: standard

Add turbo_stream support to Filters component and refactor controller submission logic
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/controllers/filters_controller.js
Due: rubocop, standard

Add target and rel attributes support to SideMenu items
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/side_menu/item/component.rb
  app/components/bali/side_menu/list/component.rb
Due: rubocop

Add preserved query params support to Filters component
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  spec/bali/components/filters/component_spec.rb
Due: rubocop

Make ransack_params public in FilterForm for component access
  app/components/bali/data_table/actions_panel/component.rb
  lib/bali/filter_form.rb
  spec/bali/filter_form_spec.rb
Due: rubocop

Add Bulma-compatible column system to Columns component
  app/assets/stylesheets/bali/components.css
  app/components/bali/columns/column/component.rb
  app/components/bali/columns/component.rb
  app/components/bali/columns/index.css
  app/components/bali/columns/preview.rb
  spec/bali/components/columns_spec.rb
Due: rubocop

Refactor Columns gap sizes to use Tailwind-like naming
  app/components/bali/columns/component.rb
  app/components/bali/columns/index.css
  app/components/bali/columns/preview.rb
  spec/bali/components/columns_spec.rb
Due: rubocop

Fix slim_select_field to deep merge data attributes
  lib/bali/form_builder/slim_select_fields.rb
  spec/bali/form_builder/slim_select_fields_spec.rb
Due: rubocop

Allow Tailwind display utilities on Column component
  app/components/bali/columns/index.css
Due: none

Rename Columns classes and params to Tailwind-like naming
  app/components/bali/columns/column/component.rb
  app/components/bali/columns/component.rb
  app/components/bali/columns/index.css
  app/components/bali/columns/preview.rb
  spec/bali/components/columns_spec.rb
Due: rubocop

Replace vendor flatpickr CSS with custom DaisyUI-native implementation
  app/assets/stylesheets/bali/datepicker.css
  app/assets/stylesheets/bali/flatpickr.css
  app/assets/stylesheets/bali/vendor/flatpickr.css
Due: none

Fix datepicker/slim_select CSS and Cypress test configuration
  .rspec
  app/assets/stylesheets/bali/datepicker.css
  app/assets/stylesheets/bali/slim_select.css
  cypress.config.js
  cypress/e2e/tabs-controller.cy.js
  spec/dummy/vite.config.mts
Due: standard

Fix multi-select search whitespace and datepicker header alignment
  app/assets/stylesheets/bali/flatpickr.css
  app/assets/stylesheets/bali/slim_select.css
Due: none

Fix ss-content padding from DaisyUI select classes
  app/assets/stylesheets/bali/slim_select.css
Due: none

Improve SlimSelect search clear button and datepicker year arrows
  app/assets/stylesheets/bali/flatpickr.css
  app/assets/stylesheets/bali/slim_select.css
Due: none

Fix year input clipping and multi-select tag wrapping
  app/assets/stylesheets/bali/flatpickr.css
  app/assets/stylesheets/bali/slim_select.css
Due: none

Restore center alignment for single select
  app/assets/stylesheets/bali/slim_select.css
Due: none

Remove padding from ss-values to fix vertical alignment
  app/assets/stylesheets/bali/slim_select.css
Due: none

Fix drawer overlay blocking clicks when closed
  app/components/bali/drawer/component.html.erb
Due: none

Hide drawer completely when closed (like modal)
  app/components/bali/drawer/component.rb
Due: rubocop

Fix drawer overlay - use CSS file for visibility control
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
Due: rubocop

Add \!important to drawer overlay CSS rules
  app/components/bali/drawer/index.css
Due: none

Rewrite drawer to match modal pattern exactly
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.css
Due: rubocop

Put hidden class in template so Tailwind generates it
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
Due: rubocop

Fix drawer not opening - restore working visibility pattern
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.css
Due: rubocop

Add changelog entry for JavaScript import strategy redesign
  CHANGELOG.md
Due: none

Fix Cypress CI to use correct port and URL
  .github/workflows/cypress.yml
Due: none

Fix Cypress CI wait-on to use 127.0.0.1 instead of localhost
  .github/workflows/cypress.yml
Due: none

Bump version to 2.0.3
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

Update version in installation docs to 2.0.3
  docs/guides/installation.md
Due: none

Improve package.json exports following npm best practices
  cypress.config.cjs
  cypress/plugins/index.cjs
  package.json
Due: none
