Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

feat(block-editor): el resaltado de sintaxis se decide una vez, en la configuración
  CHANGELOG.md
  app/components/bali/block_editor/component.rb
  lib/bali.rb
  test/bali/components/block_editor_test.rb
Due: rubocop

docs(block-editor): precisa la cifra del bundle medida con el analizador de esbuild
  CHANGELOG.md
Due: none

docs: corrige dos cifras equivocadas en los comentarios de configuracion
  lib/bali.rb
Due: rubocop

fix(block-editor): que una app pueda instalarlo con solo los paquetes libres, y que hable markdown (#662)
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.html.erb
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/useContentSync.js
  docs/api/block-editor.md
  lib/bali.rb
  lib/bali/form_builder.rb
  lib/bali/form_builder/rich_text_fields.rb
  package.json
  test/bali/components/block_editor_test.rb
  test/bali/form_builder/rich_text_fields_test.rb
Due: rubocop, standard

fix(slim-select): include_blank ya no destruye una lista agrupada (optgroups)
  CHANGELOG.md
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/version.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

fix: registra 2.16.1 en Gemfile.lock — el CI corre bundler frozen
  Gemfile.lock
Due: none

fix(slim-select): include_blank ya no destruye una lista agrupada (optgroups) (#663)
  CHANGELOG.md
  Gemfile.lock
  lib/bali/form_builder/slim_select_fields.rb
  lib/bali/version.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

feat(block-editor): el boilerplate de instalación viaja con Bali, no con cada app
  CHANGELOG.md
  Gemfile.lock
  app/frontend/bali/block-editor-entry.js
  app/frontend/bali/block-editor-loader.js
  app/frontend/bali/block-editor.js
  app/helpers/bali/block_editor_helper.rb
  docs/api/block-editor.md
  lib/bali/engine.rb
  lib/bali/version.rb
  package.json
  test/bali/block_editor_helper_test.rb
Due: rubocop, standard

feat(block-editor): instalación en una línea — entry, lazy-loader y helper de meta tags (#665)
  CHANGELOG.md
  Gemfile.lock
  app/frontend/bali/block-editor-entry.js
  app/frontend/bali/block-editor-loader.js
  app/frontend/bali/block-editor.js
  app/helpers/bali/block_editor_helper.rb
  docs/api/block-editor.md
  lib/bali/engine.rb
  lib/bali/version.rb
  package.json
  test/bali/block_editor_helper_test.rb
Due: rubocop, standard

fix(engine): v2.17.0 tumbaba el boot de TODO host — el helper no resolvía
  CHANGELOG.md
  Gemfile.lock
  lib/bali/engine.rb
  lib/bali/version.rb
  package.json
  test/bali/block_editor_helper_test.rb
Due: rubocop

fix(engine): v2.17.0 rompe el boot de todo host — Bali::BlockEditorHelper no resuelve (#666)
  CHANGELOG.md
  Gemfile.lock
  lib/bali/engine.rb
  lib/bali/version.rb
  package.json
  test/bali/block_editor_helper_test.rb
Due: rubocop

feat(data-table): vistas guardadas con nombre — saved_views_store en FilterForm + dropdown Vistas (B2)
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/column_selector/component.rb
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/index.js
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_saved_views.html.erb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views/component.rb
  app/components/bali/data_table/saved_views_controller.js
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  lib/bali/filter_form.rb
  lib/bali/filter_form/saved_views_configuration.rb
  test/bali/components/data_table/saved_views_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

docs: CHANGELOG de las vistas guardadas (Changelog Checker del CI)
  CHANGELOG.md
Due: none

feat(engine): storage default de las vistas guardadas — Bali::SavedView + controller + rutas (B2)
  app/controllers/bali/saved_views_controller.rb
  app/models/bali/saved_view.rb
  app/models/bali/saved_view/store.rb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  config/routes.rb
  db/migrate/20260728120000_create_bali_saved_views.rb
  lib/bali.rb
  lib/bali/engine.rb
  spec/dummy/app/models/user.rb
  spec/dummy/db/migrate/20260728000001_create_users.rb
  spec/dummy/db/schema.rb
  test/bali/models/saved_view_test.rb
  test/requests/saved_views_test.rb
Due: rubocop

feat(data-table): saved_views_store :default y URL default del engine en with_saved_views
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/saved_views/component.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/saved_views_configuration.rb
  test/bali/components/data_table/saved_views_test.rb
Due: rubocop

docs: CHANGELOG — el storage default del engine en la entrada de vistas guardadas
  CHANGELOG.md
Due: none

fix(filter-form): una vista guardada VACÍA aplicada le gana a la caché de filtros persistidos
  CHANGELOG.md
  lib/bali/filter_form.rb
  test/bali/filter_form_test.rb
Due: rubocop

fix(data-table): minors del dhh-review — memo de saved_views, carrera del upsert, localStorage con vista aplicada
  app/components/bali/data_table/column_selector_controller.js
  app/models/bali/saved_view/store.rb
  lib/bali/filter_form/saved_views_configuration.rb
Due: rubocop, standard

feat(data-table): vistas guardadas con nombre — saved_views_store en FilterForm + dropdown Vistas (B2) (#668)
  CHANGELOG.md
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/column_selector/component.rb
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/index.js
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_saved_views.html.erb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views/component.rb
  app/components/bali/data_table/saved_views_controller.js
  app/controllers/bali/saved_views_controller.rb
  app/models/bali/saved_view.rb
  app/models/bali/saved_view/store.rb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  config/routes.rb
  db/migrate/20260728120000_create_bali_saved_views.rb
  lib/bali.rb
  lib/bali/engine.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/saved_views_configuration.rb
  spec/dummy/app/models/user.rb
  spec/dummy/db/migrate/20260728000001_create_users.rb
  spec/dummy/db/schema.rb
  test/bali/components/data_table/saved_views_test.rb
  test/bali/filter_form_test.rb
  test/bali/models/saved_view_test.rb
  test/requests/saved_views_test.rb
Due: rubocop, standard

fix(data-table): B2 en el navegador — registrar saved-views, búsqueda que no borra filtros, tooltip localizado, vista activa
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/filter-persistence-controller.js
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/data_table/group_by_control/component.rb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views/component.rb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  lib/bali/filter_form/saved_views_configuration.rb
Due: rubocop, standard

test(data-table): cubrir vista activa, búsqueda que preserva filtros y GroupByControl con opciones explícitas
  spec/dummy/yarn.lock
  test/bali/components/data_table/group_by_control_test.rb
  test/bali/components/data_table/saved_views_test.rb
  test/bali/components/filters/component_test.rb
Due: rubocop

fix(data-table): endurecer B2 tras revisión adversarial — la marca activa no miente y el estado re-emitido no muta lo aplicado
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/filter-persistence-controller.js
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views/component.rb
  app/components/bali/data_table/saved_views_controller.js
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/controllers/filters_controller.js
  app/frontend/bali/index.js
  lib/bali/filter_form.rb
  lib/bali/filter_form/filter_group_parser.rb
  lib/bali/filter_form/saved_views_configuration.rb
  test/bali/components/data_table/saved_views_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/filters/component_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

fix(group-by-control): los comandos de un solo uso no viajan en los hrefs
  CHANGELOG.md
  app/components/bali/data_table/group_by_control/component.rb
  test/bali/components/data_table/group_by_control_test.rb
Due: rubocop

fix(data-table): B2 operable en el navegador — registrar saved-views, búsqueda que no borra filtros, vista activa y persistencia que obedece (#669)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/filter-persistence-controller.js
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/data_table/group_by_control/component.rb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views/component.rb
  app/components/bali/data_table/saved_views_controller.js
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/controllers/filters_controller.js
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  lib/bali/filter_form.rb
  lib/bali/filter_form/filter_group_parser.rb
  lib/bali/filter_form/saved_views_configuration.rb
  spec/dummy/yarn.lock
  test/bali/components/data_table/group_by_control_test.rb
  test/bali/components/data_table/saved_views_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/filters/component_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

docs(spec): el index por default — toolbar, superficie, view switch e identidad única (v3.0)
  docs/superpowers/specs/2026-07-30-datatable-index-default-design.md
Due: none

docs(spec): un solo PR en vez de seis apilados
  docs/superpowers/specs/2026-07-30-datatable-index-default-design.md
Due: none

feat(data-table)!: un listado, un nombre — `table_id:` desaparece
  CHANGELOG.md
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/column_selector/component.rb
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/listing_identity.rb
  app/components/bali/data_table/previews/complete.html.erb
  app/components/bali/data_table/previews/with_saved_views.html.erb
  app/components/bali/data_table/previews/with_toolbar_buttons.html.erb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views/component.rb
  app/components/bali/data_table/saved_views_controller.js
  docs/guides/components.md
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/movies/index.turbo_stream.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/movies/index.turbo_stream.erb
  test/bali/components/data_table/listing_identity_test.rb
  test/bali/components/data_table/saved_views_test.rb
Due: rubocop, standard

feat(data-table)!: la superficie la trae el contenido, no el host
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_grid_mode.html.erb
  docs/guides/components.md
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/studios/index.html.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/studios/index.html.erb
  test/bali/components/data_table_test.rb
Due: rubocop

feat(data-table)!: el view switch entra a la toolbar y se lleva puesto el toggle legacy (#653)
  CHANGELOG.md
  app/components/bali/data_table/actions_panel/component.html.erb
  app/components/bali/data_table/actions_panel/component.rb
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_grid_mode.html.erb
  app/components/bali/data_table/view_switch_control/component.html.erb
  app/components/bali/data_table/view_switch_control/component.rb
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  docs/guides/components.md
  test/bali/components/data_table/group_by_control_test.rb
  test/bali/components/data_table/view_switch_control_test.rb
  test/bali/components/data_table_test.rb
Due: rubocop

feat(data-table)!: seleccionar filas es del componente, y el panel de acciones muere
  CHANGELOG.md
  app/components/bali/bulk_actions/component.html.erb
  app/components/bali/bulk_actions/component.rb
  app/components/bali/bulk_actions/index.js
  app/components/bali/bulk_actions/preview.rb
  app/components/bali/data_table/action/component.html.erb
  app/components/bali/data_table/action/component.rb
  app/components/bali/data_table/actions_panel/component.html.erb
  app/components/bali/data_table/actions_panel/component.rb
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_bulk_actions.html.erb
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/selectable.html.erb
  app/components/bali/table/row/component.html.erb
  app/components/bali/table/row/component.rb
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  cypress/e2e/bulk-actions-controller.cy.js
  docs/guides/components.md
  spec/dummy/app/controllers/concerns/bulk_actionable.rb
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/movies/index.turbo_stream.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/movies/index.turbo_stream.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  test/bali/components/bulk_actions_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/table_test.rb
Due: rubocop, standard

feat(data-table)!: la toolbar se pliega en un menú ⋯ moviendo nodos, nunca copiándolos
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/export/component.html.erb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/data_table/index.css
  app/components/bali/data_table/index.js
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/toolbar_overflow_controller.js
  app/components/bali/view_switch/component.rb
  app/components/bali/view_switch/view/component.html.erb
  app/components/bali/view_switch/view/component.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  test/bali/components/data_table_test.rb
  test/bali/components/view_switch_test.rb
Due: rubocop, standard

feat(data-table)!: el index por default — preview canónico, dummy migrado, docs y guía v2→v3
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  README.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/_canonical_index.html.erb
  app/components/bali/data_table/previews/complete.html.erb
  app/components/bali/data_table/previews/default.html.erb
  app/components/bali/data_table/previews/with_grid_mode.html.erb
  app/components/bali/data_table/previews/with_grouping.html.erb
  app/components/bali/data_table/previews/with_saved_views.html.erb
  app/components/bali/data_table/previews/with_toolbar_buttons.html.erb
  app/components/bali/index_page/preview.rb
  app/components/bali/index_page/previews/complete.html.erb
  app/components/bali/index_page/previews/default.html.erb
  cypress/e2e/data-table-view-switch.cy.js
  cypress/e2e/toolbar-overflow.cy.js
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/KITCHEN_SINK_LEARNINGS.md
  spec/dummy/app/views/admin/movies/_listing.html.erb
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/movies/index.turbo_stream.erb
  spec/dummy/app/views/movies/_listing.html.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/movies/index.turbo_stream.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  spec/dummy/db/migrate/20260728120000_create_bali_saved_views.bali.rb
  spec/dummy/db/migrate/20260730000001_add_production_dates_to_movies.rb
  spec/dummy/db/schema.rb
  spec/dummy/db/seeds.rb
  test/bali/components/data_table_test.rb
Due: rubocop, standard

fix(data-table): la fila de selección deja de empujar el listado, y la página actual se ve
  CHANGELOG.md
  app/components/bali/bulk_actions/component.rb
  app/components/bali/data_table/component.rb
  app/components/bali/pagination/component.rb
  package.json
  test/bali/components/bulk_actions_test.rb
  test/bali/components/pagination_test.rb
  yarn.lock
Due: rubocop

fix(ci): la suite ni corría — migración duplicada, DB sin sembrar y Rails vulnerable
  .github/workflows/cypress.yml
  CHANGELOG.md
  Gemfile.lock
  spec/dummy/db/migrate/20260728120000_create_bali_saved_views.bali.rb
Due: rubocop

fix(bulk-actions): los botones de la fila contextual bajan a xs para no ir a ras del tinte
  CHANGELOG.md
  app/components/bali/bulk_actions/action/component.rb
  app/components/bali/bulk_actions/component.html.erb
  app/components/bali/bulk_actions/component.rb
  test/bali/components/bulk_actions_test.rb
Due: rubocop

feat(data-table): el marcador de persistencia deja de ser un botón del panel y pasa a ser un control propio de la toolbar
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/persistence_toggle/component.html.erb
  app/components/bali/filters/persistence_toggle/component.rb
  app/components/bali/filters/preview.rb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  docs/guides/components.md
  test/bali/components/data_table/filter_persistence_test.rb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/components/filters/component_test.rb
  test/bali/components/filters/persistence_toggle_test.rb
Due: rubocop

feat(data-table): la toolbar se reagrupa y gana una barrita — izquierda el estado, derecha cómo se ve
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/toolbar_overflow_controller.js
  cypress/e2e/toolbar-overflow.cy.js
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/data_table_test.rb
Due: rubocop, standard

feat(table): la página de referencia se completa y una columna ordenable por fin parece ordenable
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/previews/_canonical_index.html.erb
  app/components/bali/table/header/component.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/controllers/admin/movies_controller.rb
  spec/dummy/app/controllers/application_controller.rb
  spec/dummy/app/controllers/movies_controller.rb
  spec/dummy/app/models/user.rb
  spec/dummy/app/views/admin/movies/_listing.html.erb
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
  spec/dummy/app/views/movies/_listing.html.erb
  spec/dummy/config/initializers/bali.rb
  spec/dummy/db/seeds.rb
  test/bali/components/table_test.rb
  test/requests/kitchen_sink_test.rb
Due: rubocop
