Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

feat(document-editor): aceptar `format:` y fijar prosemirror con comentarios (#1098)
  CHANGELOG.md
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_page/component.rb
  docs/api/block-editor.md
  test/bali/components/document_editor_test.rb
  test/bali/components/document_page_test.rb
Due: rubocop

feat(side-menu): revelar el ítem de la página actual al conectar (#1099)
  CHANGELOG.md
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.js
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/reveal_current.html.erb
  cypress/e2e/side-menu-reveal-current.cy.js
  docs/guides/components.md
  test/bali/components/side_menu_test.rb
Due: rubocop, standard

release: v3.1.5
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(edit-mode): make the query param configurable, and stop the docs assuming widgets
  app/assets/javascripts/bali/controllers/edit-mode-controller.js
  app/components/bali/chart/component.rb
  cypress/e2e/edit-mode.cy.js
  docs/guides/controllers.md
  spec/dummy/app/controllers/edit_mode_demo_controller.rb
  spec/dummy/app/views/edit_mode_demo/index.html.erb
  spec/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
  spec/dummy/config/routes.rb
Due: rubocop, standard

feat(widget): finish the authoring API
  CHANGELOG.md
  app/components/bali/widget/component.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/layout.rb
  app/lib/bali/widget/result.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  lib/generators/bali/widget/templates/widget.rb.tt
  lib/generators/bali/widget/templates/widget_test.rb.tt
  lib/generators/bali/widget/widget_generator.rb
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/widgets/demo_widgets/studio_foundings.rb
  test/bali/components/widget_test.rb
  test/bali/widget/layout_test.rb
  test/generators/widget_generator_test.rb
Due: rubocop

feat(widget): let a widget declare which sizes a user may choose
  CHANGELOG.md
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/size_picker/component.rb
  app/lib/bali/widget/base.rb
  cypress/e2e/widget-grid-resize.cy.js
  docs/guides/engine-models.md
  lib/generators/bali/widget/templates/widget.rb.tt
  lib/generators/bali/widget/widget_generator.rb
  spec/dummy/app/widgets/demo_widgets/production_budget.rb
  spec/dummy/app/widgets/demo_widgets/unavailable_feed.rb
  test/bali/components/widget_size_picker_test.rb
  test/bali/components/widget_test.rb
  test/bali/widget/base_test.rb
Due: rubocop, standard

refactor(widget): `supports`, not `sizes` — one letter from `sized`
  CHANGELOG.md
  app/lib/bali/widget/base.rb
  docs/guides/engine-models.md
  lib/generators/bali/widget/templates/widget.rb.tt
  lib/generators/bali/widget/widget_generator.rb
  spec/dummy/app/widgets/demo_widgets/production_budget.rb
  spec/dummy/app/widgets/demo_widgets/unavailable_feed.rb
  test/bali/components/widget_test.rb
  test/bali/widget/base_test.rb
Due: rubocop

refactor(widget-grid): WidgetGridEditModeController — named for its only consumer
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/edit-mode-controller.js
  app/components/bali/widget/component.html.erb
  app/components/bali/widget_grid/component.html.erb
  app/components/bali/widget_grid/component.rb
  app/components/bali/widget_grid/index.js
  app/frontend/bali/components/index.js
  app/frontend/bali/controllers/index.js
  app/frontend/bali/index.js
  cypress/e2e/edit-mode.cy.js
  cypress/e2e/widget-grid-resize.cy.js
  cypress/e2e/widget-grid.cy.js
  docs/guides/components.md
  docs/guides/controllers.md
  spec/dummy/app/controllers/edit_mode_demo_controller.rb
  spec/dummy/app/views/edit_mode_demo/index.html.erb
  spec/dummy/app/views/lookbook/pages/02_guides/03_controllers.md.erb
  spec/dummy/config/routes.rb
  test/bali/components/widget_grid_test.rb
Due: rubocop, standard

refactor: rename display_value to formatted_value and simplify widget component regions by removing charted_rows
  CHANGELOG.md
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/index.css
  app/components/bali/widget/preview.rb
  app/components/bali/widget/size_picker/component.rb
  app/components/bali/widget_grid/index.css
  app/components/bali/widget_grid/index.js
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/list_base.rb
  app/lib/bali/widget/progress_base.rb
  app/lib/bali/widget/trend_base.rb
  app/lib/bali/widget/value_base.rb
  cypress/e2e/widget-grid.cy.js
  docs/guides/components.md
  docs/guides/engine-models.md
  docs/superpowers/specs/2026-08-27-widget-pattern-bases.md
  lib/generators/bali/widget/templates/widget.rb.tt
  spec/dummy/app/widgets/demo_widgets/active_studios.rb
  spec/dummy/app/widgets/demo_widgets/production_budget.rb
  spec/dummy/app/widgets/widget_routes.rb
  test/bali/components/widget_grid_test.rb
  test/bali/components/widget_size_picker_test.rb
  test/bali/components/widget_test.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/widget/patterns_test.rb
Due: rubocop, standard

refactor: replace the abstract scope method in ListBase with a declarative list DSL for improved scope management
  app/components/bali/widget/preview.rb
  app/components/bali/widget_grid/preview.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/list_base.rb
  docs/guides/engine-models.md
  docs/superpowers/specs/2026-08-27-widget-pattern-bases.md
  lib/generators/bali/widget/templates/widget.rb.tt
  lib/generators/bali/widget/templates/widget_test.rb.tt
  spec/dummy/app/widgets/demo_widgets/active_studios.rb
  spec/dummy/app/widgets/demo_widgets/recent_movies.rb
  spec/dummy/app/widgets/demo_widgets/top_budget_movies.rb
  spec/dummy/app/widgets/demo_widgets/upcoming_tasks.rb
  test/bali/components/widget_test.rb
  test/bali/widget/patterns_test.rb
  test/generators/widget_generator_test.rb
Due: rubocop

refactor: remove order_by parameter from list macro to enforce ordering within the block scope
  app/lib/bali/widget/list_base.rb
  docs/guides/engine-models.md
  docs/superpowers/specs/2026-08-27-widget-pattern-bases.md
  lib/generators/bali/widget/templates/widget.rb.tt
  spec/dummy/app/widgets/demo_widgets/active_studios.rb
  spec/dummy/app/widgets/demo_widgets/recent_movies.rb
  spec/dummy/app/widgets/demo_widgets/top_budget_movies.rb
  spec/dummy/app/widgets/demo_widgets/upcoming_tasks.rb
  test/bali/components/widget_test.rb
  test/bali/widget/patterns_test.rb
  test/generators/widget_generator_test.rb
Due: rubocop

refactor: replace row_title/row_subtitle/row_href with a unified row block DSL in ListBase
  app/components/bali/widget/preview.rb
  app/components/bali/widget_grid/preview.rb
  app/lib/bali/widget.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/list_base.rb
  docs/guides/engine-models.md
  docs/superpowers/specs/2026-08-27-widget-pattern-bases.md
  lib/generators/bali/widget/templates/widget.rb.tt
  spec/dummy/app/widgets/demo_widgets/active_studios.rb
  spec/dummy/app/widgets/demo_widgets/recent_movies.rb
  spec/dummy/app/widgets/demo_widgets/top_budget_movies.rb
  spec/dummy/app/widgets/demo_widgets/upcoming_tasks.rb
  test/bali/components/widget_grid_test.rb
  test/bali/components/widget_test.rb
  test/bali/widget/patterns_test.rb
  test/generators/widget_generator_test.rb
Due: rubocop

refactor: migrate widget configurations to DSL-based builders and introduce Charted concern
  app/components/bali/widget/preview.rb
  app/components/bali/widget_grid/preview.rb
  app/lib/bali/widget/charted.rb
  app/lib/bali/widget/progress_base.rb
  app/lib/bali/widget/trend_base.rb
  app/lib/bali/widget/value_base.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  lib/generators/bali/widget/templates/widget.rb.tt
  spec/dummy/app/widgets/demo_widgets/overdue_tasks.rb
  spec/dummy/app/widgets/demo_widgets/production_budget.rb
  spec/dummy/app/widgets/demo_widgets/project_progress.rb
  spec/dummy/app/widgets/demo_widgets/studio_foundings.rb
  spec/dummy/app/widgets/demo_widgets/task_load.rb
  spec/dummy/app/widgets/demo_widgets/unavailable_feed.rb
  test/bali/components/widget_test.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/widget/base_test.rb
  test/bali/widget/patterns_test.rb
  test/generators/widget_generator_test.rb
Due: rubocop

fix: prevent class attribute leakage between sibling widgets and improve declaration error handling
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/charted.rb
  app/lib/bali/widget/list_base.rb
  app/lib/bali/widget/progress_base.rb
  app/lib/bali/widget/trend_base.rb
  app/lib/bali/widget/value_base.rb
  lib/generators/bali/widget/templates/widget.rb.tt
  spec/dummy/app/widgets/demo_widgets/project_progress.rb
  test/bali/components/widget_test.rb
  test/bali/widget/patterns_test.rb
  test/generators/widget_generator_test.rb
  test/requests/dashboard_widgets_test.rb
Due: rubocop

feat: introduce CheckBase widget pattern, update generator, and add several demo widgets with accompanying locale support.
  CHANGELOG.md
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/preview.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/charted.rb
  app/lib/bali/widget/check_base.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  docs/guides/engine-models.md
  docs/superpowers/specs/2026-08-27-widget-pattern-bases.md
  lib/generators/bali/widget/templates/widget.rb.tt
  lib/generators/bali/widget/widget_generator.rb
  spec/dummy/app/widgets/demo_widgets.rb
  spec/dummy/app/widgets/demo_widgets/active_studios.rb
  spec/dummy/app/widgets/demo_widgets/catalog_coverage.rb
  spec/dummy/app/widgets/demo_widgets/indie_studios.rb
  spec/dummy/app/widgets/demo_widgets/modern_studios.rb
  spec/dummy/app/widgets/demo_widgets/ratings_audit.rb
  spec/dummy/app/widgets/demo_widgets/release_readiness.rb
  spec/dummy/app/widgets/demo_widgets/schema_health.rb
  spec/dummy/app/widgets/demo_widgets/studio_sizes.rb
  spec/dummy/app/widgets/demo_widgets/top_budget_movies.rb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  test/bali/widget/patterns_test.rb
Due: rubocop

refactor: rename widget #visible? to #authorized? and enforce authorization gating in the store and layout layers
  CHANGELOG.md
  app/lib/bali/widget.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/layout.rb
  app/models/bali/dashboard_widget/store.rb
  docs/guides/engine-models.md
  docs/superpowers/specs/2026-08-27-widget-pattern-bases.md
  lib/generators/bali/widget/templates/widget.rb.tt
  lib/generators/bali/widget/templates/widget_test.rb.tt
  spec/dummy/app/widgets/demo_widgets/active_studios.rb
  spec/dummy/app/widgets/widget_routes.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/widget/base_test.rb
Due: rubocop

refactor: move PREVIEW_ROWS to ListBase and remove default pattern method implementations from Base
  app/components/bali/widget/component.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/check_base.rb
  app/lib/bali/widget/list_base.rb
  app/lib/bali/widget/value_base.rb
  docs/guides/engine-models.md
  docs/superpowers/specs/2026-08-27-widget-pattern-bases.md
  lib/generators/bali/widget/templates/widget_test.rb.tt
  test/bali/widget/base_test.rb
  test/bali/widget/patterns_test.rb
Due: rubocop

refactor: decouple widget size from base classes using a new Placement wrapper
  app/components/bali/widget/component.rb
  app/components/bali/widget/preview.rb
  app/components/bali/widget/previews/default.html.erb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/layout.rb
  app/lib/bali/widget/placement.rb
  app/models/bali/dashboard_widget/store.rb
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/views/dashboard_widgets/index.html.erb
  test/bali/components/widget_grid_test.rb
  test/bali/components/widget_test.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/widget/base_test.rb
  test/bali/widget/layout_test.rb
  test/bali/widget/placement_test.rb
Due: rubocop

refactor: simplify widget sizing by replacing the regions table with a direct row budget configuration
  app/components/bali/widget/card/charted.rb
  app/components/bali/widget/card/component.rb
  app/components/bali/widget/check/preview.rb
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/component.rb
  app/components/bali/widget/list/preview.rb
  app/components/bali/widget/progress/preview.rb
  app/components/bali/widget/trend/preview.rb
  app/components/bali/widget/value/preview.rb
  app/lib/bali/widget/list_base.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  test/bali/components/widget_parts_test.rb
  test/bali/components/widget_test.rb
Due: rubocop

feat: implement explicit widget key registration to prevent namespace collisions and document catalogue resolution
  app/lib/bali/widget/base.rb
  docs/guides/engine-models.md
Due: rubocop

feat: prevent duplicate widget key collisions and restrict error re-raising to development environment
  app/components/bali/widget/component.rb
  app/lib/bali/widget.rb
  app/lib/bali/widget/layout.rb
  app/models/bali/dashboard_widget/store.rb
  docs/guides/engine-models.md
  test/bali/components/widget_test.rb
  test/bali/widget/base_test.rb
Due: rubocop

refactor: remove Bali::Widget::Layout and inline parameter handling into consuming controllers
  app/lib/bali/widget.rb
  app/lib/bali/widget/base.rb
  app/lib/bali/widget/layout.rb
  app/models/bali/dashboard_widget/store.rb
  docs/guides/engine-models.md
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/views/dashboard_widgets/index.html.erb
  spec/dummy/app/views/dashboard_widgets/picker.html.erb
  test/bali/models/dashboard_widget/store_test.rb
  test/bali/widget/layout_test.rb
Due: rubocop

refactor: simplify controller param handling by shifting widget lookup and validation into Store#arrange
  app/components/bali/widget_grid/preview.rb
  app/lib/bali/widget/placement.rb
  app/models/bali/dashboard_widget/store.rb
  docs/guides/components.md
  docs/guides/engine-models.md
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/requests/dashboard_widgets_test.rb
Due: rubocop

refactor: update store to accept hash-based widget layouts and enforce strict parameter filtering
  app/components/bali/widget_grid/preview.rb
  app/models/bali/dashboard_widget/store.rb
  docs/guides/engine-models.md
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  test/bali/models/dashboard_widget/store_test.rb
Due: rubocop

feat: implement dashboard widget picker and centralize widget management in controller concern
  app/models/bali/dashboard_widget/store.rb
  app/views/bali/dashboard_widgets/edit.html.erb
  app/views/bali/dashboard_widgets/show.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  docs/guides/engine-models.md
  lib/bali.rb
  lib/bali/concerns/controllers/dashboard_widgets.rb
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/views/dashboard_widgets/index.html.erb
  spec/dummy/app/views/dashboard_widgets/picker.html.erb
  spec/dummy/app/views/dashboard_widgets/show.html.erb
  spec/dummy/app/widgets/demo_widgets.rb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  spec/dummy/config/routes.rb
  test/bali/concerns/controllers/dashboard_widgets_test.rb
  test/bali/models/dashboard_widget/store_test.rb
  test/requests/dashboard_widgets_test.rb
Due: rubocop

feat: add dynamic dashboard widget catalogs and a testing helper to ensure all widgets are catalogued
  docs/guides/engine-models.md
  lib/bali/concerns/controllers/dashboard_widgets.rb
  lib/bali/testing/widget_catalog.rb
  spec/dummy/app/controllers/dashboard_widgets_controller.rb
  spec/dummy/app/widgets/demo_widgets.rb
  test/bali/concerns/controllers/dashboard_widgets_test.rb
  test/bali/testing/widget_catalog_test.rb
  test/requests/dashboard_widgets_test.rb
Due: rubocop

Bloquear cuerpos de PR que cierran issues en español
  .claude/CLAUDE.md
  .claude/hooks/pr-closes-keyword.sh
  .claude/settings.json
  test/bali/pr_closes_keyword_test.rb
Due: rubocop

Agrupar por un ransacker o por un camino de asociación
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/_canonical_index.html.erb
  app/components/bali/data_table/previews/with_grouping.html.erb
  docs/guides/components.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/group_by_configuration.rb
  spec/dummy/app/controllers/admin/movies_controller.rb
  spec/dummy/app/models/movie.rb
  spec/dummy/app/views/admin/movies/_listing.html.erb
  spec/dummy/app/views/admin/studios/_listing.html.erb
  test/bali/filter_form_group_by_expressions_test.rb
Due: rubocop

docs(spec): diseño de Bali::Topbar::ToolsMenu
  docs/superpowers/specs/2026-08-29-topbar-tools-menu-design.md
Due: none

docs(spec): aprobado — se cierran las dos preguntas abiertas
  docs/superpowers/specs/2026-08-29-topbar-tools-menu-design.md
Due: none

docs(plan): implementación de Bali::Topbar::ToolsMenu
  docs/superpowers/plans/2026-08-29-topbar-tools-menu.md
Due: none

docs(plan): dos correcciones del barrido previo
  docs/superpowers/plans/2026-08-29-topbar-tools-menu.md
Due: none

feat(topbar): Tool, la regla del router del menú de herramientas
  app/components/bali/topbar/tools_menu/tool.rb
  test/bali/components/topbar_tools_menu_tool_test.rb
Due: rubocop

docs(plan): dos gotchas del entorno que el plan no documentaba
  docs/superpowers/plans/2026-08-29-topbar-tools-menu.md
Due: none

feat(topbar): componente del menú de herramientas internas
  app/components/bali/topbar/tools_menu/component.html.erb
  app/components/bali/topbar/tools_menu/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  spec/dummy/config/routes.rb
  test/bali/components/topbar_tools_menu_test.rb
Due: rubocop

feat(topbar): preview del menú de herramientas
  app/components/bali/topbar/preview.rb
  app/components/bali/topbar/previews/tools_menu.html.erb
  test/requests/topbar_previews_test.rb
Due: rubocop

release: v3.2.0
  CHANGELOG.md
  lib/bali/version.rb
Due: rubocop

chore: Gemfile.lock del bump a 3.2.0
  Gemfile.lock
Due: none
