Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

feat(help-tip): Bali::HelpTip — el ícono de ayuda con tooltip, empaquetado (#993) (#1010)
  CHANGELOG.md
  app/components/bali/field_group_wrapper/component.rb
  app/components/bali/help_tip/component.rb
  app/components/bali/help_tip/preview.rb
  app/components/bali/help_tip/previews/default.html.erb
  docs/guides/components.md
  test/bali/components/help_tip_test.rb
Due: rubocop

release: v3.1.0.beta.10
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(drawer): los clicks en un popup portaleado ya no cuentan como gesto de cierre (#1013)
  CHANGELOG.md
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
Due: standard

fix(drawer): SlimSelect fijado con test y el cancel del file picker ya no cierra (#1013)
  CHANGELOG.md
  app/components/bali/drawer/previews/dirty_form.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
Due: standard

fix(drawer): los clicks en el header del calendario de flatpickr ya no disparan el confirm de cierre (#1013) (#1014)
  CHANGELOG.md
  app/components/bali/drawer/previews/dirty_form.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
Due: standard

fix(filters): el panel se cierra al usar el buscador de un slim select (#1013)
  CHANGELOG.md
  app/components/bali/filters/controllers/filters_controller.js
  cypress/e2e/filters-controller.cy.js
Due: standard

fix(command,filter-form): los dos hallazgos de validar beta.10 en un consumidor
  CHANGELOG.md
  app/components/bali/command/component.rb
  app/components/bali/command/group/component.rb
  app/components/bali/command/index.js
  app/components/bali/command/item/component.rb
  app/components/bali/command/previews/default.html.erb
  cypress/e2e/command-controller.cy.js
  docs/guides/components.md
  lib/bali/filter_form.rb
  test/bali/components/command_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

fix(filters): el panel se cierra al usar el buscador de un slim select (#1013) (#1018)
  CHANGELOG.md
  app/components/bali/filters/controllers/filters_controller.js
  cypress/e2e/filters-controller.cy.js
Due: standard

release: v3.1.0.beta.11
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

docs(changelog): línea en blanco antes del encabezado de beta.11
  CHANGELOG.md
Due: none

fix(command,filter-form): modo :navigation para el palette + la X de la búsqueda deja de dejar el filtro vivo (#1019)
  CHANGELOG.md
  app/components/bali/command/component.rb
  app/components/bali/command/group/component.rb
  app/components/bali/command/index.js
  app/components/bali/command/item/component.rb
  app/components/bali/command/previews/default.html.erb
  cypress/e2e/command-controller.cy.js
  docs/guides/components.md
  lib/bali/filter_form.rb
  test/bali/components/command_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

release: v3.1.0.beta.12
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(split-view): el back dejaba de restaurar y empujaba de vuelta al detalle (#1012)
  CHANGELOG.md
  app/components/bali/split_view/component.html.erb
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

fix(split-view): el back dejaba de restaurar y empujaba de vuelta al detalle (#1012) (#1020)
  CHANGELOG.md
  app/components/bali/split_view/component.html.erb
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

fix(filter-form): active_filters incluye los date_range declarados como attribute (#966)
  CHANGELOG.md
  app/components/bali/filters/active_filter_params.rb
  lib/bali/filter_form.rb
  test/bali/components/bulk_actions_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

fix(block-editor): sube el piso de @blocknote/* a 0.53.0 (#908)
  CHANGELOG.md
  docs/api/block-editor.md
  docs/guides/installation.md
  docs/guides/migration-v3-to-v31.md
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

fix(filter-form): active_filters incluye los date_range declarados como attribute (#966) (#1021)
  CHANGELOG.md
  app/components/bali/filters/active_filter_params.rb
  lib/bali/filter_form.rb
  test/bali/components/bulk_actions_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

feat(gantt): drawer 'Sin fechas' para los items sin fechas (#1015)
  CHANGELOG.md
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttFooter.jsx
  app/components/bali/gantt/component.html.erb
  app/components/bali/gantt/component.rb
  app/components/bali/gantt/i18n.js
  app/components/bali/gantt/index.js
  app/components/bali/gantt/preview.rb
  app/components/bali/gantt/translations.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/gantt-undated-drawer.cy.js
  docs/api/gantt.md
  test/bali/components/gantt/component_test.rb
Due: rubocop, standard

fix(block-editor): sube el piso de @blocknote/* a 0.53.0 (#908) (#1022)
  CHANGELOG.md
  docs/api/block-editor.md
  docs/guides/installation.md
  docs/guides/migration-v3-to-v31.md
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

feat(gantt): drawer 'Sin fechas' para los items sin fechas (#1015) (#1023)
  CHANGELOG.md
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttFooter.jsx
  app/components/bali/gantt/component.html.erb
  app/components/bali/gantt/component.rb
  app/components/bali/gantt/i18n.js
  app/components/bali/gantt/index.js
  app/components/bali/gantt/preview.rb
  app/components/bali/gantt/translations.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/gantt-undated-drawer.cy.js
  docs/api/gantt.md
  test/bali/components/gantt/component_test.rb
Due: rubocop, standard

release: v3.1.0.beta.13
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

docs: la guía 3.1 deja de prometer #903 y engines.md avisa del owner nil
  docs/guides/engines.md
  docs/guides/migration-v3-to-v31.md
Due: none

chore(changelog,gemspec): correcciones pre-GA de forma y metadata
  CHANGELOG.md
  bali_view_component.gemspec
Due: none

fix(filter-form)!: satura q[m] al set {and, or} y colapsa el resto
  lib/bali/filter_form.rb
  lib/bali/filter_form/filter_group_parser.rb
  lib/bali/filter_form/saved_views_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

fix(filters,timeago): endurece la generación de HTML en JS
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/controllers/filters_controller.js
  app/components/bali/timeago/index.js
Due: standard

fix(rich-text-editor): sube el piso de @tiptap/extension-link a >=2.5.0
  package.json
Due: none

docs(changelog): documenta las correcciones de seguridad pre-GA
  CHANGELOG.md
Due: none

fix(split-view)!: un click ya no borra el detalle que acaba de abrir
  CHANGELOG.md
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

docs: arregla los errores bloqueantes de copy-paste para el GA
  CHANGELOG.md
  README.md
  docs/guides/installation.md
  docs/guides/master-detail.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/troubleshooting.md
Due: none

feat(command,alert)+fix(rich-text-editor a11y): consistencia de API y teclado
  CHANGELOG.md
  app/components/bali/alert/component.rb
  app/components/bali/command/group/component.html.erb
  app/components/bali/command/group/component.rb
  app/components/bali/command/item/component.html.erb
  app/components/bali/command/item/component.rb
  app/components/bali/rich_text_editor/bubble_menu/component.html.erb
  app/components/bali/rich_text_editor/index.css
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/alert_test.rb
  test/bali/components/command_test.rb
Due: rubocop

refactor(topbar,workflow-steps)!: alinea aria_label: y orientation: con el resto
  CHANGELOG.md
  app/components/bali/app_layout/previews/with_topbar.html.erb
  app/components/bali/topbar/icon_action/component.rb
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/decision_pattern.html.erb
  app/components/bali/workflow_steps/previews/horizontal.html.erb
  docs/guides/migration-v3-to-v31.md
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
  test/bali/components/topbar_icon_action_test.rb
  test/bali/components/workflow_steps_test.rb
Due: rubocop

fix(topbar): completa el rename label: -> aria_label: en las previews del Topbar
  app/components/bali/topbar/previews/default.html.erb
  app/components/bali/topbar/previews/icon_actions.html.erb
Due: none

fix(block-editor)!: los uploads deniegan por default (#1029)
  CHANGELOG.md
  app/controllers/bali/block_editor_uploads_controller.rb
  docs/guides/engines.md
  docs/guides/migration-v3-to-v31.md
  lib/bali.rb
  test/requests/block_editor_uploads_test.rb
Due: rubocop

docs+changelog: correcciones pre-GA (#903 diferido, dedups, beta.12 en inglés, gemspec) (#1024)
  CHANGELOG.md
  bali_view_component.gemspec
  docs/guides/engines.md
  docs/guides/migration-v3-to-v31.md
Due: none

fix(seguridad)!: XSS almacenado en el combinador de Filters + endurecimiento JS (auditoría pre-GA) (#1025)
  CHANGELOG.md
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/controllers/filters_controller.js
  app/components/bali/timeago/index.js
  lib/bali/filter_form.rb
  lib/bali/filter_form/filter_group_parser.rb
  lib/bali/filter_form/saved_views_configuration.rb
  package.json
  test/bali/filter_form_test.rb
Due: rubocop, standard

fix(split-view)!: un click ya no borra el detalle que acaba de abrir (regresión de #1020) (#1030)
  CHANGELOG.md
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

docs: arregla los errores bloqueantes de copy-paste para el GA 3.1 (#1031)
  CHANGELOG.md
  README.md
  docs/guides/installation.md
  docs/guides/master-detail.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/troubleshooting.md
Due: none

feat(command,alert)+fix(rich-text a11y): consistencia de API y teclado (pre-GA) (#1032)
  CHANGELOG.md
  app/components/bali/alert/component.rb
  app/components/bali/command/group/component.html.erb
  app/components/bali/command/group/component.rb
  app/components/bali/command/item/component.html.erb
  app/components/bali/command/item/component.rb
  app/components/bali/rich_text_editor/bubble_menu/component.html.erb
  app/components/bali/rich_text_editor/index.css
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/alert_test.rb
  test/bali/components/command_test.rb
Due: rubocop

refactor(topbar,workflow-steps)!: aria_label: y orientation: consistentes (pre-GA #1026) (#1033)
  CHANGELOG.md
  app/components/bali/app_layout/previews/with_topbar.html.erb
  app/components/bali/topbar/icon_action/component.rb
  app/components/bali/topbar/previews/default.html.erb
  app/components/bali/topbar/previews/icon_actions.html.erb
  app/components/bali/workflow_steps/component.rb
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/previews/decision_pattern.html.erb
  app/components/bali/workflow_steps/previews/horizontal.html.erb
  docs/guides/migration-v3-to-v31.md
  spec/dummy/app/views/layouts/_admin_topbar.html.erb
  test/bali/components/topbar_icon_action_test.rb
  test/bali/components/workflow_steps_test.rb
Due: rubocop

fix(block-editor)!: los uploads del BlockEditor deniegan por default (#1029) (#1034)
  CHANGELOG.md
  app/controllers/bali/block_editor_uploads_controller.rb
  docs/guides/engines.md
  docs/guides/migration-v3-to-v31.md
  lib/bali.rb
  test/requests/block_editor_uploads_test.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
