Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(data-table): el export seguía llevándose todo, y el borde derecho no era del view switch
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/filter-persistence-controller.js
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/export/component.html.erb
  app/components/bali/data_table/export/component.rb
  app/components/bali/data_table/export_links_controller.js
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/_canonical_index.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/toolbar_overflow_controller.js
  app/components/bali/dropdown/title/component.rb
  app/components/bali/filters/persistence_toggle/component.html.erb
  app/components/bali/index_page/preview.rb
  app/components/bali/page_components/shared.rb
  app/components/bali/table/header/component.rb
  cypress/e2e/page-export-links.cy.js
  cypress/e2e/toolbar-overflow.cy.js
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/movies/index.html.erb
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/dropdown_test.rb
  test/bali/components/export_test.rb
  test/bali/components/filters/persistence_toggle_test.rb
  test/bali/components/index_page_test.rb
Due: rubocop, standard

fix(data-table): agrupar solo en la tabla, y el botón deja de ser el único sin borde
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/_canonical_index.html.erb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/dropdown/preview.rb
  app/components/bali/dropdown/trigger/component.rb
  docs/guides/components.md
  docs/reference/component-patterns.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/group_by_configuration.rb
  spec/dummy/app/views/admin/movies/_listing.html.erb
  test/bali/components/data_table/group_by_control_test.rb
  test/bali/components/data_table/saved_views_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/dropdown_test.rb
  test/bali/filter_form_test.rb
  test/requests/kitchen_sink_test.rb
Due: rubocop

fix(data-table): la toolbar se pintaba encima de sí misma, y el modo de visualización se derivaba dos veces
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  app/components/bali/data_table/column_selector/component.html.erb
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.rb
  app/components/bali/data_table/popover_aria.js
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views_controller.js
  app/components/bali/data_table/toolbar_overflow_controller.js
  app/components/bali/dropdown/index.js
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/controllers/filters_controller.js
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  cypress/e2e/toolbar-overflow.cy.js
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/group_by_configuration.rb
  test/bali/components/data_table/group_by_control_test.rb
  test/bali/components/data_table_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

fix(table): el guard de orden sin FilterForm nunca lanzó el error que documenta
  app/components/bali/table/header/component.rb
  cypress/e2e/toolbar-overflow.cy.js
  test/bali/components/table_test.rb
Due: rubocop, standard

fix(data-table): el test del ⋯ seguía exigiendo la clase del colapso por breakpoint
  test/bali/components/data_table_test.rb
Due: rubocop

fix(filter-form): filtrar por una etiqueta de enum devolvía los registros contrarios
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/enum_casting.rb
  test/bali/filter_form_test.rb
  test/requests/kitchen_sink_test.rb
Due: rubocop

fix(dummy): la persistencia de filtros no se podía demostrar en la app de referencia
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  docs/guides/components.md
  spec/dummy/app/helpers/application_helper.rb
  spec/dummy/config/environments/development.rb
Due: rubocop

fix(filter-form): la traducción de enums seguía devolviendo los registros contrarios por tres caminos
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/enum_casting.rb
  spec/dummy/app/controllers/admin/movies_controller.rb
  spec/dummy/app/controllers/application_controller.rb
  spec/dummy/app/controllers/movies_controller.rb
  test/bali/filter_form_test.rb
  test/requests/kitchen_sink_test.rb
Due: rubocop

feat(saved-views): actualizar una vista se pedía escribiendo su nombre exacto, y la activa no se veía
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views/component.rb
  app/controllers/bali/saved_views_controller.rb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  lib/bali/filter_form.rb
  lib/bali/filter_form/saved_views_configuration.rb
  test/bali/components/data_table/saved_views_test.rb
Due: rubocop

fix(saved-views): la marca del activo usa el estándar del repo, no el negro de menu-active
  CHANGELOG.md
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/data_table/saved_views/component.rb
  test/bali/components/data_table/saved_views_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

fix(data-table): el control de agrupar se apaga en vez de desaparecer, y el cartel se va
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/data_table/group_by_control/component.rb
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  test/bali/components/data_table_test.rb
Due: rubocop

chore(release): v2.18.0, y el canal estable deja de ser implícito
  CHANGELOG.md
  README.md
  docs/guides/release-channels.md
  lib/bali/version.rb
  package.json
Due: rubocop

chore(release): el Gemfile.lock también lleva la versión del propio gem
  Gemfile.lock
Due: none

fix(security): activestorage 8.1.3 tiene RCE — la línea v2 también
  CHANGELOG.md
  Gemfile.lock
Due: none

chore(release): v2.18.0 — y el canal estable deja de ser implícito (#671)
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/release-channels.md
  lib/bali/version.rb
  package.json
Due: rubocop

ci: la rama 3.0 no tenía CI, y un beta iba a salir de ahí
  .github/workflows/cypress.yml
  .github/workflows/rubocop.yml
  .github/workflows/security.yml
  .github/workflows/standardjs.yml
  .github/workflows/test.yml
  docs/guides/release-channels.md
Due: none

chore(release): v3.0.0.beta.1 — el primer corte adoptable de la línea v3
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(tooling): el statusline del repo apuntaba a una ruta que no existe en ninguna máquina
  .claude/settings.json
  CHANGELOG.md
Due: none

chore(tooling): los CLAUDE.md pagaban cada sesión por contexto que el repo ya contesta
  .claude/CLAUDE.md
  CHANGELOG.md
  CLAUDE.md
  app/components/bali/block_editor/CLAUDE.md
Due: none

chore(tooling): los CLAUDE.md cobran contexto por lo que el repo ya contesta, y el statusline apunta a una ruta inexistente (#672)
  .claude/CLAUDE.md
  .claude/settings.json
  CHANGELOG.md
  CLAUDE.md
  app/components/bali/block_editor/CLAUDE.md
Due: none

chore(deps): daisyUI 5.6.x → 5.7.9 en la gema y en el dummy
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

chore(gemspec): el piso de Rails sube a 8.1 y las docs dejan de prometer Ruby 3.0
  Gemfile.lock
  bali_view_component.gemspec
  docs/guides/installation.md
Due: none

feat(core): Bali.deprecator, y simple_filter avisa por ahí en vez de morir
  lib/bali.rb
  lib/bali/engine.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/deprecator_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

refactor(clipboard): muere el alias SucessContent
  app/components/bali/clipboard/success_content/component.rb
Due: rubocop

fix(utils): add_query_param reemplaza el param que ya venía en la URL (#653)
  app/components/bali/utils/url.rb
  test/bali/utils_test.rb
Due: rubocop

docs: CHANGELOG y guía de migración de la higiene del major
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

refactor(i18n): fuera los defaults inline; el YAML es la unica fuente del texto
  app/components/bali/app_layout/component.rb
  app/components/bali/breadcrumb/component.rb
  app/components/bali/clipboard/trigger/component.rb
  app/components/bali/command/component.html.erb
  app/components/bali/command/component.rb
  app/components/bali/data_table/group_by_control/component.rb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/feedback_widget/component.rb
  app/components/bali/filters/applied_tags/component.html.erb
  app/components/bali/filters/applied_tags/component.rb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/filter_group/component.html.erb
  app/components/bali/filters/operators.rb
  app/components/bali/filters/persistence_toggle/component.rb
  app/components/bali/image_grid/image/component.rb
  app/components/bali/modal/component.rb
  app/components/bali/modal/header/component.rb
  app/components/bali/pagination_footer/component.rb
  app/components/bali/side_menu/component.html.erb
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/item/component.rb
  app/components/bali/status/component.rb
  app/components/bali/topbar/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  lib/bali/filter_form/search_configuration.rb
  lib/bali/form_builder/shared_date_utils.rb
  lib/bali/form_builder/step_number_fields.rb
Due: rubocop

fix(i18n): el engine ya no re-agrega sus locales, que era lo que anulaba todo override del host
  lib/bali/engine.rb
  test/bali/i18n_scope_test.rb
Due: rubocop

fix(datepicker): dejar de asumir español para todo locale que no sea ingles
  app/assets/javascripts/bali/controllers/datepicker-controller.js
Due: standard

refactor(i18n): 44 cadenas hardcodeadas pasan a bali_view.*
  app/components/bali/avatar/upload/component.html.erb
  app/components/bali/block_editor/component.html.erb
  app/components/bali/calendar/component.html+mobile.erb
  app/components/bali/command/component.html.erb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_page/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/message/component.rb
  app/components/bali/rich_text_editor/bubble_menu/component.html.erb
  app/components/bali/rich_text_editor/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/message_test.rb
Due: rubocop

docs: tabla de migracion de claves i18n y correccion de las claves documentadas
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
Due: none

chore(v3): higiene del major — daisyUI 5.7.9, piso Rails 8.1, Bali.deprecator y el fix de #653 (#731)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/clipboard/success_content/component.rb
  app/components/bali/utils/url.rb
  bali_view_component.gemspec
  docs/guides/installation.md
  docs/guides/migration-v2-to-v3.md
  lib/bali.rb
  lib/bali/engine.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  test/bali/deprecator_test.rb
  test/bali/filter_form_test.rb
  test/bali/utils_test.rb
  yarn.lock
Due: rubocop

chore(npm): whitelist de files y peerDependencies que declaran lo que el paquete usa
  docs/guides/installation.md
  docs/guides/javascript-integration.md
  package.json
Due: none

fix(npm): un manifiesto por bundle, y vuelven los tres controllers perdidos
  .github/workflows/standardjs.yml
  app/frontend/bali/components/index.js
  app/frontend/bali/controllers/index.js
  app/frontend/bali/index.js
  scripts/check-controller-manifest.mjs
Due: standard

chore(deps): fuera cinco paquetes que nadie importa
  babel.config.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none

docs: CHANGELOG y guia de migracion del empaquetado npm
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

fix(css): los tokens de tema pasan a ser fallbacks de verdad, no overrides
  app/assets/stylesheets/bali/general.css
  app/assets/stylesheets/bali/theme-fallbacks.css
  app/components/bali/side_menu/daisyui-overrides.css
Due: none
