Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(filters): «entre» sigue partido en gteq/lteq al cambiar de campo de fecha
  app/components/bali/filters/controllers/condition_controller.js
  cypress/e2e/filters-between-across-fields.cy.js
  cypress/e2e/filters-condition-names.cy.js
  test/dummy/app/helpers/application_helper.rb
Due: rubocop, standard

fix(filters): la búsqueda rápida se nombra con su placeholder sin aria_label:
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  cypress/e2e/filters-search-name.cy.js
  docs/guides/components.md
  test/bali/components/filters/component_test.rb
Due: rubocop, standard

refactor(chart): ColorPicker se queda con next_color
  app/components/bali/utils/color_picker.rb
  test/bali/components/chart_test.rb
Due: rubocop

fix(chart): las cifras del orden hablan de los colores del tema
  app/components/bali/chart/index.js
  app/components/bali/chart/preview.rb
  app/components/bali/color.rb
  cypress/e2e/chart.cy.js
  cypress/support/color_vision.js
  cypress/support/painted_contrast.js
Due: rubocop, standard

docs(chart): la cuarta serie de la conciliación en el CHANGELOG
  CHANGELOG.md
Due: none

fix(table, form_builder): el encabezado y el pie de tabla a /70
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/header/component.rb
  lib/bali/form_builder/dynamic_fields.rb
Due: rubocop

fix(footer): el título, la descripción y el copyright sin atenuar
  app/components/bali/footer/component.rb
  app/components/bali/footer/previews/minimal.html.erb
  app/components/bali/footer/previews/with_social_links.html.erb
Due: rubocop

docs(accessibility): los ejemplos pintan el color sobre la página con text-soft-<color>
  docs/guides/accessibility.md
  test/dummy/app/views/lookbook/pages/02_guides/01_accessibility.md.erb
Due: none

test(cypress): las guardias miden el texto de color sobre la página, la ayuda, las tablas y el Footer
  cypress/e2e/muted-text-contrast.cy.js
  cypress/e2e/soft-text-contrast.cy.js
  cypress/e2e/theme-primary-contrast.cy.js
Due: standard

docs(changelog): el texto de color sobre la página, el /60 de daisyUI y el Footer (#1281)
  CHANGELOG.md
Due: none

fix(filters): el multi-select armado en JS es el mismo que pinta el servidor
  app/components/bali/block_editor/index.css
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/index.css
  cypress/e2e/base-surface-steps.cy.js
  cypress/e2e/filters-built-multi-select.cy.js
  docs/guides/migration-v2-to-v3.md
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

fix(gantt): el avatar del responsable se nombra con el responsable
  app/components/bali/gantt/GanttTable.jsx
  app/components/bali/gantt/TaskBarNode.jsx
  cypress/e2e/gantt-table.cy.js
  docs/api/gantt.md
Due: standard

fix(gantt): encabezados separados y columna de nombre que no se dobla
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttTable.jsx
  cypress/e2e/gantt-table.cy.js
Due: standard

fix(gantt): el hover de las filas de la tabla se pinta
  app/components/bali/gantt/GanttTable.jsx
  cypress/e2e/gantt-table.cy.js
Due: standard

fix(gantt): las píldoras de estado se leen sobre su tinte
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/gantt/ganttColors.js
  cypress/e2e/gantt-table.cy.js
  test/bali/components/color_test.rb
Due: rubocop, standard

docs(changelog): tabla del Gantt (#1283) y sus píldoras de estado (#1281)
  CHANGELOG.md
Due: none

docs(filter-form): sin aria_label: el placeholder nombra la caja, también al escribir
  app/components/bali/data_table/preview.rb
  lib/bali/filter_form/search_configuration.rb
  test/bali/components/filters/component_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

changelog(filters): «entre» entre campos de fecha, nombre de la búsqueda y multi-select armado en JS (#1282)
  CHANGELOG.md
Due: none

docs(split_view): los comentarios y el CHANGELOG dicen lo que Turbo hace
  CHANGELOG.md
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

fix(block_editor): el menú «/», el menú lateral y las asas de tabla toman los colores del tema
  app/components/bali/block_editor/index.css
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

fix(block_editor): la fecha de un comentario llega a AA
  app/components/bali/block_editor/index.css
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

fix(form_builder): el contador de caracteres pasado el máximo en text-soft-error
  app/assets/javascripts/bali/controllers/textarea-controller.js
  cypress/e2e/char-counter.cy.js
  docs/guides/form-builder.md
Due: standard

test(cypress): la guardia mide el contador pasado el máximo y sólo la fecha vencida de SplitView
  cypress/e2e/soft-text-contrast.cy.js
Due: standard

test(boolean_icon, widget): el estado sin color descarta el rojo y el verde de antes y de ahora
  test/bali/components/boolean_icon_test.rb
  test/bali/components/loader_test.rb
  test/bali/components/widget_trend_indicator_test.rb
Due: rubocop

docs: los ejemplos de ícono de color en components.md y el texto de with_colors
  app/components/bali/timeline/preview.rb
  docs/guides/components.md
Due: rubocop

docs(changelog): #1281 suma el contador, lo que identity copió a mano y el primary de dark
  CHANGELOG.md
Due: none

fix(navbar): la barra transparente toma el color de texto de su contenedor
  app/components/bali/navbar/component.rb
  app/components/bali/navbar/index.css
  app/components/bali/navbar/preview.rb
  cypress/e2e/navbar-ghost-contrast.cy.js
  cypress/e2e/navbar-transparent.cy.js
Due: rubocop, standard

fix(modal,drawer): la caja y el panel fijan su color de texto
  app/assets/stylesheets/bali/components.css
  app/components/bali/drawer/index.css
  app/components/bali/modal/index.css
  cypress/e2e/modal-drawer-text-colour.cy.js
Due: standard

docs(navbar): documenta la pareja secondary de daisyUI en light y dark
  app/components/bali/navbar/component.rb
Due: rubocop

docs(changelog): Navbar transparente y texto de Modal y Drawer (#1284)
  CHANGELOG.md
Due: none

docs(form_builder): ERROR_MESSAGE_CLASS nombra el contador que comparte su rojo
  lib/bali/form_builder/html_utils.rb
Due: rubocop

fix(gantt): ocultar una columna no achica la tabla
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttTable.jsx
Due: none

test(gantt): la prueba del avatar lee el DOM justo después del árbol
  cypress/e2e/gantt-table.cy.js
Due: standard

fix(gantt): columnas a la medida de las etiquetas reales y título en la píldora
  app/components/bali/gantt/GanttTable.jsx
  cypress/e2e/gantt-table.cy.js
Due: standard

docs(gantt): peor caso de text-soft y CHANGELOG sin la evidencia del PR
  CHANGELOG.md
  app/assets/stylesheets/bali/utilities.css
Due: none

fix(drawer): el panel cerrado no pinta sombra sobre el borde de la página
  CHANGELOG.md
  app/components/bali/drawer/component.rb
  cypress/e2e/drawer-closed-shadow.cy.js
  test/bali/components/drawer_test.rb
Due: rubocop, standard

refactor(drawer): el color de texto del panel va junto a su fondo
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.css
Due: rubocop

style(navbar,modal): precisa los comentarios de la hoja y de la prueba
  app/components/bali/modal/index.css
  app/components/bali/navbar/index.css
  cypress/e2e/modal-drawer-text-colour.cy.js
Due: standard

docs(changelog): corrige quién usa Navbar y deja sólo lo que cambia (#1284)
  CHANGELOG.md
Due: none

fix(modal): el ✕ independiente ya no tapa la cabecera del contenido
  CHANGELOG.md
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/preview.rb
  app/components/bali/modal/previews/content_header.html.erb
  cypress/e2e/modal-standalone-close.cy.js
  test/bali/components/modal_test.rb
Due: rubocop, standard
