Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

docs(changelog): lo que veía quien viene de v3.6.0, y las diez apps (#1272)
  CHANGELOG.md
Due: none

fix(modal): el reemplazo tras un redirect trae el <body> de destino
  app/components/bali/modal/index.js
  cypress/e2e/modal-history.cy.js
  test/dummy/app/controllers/modal_redirect_controller.rb
  test/dummy/app/views/modal_redirect/bare.html.erb
  test/dummy/app/views/modal_redirect/landing.html.erb
  test/dummy/config/routes.rb
Due: rubocop, standard

fix(modal): al cerrar, el foco vuelve al disparador del menú popover
  app/components/bali/modal/index.js
  cypress/e2e/app-layout-overlay-triggers.cy.js
Due: standard

refactor(app-layout): el preview de disparadores usa Bali::Topbar
  app/components/bali/app_layout/previews/overlay_triggers.html.erb
  test/bali/components/app_layout_test.rb
Due: rubocop

docs(changelog): reemplazo del <body> tras un redirect y foco del menú popover (#1268)
  CHANGELOG.md
Due: none

docs(dropdown): los comentarios del modo popover nombran también al <dialog>
  app/components/bali/dropdown/index.js
  app/components/bali/modal/index.js
Due: standard

test(dropdown): la distancia de la prueba con scroll guarda a Popper, no a #1269
  cypress/e2e/dropdown-controller.cy.js
Due: standard

docs(dropdown): preview in_dialog junto a Basic y guías sin repeticiones
  app/components/bali/dropdown/preview.rb
  docs/guides/components.md
  docs/guides/overlays-and-the-top-layer.md
Due: rubocop

docs(changelog): la entrada de #1269 deja la evidencia en el PR
  CHANGELOG.md
Due: none

docs(changelog): la frase del badge de gobierno-corporativo dice dónde está y por qué cambia
  CHANGELOG.md
Due: none

test(themes): al comentario de la spec de contraste le faltaba un verbo
  cypress/e2e/theme-primary-contrast.cy.js
Due: standard

refactor(page-components): el ⋯ arma sus enlaces de exportación y se retira DataTable::ExportLinks
  app/components/bali/data_table/export_links.rb
  app/components/bali/page_components/shared.rb
  test/bali/components/data_table/export_links_test.rb
  test/bali/components/data_table/toolbar_href_test.rb
  test/bali/components/index_page_test.rb
Due: rubocop

docs(data-table): quita el comentario del slot y el «Export» que ya no existe en ToolbarHref
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/toolbar_href.rb
Due: rubocop

docs(changelog): el retiro de DataTable::Export sin clase de reemplazo y con el grep que importa
  CHANGELOG.md
Due: none

docs(calendar): el comentario de los eventos del año nombra el día 12, no el 11
  app/components/bali/calendar/preview.rb
Due: rubocop

docs(drawer): el encabezado dice por qué la regla toca sólo .skeleton
  app/components/bali/drawer/daisyui-overrides.css
Due: none

test(drawer): el Skeleton vuelve a parar al cerrar, sin contar líneas a mano
  cypress/e2e/drawer-closed-animations.cy.js
Due: standard

docs(drawer): la guía de instalación cuenta drawer entre las hojas sin capa
  docs/guides/installation.md
Due: none

docs(changelog): el Skeleton anima mientras el drawer está abierto
  CHANGELOG.md
Due: none

refactor(gantt): las leyendas de grupo y prioridad salen de hueColor
  app/components/bali/gantt/ganttColors.js
Due: standard

test(gantt): el barrido de tonos pinta sobre el avatar y no fija la tinta
  cypress/e2e/gantt-avatar-contrast.cy.js
Due: standard

test(gantt): el nombre de la prueba de la leyenda dice qué compara
  cypress/e2e/gantt-island.cy.js
Due: standard

fix(block_editor): el ícono de las referencias # sin opacidad
  app/components/bali/block_editor/index.css
  cypress/e2e/soft-text-contrast.cy.js
Due: standard

test(dashboard_page): la línea change: del color por omisión en el preview
  app/components/bali/dashboard_page/previews/default.html.erb
  cypress/e2e/soft-text-contrast.cy.js
Due: standard

docs: custom_color: de StatCard sigue al tema en la tinta; CHANGELOG sin evidencia (#1274)
  CHANGELOG.md
  app/components/bali/stat_card/preview.rb
  docs/guides/accessibility.md
  docs/guides/components.md
Due: rubocop

test(slim_select): un campo sin error no se anuncia inválido y la lista sigue al combobox
  cypress/e2e/slim-select-accessible-name.cy.js
Due: standard

docs(slim_select): el <label for> llega al combobox desde 3.5 en los textos que faltaban
  .claude/skills/filterform-datatable/SKILL.md
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  docs/guides/components.md
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

changelog(slim_select): la entrada de #1253 dice desde qué versión llega el <label for>
  CHANGELOG.md
Due: none

refactor(filters): los nombres de los controles de una condición pasan a aria_labels
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/controllers/condition_controller.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

test(status): below_aa nombra lo que guarda la prueba de la paleta
  test/bali/components/status_test.rb
Due: rubocop

test(status): la guarda del hover afirma lo que paintedContrast no ve
  cypress/e2e/status-palette-contrast.cy.js
  cypress/support/painted_contrast.js
  docs/reference/testing-traps.md
Due: standard

fix(status): la fila sin estado deja el filtro del hover
  CHANGELOG.md
  app/components/bali/status/index.css
Due: none

test(filters): el nombre del disparador del multi-select sigue a lo elegido
  cypress/e2e/filters-condition-names.cy.js
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

docs(changelog): ga-apps usa el panel de Filters pero sigue en bali 1.2.4 (#1271)
  CHANGELOG.md
Due: none

docs(block-editor): el preview nombra la guardia que mide su comentario
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/preview.rb
Due: rubocop

docs(block-editor): shiki es un peer opcional, con su piso en la guía de la API
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  docs/api/block-editor.md
Due: none

docs(changelog): la entrada de #1269 nombra cualquier <dialog> abierto con showModal()
  CHANGELOG.md
Due: none

fix(document_editor, filters): el color atenuado queda sólo en el JS que escribe el texto
  app/components/bali/document_editor/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
Due: standard

fix(forms): el placeholder de .input y .textarea pasa a /70
  app/assets/stylesheets/bali/forms.css
Due: none

fix(rich_text_editor): el placeholder del campo de enlace pasa a /70
  app/components/bali/rich_text_editor/index.css
Due: none

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
