Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(dummy,docs): el stream del drawer devolvía el listado sin la agrupación (#821)
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/studios/create.turbo_stream.erb
Due: rubocop

fix(block_editor): un comentario de alguien fuera de `users:` se llevaba el editor entero (#827) (#828)
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/useComments.js
  cypress/e2e/document-editor.cy.js
  spec/dummy/app/controllers/concerns/block_editor_authentication.rb
Due: rubocop, standard

fix(dummy,docs): el stream del drawer devolvía el listado sin la agrupación (#821) (#835)
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/studios/create.turbo_stream.erb
Due: rubocop

feat(form_builder)!: el Cancel de `submit_group` pasa a ghost (#820)
  CHANGELOG.md
  docs/guides/form-builder.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/submit_fields.rb
  test/bali/form_builder/submit_buttons_test.rb
Due: rubocop

feat(form_builder)!: el Cancel de `submit_group` pasa a ghost (#820) (#836)
  CHANGELOG.md
  docs/guides/form-builder.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/form_builder/submit_fields.rb
  test/bali/form_builder/submit_buttons_test.rb
Due: rubocop

fix(filter_form): los filtros simplificados y la búsqueda entran al estado del form (#817, #823)
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/saved_views_configuration.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

refactor(dummy): dos índices de referencia en vez de cuatro, en el layout que un host embarca
  CHANGELOG.md
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/movies/bulk_actions_controller.rb
  spec/dummy/app/controllers/movies_controller.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/studios/_form.html.erb
  spec/dummy/app/views/admin/studios/_listing.html.erb
  spec/dummy/app/views/admin/studios/create.turbo_stream.erb
  spec/dummy/app/views/admin/studios/edit.html.erb
  spec/dummy/app/views/admin/studios/index.html.erb
  spec/dummy/app/views/admin/studios/new.html.erb
  spec/dummy/app/views/admin/studios/show.html.erb
  spec/dummy/app/views/dashboard/index.html.erb
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/movies/_form.html.erb
  spec/dummy/app/views/movies/_listing.html.erb
  spec/dummy/app/views/movies/edit.html.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/movies/index.turbo_stream.erb
  spec/dummy/app/views/movies/new.html.erb
  spec/dummy/app/views/movies/show.html.erb
  spec/dummy/app/views/pages/landing.html.erb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/app/views/studios/show.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  spec/dummy/config/routes.rb
  test/bali/components/data_table/view_switch_control_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/table_test.rb
  test/bali/components/view_switch_test.rb
  test/requests/kitchen_sink_test.rb
  test/requests/page_context_test.rb
Due: rubocop

fix(filter_form): los filtros simplificados y la búsqueda entran al estado del form (#817, #823) (#837)
  CHANGELOG.md
  lib/bali/filter_form.rb
  lib/bali/filter_form/saved_views_configuration.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  test/bali/filter_form_test.rb
Due: rubocop

refactor(dummy): dos índices de referencia en vez de cuatro, en el layout que un host embarca (#838)
  CHANGELOG.md
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/movies/bulk_actions_controller.rb
  spec/dummy/app/controllers/movies_controller.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/studios/_form.html.erb
  spec/dummy/app/views/admin/studios/_listing.html.erb
  spec/dummy/app/views/admin/studios/create.turbo_stream.erb
  spec/dummy/app/views/admin/studios/edit.html.erb
  spec/dummy/app/views/admin/studios/index.html.erb
  spec/dummy/app/views/admin/studios/new.html.erb
  spec/dummy/app/views/admin/studios/show.html.erb
  spec/dummy/app/views/dashboard/index.html.erb
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/movies/_form.html.erb
  spec/dummy/app/views/movies/_listing.html.erb
  spec/dummy/app/views/movies/edit.html.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/movies/index.turbo_stream.erb
  spec/dummy/app/views/movies/new.html.erb
  spec/dummy/app/views/movies/show.html.erb
  spec/dummy/app/views/pages/landing.html.erb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/app/views/studios/show.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  spec/dummy/config/routes.rb
  test/bali/components/data_table/view_switch_control_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/table_test.rb
  test/bali/components/view_switch_test.rb
  test/requests/kitchen_sink_test.rb
  test/requests/page_context_test.rb
Due: rubocop

fix(data_table): la válvula del ⋯ no reaccionaba a un control que crece después del primer layout
  CHANGELOG.md
  app/components/bali/data_table/toolbar_overflow_controller.js
  cypress/e2e/toolbar-overflow.cy.js
Due: standard

fix(form_builder): un reload de código dejaba todos los file fields, text areas y time zone selects en SystemStackError (#840)
  CHANGELOG.md
  lib/bali/form_builder/file_fields.rb
  lib/bali/form_builder/text_area_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/rails_aliases_survive_a_reload_test.rb
Due: rubocop

fix(data_table): la válvula del ⋯ no reaccionaba a un control que crece después del primer layout (#842)
  CHANGELOG.md
  app/components/bali/data_table/toolbar_overflow_controller.js
  cypress/e2e/toolbar-overflow.cy.js
Due: standard

fix(form_builder): un reload de código dejaba todos los file fields, text areas y time zone selects en SystemStackError (#840) (#845)
  CHANGELOG.md
  lib/bali/form_builder/file_fields.rb
  lib/bali/form_builder/text_area_fields.rb
  lib/bali/form_builder/time_zone_select_fields.rb
  test/bali/form_builder/rails_aliases_survive_a_reload_test.rb
Due: rubocop

fix(icon): los previews del catálogo morían con NameError sobre una constante que existe (#843)
  .claude/CLAUDE.md
  CHANGELOG.md
  app/components/bali/icon/preview.rb
  test/requests/icon_previews_test.rb
Due: rubocop

fix(rich_text_editor): el preview contestaba 200 con el body vacío y se leía como un componente roto (#844)
  CHANGELOG.md
  app/components/bali/rich_text_editor/preview.rb
  app/components/bali/rich_text_editor/previews/disabled.html.erb
  test/requests/rich_text_editor_preview_test.rb
Due: rubocop

fix(modal,button): el estado de carga del submit escondía el botón entero y dejaba ver la etiqueta (#839)
  CHANGELOG.md
  app/components/bali/button/component.rb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
  docs/guides/components.md
  test/bali/components/button_test.rb
Due: rubocop, standard

fix(icon): los previews del catálogo morían con NameError sobre una constante que existe (#843) (#848)
  .claude/CLAUDE.md
  CHANGELOG.md
  app/components/bali/icon/preview.rb
  test/requests/icon_previews_test.rb
Due: rubocop

fix(rich_text_editor): el preview contestaba 200 con el body vacío y se leía como un componente roto (#844) (#849)
  CHANGELOG.md
  app/components/bali/rich_text_editor/preview.rb
  app/components/bali/rich_text_editor/previews/disabled.html.erb
  test/requests/rich_text_editor_preview_test.rb
Due: rubocop

fix(modal,button): el estado de carga del submit escondía el botón entero y dejaba ver la etiqueta (#839) (#850)
  CHANGELOG.md
  app/components/bali/button/component.rb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
  docs/guides/components.md
  test/bali/components/button_test.rb
Due: rubocop, standard

fix(side_menu): el module switcher no cerraba al hacer clic fuera ni con Escape (#830)
  CHANGELOG.md
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.js
  cypress/e2e/side-menu-controller.cy.js
  test/bali/components/side_menu_test.rb
Due: rubocop, standard

fix(drawer): un trigger sin id abría TODOS los drawers, y el que nadie cerraba dejaba la página inerte (#854)
  CHANGELOG.md
  app/components/bali/drawer/component.rb
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-broadcast.cy.js
  docs/guides/installation.md
  test/bali/components/drawer_test.rb
  test/bali/components/feedback_widget_test.rb
Due: rubocop, standard

fix(slim_select): un multiple recortaba las píldoras en vez de crecer con ellas (#841)
  CHANGELOG.md
  app/assets/stylesheets/bali/slim_select.css
  cypress/e2e/slim-select-multiple.cy.js
Due: standard

fix(previews,dummy): un segundo card-body adentro de un Card duplicaba el padding de todo lo que un host copia (#833)
  CHANGELOG.md
  app/components/bali/dashboard_page/previews/default.html.erb
  app/components/bali/form_page/previews/default.html.erb
  app/components/bali/form_page/previews/with_sidebar.html.erb
  app/components/bali/theme_sampler/previews/costa_norte.html.erb
  spec/dummy/app/views/admin/settings/show.html.erb
  spec/dummy/app/views/direct_uploads/create.turbo_stream.erb
  spec/dummy/app/views/direct_uploads/new.html.erb
  spec/dummy/app/views/direct_uploads/result.html.erb
  spec/dummy/app/views/pages/landing.html.erb
  spec/dummy/app/views/settings/show.html.erb
  test/requests/nested_card_body_test.rb
Due: rubocop

fix(navbar,dropdown,status,filters,modal): `?.` sobre un target de Stimulus no es una guardia (#811)
  CHANGELOG.md
  app/components/bali/dropdown/index.js
  app/components/bali/filters/controllers/multi_select_controller.js
  app/components/bali/modal/index.js
  app/components/bali/navbar/index.js
  app/components/bali/navbar/preview.rb
  app/components/bali/navbar/previews/with_sidebar_burger.html.erb
  app/components/bali/status/index.js
  test/bali/stimulus_target_guards_test.rb
Due: rubocop, standard

fix(data_table,document_page): el separador de la toolbar abría un hueco un tercio más ancho que el resto (#846)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/document_page/component.rb
  test/bali/components/document_page_test.rb
Due: rubocop

fix(datepicker): el `:` del time picker se leía como una flecha más en vez de como el separador (#847)
  CHANGELOG.md
  app/assets/stylesheets/bali/datepicker.css
Due: none

fix(delete_link,data_table): el item Delete de un menú se pintaba con doble caja (#829)
  CHANGELOG.md
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/delete_link/component.rb
  test/bali/components/delete_link_test.rb
  test/bali/components/dropdown_test.rb
Due: rubocop

fix(block_editor): la barra de comentarios se desbordaba a lo ancho (#832)
  CHANGELOG.md
  app/components/bali/block_editor/index.css
Due: none

fix(app_layout): un sidebar fijo pintaba encima del navbar y del banner, y el preview enseñaba la versión degradada (#831)
  CHANGELOG.md
  app/components/bali/app_layout/index.css
  app/components/bali/app_layout/previews/with_navbar.html.erb
Due: none

docs(shipping): las cuatro tareas de documentación de #702, con lo que el barrido encontró (#702)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/release-channels.md
Due: none

docs(changelog): el `[Unreleased]` tenía siete secciones donde van cinco, y cinco entradas impresas dos veces
  CHANGELOG.md
Due: none

fix(side_menu): el module switcher no cerraba al hacer clic fuera ni con Escape (#830) (#853)
  CHANGELOG.md
  app/components/bali/side_menu/component.rb
  app/components/bali/side_menu/index.js
  cypress/e2e/side-menu-controller.cy.js
  test/bali/components/side_menu_test.rb
Due: rubocop, standard

fix(drawer): un trigger sin id abría TODOS los drawers, y el que nadie cerraba dejaba la página inerte (#854) (#856)
  CHANGELOG.md
  app/components/bali/drawer/component.rb
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-broadcast.cy.js
  docs/guides/installation.md
  test/bali/components/drawer_test.rb
  test/bali/components/feedback_widget_test.rb
Due: rubocop, standard

fix(slim_select): un multiple recortaba las píldoras en vez de crecer con ellas (#841) (#857)
  CHANGELOG.md
  app/assets/stylesheets/bali/slim_select.css
  cypress/e2e/slim-select-multiple.cy.js
Due: standard

fix(previews,dummy): un segundo card-body adentro de un Card duplicaba el padding (#833) (#858)
  CHANGELOG.md
  app/components/bali/dashboard_page/previews/default.html.erb
  app/components/bali/form_page/previews/default.html.erb
  app/components/bali/form_page/previews/with_sidebar.html.erb
  app/components/bali/theme_sampler/previews/costa_norte.html.erb
  spec/dummy/app/views/admin/settings/show.html.erb
  spec/dummy/app/views/direct_uploads/create.turbo_stream.erb
  spec/dummy/app/views/direct_uploads/new.html.erb
  spec/dummy/app/views/direct_uploads/result.html.erb
  spec/dummy/app/views/pages/landing.html.erb
  spec/dummy/app/views/settings/show.html.erb
  test/requests/nested_card_body_test.rb
Due: rubocop

docs(shipping): el barrido tiene que mirar las dos mitades y saltear archivados (#702)
  docs/guides/release-channels.md
Due: none

fix(navbar,dropdown,status,filters,modal): `?.` sobre un target de Stimulus no es una guardia (#811) (#859)
  CHANGELOG.md
  app/components/bali/dropdown/index.js
  app/components/bali/filters/controllers/multi_select_controller.js
  app/components/bali/modal/index.js
  app/components/bali/navbar/index.js
  app/components/bali/navbar/preview.rb
  app/components/bali/navbar/previews/with_sidebar_burger.html.erb
  app/components/bali/status/index.js
  test/bali/stimulus_target_guards_test.rb
Due: rubocop, standard

fix(data_table,document_page): el separador de la toolbar abría un hueco un tercio más ancho que el resto (#846) (#860)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  app/components/bali/document_page/component.rb
  test/bali/components/document_page_test.rb
Due: rubocop

fix(datepicker): el `:` del time picker se leía como una flecha más en vez de como el separador (#847) (#861)
  CHANGELOG.md
  app/assets/stylesheets/bali/datepicker.css
Due: none

fix(delete_link,data_table): el item Delete de un menú se pintaba con doble caja (#829) (#862)
  CHANGELOG.md
  app/components/bali/data_table/saved_views/component.html.erb
  app/components/bali/delete_link/component.rb
  test/bali/components/delete_link_test.rb
  test/bali/components/dropdown_test.rb
Due: rubocop
