Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix(slim_select): declare sm vars on detached -content so search isn't 40px
  app/assets/stylesheets/bali/slim_select.css
Due: none

fix(slim_select): sm selected value/placeholder font 13px -> 12px
  app/assets/stylesheets/bali/slim_select.css
Due: none

feat(filters): searchable single-select + wider field selector (v2.9.3) (#571)
  CHANGELOG.md
  Gemfile.lock
  app/assets/stylesheets/bali/slim_select.css
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/condition/component.rb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/preview.rb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  lib/bali/version.rb
  package.json
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

docs(confirm): design spec + implementation plan for confirm dialog
  docs/superpowers/plans/2026-06-29-confirm-dialog.md
  docs/superpowers/specs/2026-06-29-confirm-dialog-design.md
Due: none

feat(confirm): add custom Turbo confirm dialog module
  app/assets/javascripts/bali/confirm/confirm_dialog.js
Due: standard

feat(confirm): auto-install confirm dialog from registerAll + export API
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
Due: standard

refactor(confirm): drop unscanned whitespace-pre-line utility from dialog
  app/assets/javascripts/bali/confirm/confirm_dialog.js
Due: standard

feat(confirm): add Lookbook preview for confirm dialog
  app/components/bali/confirm_dialog/preview.rb
  app/components/bali/confirm_dialog/previews/default.html.erb
Due: rubocop

feat(DeleteLink): emit styled confirm dialog attributes (danger + i18n labels)
  app/components/bali/delete_link/component.html.erb
  app/components/bali/delete_link/component.rb
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  test/bali/components/delete_link_test.rb
Due: rubocop

fix(confirm): identify dialog buttons by id to avoid attribute collision
  app/assets/javascripts/bali/confirm/confirm_dialog.js
Due: standard

test(confirm): cypress e2e for confirm dialog flow
  app/components/bali/confirm_dialog/previews/default.html.erb
  cypress/e2e/confirm-dialog.cy.js
Due: standard

docs(confirm): changelog entry for custom confirm dialog
  CHANGELOG.md
Due: none

chore(deps): bump crass 1.0.7 and yard 0.9.44 to clear bundler-audit
  Gemfile.lock
Due: none

fix(confirm): re-attach dialog after Turbo visits, guard concurrency, restore focus
  app/assets/javascripts/bali/confirm/confirm_dialog.js
Due: standard

test(confirm): cover post-navigation re-attach and backdrop dismissal
  cypress/e2e/confirm-dialog.cy.js
Due: standard

refactor(confirm): idiomatic symbol data keys + clarify preview intent
  app/components/bali/confirm_dialog/previews/default.html.erb
  app/components/bali/delete_link/component.rb
Due: rubocop

chore(release): bump version to 2.10.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(confirm): styled confirm dialog replacing Turbo's native window.confirm (#579)
  CHANGELOG.md
  Gemfile.lock
  app/assets/javascripts/bali/confirm/confirm_dialog.js
  app/components/bali/confirm_dialog/preview.rb
  app/components/bali/confirm_dialog/previews/default.html.erb
  app/components/bali/delete_link/component.html.erb
  app/components/bali/delete_link/component.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  config/locales/view_components.en.yml
  config/locales/view_components.es.yml
  cypress/e2e/confirm-dialog.cy.js
  docs/superpowers/plans/2026-06-29-confirm-dialog.md
  docs/superpowers/specs/2026-06-29-confirm-dialog-design.md
  lib/bali/version.rb
  package.json
  test/bali/components/delete_link_test.rb
Due: rubocop, standard

fix(forms): let .control shrink so selects truncate inside grid columns
  app/assets/stylesheets/bali/forms.css
  app/assets/stylesheets/bali/slim_select.css
Due: none

fix(form_builder): honor input_name/input_id in select_group and slim_select_group
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/select_fields_test.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

feat(kanban): add optional footer slot to Kanban::Column
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/preview.rb
  app/components/bali/kanban/previews/with_footer.html.erb
  test/bali/components/kanban_test.rb
Due: rubocop

feat(stepper): support sublabel and free content block per step
  app/components/bali/stepper/preview.rb
  app/components/bali/stepper/step/component.html.erb
  app/components/bali/stepper/step/component.rb
  test/bali/components/stepper_test.rb
Due: rubocop

fix(modal/drawer): apply turbo_stream responses on submit instead of injecting raw markup
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/turbo_stream_form.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
Due: rubocop, standard

feat(image_grid): add empty_state slot rendered when there are no images
  app/components/bali/image_grid/component.html.erb
  app/components/bali/image_grid/component.rb
  app/components/bali/image_grid/preview.rb
  app/components/bali/image_grid/previews/empty_state.html.erb
  test/bali/components/image_grid_test.rb
Due: rubocop

fix(document_editor): don't clobber saved content when previewing versions back-to-back
  app/components/bali/document_editor/index.js
  cypress/e2e/document-editor.cy.js
Due: standard

test(document_editor): make version-preview spec hermetic for CI
  cypress/e2e/document-editor.cy.js
Due: standard

docs: add CHANGELOG entry
  CHANGELOG.md
Due: none

fix(deps): resolve all 11 open Dependabot alerts (npm)
  CHANGELOG.md
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

feat(feedback-widget): claim name opcional en el token de embed
  CHANGELOG.md
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/token_generator.rb
  test/bali/components/feedback_widget_test.rb
  test/bali/feedback_widget/token_generator_test.rb
Due: rubocop

chore(deps): bump json 2.19.3 → 2.19.9 (CVE-2026-54696 / GHSA-x2f5-4prf-w687)
  Gemfile.lock
Due: none

fix(forms): let .control shrink so selects truncate inside grid columns (#585)
  CHANGELOG.md
  app/assets/stylesheets/bali/forms.css
  app/assets/stylesheets/bali/slim_select.css
Due: none

chore(deps): consolidated update covering all 15 open Dependabot PRs
  .github/workflows/changelog.yml
  .github/workflows/claude.yml
  .github/workflows/cypress.yml
  .github/workflows/rubocop.yml
  .github/workflows/security.yml
  .github/workflows/standardjs.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Gemfile.lock
  package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

chore(deps): consolidated update covering all 15 open Dependabot PRs (#594)
  .github/workflows/changelog.yml
  .github/workflows/claude.yml
  .github/workflows/cypress.yml
  .github/workflows/rubocop.yml
  .github/workflows/security.yml
  .github/workflows/standardjs.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Gemfile.lock
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

fix(form_builder): honor input_name/input_id in select_group and slim_select_group (#586)
  CHANGELOG.md
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/select_fields.rb
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/select_fields_test.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
