Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(block_editor): BlockNote toma el esquema claro u oscuro de la página; se retira `theme:`
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/config.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  cypress/e2e/theme-follow-contrast.cy.js
  docs/api/block-editor.md
Due: rubocop, standard

docs(block_editor): CHANGELOG de los menús flotantes que siguen el tema y del retiro de `theme:`
  CHANGELOG.md
Due: none

fix(recurrent-event-rule-form): la fila anual se parte en un celular
  CHANGELOG.md
  app/components/bali/recurrent_event_rule_form/component.html.erb
  cypress/e2e/recurrent-event-rule-form.cy.js
Due: standard

test(modal): fuera el comentario que repetía el nombre de la prueba
  test/bali/components/modal_test.rb
Due: rubocop

docs(modal): el CHANGELOG avisa del contenido con raíz flex o grid
  CHANGELOG.md
Due: none

docs(modal): el comentario y el CHANGELOG nombran lo que cuesta el ✕ flotante
  CHANGELOG.md
  app/components/bali/modal/component.html.erb
Due: none

test(command): el pie en móvil se prueba a 320 px
  app/components/bali/command/component.html.erb
  cypress/e2e/command-controller.cy.js
Due: standard

fix(split-view): el turbo_action del host gana en data: con cualquier grafía
  app/components/bali/split_view/component.rb
  test/bali/components/split_view_test.rb
Due: rubocop

docs(drawer): el CHANGELOG dice qué borde oscurecía cada drawer
  CHANGELOG.md
Due: none

test(user-menu): el nombre llega a 12rem y el chevron queda dentro del disparador desde sm
  cypress/e2e/topbar-user-menu.cy.js
Due: standard

docs(user-menu): CHANGELOG con identity ya en UserMenu, siete apps
  CHANGELOG.md
Due: none

test(chart): Minitest fija el orden completo de las series
  test/bali/components/chart_test.rb
Due: rubocop

docs(chart): el relleno de una barra queda a unas 0.03, no a 0.028
  CHANGELOG.md
  app/components/bali/color.rb
Due: rubocop

test(block_editor): el menú «/» se mide contra la tinta del editor
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

docs(block_editor): el CHANGELOG da el después de los fondos de color del texto
  CHANGELOG.md
Due: none

docs(block_editor): la guía de componentes deja de listar `theme` y la cabecera de index.css dice esbuild
  app/components/bali/block_editor/index.css
  docs/guides/components.md
Due: none

test(filters): filters-condition-names vuelve a su recorrido de main
  cypress/e2e/filters-condition-names.cy.js
Due: standard

fix(block_editor): el placeholder de los campos de enlace y de URL de imagen llega a AA
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

test(split_view): el clic siguiente aún cancela la carga que el rebobinado deja en paz
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

docs(split_view): la ventana del clic perdido se describe por eventos
  cypress/e2e/split-view.cy.js
Due: standard

test(gauge, loader, split_view): cada color espera text-soft-<color> por su nombre
  test/bali/components/gauge_test.rb
  test/bali/components/loader_test.rb
  test/bali/components/split_view_list_test.rb
Due: rubocop

test(gantt): el cronograma conserva el 40 % del tablero en una tableta
  cypress/e2e/gantt-table.cy.js
Due: standard

docs(gantt): el comentario del ancho de la tabla dice qué pasa bajo 840 px
  app/components/bali/gantt/GanttFlow.jsx
Due: none

test(split-view): las claves de texto de frame_options, leídas del marcado
  test/bali/components/split_view_test.rb
Due: rubocop

test(cypress): la guardia de Widget mide la tendencia sin su flecha
  cypress/e2e/soft-text-contrast.cy.js
Due: standard

test(command): una llave faltante falla en la aserción, no en JSON.parse
  test/bali/components/command_test.rb
Due: rubocop

docs(changelog): la tabla del Gantt ocupa el 60 % en un tablero de menos de 840 px
  CHANGELOG.md
Due: none

fix(datepicker): el hover de las flechas de la hora sigue al tema
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/base-surface-steps.cy.js
Due: standard

test(modal,navbar): una utilidad de texto del anfitrión gana al color de la caja y de la barra transparente
  cypress/e2e/modal-drawer-text-colour.cy.js
  cypress/e2e/navbar-transparent.cy.js
  cypress/support/themes.js
Due: standard

docs(changelog): qué tapaban antes los hovers del Datepicker, y sus flechas
  CHANGELOG.md
Due: none

test(datepicker): texto en la hora y AM/PM, día sin anillo, foco y tema propio
  cypress/e2e/base-surface-steps.cy.js
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

test(drawer): la prueba mide el desvanecido de la sombra al cerrar
  cypress/e2e/drawer-closed-shadow.cy.js
Due: standard

test(modal): la guarda del ancho completo mide los renglones del párrafo
  cypress/e2e/modal-standalone-close.cy.js
Due: standard

test(recurrent-event-rule-form): fuera las guardas que no podían fallar
  cypress/e2e/recurrent-event-rule-form.cy.js
Due: standard

docs(user-menu): el comentario de HEADER_CLASSES nombra un máximo, no una suma
  app/components/bali/topbar/user_menu/component.rb
Due: rubocop

fix(chart): los puntos de una serie con colores propios toman su relleno o su borde
  app/components/bali/chart/dataset.rb
  app/components/bali/chart/index.js
  test/bali/chart_dataset_test.rb
Due: rubocop, standard

test(chart): vista previa «Own Colours» y su prueba de puntos y leyenda
  app/components/bali/chart/preview.rb
  cypress/e2e/chart.cy.js
Due: rubocop, standard

docs(chart): los puntos de las series con colores propios en el CHANGELOG y la guía
  CHANGELOG.md
  docs/guides/components.md
Due: none

docs(changelog): la ventana del clic perdido va del arranque del advance a su caché (#1280)
  CHANGELOG.md
Due: none

docs(data-table): se retira el comentario del nombre de la búsqueda en with_simple_filters
  app/components/bali/data_table/preview.rb
Due: rubocop
