Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

feat(block-editor): size: escala el documento entero, y dos arreglos
  CHANGELOG.md
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/preview.rb
  cypress/e2e/block-editor-editing.cy.js
  cypress/e2e/block-editor-text-size.cy.js
  docs/api/block-editor.md
  spec/dummy/package.json
  spec/dummy/yarn.lock
  test/bali/components/block_editor_test.rb
Due: rubocop, standard

chore(deps): daisyUI 5.7.19 → 5.7.20 en el dummy
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: none

fix(css): prose-invert vuelve a funcionar contra el mapeo de tema de daisyUI (#1063)
  CHANGELOG.md
  app/assets/stylesheets/bali.css
  app/assets/stylesheets/bali/prose-invert.css
  app/components/bali/chat/previews/bubbles.html.erb
  spec/dummy/app/assets/tailwind/application.css
  spec/dummy/package.json
  spec/dummy/yarn.lock
  test/bali/prose_invert_css_test.rb
Due: rubocop

fix(chart): pointBorderColor y pointBorderWidth dejan de ser candados (#1065)
  CHANGELOG.md
  app/components/bali/chart/dataset.rb
  app/components/bali/chart/previews/chart_js_line_chart_samples.html.erb
  test/bali/chart_dataset_test.rb
Due: rubocop

fix(chart): sin JavaScript la tabla de respaldo se revela en vez de dejar un hueco (#1067)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/chart/component.html.erb
  app/components/bali/chart/index.css
  app/components/bali/chart/preview.rb
  app/components/bali/chart/previews/with_data_table.html.erb
  cypress/e2e/chart.cy.js
  docs/guides/accessibility.md
  docs/guides/components.md
  test/bali/components/chart_test.rb
Due: rubocop, standard

feat(tabs): count_color pinta el badge de count con la tabla semántica (#1064)
  CHANGELOG.md
  app/components/bali/tabs/preview.rb
  app/components/bali/tabs/tab/component.rb
  app/components/bali/tabs/trigger/component.html.erb
  app/components/bali/tabs/trigger/component.rb
  docs/guides/components.md
  test/bali/components/tabs_test.rb
Due: rubocop

fix(chart): scales del llamador ya mezclan con el estilo de ejes del tema (#1066)
  CHANGELOG.md
  app/components/bali/chart/component.rb
  test/bali/components/chart_test.rb
Due: rubocop

chore(deps-dev): brakeman 8.0.6 y cypress 15.21.0 en un solo bump
  Gemfile.lock
  package.json
  yarn.lock
Due: none

release: v3.1.2
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(form-builder): size: llega al BlockEditor desde block_editor_group (#1076)
  CHANGELOG.md
  app/components/bali/block_editor/component.rb
  lib/bali/form_builder/rich_text_fields.rb
  spec/dummy/app/views/admin/movies/_form.html.erb
  test/bali/components/block_editor_test.rb
  test/bali/form_builder/rich_text_fields_test.rb
  test/bali/form_builder/size_option_test.rb
Due: rubocop

feat(tailwind): engine.css — la gema trae sus @source y el host solo importa ../builds/tailwind/bali
  CHANGELOG.md
  README.md
  app/assets/tailwind/bali/engine.css
  docs/guides/installation.md
  docs/guides/migration-v3-to-v31.md
  docs/guides/troubleshooting.md
  package.json
  spec/dummy/app/assets/tailwind/application.css
  test/bali/tailwind_engine_css_test.rb
Due: rubocop

release: v3.1.3
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(engine): bali:install:migrations:<feature> instala una tabla, no las cinco (#1079)
  CHANGELOG.md
  docs/guides/engine-models.md
  docs/guides/engines.md
  lib/bali/engine_migrations.rb
  lib/tasks/bali_tasks.rake
  test/bali/engine_migrations_test.rb
Due: rubocop

fix(data-table): el panel de un hijo del ⋯ vuelve a abrirse encima de la tabla (#1080)
  CHANGELOG.md
  app/components/bali/data_table/component.html.erb
  cypress/e2e/data-table-overflow-popover.cy.js
Due: standard

fix(components): pasar el nombre de un slot como keyword levanta ArgumentError (#1081)
  CHANGELOG.md
  app/components/bali/application_view_component.rb
  docs/reference/component-patterns.md
  lib/bali.rb
  test/bali/slot_keyword_guard_test.rb
Due: rubocop

feat(form-builder): la búsqueda ajax de slim_select puede mandar más que el término (#1084)
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/components/bali/form/slim_select/preview.rb
  app/components/bali/form/slim_select/previews/remote_dependent.html.erb
  cypress/e2e/slim-select-dependent-ajax.cy.js
  docs/guides/form-builder.md
  lib/bali/form_builder/slim_select_fields.rb
  spec/dummy/app/controllers/users_controller.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop, standard

docs(spec): design for porting widgets and the widget grid from enjoykitchen
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
Due: none

docs(plan): implementation plan for widgets and the widget grid
  docs/superpowers/plans/2026-08-25-widgets-and-widget-grid.md
Due: none

fix(filter-form): active_filters? cuenta también el panel avanzado (#1085)
  CHANGELOG.md
  app/components/bali/filters/active_filter_params.rb
  app/components/bali/filters/component.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/filter_group_parser.rb
  test/bali/components/table_test.rb
  test/bali/filter_form_test.rb
Due: rubocop

feat(widget): add the Bali::Widget namespace, Result and Row
  app/lib/bali/widget.rb
  app/lib/bali/widget/result.rb
  app/lib/bali/widget/row.rb
  test/bali/widget/result_test.rb
Due: rubocop

feat(table): traducir el rótulo de la banda de grupo sin perder el conteo global (#1086)
  CHANGELOG.md
  app/components/bali/table/component.rb
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/with_translated_groups.html.erb
  docs/guides/components.md
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  test/bali/components/table_test.rb
Due: rubocop

feat(widget): add Bali::Widget::Base
  app/lib/bali/widget/base.rb
  test/bali/widget/base_test.rb
Due: rubocop

docs(plan): fix the rescue in Task 2 to catch NotImplementedError
  docs/superpowers/plans/2026-08-25-widgets-and-widget-grid.md
Due: none

feat(widget): add widget chrome strings in en and es
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
Due: none

docs(plan): correct the locale key count and placement in Task 3
  docs/superpowers/plans/2026-08-25-widgets-and-widget-grid.md
Due: none

feat(widget): add the card component class
  app/components/bali/widget/component.rb
  test/bali/components/widget_test.rb
Due: rubocop

feat(widget): add the card template and bento geometry
  app/assets/stylesheets/bali/components.css
  app/components/bali/widget/component.html.erb
  app/components/bali/widget/index.css
Due: none

fix(widget): correct Spanish gender agreement in the live-region strings
  config/locales/bali_view.es.yml
  docs/superpowers/plans/2026-08-25-widgets-and-widget-grid.md
Due: none

feat(widget): add the card Lookbook preview
  app/components/bali/widget/preview.rb
  app/components/bali/widget/previews/default.html.erb
Due: rubocop

fix(widget): give the card an accessible name and stop linking to nowhere
  app/components/bali/widget/component.html.erb
  test/bali/components/widget_test.rb
Due: rubocop

test(previews): let the sibling-constant guard see both autoload roots
  test/requests/icon_previews_test.rb
Due: rubocop

feat(widget-grid): add the grid and edit-mode Stimulus controllers
  app/components/bali/widget_grid/index.js
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
Due: standard

docs(widget): record the radiogroup follow-up, correct a comment
  app/components/bali/widget/component.html.erb
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
Due: none

feat(widget-grid): add the bento grid component
  app/components/bali/widget_grid/component.html.erb
  app/components/bali/widget_grid/component.rb
  test/bali/components/widget_grid_test.rb
Due: rubocop

docs(plan): use I18n.t in the grid's constructor-time values
  docs/superpowers/plans/2026-08-25-widgets-and-widget-grid.md
Due: none

fix(widget-grid): stop one failed write from killing the save queue
  app/components/bali/widget_grid/index.js
  docs/superpowers/specs/2026-08-25-widgets-and-widget-grid-design.md
Due: standard

feat(widget-grid): add the grid Lookbook preview and a dummy endpoint
  app/components/bali/widget_grid/preview.rb
  app/components/bali/widget_grid/previews/default.html.erb
  spec/dummy/app/controllers/widget_layouts_controller.rb
  spec/dummy/config/routes.rb
Due: rubocop

fix(widget-grid): keep the edit controls and offer a first-run CTA
  app/components/bali/widget/index.css
  app/components/bali/widget_grid/component.html.erb
  app/components/bali/widget_grid/component.rb
  app/components/bali/widget_grid/index.js
  test/bali/components/widget_grid_test.rb
Due: rubocop, standard

fix(block-editor): las kwargs que el componente ya no lee dejan de ser un no-op mudo (#1092)
  CHANGELOG.md
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/config.rb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_page/component.rb
  docs/api/block-editor.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/block_editor_silent_kwargs_test.rb
Due: rubocop

feat(widget): add the bali_dashboard_widgets table and model
  app/models/bali/dashboard_widget.rb
  db/migrate/20260825120000_create_bali_dashboard_widgets.rb
  spec/dummy/db/schema.rb
  test/bali/models/dashboard_widget_test.rb
Due: rubocop
