Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix(navbar): el anillo de foco toma el color del texto de la barra
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/navbar/daisyui-overrides.css
  app/components/bali/navbar/index.css
  app/components/bali/navbar/menu/component.rb
  cypress/e2e/navbar-focus-ring.cy.js
Due: rubocop, standard

fix(command): una fila de acción que coincide con la búsqueda cuenta como resultado
  CHANGELOG.md
  app/components/bali/command/index.js
  cypress/e2e/command-controller.cy.js
Due: standard

fix(topbar): con tres acciones el disparador del menú de usuario cabe a 320 px
  CHANGELOG.md
  app/components/bali/command/component.html.erb
  app/components/bali/topbar/component.html.erb
  cypress/e2e/topbar-user-menu.cy.js
Due: standard

fix(filters): revisión DHH — la prueba del grupo «o» exige el g anidado, la del widget pinta el ERB, y el CHANGELOG acota «en» a q[g]
  CHANGELOG.md
  app/components/bali/filters/controllers/condition_controller.js
  lib/bali/filter_form/whole_day_casting.rb
  test/bali/components/filters/condition/component_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

docs(CHANGELOG): una entrada por componente para #1303 (editor)
  CHANGELOG.md
Due: none

fix(split_view): atrás y adelante devuelven el detalle de su URL; la preview filtrada pagina con su filtro
  CHANGELOG.md
  app/components/bali/split_view/index.js
  app/components/bali/split_view/previews/structured_list.html.erb
  cypress/e2e/split-view-list.cy.js
  cypress/e2e/split-view.cy.js
  docs/reference/stimulus-patterns.md
Due: standard

deprecate(split_view): meta_color :success y :primary se retiran en 4.0
  CHANGELOG.md
  app/components/bali/split_view/list/item/component.rb
  docs/guides/components.md
  docs/guides/master-detail.md
  test/bali/components/split_view_list_test.rb
Due: rubocop

review(1303-dummy): la guarda ve las constantes que guardan clases
  CHANGELOG.md
  app/components/bali/widget/preview.rb
  docs/reference/component-patterns.md
  lib/bali/form_builder/coordinates_polygon_fields.rb
  test/bali/form_builder/coordinates_polygon_fields_test.rb
  test/dummy/app/views/layouts/admin.html.erb
  test/guide_pages_test.rb
  test/requests/icon_previews_test.rb
Due: rubocop

fix(Drawer, Modal): la trampa de Tab ignora lo oculto y el drawer suelta su `group`
  CHANGELOG.md
  app/components/bali/drawer/component.rb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-closed-panel.cy.js
Due: rubocop, standard

review(narrow): filas «On» que se parten, prueba del Footer y afirmaciones corregidas
  CHANGELOG.md
  app/components/bali/footer/component.html.erb
  app/components/bali/footer/component.rb
  app/components/bali/recurrent_event_rule_form/component.html.erb
  cypress/e2e/recurrent-event-rule-form.cy.js
  test/bali/components/footer_test.rb
Due: rubocop, standard

refactor(datepicker): revisión de #1303, el año en content-box y la prosa
  CHANGELOG.md
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/datepicker-header.cy.js
  test/bali/daisyui_v4_tokens_css_test.rb
Due: rubocop, standard

fix(DocumentEditor): save() escribe el contenido con el flush() del BlockEditor
  CHANGELOG.md
  app/components/bali/block_editor/CLAUDE.md
  app/components/bali/block_editor/index.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/index.js
  cypress/e2e/document-editor.cy.js
Due: standard

fix(text-soft-error): rojo en los temas claros, no café
  CHANGELOG.md
  app/assets/stylesheets/bali/utilities.css
  cypress/e2e/soft-text-contrast.cy.js
Due: standard

fix(gantt): la píldora de un estado en --color-error usa la tinta roja de text-soft-error
  app/components/bali/gantt/ganttColors.js
  test/bali/components/color_test.rb
Due: rubocop, standard

review: reparos DHH a la Navbar y al Dropdown (#1303)
  CHANGELOG.md
  app/components/bali/dropdown/daisyui-overrides.css
  app/components/bali/navbar/component.rb
  app/components/bali/navbar/daisyui-overrides.css
  app/components/bali/navbar/index.css
  app/components/bali/navbar/menu/component.rb
  cypress/e2e/navbar-focus-ring.cy.js
  cypress/e2e/navbar-transparent.cy.js
  cypress/e2e/topbar-user-menu.cy.js
Due: rubocop, standard

fix(split_view): revisión DHH — redirect, tope de la copia, prueba del early return
  CHANGELOG.md
  app/components/bali/split_view/index.js
  app/components/bali/split_view/list/item/component.rb
  app/components/bali/split_view/preview.rb
  app/components/bali/split_view/previews/structured_list.html.erb
  cypress/e2e/split-view.cy.js
  docs/guides/components.md
  test/bali/components/split_view_list_test.rb
Due: rubocop, standard

review(text-soft-error): el menú lateral con tema propio, la rama oscura atada a la mezcla y el porqué del @supports
  CHANGELOG.md
  app/assets/stylesheets/bali/utilities.css
  cypress/e2e/soft-text-contrast.cy.js
  cypress/support/painted_contrast.js
  test/bali/components/color_test.rb
Due: rubocop, standard

feat(feedback_widget): variantes para la barra superior y lectura que persiste en Opina
  CHANGELOG.md
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/index.js
  app/components/bali/feedback_widget/preview.rb
  app/components/bali/feedback_widget/previews/in_topbar.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/feedback-widget-handshake.cy.js
  docs/guides/components.md
  test/bali/components/feedback_widget_test.rb
  test/requests/feedback_widget_previews_test.rb
Due: rubocop, standard

fix(feedback_widget): un 401 del badge oculta el contador
  CHANGELOG.md
  app/components/bali/feedback_widget/index.js
  cypress/e2e/feedback-widget-handshake.cy.js
  docs/guides/components.md
Due: standard

fix(feedback_widget): revisión DHH del widget en la barra superior
  CHANGELOG.md
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/index.js
  app/components/bali/feedback_widget/preview.rb
  cypress/e2e/feedback-widget-handshake.cy.js
  docs/guides/components.md
  test/bali/components/feedback_widget_test.rb
Due: rubocop, standard

feat(feedback_widget): el botón con texto dice «Opina»
  CHANGELOG.md
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/preview.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  test/bali/components/feedback_widget_test.rb
Due: rubocop

fix(calendar): los nombres de los días se abrevian en una columna angosta
  CHANGELOG.md
  app/components/bali/calendar/component.html.erb
  cypress/e2e/calendar-day-names.cy.js
Due: standard

fix(theme): accent arena en costa-norte-dark
  CHANGELOG.md
  app/assets/stylesheets/bali/themes/costa-norte-dark.css
  cypress/e2e/chart.cy.js
Due: standard

fix(dummy): en el teléfono /split-view deja el detalle a la vista
  CHANGELOG.md
  cypress/e2e/split-view.cy.js
  test/dummy/app/views/split_views/show.html.erb
Due: standard

feat(filters): en el teléfono el switch de vistas va al «⋯» y el popover de filtros mide 42rem
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/toolbar_overflow_controller.js
  app/components/bali/filters/component.html.erb
  cypress/e2e/filters-between.cy.js
  cypress/e2e/toolbar-overflow.cy.js
  docs/guides/components.md
  test/bali/components/data_table_test.rb
Due: rubocop, standard

fix(gantt): en un teléfono la tabla deja el 40 % del tablero al cronograma
  app/components/bali/gantt/GanttFlow.jsx
  app/components/bali/gantt/GanttTable.jsx
  app/components/bali/gantt/index.css
  cypress/e2e/gantt-island.cy.js
  cypress/e2e/gantt-swap.cy.js
  cypress/e2e/gantt-table.cy.js
Due: standard

fix(gantt): el minimapa no se dibuja en un cronograma donde no cabe
  app/components/bali/gantt/Minimap.jsx
  cypress/e2e/gantt-island.cy.js
Due: standard

fix(gantt): el nombre de una barra se lee sobre su progreso
  app/components/bali/gantt/TaskBarNode.jsx
  app/components/bali/gantt/ganttColors.js
  cypress/e2e/gantt-bar-label-contrast.cy.js
  cypress/e2e/gantt-island.cy.js
Due: standard

docs(changelog): el Gantt en el teléfono y el nombre sobre el progreso (#1303)
  CHANGELOG.md
Due: none

fix(BlockEditor): paleta de colores a AA y sólo el asa en el campo
  CHANGELOG.md
  app/components/bali/block_editor/constants.js
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  cypress/e2e/block-editor-editing.cy.js
  cypress/e2e/block-editor-export.cy.js
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

chore(claude): las sesiones de este repo vuelven al modo de pantalla completa
  .claude/settings.json
Due: none

release: v3.8.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

test(cypress): las pruebas de recorrido de SplitView esperan con el margen del resto del archivo
  cypress/e2e/split-view.cy.js
Due: standard

fix(feedback_widget): el panel de Opina sigue el modo oscuro de la app
  CHANGELOG.md
  app/components/bali/feedback_widget/index.js
  cypress/e2e/feedback-widget-handshake.cy.js
  cypress/e2e/overlays-in-the-top-layer.cy.js
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
Due: standard

docs(changelog): el lado de Opina es opina#111
  CHANGELOG.md
Due: none

release: v3.8.1
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

feat(app_layout): Bali.layout_banners, banners que una gema registra en la franja
  CHANGELOG.md
  app/components/bali/app_layout/component.html.erb
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/preview.rb
  app/components/bali/app_layout/previews/registered_banner.html.erb
  docs/guides/components.md
  lib/bali.rb
  test/bali/components/app_layout_test.rb
Due: rubocop

refactor(app_layout): layout_banners sin escritor y ejemplos con guarda
  CHANGELOG.md
  app/components/bali/app_layout/component.rb
  app/components/bali/app_layout/preview.rb
  docs/guides/components.md
  lib/bali.rb
  test/bali/components/app_layout_test.rb
Due: rubocop

docs(bali): el motivo de layout_banners sin escritor, con el orden medido
  lib/bali.rb
Due: rubocop

release: v3.9.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
