Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(form-builder,block-editor): los cinco de la revisión del #1113
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/config.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/preview.rb
  app/components/bali/block_editor/previews/with_portaled_read_only_comments_sidebar.html.erb
  cypress/e2e/block-editor-threads-sidebar.cy.js
  cypress/e2e/document-editor-comment-dirty.cy.js
  docs/api/block-editor.md
  docs/guides/form-builder.md
  lib/bali/form_builder/html_utils.rb
  test/bali/components/block_editor_config_test.rb
  test/bali/components/block_editor_test.rb
  test/bali/form_builder/input_name_option_test.rb
Due: rubocop, standard

fix(command): la pista del atajo elige tecla según el sistema operativo
  CHANGELOG.md
  app/components/bali/command/component.html.erb
  app/components/bali/command/component.rb
  app/components/bali/command/index.js
  app/components/bali/command/preview.rb
  cypress/e2e/command-controller.cy.js
  docs/guides/components.md
  test/bali/components/command_test.rb
Due: rubocop, standard

fix(widget): the three findings from fedegl's fourth review pass
  app/models/bali/dashboard_widget/store.rb
  db/migrate/20260825120000_create_bali_dashboard_widgets.rb
  docs/guides/engine-models.md
  lib/bali/testing/store_contract.rb
  spec/dummy/db/migrate/20260825120000_create_bali_dashboard_widgets.bali.rb
  test/bali/models/dashboard_widget/store_test.rb
Due: rubocop

docs(widget): quitar las dos capturas del dashboard
  docs/images/widget-dashboard-charts.jpg
  docs/images/widget-dashboard.jpg
Due: none

fix(engine.css): el @source escanea .jsx — Gantt y BlockEditor recuperan sus clases
  CHANGELOG.md
  app/assets/tailwind/bali/engine.css
  docs/guides/installation.md
  test/bali/tailwind_engine_css_test.rb
Due: rubocop

fix(form-builder): file_group descarta `required` — el input oculto no puede avisar
  CHANGELOG.md
  docs/guides/form-builder.md
  lib/bali/form_builder/file_fields.rb
  test/bali/form_builder/file_fields_test.rb
  test/bali/form_builder/required_option_test.rb
Due: rubocop

fix(form-builder): slim_select lee `multiple:` también de primer nivel
  CHANGELOG.md
  docs/guides/form-builder.md
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/slim_select_fields.rb
  test/bali/form_builder/input_name_option_test.rb
  test/bali/form_builder/slim_select_fields_test.rb
Due: rubocop

fix(alert,tag): la variante soft pinta el texto con un color que contrasta
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/alert/daisyui-overrides.css
  app/components/bali/alert/index.css
  app/components/bali/alert/preview.rb
  app/components/bali/alert/previews/soft_block.html.erb
  app/components/bali/tag/daisyui-overrides.css
  cypress/e2e/soft-variant-contrast.cy.js
Due: rubocop, standard

fix(filters): un grupo nuevo combina sus condiciones con AND, no con OR
  CHANGELOG.md
  app/components/bali/data_table/preview.rb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/controllers/filter_group_controller.js
  app/components/bali/filters/filter_group/component.rb
  cypress/e2e/filters-controller.cy.js
  docs/guides/components.md
  lib/bali/filter_form/filter_group_parser.rb
  test/bali/components/filters/component_test.rb
  test/bali/components/filters/filter_group/component_test.rb
  test/bali/filter_form_test.rb
Due: rubocop, standard

fix(alert,tag): outline y dash reciben el mismo texto que contrasta que soft
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/alert/daisyui-overrides.css
  app/components/bali/alert/index.css
  app/components/bali/alert/preview.rb
  app/components/bali/alert/previews/soft_block.html.erb
  app/components/bali/tag/daisyui-overrides.css
  cypress/e2e/soft-variant-contrast.cy.js
Due: rubocop, standard

feat(form-builder): `required:` marca la etiqueta con un asterisco en todas las familias
  CHANGELOG.md
  app/components/bali/field_group_wrapper/component.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/form-builder.md
  lib/bali/form_builder/html_utils.rb
  test/bali/components/field_group_wrapper_test.rb
  test/bali/form_builder/required_option_test.rb
Due: rubocop

fix(alert): el cuerpo del bloque se envuelve en <div>, no en <span>
  CHANGELOG.md
  app/components/bali/alert/component.html.erb
  app/components/bali/alert/preview.rb
  app/components/bali/alert/previews/with_block_content.html.erb
  test/bali/components/alert_test.rb
Due: rubocop

chore(deps): cypress 16.0.0, lookbook 2.3.15, browserslist 4.28.9, @tiptap/* 3.31.3
  CHANGELOG.md
  Gemfile.lock
  cypress.config.cjs
  package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

ci(standardjs): Node 22, el mínimo que pide cypress 16
  .github/workflows/standardjs.yml
  CHANGELOG.md
Due: none

release: v3.3.0
  CHANGELOG.md
Due: none

docs(form-builder): el builder por omisión va por config.action_view, no tocando ActionView::Base
  CHANGELOG.md
  docs/guides/form-builder.md
  docs/guides/installation.md
  docs/guides/troubleshooting.md
Due: none

feat: Bali::Frame — turbo-frame diferido con placeholder de carga
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/frame/component.html.erb
  app/components/bali/frame/component.rb
  app/components/bali/frame/index.css
  app/components/bali/frame/preview.rb
  app/components/bali/frame/previews/loading_state.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/frame_test.rb
Due: rubocop

Bali::Frame: captura el placeholder una vez (frame diferido + slot loading)
  app/components/bali/frame/component.html.erb
  test/bali/components/frame_test.rb
Due: rubocop

Bali::Frame: atiende la revisión (a11y, scoping, docs, cypress)
  app/components/bali/frame/component.rb
  app/components/bali/frame/index.css
  cypress/e2e/frame-loading.cy.js
  test/bali/components/frame_test.rb
Due: rubocop, standard

release: v3.3.1
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat: Bali::Table — grupos plegables (collapsible_groups:) y encabezado de banda por bloque
  app/components/bali/table/component.html.erb
  app/components/bali/table/component.rb
  app/components/bali/table/index.js
  app/components/bali/table/row/component.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  test/bali/components/table_test.rb
Due: rubocop, standard

Bali::Table: preview «Collapsible groups» y spec de Cypress
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/collapsible_groups.html.erb
  cypress/e2e/table-collapsible-groups.cy.js
Due: rubocop, standard

docs: Bali::Table — grupos plegables en la guía de componentes y el CHANGELOG
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/javascript-integration.md
Due: none

fix: Bali::WorkflowSteps — un bloque que no rinde nada ya no pinta el div de comentario
  CHANGELOG.md
  app/components/bali/workflow_steps/preview.rb
  app/components/bali/workflow_steps/step/component.html.erb
  docs/guides/components.md
  test/bali/components/workflow_steps_test.rb
Due: rubocop

feat: Bali::Topbar::ToolsMenu — traduce la clave `flightdeck`
  CHANGELOG.md
  app/components/bali/topbar/preview.rb
  app/components/bali/topbar/previews/tools_menu.html.erb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  test/bali/components/topbar_tools_menu_test.rb
Due: rubocop

fix: el selector de columnas ya no borra la banda de grupo ni el estado vacío
  CHANGELOG.md
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_column_selector.html.erb
  cypress/e2e/data-table-column-selector.cy.js
Due: rubocop, standard

fix: los forms internos de SavedViews y BulkActions fijan el builder de Rails
  CHANGELOG.md
  app/components/bali/bulk_actions/action/component.rb
  app/components/bali/data_table/saved_views/component.html.erb
  test/bali/components/bulk_actions_test.rb
  test/bali/components/data_table/saved_views_test.rb
  test/support/component_test_helpers.rb
Due: rubocop

Bali::WorkflowSteps: atiende la revisión (comentario ERB roto que se imprimía)
  CHANGELOG.md
  app/components/bali/workflow_steps/step/component.html.erb
  test/bali/components/workflow_steps_test.rb
Due: rubocop

SavedViews/BulkActions: atiende la revisión (CHANGELOG medido y prueba del builder del host)
  CHANGELOG.md
  app/components/bali/bulk_actions/action/component.rb
  app/components/bali/data_table/saved_views/component.html.erb
  test/bali/components/bulk_actions_test.rb
Due: rubocop

Bali::Topbar::ToolsMenu: atiende la revisión (párrafo de costa-norte, nota del preview, comentario en los locales)
  CHANGELOG.md
  app/components/bali/topbar/preview.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
Due: rubocop

Bali::DataTable: atiende la revisión del selector de columnas
  CHANGELOG.md
  app/components/bali/data_table/column_selector_controller.js
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_column_selector.html.erb
  cypress/e2e/data-table-column-selector.cy.js
Due: rubocop, standard

docs(column-selector): documenta que la celda con colspan no se encoge
  CHANGELOG.md
  app/components/bali/data_table/column_selector_controller.js
Due: standard

Bali::FilterForm: un `q` que no es un hash ya no tumba el listado
  CHANGELOG.md
  lib/bali/filter_form.rb
  test/bali/filter_form_malformed_q_test.rb
Due: rubocop

release: v3.4.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(calendar): un evento del año abre su propia URL y su nombre cabe
  app/components/bali/calendar/preview.rb
  app/components/bali/calendar/previews/_template.html.erb
  app/components/bali/calendar/previews/event.rb
  app/components/bali/calendar/year_grid/component.rb
  cypress/e2e/calendar-year-view.cy.js
Due: rubocop, standard

fix(stepper): un bloque que no rinde nada ya no envuelve el título
  CHANGELOG.md
  app/components/bali/stepper/preview.rb
  app/components/bali/stepper/previews/with_content_block.html.erb
  app/components/bali/stepper/step/component.html.erb
  docs/guides/components.md
  test/bali/components/stepper_test.rb
Due: rubocop

chore(deps): simplecov 1.3.0, y el CI deja de tumbar los PRs de Dependabot
  .github/workflows/test.yml
  CHANGELOG.md
  Gemfile.lock
Due: none

fix(table): el id del componente deja de emitirse dos veces
  CHANGELOG.md
  app/components/bali/table/component.rb
  app/components/bali/table/preview.rb
  app/components/bali/table/previews/with_container_id.html.erb
  docs/guides/components.md
  docs/reference/component-patterns.md
  test/bali/components/table_test.rb
Due: rubocop

feat(reveal, card): espaciado sobreescribible y color de icono en el encabezado
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/card/header/component.rb
  app/components/bali/card/preview.rb
  app/components/bali/reveal/component.rb
  app/components/bali/reveal/index.css
  app/components/bali/reveal/preview.rb
  app/components/bali/reveal/previews/compact.html.erb
  app/components/bali/reveal/trigger/component.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  test/bali/components/card_test.rb
  test/bali/components/reveal_test.rb
  test/bali/reveal_spacing_css_test.rb
Due: rubocop
