Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(data_table): los links de paginación dejan de sacar al lector de la página (#772)
  CHANGELOG.md
  app/components/bali/application_view_component_preview.rb
  app/components/bali/data_table/component.rb
  docs/guides/components.md
  test/bali/components/data_table_test.rb
  test/requests/canonical_previews_test.rb
Due: rubocop

feat(button)!: una sola taxonomía para todo botón, y Link pierde type: (#682, corte 1 de 2) (#774)
  .claude/CLAUDE.md
  CHANGELOG.md
  app/components/bali/actions_dropdown/component.rb
  app/components/bali/app_layout/previews/login.html.erb
  app/components/bali/app_layout/previews/register.html.erb
  app/components/bali/bulk_actions/action/component.rb
  app/components/bali/button/component.rb
  app/components/bali/button/preview.rb
  app/components/bali/button_taxonomy.rb
  app/components/bali/calendar/header/component.html.erb
  app/components/bali/data_table/group_by_control/component.html.erb
  app/components/bali/delete_link/component.html.erb
  app/components/bali/delete_link/component.rb
  app/components/bali/delete_link/preview.rb
  app/components/bali/dropdown/component.rb
  app/components/bali/form_page/previews/default.html.erb
  app/components/bali/form_page/previews/with_sidebar.html.erb
  app/components/bali/hover_card/component.rb
  app/components/bali/image_grid/previews/empty_state.html.erb
  app/components/bali/link/component.rb
  app/components/bali/table/component.rb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  spec/dummy/app/views/admin/studios/show.html.erb
  spec/dummy/app/views/direct_uploads/new.html.erb
  spec/dummy/app/views/direct_uploads/result.html.erb
  spec/dummy/app/views/lookbook/pages/03_patterns/01_component_patterns.md.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/app/views/sessions/new.html.erb
  spec/dummy/app/views/sessions/register.html.erb
  spec/dummy/app/views/studios/show.html.erb
  test/bali/components/button_test.rb
  test/bali/components/delete_link_test.rb
  test/bali/components/hover_card_test.rb
  test/bali/components/link_test.rb
Due: rubocop

feat(i18n): las cadenas JS de los editores dejan de estar en inglés fijo (#777)
  CHANGELOG.md
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/TableOfContents.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/useComments.js
  app/components/bali/block_editor/useFileUpload.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/index.js
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  test/bali/components/block_editor_test.rb
  test/bali/components/document_editor_test.rb
Due: rubocop, standard

fix(tooltip): el disparador de teclado del Tooltip nunca disparo, y ahora ademas se alcanza
  CHANGELOG.md
  app/components/bali/tooltip/component.rb
  app/components/bali/tooltip/index.js
  app/components/bali/tooltip/preview.rb
  app/components/bali/tooltip/previews/keyboard_reach.html.erb
  cypress/e2e/tooltip-controller.cy.js
  docs/guides/components.md
  test/bali/components/tooltip_test.rb
Due: rubocop, standard

fix(tooltip): el disparador de teclado del Tooltip nunca disparó, y ahora además se alcanza (#780)
  CHANGELOG.md
  app/components/bali/tooltip/component.rb
  app/components/bali/tooltip/index.js
  app/components/bali/tooltip/preview.rb
  app/components/bali/tooltip/previews/keyboard_reach.html.erb
  cypress/e2e/tooltip-controller.cy.js
  docs/guides/components.md
  test/bali/components/tooltip_test.rb
Due: rubocop, standard

feat(page-components): un `context:` autodetectado, y una sola vista sirve página y drawer
  app/components/bali/form_page/component.rb
  app/components/bali/form_page/preview.rb
  app/components/bali/form_page/previews/context.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/show_page/component.rb
  app/components/bali/show_page/preview.rb
  app/components/bali/show_page/previews/context.html.erb
  lib/bali/layout_concern.rb
  spec/dummy/app/controllers/admin/base_controller.rb
  spec/dummy/app/controllers/admin/characters_controller.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/application_controller.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/studios/_form.html.erb
  spec/dummy/app/views/admin/studios/edit.html.erb
  spec/dummy/app/views/admin/studios/new.html.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/app/views/studios/show.html.erb
  test/bali/components/page_context_test.rb
  test/bali/layout_concern_test.rb
  test/requests/page_context_test.rb
Due: rubocop

docs(page-components): el antes/después de `context:` en el CHANGELOG y en las dos guías
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
Due: none

refactor(search)!: una sola forma de `search:`, un solo constructor del parametro, y se va Bali::SearchInput (#677, punto 3)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  README.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/saved_views/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/search_input/component.html.erb
  app/components/bali/search_input/component.rb
  app/components/bali/search_input/preview.rb
  app/components/bali/utils/dummy_filter_form.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  lib/bali.rb
  lib/bali/filter_form/search_configuration.rb
  lib/bali/ransack_param_name.rb
  lib/bali/search_config.rb
  spec/dummy/app/views/lookbook/pages/04_reference/02_component_index.md.erb
  spec/dummy/app/views/lookbook/pages/index.md.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/filters/component_test.rb
  test/bali/components/search_input_test.rb
  test/bali/filter_form_test.rb
  test/bali/search_config_test.rb
Due: rubocop

feat(page-components): un `context:` autodetectado, y una sola vista sirve página y drawer (#769) (#782)
  CHANGELOG.md
  app/components/bali/form_page/component.rb
  app/components/bali/form_page/preview.rb
  app/components/bali/form_page/previews/context.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/show_page/component.rb
  app/components/bali/show_page/preview.rb
  app/components/bali/show_page/previews/context.html.erb
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  lib/bali/layout_concern.rb
  spec/dummy/app/controllers/admin/base_controller.rb
  spec/dummy/app/controllers/admin/characters_controller.rb
  spec/dummy/app/controllers/admin/studios_controller.rb
  spec/dummy/app/controllers/application_controller.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/views/admin/studios/_form.html.erb
  spec/dummy/app/views/admin/studios/edit.html.erb
  spec/dummy/app/views/admin/studios/new.html.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/app/views/studios/show.html.erb
  test/bali/components/page_context_test.rb
  test/bali/layout_concern_test.rb
  test/requests/page_context_test.rb
Due: rubocop

fix(modal,drawer): el foco del overlay, el 422 que desarmaba el guard y un aria colgante
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/index.js
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/component.rb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
  cypress/e2e/modal-controller.cy.js
  test/bali/components/drawer_test.rb
  test/bali/components/modal_test.rb
Due: rubocop, standard

docs(changelog): la entrada de #679, corte 1
  CHANGELOG.md
Due: none

refactor(search)!: una sola forma de `search:`, un solo constructor del parámetro Ransack, y se va Bali::SearchInput (#677, punto 3) (#783)
  .claude/skills/filterform-datatable/SKILL.md
  CHANGELOG.md
  README.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/saved_views/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/search_input/component.html.erb
  app/components/bali/search_input/component.rb
  app/components/bali/search_input/preview.rb
  app/components/bali/utils/dummy_filter_form.rb
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  docs/guides/components.md
  docs/guides/migration-v2-to-v3.md
  lib/bali.rb
  lib/bali/filter_form/search_configuration.rb
  lib/bali/ransack_param_name.rb
  lib/bali/search_config.rb
  spec/dummy/app/views/lookbook/pages/04_reference/02_component_index.md.erb
  spec/dummy/app/views/lookbook/pages/index.md.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  test/bali/components/data_table/simple_filters_test.rb
  test/bali/components/data_table_test.rb
  test/bali/components/filters/component_test.rb
  test/bali/components/search_input_test.rb
  test/bali/filter_form_test.rb
  test/bali/search_config_test.rb
Due: rubocop

fix(modal,drawer): el foco del overlay, el 422 que desarmaba el guard y un aria colgante (#679, corte 1 de 2) (#784)
  CHANGELOG.md
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/index.js
  app/components/bali/modal/component.html.erb
  app/components/bali/modal/component.rb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
  cypress/e2e/modal-controller.cy.js
  test/bali/components/drawer_test.rb
  test/bali/components/modal_test.rb
Due: rubocop, standard

fix(dummy): los cinco tooltips de analytics y revenue vuelven a dibujarse
  CHANGELOG.md
  spec/dummy/app/views/admin/analytics/index.html.erb
  spec/dummy/app/views/admin/revenue/index.html.erb
Due: none

fix(dummy): los cinco tooltips de analytics y revenue vuelven a dibujarse (#786)
  CHANGELOG.md
  spec/dummy/app/views/admin/analytics/index.html.erb
  spec/dummy/app/views/admin/revenue/index.html.erb
Due: none

docs(changelog): eran cuatro los renders de icono sin globo, no tres
  CHANGELOG.md
Due: none

fix(dummy): /sidemenu-example vuelve a compilar, y todas las páginas del dummy se piden en un test
  CHANGELOG.md
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop

fix(overlays): los popups portaleados sobreviven a un overlay en el top layer (#679, corte 2)
  CHANGELOG.md
  README.md
  app/assets/javascripts/bali/controllers/datepicker-controller.js
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/javascripts/bali/utils/top-layer.js
  app/assets/stylesheets/bali/datepicker.css
  app/assets/stylesheets/bali/slim_select.css
  app/assets/stylesheets/bali/z_index.css
  app/components/bali/hover_card/index.js
  app/components/bali/image_grid/index.js
  app/components/bali/tooltip/index.js
  cypress/e2e/top-layer-popups.cy.js
  docs/guides/overlays-and-the-top-layer.md
Due: standard

docs(migration): la guía completa, y cuatro recetas de grep que no encontraban nada (#702)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

docs(migration): las constantes de los page components, que también se fueron (#702)
  docs/guides/migration-v2-to-v3.md
Due: none

fix(filters): el valor sobrevive al cambio de operador, y una condición vacía no viaja ni se calla (#652)
  CHANGELOG.md
  app/components/bali/filters/condition/component.html.erb
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/controllers/filters_controller.js
  app/components/bali/filters/index.css
  config/locales/bali_view.en.yml
  config/locales/bali_view.es.yml
  cypress/e2e/filters-condition-controller.cy.js
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

fix(dummy): once call sites pasaban una keyword que el componente no declara, y un test impide la doceava
  CHANGELOG.md
  spec/dummy/app/views/admin/analytics/index.html.erb
  spec/dummy/app/views/admin/revenue/index.html.erb
  spec/dummy/app/views/documents/show.html.erb
  spec/dummy/app/views/lookbook/pages/02_guides/01_accessibility.md.erb
  spec/dummy/app/views/lookbook/pages/03_patterns/01_component_patterns.md.erb
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  spec/dummy/app/views/studios/index.html.erb
  test/dummy_component_keywords_test.rb
Due: rubocop

fix(utils): publica top-layer.js en el índice de utils del paquete (#679)
  CHANGELOG.md
  app/frontend/bali/utils/index.js
  docs/guides/overlays-and-the-top-layer.md
Due: standard

fix(tooltip): un globo con marcado y sin texto plano se construye, y se alcanza
  CHANGELOG.md
  app/components/bali/tooltip/index.js
  app/components/bali/tooltip/preview.rb
  app/components/bali/tooltip/previews/markup_content.html.erb
  cypress/e2e/tooltip-controller.cy.js
  docs/guides/components.md
Due: rubocop, standard

docs(migration): DEFAULT_Z_INDEX, y que las recetas con -A se lean como pistas y no como censo (#702)
  CHANGELOG.md
  docs/guides/migration-v2-to-v3.md
Due: none

fix(dummy): documents deja de declarar una ruta que no sabe servir
  CHANGELOG.md
  spec/dummy/config/routes.rb
Due: rubocop

feat(form_builder)!: submit_group y submit_field, la última pareja fuera de la convención
  app/components/bali/form/errors/previews/in_form_context.html.erb
  app/components/bali/form/submit/preview.rb
  app/components/bali/form/submit/previews/default.html.erb
  app/components/bali/form/submit/previews/modal_actions.html.erb
  app/components/bali/form/submit/previews/sizes.html.erb
  app/components/bali/form/submit/previews/submit_actions.html.erb
  app/components/bali/form/submit/previews/submit_group.html.erb
  app/components/bali/form/submit/previews/variants.html.erb
  lib/bali/form_builder/deprecated_names.rb
  lib/bali/form_builder/submit_fields.rb
  spec/dummy/app/views/admin/movies/_form.html.erb
  spec/dummy/app/views/movies/_form.html.erb
  test/bali/form_builder/submit_buttons_test.rb
Due: rubocop

feat(form_builder)!: search_field_group pasa a search_group y cierra la última excepción
  app/components/bali/form/search/previews/custom_button_style.html.erb
  app/components/bali/form/search/previews/custom_placeholder.html.erb
  app/components/bali/form/search/previews/default.html.erb
  app/components/bali/form/search/previews/with_errors.html.erb
  lib/bali/form_builder/search_fields.rb
  test/bali/form_builder/accessible_name_contract_test.rb
  test/bali/form_builder/deprecated_names_test.rb
  test/bali/form_builder/error_and_help_test.rb
  test/bali/form_builder/options_contract_test.rb
  test/bali/form_builder/search_fields_test.rb
Due: rubocop

fix(form_builder): el `required:` fantasma deja de afirmar lo que nunca aplicó
  lib/bali/form_builder/coordinates_polygon_fields.rb
  lib/bali/form_builder/html_utils.rb
  lib/bali/form_builder/rich_text_area_fields.rb
  lib/bali/form_builder/rich_text_fields.rb
  lib/bali/form_builder/time_period_fields.rb
  test/bali/form_builder/required_option_test.rb
Due: rubocop

refactor(css)!: fuera el vocabulario Bulma de forms.css, medido contra lo que sí encaja
  app/assets/javascripts/bali/controllers/file-input-controller.js
  app/assets/stylesheets/bali/forms.css
Due: standard

feat(config): Bali.google_maps_key, un solo sitio del que sale la clave de Google Maps
  app/components/bali/locations_map/component.rb
  app/components/bali/locations_map/preview.rb
  lib/bali.rb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/locales/es.yml
  test/bali/google_maps_key_test.rb
Due: rubocop

docs(form_builder): CHANGELOG, guias y showcase del barrido legacy
  .claude/CLAUDE.md
  CHANGELOG.md
  docs/guides/components.md
  docs/guides/external-services.md
  docs/guides/form-builder.md
  docs/guides/installation.md
  docs/guides/migration-v2-to-v3.md
  docs/guides/troubleshooting.md
  spec/dummy/app/views/pages/showcase.html.erb
Due: none

docs(changelog): eran cuatro los renders de icono sin globo, no tres (#790)
  CHANGELOG.md
Due: none

fix(dummy): /sidemenu-example vuelve a compilar, y todas las páginas del dummy se piden en un test (#789) (#794)
  CHANGELOG.md
  spec/dummy/app/views/pages/sidemenu_example.html.erb
  test/requests/dummy_pages_smoke_test.rb
Due: rubocop
