Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

fix(locations_map): la ventana de información se lee en modo oscuro y el mapa sale en el idioma de la página
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/locations_map/component.rb
  app/components/bali/locations_map/index.css
  app/components/bali/locations_map/index.js
  app/components/bali/locations_map/location/component.html.erb
  app/components/bali/locations_map/preview.rb
  app/components/bali/locations_map/previews/default.html.erb
  cypress/e2e/google-maps-color-scheme.cy.js
  cypress/e2e/locations-map.cy.js
  cypress/fixtures/google-maps-stub.js
  test/bali/components/locations_map_test.rb
Due: rubocop, standard

fix(gantt, chart): lo de la revisión de #1333
  CHANGELOG.md
  app/components/bali/chart/index.js
  app/components/bali/gantt/Toolbar.jsx
  cypress/e2e/chart.cy.js
  cypress/e2e/gantt-island.cy.js
  cypress/support/tap.js
  test/bali/components/chart_test.rb
Due: rubocop, standard

review(contrast,ci): reparos DHH a la revisión de contraste y al reparto
  app/components/bali/stat_card/component.rb
  app/components/bali/timeline/item/component.rb
  cypress/e2e/kanban-surfaces.cy.js
  cypress/e2e/navbar-ghost-contrast.cy.js
  cypress/e2e/soft-text-contrast.cy.js
  cypress/e2e/soft-variant-contrast.cy.js
  cypress/e2e/status-palette-contrast.cy.js
  cypress/e2e/theme-follow-contrast.cy.js
  cypress/support/themes.js
  scripts/cypress-part.mjs
  test/bali/components/delete_link_test.rb
  test/bali/theme_contrast_test.rb
Due: rubocop, standard

fix(DocumentEditor): el panel del teléfono cubre también los flotantes de BlockNote
  app/components/bali/document_editor/component.html.erb
  cypress/e2e/document-editor.cy.js
Due: standard

fix(button, navbar): la mezcla del contorno en components, sin pisar una Navbar de color
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/assets/stylesheets/bali/utilities.css
  app/components/bali/button/daisyui-overrides.css
  app/components/bali/button/index.css
  app/components/bali/button/preview.rb
  app/components/bali/button/previews/all_combinations.html.erb
  app/components/bali/navbar/index.css
  cypress/e2e/soft-variant-contrast.cy.js
  cypress/e2e/tinted-button-and-error-ink.cy.js
  cypress/e2e/tinted-button-contrast.cy.js
  test/bali/components/color_test.rb
Due: rubocop, standard

fix(filters): lo que pidió la revisión DHH de #1333
  CHANGELOG.md
  app/components/bali/filters/controllers/condition_controller.js
  app/components/bali/filters/controllers/filters_controller.js
  cypress/e2e/filters-controller.cy.js
  test/bali/components/filters/condition/component_test.rb
Due: rubocop, standard

fix(side-menu): el anillo de foco también en los paneles `.menu`
  app/components/bali/side_menu/daisyui-overrides.css
  app/components/bali/side_menu/index.css
  cypress/e2e/side-menu-focus-ring.cy.js
Due: standard

fix(command): el disparador se pliega debajo de 7rem y lleva title
  app/components/bali/command/component.html.erb
  cypress/e2e/command-controller.cy.js
  cypress/e2e/topbar-search-collapse.cy.js
  docs/guides/components.md
Due: standard

fix(navbar): la navbar de marketing de la dummy no repite sticky top-0 z-50
  CHANGELOG.md
  test/dummy/app/views/layouts/_marketing_navbar.html.erb
Due: none

fix(filter_form): lo que pidió la revisión DHH de #1333
  CHANGELOG.md
  lib/bali/filter_form/whole_day_casting.rb
  test/bali/filter_form_test.rb
Due: rubocop

fix(maps): revisión DHH
  CHANGELOG.md
  app/assets/javascripts/bali/controllers/drawing-maps-controller.js
  app/assets/javascripts/bali/utils/color-scheme.js
  app/components/bali/locations_map/index.css
  app/components/bali/locations_map/location/component.html.erb
  app/components/bali/locations_map/location/component.rb
  cypress/e2e/google-maps-color-scheme.cy.js
  cypress/fixtures/google-maps-stub.js
  test/bali/components/locations_map_test.rb
Due: rubocop, standard

review(css): lo que dijo la revisión de la limpieza de datepicker.css
  .claude/CLAUDE.md
  CHANGELOG.md
  app/assets/stylesheets/bali/datepicker.css
  cypress/e2e/datepicker-day-states.cy.js
  docs/guides/overlays-and-the-top-layer.md
Due: standard

fix(gantt): la barra oculta sus separadores un cuadro después del ResizeObserver
  app/components/bali/gantt/Toolbar.jsx
Due: none

docs(navbar, changelog): hasta dónde llega la reversión del contorno en una Navbar de color
  CHANGELOG.md
  app/components/bali/navbar/index.css
  cypress/e2e/tinted-button-contrast.cy.js
Due: standard

docs(datepicker): el bloque [popover] también deshace el color del UA
  app/assets/stylesheets/bali/datepicker.css
  docs/guides/overlays-and-the-top-layer.md
Due: none

fix(Drawer, Modal): lo que pidió la revisión: disparador retirado, contrato nombrado y fondo sin sobrantes
  CHANGELOG.md
  app/components/bali/app_layout/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.css
  app/components/bali/modal/index.js
  cypress/e2e/drawer-closed-panel.cy.js
  cypress/e2e/modal-controller.cy.js
  docs/guides/components.md
  test/bali/components/app_layout_test.rb
Due: rubocop, standard

fix(split_view): el panel se recarga como replace y no empuja otra entrada
  CHANGELOG.md
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
  test/requests/split_view_previews_test.rb
Due: rubocop, standard

review(contrast): segunda ronda DHH
  cypress/e2e/kanban-surfaces.cy.js
  cypress/e2e/navbar-focus-ring.cy.js
  cypress/e2e/navbar-ghost-contrast.cy.js
  cypress/e2e/soft-text-contrast.cy.js
  cypress/e2e/soft-variant-contrast.cy.js
  cypress/support/themes.js
  test/bali/components/dropdown_test.rb
Due: rubocop, standard

docs(command): los 7rem cuentan con el hint oculto, debajo de sm
  app/components/bali/command/component.html.erb
  docs/guides/components.md
Due: none

test(drawer): el fondo a mitad del fundido no recibe el clic; la guía nombra el segundo uso de <main>
  app/components/bali/drawer/index.css
  cypress/e2e/drawer-closed-panel.cy.js
  docs/guides/components.md
Due: standard

fix(split_view): la página restaurada recarga el panel sin tocar el historial
  app/components/bali/split_view/index.js
  cypress/e2e/split-view.cy.js
Due: standard

chore(css): el comentario de las hojas sin capa deja de nombrarlas por posición
  app/assets/stylesheets/bali/components.css
Due: none

test(cypress): errorInk compartido y una visita por preview en Breadcrumb y SideMenu
  cypress/e2e/breadcrumb.cy.js
  cypress/e2e/side-menu-focus-ring.cy.js
  cypress/e2e/soft-variant-contrast.cy.js
  cypress/e2e/tinted-button-contrast.cy.js
  cypress/support/painted_contrast.js
Due: standard

fix(modal): el iframe entra en el ciclo de Tab del panel
  app/components/bali/modal/index.js
  cypress/e2e/feedback-widget-keyboard.cy.js
Due: standard

docs(custom-themes): el paso 6 nombra a todos los que leen color-scheme
  docs/guides/custom-themes.md
Due: none

fix(block_editor): el esquema claro u oscuro sale de hostColorScheme
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  cypress/e2e/block-editor-editing.cy.js
Due: standard

fix(modal): la trampa de Tab cuenta summary, contenteditable y reproductores, y no un botón deshabilitado
  app/components/bali/modal/index.js
  cypress/e2e/modal-controller.cy.js
Due: standard

docs(block_editor): los comentarios ya no nombran usePageColorScheme
  app/components/bali/block_editor/index.css
  docs/reference/testing-traps.md
Due: none

chore(css): components.css ya no dice que toda hoja sin capa le gana a daisyUI
  app/assets/stylesheets/bali/components.css
Due: none

docs(custom-themes): la consecuencia en afal-dark nombra todo lo que se aclara
  docs/guides/custom-themes.md
Due: none

test(cypress): reparos de la revisión a los specs del lote
  cypress/e2e/block-editor-editing.cy.js
  cypress/e2e/side-menu-focus-ring.cy.js
  cypress/e2e/soft-variant-contrast.cy.js
  cypress/e2e/theme-follow-contrast.cy.js
Due: standard

release: v3.10.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

fix(modal): la trampa de Tab no toca un Tab que el control ya atendió
  app/components/bali/modal/index.js
  cypress/e2e/modal-controller.cy.js
Due: standard

docs(testing-traps): la trampa del esquema nombra subscribeToTheme
  docs/reference/testing-traps.md
Due: none

fix(block_editor): la barra de formato pasa a dos filas en el teléfono
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  cypress/e2e/block-editor-formatting-toolbar.cy.js
Due: standard

fix(button): el anillo de foco de todos los botones en base-content
  CHANGELOG.md
  app/assets/stylesheets/bali/utilities.css
  cypress/e2e/tinted-button-contrast.cy.js
Due: standard

review(button): la salvedad de Footer y Hero, el fondo base-* del anillo y el selector que existe
  CHANGELOG.md
  app/assets/stylesheets/bali/utilities.css
  cypress/e2e/tinted-button-contrast.cy.js
Due: standard

fix(block_editor): la barra de formato se mide contra la pantalla, no contra el editor
  CHANGELOG.md
  app/components/bali/block_editor/index.css
  cypress/e2e/block-editor-formatting-toolbar.cy.js
Due: standard

docs(block_editor): el comentario de la barra dice para qué es el − 1rem
  app/components/bali/block_editor/index.css
Due: none

release: v3.10.1
  CHANGELOG.md
  Gemfile.lock
  README.md
  docs/guides/installation.md
  lib/bali/version.rb
  package.json
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
