Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

standard:
  run: yarn standard {staged_files}

Consolidate datepicker and flatpickr CSS into single file
  app/assets/stylesheets/bali/datepicker.css
  app/assets/stylesheets/bali/flatpickr.css
Due: none

feat: Render image field input using `raw_file_field` to bypass custom form builder wrappers.
  app/components/bali/image_field/input/component.html.erb
  app/components/bali/image_field/input/component.rb
Due: rubocop

refactor: wrap image field input icon in a span and remove `text-base-content` class from icon styling.
  app/components/bali/image_field/input/component.html.erb
  app/components/bali/image_field/input/component.rb
Due: rubocop

Add dynamic size support for Modal and Drawer via Link component
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.js
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/with_slots.html.erb
  app/components/bali/link/component.rb
  app/components/bali/modal/index.js
  lib/bali/version.rb
  package.json
  spec/dummy/app/views/pages/showcase.html.erb
Due: rubocop, standard

Add dynamic size support for Modal and Drawer via Link component (#465)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/drawer/component.rb
  app/components/bali/drawer/index.js
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/with_slots.html.erb
  app/components/bali/link/component.rb
  app/components/bali/modal/index.js
  lib/bali/version.rb
  package.json
  spec/dummy/app/views/pages/showcase.html.erb
Due: rubocop, standard

Rewrite /release skill with two-phase PR workflow
  .claude/commands/release.md
  .gitignore
Due: none

Add changelog entry for release skill rewrite
  CHANGELOG.md
Due: none

Rewrite /release skill with two-phase PR workflow (#466)
  .claude/commands/release.md
  .gitignore
  CHANGELOG.md
Due: none

Upgrade ViewComponent 3.x to 4.2.0 and Pagy 8.x to 43.2.8
  Gemfile
  Gemfile.lock
  app/components/bali/data_table/preview.rb
  app/components/bali/pagination/component.rb
  app/components/bali/pagination/preview.rb
  bali_view_component.gemspec
  spec/bali/components/pagination_spec.rb
  spec/dummy/app/controllers/application_controller.rb
  spec/dummy/app/controllers/movies_controller.rb
  spec/dummy/app/helpers/application_helper.rb
  spec/dummy/config/application.rb
  spec/dummy/config/initializers/pagy.rb
Due: rubocop

Prepare release: update CHANGELOG with ViewComponent 4 and Pagy 43 upgrade
  CHANGELOG.md
Due: none

feat(DirectUpload): auto-clear files on successful Turbo form submission
  app/components/bali/direct_upload/index.js
Due: standard

docs: add changelog entry for DirectUpload auto-reset feature
  CHANGELOG.md
Due: none

fix(DirectUpload): handle empty object_name in field_name generation
  CHANGELOG.md
  app/components/bali/direct_upload/component.rb
Due: rubocop

test: add DirectUpload showcase for form_with url: validation
  spec/dummy/app/controllers/direct_uploads_controller.rb
  spec/dummy/app/views/direct_uploads/create.turbo_stream.erb
  spec/dummy/app/views/direct_uploads/new.html.erb
  spec/dummy/app/views/direct_uploads/result.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/config/routes.rb
Due: rubocop

refactor: use Bali ViewComponents in DirectUpload test views
  spec/dummy/app/views/direct_uploads/create.turbo_stream.erb
  spec/dummy/app/views/direct_uploads/new.html.erb
  spec/dummy/app/views/direct_uploads/result.html.erb
Due: none

feat(Form::Errors): add component for form validation error summary
  app/components/bali/form/errors/component.html.erb
  app/components/bali/form/errors/component.rb
  app/components/bali/form/errors/preview.rb
  app/components/bali/form/errors/previews/in_form_context.html.erb
  lib/bali/form_builder/error_summary_fields.rb
  spec/bali/components/form/errors/component_spec.rb
Due: rubocop

fix: correct PageHeader back parameter format
  spec/dummy/app/views/direct_uploads/new.html.erb
  spec/dummy/app/views/direct_uploads/result.html.erb
Due: none

fix: use correct Table component API (with_row + td tags)
  spec/dummy/app/views/direct_uploads/create.turbo_stream.erb
  spec/dummy/app/views/direct_uploads/result.html.erb
Due: none

fix: correct FormBuilder method names in showcase
  spec/dummy/app/views/pages/showcase.html.erb
Due: none

docs: add Form::Errors showcase with comprehensive form example
  spec/dummy/config/locales/en.yml
Due: none

feat: add SlimSelect with rich HTML examples to showcase
  spec/dummy/app/views/pages/showcase.html.erb
Due: none

docs: add Common API Gotchas section to CLAUDE.md
  .claude/CLAUDE.md
Due: none

test(DirectUpload): add Cypress tests for auto-reset and field names
  cypress/e2e/direct-upload-controller.cy.js
Due: standard

feat(DirectUpload): auto-clear files on successful Turbo form submission (#468)
  .claude/CLAUDE.md
  CHANGELOG.md
  app/components/bali/direct_upload/component.rb
  app/components/bali/direct_upload/index.js
  app/components/bali/form/errors/component.html.erb
  app/components/bali/form/errors/component.rb
  app/components/bali/form/errors/preview.rb
  app/components/bali/form/errors/previews/in_form_context.html.erb
  cypress/e2e/direct-upload-controller.cy.js
  lib/bali/form_builder/error_summary_fields.rb
  spec/bali/components/form/errors/component_spec.rb
  spec/dummy/app/controllers/direct_uploads_controller.rb
  spec/dummy/app/views/direct_uploads/create.turbo_stream.erb
  spec/dummy/app/views/direct_uploads/new.html.erb
  spec/dummy/app/views/direct_uploads/result.html.erb
  spec/dummy/app/views/pages/showcase.html.erb
  spec/dummy/config/locales/en.yml
  spec/dummy/config/routes.rb
Due: rubocop, standard

Prepare release: update CHANGELOG
  CHANGELOG.md
Due: none

Prepare release v2.0.5 (#469)
  CHANGELOG.md
Due: none

Release v2.0.5
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

Adjust z-index values and positioning for drawer and modal components to improve layering.
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/modal/component.html.erb
Due: rubocop

feat: Release v2.0.6, introducing new Columns and Filters components, ImageField improvements, and various bug fixes.
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix: Make prepare script conditional for non-git installs
  package.json
Due: none

Downgrade project version from 2.0.6 to 2.0.5 across configuration files and update the changelog.
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

Filters improvements and Columns component refactor (#464)
  CHANGELOG.md
  app/assets/stylesheets/bali/components.css
  app/components/bali/columns/column/component.rb
  app/components/bali/columns/component.rb
  app/components/bali/columns/index.css
  app/components/bali/columns/preview.rb
  app/components/bali/data_table/actions_panel/component.rb
  app/components/bali/drawer/component.html.erb
  app/components/bali/drawer/component.rb
  app/components/bali/filters/component.html.erb
  app/components/bali/filters/component.rb
  app/components/bali/filters/controllers/filters_controller.js
  app/components/bali/image_field/input/component.html.erb
  app/components/bali/image_field/input/component.rb
  app/components/bali/modal/component.html.erb
  app/components/bali/side_menu/item/component.html.erb
  app/components/bali/side_menu/item/component.rb
  app/components/bali/side_menu/list/component.rb
  lib/bali/filter_form.rb
  lib/bali/form_builder/slim_select_fields.rb
  package.json
  spec/bali/components/columns_spec.rb
  spec/bali/components/filters/component_spec.rb
  spec/bali/filter_form_spec.rb
  spec/bali/form_builder/slim_select_fields_spec.rb
Due: rubocop, standard

feat(DataTable): Add SimpleFilters for lightweight inline filtering
  app/components/bali/data_table/component.html.erb
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/previews/with_simple_filters.html.erb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  lib/bali/filter_form.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  spec/bali/components/data_table/simple_filters_spec.rb
  spec/bali/filter_form_spec.rb
  spec/dummy/app/controllers/studios_controller.rb
  spec/dummy/app/models/studio.rb
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/movies/index.turbo_stream.erb
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/edit.html.erb
  spec/dummy/app/views/studios/index.html.erb
  spec/dummy/app/views/studios/new.html.erb
  spec/dummy/app/views/studios/show.html.erb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20260203215443_create_studios.rb
  spec/dummy/db/schema.rb
  spec/dummy/db/seeds.rb
Due: rubocop

feat: dynamically set Turbo Stream replace target ID and update yarn.lock.
  spec/dummy/app/views/movies/index.turbo_stream.erb
  yarn.lock
Due: none

fix(studios): Use Bali::Link::Component instead of link_to
  spec/dummy/app/views/studios/index.html.erb
Due: none

docs: Add changelog entry for SimpleFilters feature
  CHANGELOG.md
Due: none

fix(studios): Remove redundant card-body divs
  spec/dummy/app/views/studios/_form.html.erb
  spec/dummy/app/views/studios/show.html.erb
Due: none

fix(studios): Improve index page UI
  spec/dummy/app/views/studios/index.html.erb
Due: none

feat(PaginationFooter): Add standardized pagination footer component
  CHANGELOG.md
  app/components/bali/pagination_footer/component.html.erb
  app/components/bali/pagination_footer/component.rb
  app/components/bali/pagination_footer/preview.rb
  spec/bali/components/pagination_footer_spec.rb
  spec/dummy/app/views/studios/index.html.erb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  standard: any of: *.js
