Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

feat(kanban): add optional footer slot to Kanban::Column (#587)
  CHANGELOG.md
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/preview.rb
  app/components/bali/kanban/previews/with_footer.html.erb
  test/bali/components/kanban_test.rb
Due: rubocop

feat(stepper): support sublabel and free content block per step (#588)
  CHANGELOG.md
  app/components/bali/stepper/preview.rb
  app/components/bali/stepper/step/component.html.erb
  app/components/bali/stepper/step/component.rb
  test/bali/components/stepper_test.rb
Due: rubocop

fix(modal/drawer): apply turbo_stream responses on submit (#589)
  CHANGELOG.md
  app/components/bali/drawer/preview.rb
  app/components/bali/drawer/previews/turbo_stream_form.html.erb
  app/components/bali/modal/index.js
  cypress/e2e/drawer-controller.cy.js
Due: rubocop, standard

fix(document_editor): don't clobber saved content when previewing versions back-to-back (#591)
  CHANGELOG.md
  app/components/bali/document_editor/index.js
  cypress/e2e/document-editor.cy.js
Due: standard

refactor(image_grid): use i18n for empty-state preview strings
  CHANGELOG.md
  app/components/bali/image_grid/previews/empty_state.html.erb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
Due: none

feat(image_grid): add empty_state slot rendered when there are no images (#590)
  CHANGELOG.md
  app/components/bali/image_grid/component.html.erb
  app/components/bali/image_grid/component.rb
  app/components/bali/image_grid/preview.rb
  app/components/bali/image_grid/previews/empty_state.html.erb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  test/bali/components/image_grid_test.rb
Due: rubocop

feat(feedback-widget): claim name opcional en el token de embed (#593)
  CHANGELOG.md
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/token_generator.rb
  test/bali/components/feedback_widget_test.rb
  test/bali/feedback_widget/token_generator_test.rb
Due: rubocop

Release v2.11.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

docs: refresh documentation to match v2.11.0 reality
  .claude/CLAUDE.md
  CHANGELOG.md
  CLAUDE.md
  MIGRATION_STATUS.md
  README.md
  docs/guides/components.md
  docs/guides/form-builder.md
  docs/guides/javascript-integration.md
Due: none

docs(components): document all 74 components in the components guide
  CHANGELOG.md
  docs/guides/components.md
Due: none

docs: refresh documentation to match v2.11.0 reality (#595)
  .claude/CLAUDE.md
  CHANGELOG.md
  CLAUDE.md
  MIGRATION_STATUS.md
  README.md
  docs/guides/components.md
  docs/guides/form-builder.md
  docs/guides/javascript-integration.md
Due: none

chore(claude): clean up .claude config from checkup
  .claude/CLAUDE.md
  .claude/agents/frontend-ui-ux-engineer.md
  .claude/hooks.json
  .claude/settings.json
Due: none

docs(changelog): note .claude config cleanup under Unreleased
  CHANGELOG.md
Due: none

fix(deps): bump view_component and websocket-driver for CVEs
  CHANGELOG.md
  Gemfile.lock
Due: none

chore(claude): clean up .claude config from checkup (#606)
  .claude/CLAUDE.md
  .claude/agents/frontend-ui-ux-engineer.md
  .claude/hooks.json
  .claude/settings.json
  CHANGELOG.md
  Gemfile.lock
Due: none

feat(side_menu): support badge on section titles
  app/components/bali/side_menu/list/component.html.erb
  app/components/bali/side_menu/list/component.rb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/with_badges.html.erb
  test/bali/components/side_menu_test.rb
Due: rubocop

feat(side_menu): active_when for nested full-page routes
  app/components/bali/side_menu/item/component.rb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/active_when.html.erb
  lib/bali/path_helper.rb
  test/bali/components/side_menu_test.rb
  test/bali/path_helper_test.rb
Due: rubocop

chore(deps): batch-bump daisyui, propshaft, pagy, @babel/preset-env, cypress
  CHANGELOG.md
  Gemfile.lock
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

feat(message): dismissible alerts + first-class live-region role
  app/components/bali/message/component.html.erb
  app/components/bali/message/component.rb
  app/components/bali/message/index.js
  app/components/bali/message/preview.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  test/bali/components/message_test.rb
Due: rubocop, standard

docs(changelog): note SideMenu section badge under Unreleased
  CHANGELOG.md
Due: none

docs(changelog): note SideMenu active_when under Unreleased
  CHANGELOG.md
Due: none

docs(changelog): note Message dismissible + role under Unreleased
  CHANGELOG.md
Due: none

chore(deps): batch-bump dependabot updates (#609)
  CHANGELOG.md
  Gemfile.lock
  package.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: none

feat(side_menu): support badge on section titles (#607)
  CHANGELOG.md
  app/components/bali/side_menu/list/component.html.erb
  app/components/bali/side_menu/list/component.rb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/with_badges.html.erb
  test/bali/components/side_menu_test.rb
Due: rubocop

feat(side_menu): active_when for nested full-page routes (#608)
  CHANGELOG.md
  app/components/bali/side_menu/item/component.rb
  app/components/bali/side_menu/preview.rb
  app/components/bali/side_menu/previews/active_when.html.erb
  lib/bali/path_helper.rb
  test/bali/components/side_menu_test.rb
  test/bali/path_helper_test.rb
Due: rubocop

feat(message): dismissible + first-class live-region role (#610)
  CHANGELOG.md
  app/components/bali/message/component.html.erb
  app/components/bali/message/component.rb
  app/components/bali/message/index.js
  app/components/bali/message/preview.rb
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
  test/bali/components/message_test.rb
Due: rubocop, standard

Release v2.12.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

feat(data_table): add filter persistence to SimpleFilters (#612)
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

feat(tooltip): expose append_to to portal balloon out of overflow ancestors (#611)
  CHANGELOG.md
  app/components/bali/tooltip/component.rb
  app/components/bali/tooltip/index.css
  app/components/bali/tooltip/index.js
  app/components/bali/tooltip/preview.rb
  app/components/bali/tooltip/previews/escapes_overflow.html.erb
  test/bali/components/tooltip_test.rb
Due: rubocop, standard

feat(tooltip): expose append_to to portal the balloon out of overflow ancestors (#611) (#614)
  CHANGELOG.md
  app/components/bali/tooltip/component.rb
  app/components/bali/tooltip/index.css
  app/components/bali/tooltip/index.js
  app/components/bali/tooltip/preview.rb
  app/components/bali/tooltip/previews/escapes_overflow.html.erb
  test/bali/components/tooltip_test.rb
Due: rubocop, standard

feat(data_table): filter persistence for SimpleFilters (storage_id/persist_enabled) (#612) (#613)
  CHANGELOG.md
  app/components/bali/data_table/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  app/components/bali/data_table/simple_filters/preview.rb
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

Release v2.12.1
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

docs(status): design spec for Bali::Status colorful status component
  docs/superpowers/specs/2026-07-18-status-component-design.md
Due: none

docs(status): implementation plan for Bali::Status::Component
  docs/superpowers/plans/2026-07-18-status-component.md
Due: none

feat(status): display-only colorful status pill
  app/components/bali/status/component.html.erb
  app/components/bali/status/component.rb
  config/locales/bali.en.yml
  config/locales/bali.es.yml
  test/bali/components/status_test.rb
Due: rubocop

docs(status): amend Task 2 to escape inline styles via tag.* helpers
  docs/superpowers/plans/2026-07-18-status-component.md
Due: none

feat(status): editable mode with colored options panel
  app/components/bali/status/component.html.erb
  app/components/bali/status/component.rb
  test/bali/components/status_test.rb
Due: rubocop

feat(status): stimulus controller for the editable panel
  app/components/bali/status/index.js
  app/frontend/bali/components/index.js
  app/frontend/bali/index.js
Due: standard

feat(status): component stylesheet (shape/panel/options)
  app/assets/stylesheets/bali/components.css
  app/components/bali/status/index.css
Due: none

docs(status): fix Task 4 panel visibility CSS (class-driven, not [hidden])
  docs/superpowers/plans/2026-07-18-status-component.md
Due: none
