Repository Grupo-AFAL/bali-view-components: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, standard

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

    standard:
      glob: "*.js"
      run: yarn standard {staged_files}

pre-push:
  commands:
    rspec:
      run: bundle exec rspec --fail-fast
      tags:
        - backend

    cypress:
      run: yarn cy:run
      tags:
        - frontend

# Skip specific hooks with LEFTHOOK_EXCLUDE=tag1,tag2
# Example: LEFTHOOK_EXCLUDE=frontend git push (skips cypress)
#
# Skip all hooks: LEFTHOOK=0 git commit

fix(DocumentEditor): fix body scroll lock and TOC navigation in overlays
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/TableOfContents.jsx
  app/components/bali/document_editor/index.js
Due: standard

fix(BlockEditor): fix comment marks race condition, cleanup errors, and delete highlights
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/RESTThreadStore.js
  app/components/bali/block_editor/index.js
  app/components/bali/document_editor/index.js
Due: standard

fix(DocumentEditor): skip save when no content to send
  app/components/bali/document_editor/index.js
Due: standard

chore: add TODO for comment marks not being removed on thread deletion
  app/components/bali/block_editor/RESTThreadStore.js
Due: standard

docs: add BlockNote/ProseMirror gotchas to CLAUDE.md
  .claude/CLAUDE.md
Due: none

Release v2.7.2
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/preview.rb
  app/components/bali/document_editor/previews/with_toolbar.html.erb
  lib/bali/version.rb
  package.json
Due: rubocop

feat(DocumentEditor): add save status indicator (#509)
  CHANGELOG.md
  CLAUDE.md
  Gemfile
  Gemfile.lock
  Rakefile
  app/components/bali/block_editor/BlockNoteEditorWrapper.jsx
  app/components/bali/block_editor/RESTThreadStore.js
  app/components/bali/block_editor/TableOfContents.jsx
  app/components/bali/block_editor/component.rb
  app/components/bali/block_editor/index.css
  app/components/bali/block_editor/index.js
  app/components/bali/block_editor/useComments.js
  app/components/bali/block_editor/useContentSync.js
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/index.js
  app/components/bali/document_page/component.html.erb
  lib/bali/version.rb
  package.json
  spec/dummy/app/controllers/concerns/block_editor_authentication.rb
  spec/dummy/app/controllers/documents/comment_threads/comments/reactions_controller.rb
  spec/dummy/app/controllers/documents/comment_threads/comments_controller.rb
  spec/dummy/app/controllers/documents/comment_threads_controller.rb
  spec/dummy/app/controllers/documents_controller.rb
  spec/dummy/app/views/documents/index.html.erb
  spec/dummy/app/views/documents/show.html.erb
  spec/dummy/app/views/layouts/_navbar.html.erb
  spec/dummy/app/views/layouts/application.html.erb
  spec/dummy/config/database.yml
  spec/dummy/config/routes.rb
  spec/dummy/db/schema.rb
  spec/dummy/esbuild.config.mjs
  spec/dummy/package.json
  spec/dummy/yarn.lock
  test/bali/components/document_editor_test.rb
  yarn.lock
Due: rubocop, standard

feat(DocumentPage): add subheader slot between header and content
  app/components/bali/document_page/component.html.erb
  app/components/bali/document_page/component.rb
  app/components/bali/document_page/preview.rb
  app/components/bali/document_page/previews/with_subheader.html.erb
Due: rubocop

docs: add DocumentPage subheader to changelog
  CHANGELOG.md
Due: none

fix(DocumentPage): use Message instead of Notification in subheader preview
  app/components/bali/document_page/previews/with_subheader.html.erb
Due: none

Release v2.7.3
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/document_page/component.html.erb
  app/components/bali/document_page/previews/with_subheader.html.erb
  lib/bali/version.rb
  package.json
Due: rubocop

Release v2.7.2 (#511)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/document_editor/component.html.erb
  app/components/bali/document_editor/component.rb
  app/components/bali/document_editor/preview.rb
  app/components/bali/document_editor/previews/with_toolbar.html.erb
  app/components/bali/document_page/component.html.erb
  app/components/bali/document_page/component.rb
  app/components/bali/document_page/preview.rb
  app/components/bali/document_page/previews/with_subheader.html.erb
  lib/bali/version.rb
  package.json
Due: rubocop

Release v2.7.4
  CHANGELOG.md
  app/components/bali/side_menu/component.rb
  lib/bali/version.rb
  package.json
Due: rubocop

Update Gemfile.lock for v2.7.4
  Gemfile.lock
Due: none

Release v2.7.4 (#512)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/side_menu/component.rb
  lib/bali/version.rb
  package.json
Due: rubocop

feat: add FeedbackWidget component for Opina integration
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/index.js
  app/frontend/bali/components/index.js
Due: rubocop, standard

feat: add Kanban board component composing SortableList
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/component.html.erb
  app/components/bali/kanban/component.rb
Due: rubocop

feat: add Kanban Card slot, FeedbackWidget TokenGenerator, previews, tests, and dummy app integration
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/index.js
  app/components/bali/feedback_widget/preview.rb
  app/components/bali/feedback_widget/token_generator.rb
  app/components/bali/kanban/card/component.html.erb
  app/components/bali/kanban/card/component.rb
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/component.rb
  app/components/bali/kanban/preview.rb
  app/components/bali/kanban/previews/default.html.erb
  app/components/bali/kanban/previews/with_colors.html.erb
  spec/dummy/app/controllers/admin/projects/tasks_controller.rb
  spec/dummy/app/controllers/admin/projects_controller.rb
  spec/dummy/app/models/project.rb
  spec/dummy/app/models/task.rb
  spec/dummy/app/views/admin/projects/index.html.erb
  spec/dummy/app/views/admin/projects/show.html.erb
  spec/dummy/app/views/layouts/_admin_sidebar.html.erb
  spec/dummy/app/views/layouts/admin.html.erb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20260321000001_create_projects_and_tasks.rb
  spec/dummy/db/schema.rb
  spec/dummy/db/seeds.rb
  test/bali/components/feedback_widget_test.rb
  test/bali/components/kanban_test.rb
  test/bali/feedback_widget/token_generator_test.rb
Due: rubocop, standard

docs: add changelog entry for Kanban and FeedbackWidget components
  CHANGELOG.md
Due: none

chore: update action_text-trix to 2.1.17 (fix stored XSS vulnerability)
  Gemfile.lock
Due: none

fix: remove redundant card-body div from projects index
  spec/dummy/app/views/admin/projects/index.html.erb
Due: none

fix: remove card-actions wrapper causing outer border on View Board link
  spec/dummy/app/views/admin/projects/index.html.erb
Due: none

feat: add FeedbackWidget and Kanban components (#514)
  CHANGELOG.md
  Gemfile.lock
  app/components/bali/feedback_widget/component.html.erb
  app/components/bali/feedback_widget/component.rb
  app/components/bali/feedback_widget/index.js
  app/components/bali/feedback_widget/preview.rb
  app/components/bali/feedback_widget/token_generator.rb
  app/components/bali/kanban/card/component.html.erb
  app/components/bali/kanban/card/component.rb
  app/components/bali/kanban/column/component.html.erb
  app/components/bali/kanban/column/component.rb
  app/components/bali/kanban/component.html.erb
  app/components/bali/kanban/component.rb
  app/components/bali/kanban/preview.rb
  app/components/bali/kanban/previews/default.html.erb
  app/components/bali/kanban/previews/with_colors.html.erb
  app/frontend/bali/components/index.js
  spec/dummy/app/controllers/admin/projects/tasks_controller.rb
  spec/dummy/app/controllers/admin/projects_controller.rb
  spec/dummy/app/models/project.rb
  spec/dummy/app/models/task.rb
  spec/dummy/app/views/admin/projects/index.html.erb
  spec/dummy/app/views/admin/projects/show.html.erb
  spec/dummy/app/views/layouts/_admin_sidebar.html.erb
  spec/dummy/app/views/layouts/admin.html.erb
  spec/dummy/config/routes.rb
  spec/dummy/db/migrate/20260321000001_create_projects_and_tasks.rb
  spec/dummy/db/schema.rb
  spec/dummy/db/seeds.rb
  test/bali/components/feedback_widget_test.rb
  test/bali/components/kanban_test.rb
  test/bali/feedback_widget/token_generator_test.rb
Due: rubocop, standard

Release v2.8.0
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

Release v2.8.0 (#517)
  CHANGELOG.md
  Gemfile.lock
  lib/bali/version.rb
  package.json
Due: rubocop

fix(css): add DaisyUI structural variable fallbacks for custom themes
  app/assets/stylesheets/bali/general.css
Due: none

chore: add changelog entry and fix activestorage CVE-2026-33658
  CHANGELOG.md
  Gemfile.lock
Due: none

fix(css): add DaisyUI structural variable fallbacks for custom themes (#519)
  CHANGELOG.md
  Gemfile.lock
  app/assets/stylesheets/bali/general.css
Due: none

feat(simple-filters): add slim_select, date picker, and size controls
  app/assets/stylesheets/bali/slim_select.css
  app/components/bali/application_view_component_preview.rb
  app/components/bali/data_table/preview.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/data_table/simple_filters/component.rb
  lib/bali/filter_form/simple_filters_configuration.rb
  lib/bali/form_builder/slim_select_fields.rb
Due: rubocop

feat(index-page): polish spacing, consolidate card layout, remove filter labels
  app/components/bali/breadcrumb/component.rb
  app/components/bali/data_table/simple_filters/component.html.erb
  app/components/bali/filters/component.html.erb
  app/components/bali/index_page/component.html.erb
  app/components/bali/page_components/shared.rb
  app/components/bali/page_header/component.html.erb
  app/components/bali/page_header/component.rb
  spec/dummy/app/views/admin/movies/index.html.erb
  spec/dummy/app/views/admin/studios/index.html.erb
  spec/dummy/app/views/movies/index.html.erb
  spec/dummy/app/views/studios/index.html.erb
  test/bali/components/page_header_test.rb
Due: rubocop

fix(tests): update SimpleFilters tests for label removal
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

fix(tests): correct search placeholder in SimpleFilters test
  test/bali/components/data_table/simple_filters_test.rb
Due: rubocop

feat(slim-select): compact dropdown for sm variant, studios use slim_select
  app/assets/javascripts/bali/controllers/slim-select-controller.js
  app/assets/stylesheets/bali/slim_select.css
  spec/dummy/app/controllers/studios_controller.rb
Due: rubocop, standard

style(slim-select): match DaisyUI focus ring and add detached dropdown gap
  app/assets/stylesheets/bali/slim_select.css
Due: none

feat(movies): use SlimSelect for timezone and fix detached gap
  app/assets/stylesheets/bali/slim_select.css
  spec/dummy/app/views/movies/_form.html.erb
Due: none

style(slim-select): set uniform 8px gap for detached dropdowns
  app/assets/stylesheets/bali/slim_select.css
Due: none

style(slim-select): match native select height, radius, and density
  app/assets/stylesheets/bali/slim_select.css
Due: none

fix(slim-select): correct upward gap using transform
  app/assets/stylesheets/bali/slim_select.css
Due: none

fix(slim-select): place search box at bottom for upward dropdowns
  app/assets/stylesheets/bali/slim_select.css
Due: none
